<div class="page-wrapper">
  <form [formGroup]="guestForm" class="guest-form">
    <div class="select-toolbar form-field-section">
        <div class="custom-select">
            <label>Имя</label>
            <input
              nz-input
              placeholder=""
              autocomplete="off"
              formControlName="first_name"
              [class.input-invalid]="guestForm.get('first_name')?.dirty && guestForm.get('first_name')?.hasError('required')"/>
            <div
              class="validation-message-container"
              *ngIf="guestForm.get('first_name')?.dirty && guestForm.get('first_name')?.hasError('required')"
              >
              <p class="validation-message">Введите имя пользователя!</p>
          </div>
        </div>
        <div class="custom-select">
            <label>Фамилия</label>
            <input
              nz-input
              placeholder=""
              autocomplete="off"
              formControlName="last_name"
              [class.input-invalid]="guestForm.get('last_name')?.dirty && guestForm.get('last_name')?.hasError('required')"/>
            <div
              class="validation-message-container"
              *ngIf="guestForm.get('last_name')?.dirty && guestForm.get('last_name')?.hasError('required')"
            >
              <p class="validation-message">Введите фамилию пользователя!</p>
            </div>
        </div>
        <div class="custom-select">
            <label>E-mail</label>
            <input
              nz-input
              placeholder=""
              autocomplete="off"
              formControlName="email"
              [class.input-invalid]="guestForm.get('email')?.dirty &&
                                (guestForm.get('email')?.hasError('required') ||
                                  guestForm.get('email')?.hasError('pattern'))" />
            <div
              class="validation-message-container"
              *ngIf="guestForm.get('email')?.dirty && guestForm.get('email')?.hasError('required')"
            >
              <p class="validation-message">Введите E-mail!</p>
            </div>
            <div
              class="validation-message-container"
              *ngIf="guestForm.get('email')?.dirty && guestForm.get('email')?.hasError('pattern')"
            >
              <p class="validation-message">Неправильный формат E-mail!</p>
            </div>
        </div>
        <div class="custom-select">
            <label>Номер телефона</label>
            <input
              nz-input
              placeholder=""
              autocomplete="off"
              formControlName="phone"
              [class.input-invalid]="guestForm.get('phone')?.dirty && guestForm.get('phone')?.hasError('required')"/>
            <div
              class="validation-message-container"
              *ngIf="guestForm.get('phone')?.dirty && guestForm.get('phone')?.hasError('required')"
            >
              <p class="validation-message">Введите телефон!</p>
            </div>
        </div>
        <div class="custom-select">
            <label>Страна</label>
            <nz-select
              [nzDisabled]="countriesList == null || countriesList?.length === 0"
              nzPlaceHolder=""
              formControlName="country_id"
              [class.select-invalid]="guestForm.get('country_id')?.dirty && guestForm.get('country_id')?.value == null"
            >
              <nz-option
                *ngFor="let country of countriesList"
                [nzValue]="country?.id"
                [nzLabel]="country?.name"
                class="custom-select"
              ></nz-option>
            </nz-select>
            <div
              class="validation-message-container"
              *ngIf="guestForm.get('country_id')?.dirty && guestForm.get('country_id')?.value == null"
            >
              <p class="validation-message">Укажите страну!</p>
            </div>
        </div>
    </div>
    <div class="content extra-info">
        <p class="extra-info-header" (click)="toggleExtraInfoPanel()">
            <span>Дополнительная информация</span>
            <span class="dropdown-icon">
                <i *ngIf="!isExtraInfoPanelShown" nz-icon nzType="down" nzTheme="outline"></i>
                <i *ngIf="isExtraInfoPanelShown" nz-icon nzType="up" nzTheme="outline"></i>
            </span>
        </p>
        <nz-divider></nz-divider>
        <article *ngIf="isExtraInfoPanelShown" class="extra-info-panel">
            <div class="select-toolbar form-field-section">
                <div class="custom-select">
                    <label>Дата рождения</label>
                    <nz-date-picker
                      nzFormat="dd.MM.yyyy"
                      nzPlaceHolder=""
                      formControlName="birthday"
                    ></nz-date-picker>
                </div>
                <div class="custom-select">
                    <label>Пол</label>
                    <nz-select nzPlaceHolder="Пол" formControlName="gender">
                      <nz-option
                        *ngFor="let gender of genderSelection"
                        [nzValue]="gender?.value"
                        [nzLabel]="gender?.label"
                        class="custom-select"
                      ></nz-option>
                    </nz-select>
                </div>
                <div class="custom-select">
                    <label>Номер налогоплательщика</label>
                    <input nz-input placeholder="" formControlName="inn"/>
                </div>
                <div class="custom-select">
                    <label>Название компании</label>
                    <input nz-input placeholder="" formControlName="company_name"/>
                </div>
                <div class="custom-select">
                    <label>Идент-ный номер компании</label>
                    <input nz-input placeholder="" formControlName="company_number"/>
                </div>
            </div>

            <div class="select-toolbar form-field-section">
                <div class="custom-select">
                    <label>Город</label>
                    <!-- @FIXME: disable city 'cause api is not ready for it -->
                    <input
                      nz-input
                      placeholder=""
                      formControlName="city_id"
                      disabled
                    />
                </div>
                <div class="custom-select">
                    <label>Государство/Регион</label>
                    <input nz-input placeholder="" formControlName="region"/>
                </div>
                <div class="custom-select">
                    <label>Адрес 1</label>
                    <input nz-input placeholder="" formControlName="address"/>
                </div>
                <div class="custom-select">
                    <label>Адрес 2</label>
                    <input nz-input placeholder="" formControlName="address2"/>
                </div>
                <div class="custom-select">
                    <label>Почтовый индекс</label>
                    <input
                      nz-input
                      placeholder=""
                      formControlName="zip_code"
                      pattern="[0-9]*"
                      digitOnly
                    />
                </div>
            </div>

            <div class="select-toolbar form-field-section">
                <div class="custom-select">
                    <label>Вид документа</label>
                    <nz-select
                      nzPlaceHolder=""
                      formControlName="document_type_id"
                      [nzDisable]="docTypes == null || docTypes?.length === 0"
                    >
                      <nz-option
                        *ngFor="let doc of docTypes"
                        [nzValue]="doc?.id"
                        [nzLabel]="doc?.name"
                        class="custom-select"
                      ></nz-option>
                    </nz-select>
                </div>
                <div class="custom-select">
                    <label>Номер документа</label>
                    <input nz-input placeholder="" formControlName="document_number"/>
                </div>
                <div class="custom-select">
                  <label>Дата выдачи документа</label>
                  <nz-date-picker
                      nzFormat="dd.MM.yyyy"
                      nzPlaceHolder=""
                      formControlName="document_issued_at"
                  ></nz-date-picker>
                </div>
                <div class="custom-select">
                  <label>Страна выдачи документа</label>
                  <nz-select
                    nzPlaceHolder=""
                    formControlName="document_country_id"
                    [nzDisabled]="countriesList == null || countriesList?.length === 0"
                  >
                    <nz-option
                      *ngFor="let country of countriesList"
                      [nzValue]="country?.id"
                      [nzLabel]="country?.name"
                      class="custom-select"
                    ></nz-option>
                  </nz-select>
                </div>
                <div class="custom-select">
                  <label>Срок действия документа</label>
                  <nz-date-picker
                    nzFormat="dd.MM.yyyy"
                    nzPlaceHolder=""
                    formControlName="document_expired_at"
                  ></nz-date-picker>
                </div>
            </div>
        </article>
    </div>
  </form>

  <button nz-button nzType="primary" (click)="saveGuestData()" class="save-guest-btn" [disabled]="guestForm.invalid">
    Сохранить
  </button>
</div>
