.custom-select .ant-select, .custom-select .ant-btn{
  width: stretch;
}

.custom-select label{
  display: block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.65);
}

.body-tab {
border-color: transparent;

& ::ng-deep .ant-card-body {
  padding-left: 0;
  padding-right: 0;
}
}

.extra-info-header {
  margin-top: 15px;
  cursor: pointer;

  color: #000000;

  .dropdown-icon {
    padding-left: 10px;
    color: #1890FF;
    font-size: 12px;
  }
}

.select-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;

  &.form-field-section {
    padding-top: 0;

    @media (max-width: 1500px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .custom-select {

      @media (max-width: 1500px) {
        margin-right: 2%;
        margin-bottom: 35px;
      }
    }
  }
}

.custom-select {
  width: 206px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2%;
}

.select-toolbar{

  .custom-select {
    width: 206px;


    .ant-calendar-picker {

      & ::ng-deep .ant-calendar-picker {
        width: 100%;
      }
    }
  }

}

.custom-select {
  position: relative;
}

.validation-message-container {
  position: absolute;
  width: 200px;
  text-align: center;
  top: 68px;

  .validation-message {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: #f5222d;
  }

}

.input-invalid {
  border-color: #f5222d;

  &:focus {
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }
}

.select-invalid {

  & ::ng-deep .ant-select-selection  {
    border-color: #f5222d;
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }

  & ::ng-deep .ant-select-arrow {
    color: #f5222d;
  }
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .guest-form {
    width: 85%;
    margin: 29px 0 72px;
  }
}

.save-guest-btn {
  width: 158px;
  height: 32px;
}