<div nz-row class="form-container">
  <div nz-col nzSpan="16" nzOffset="4">

    <p class="form-title">{{'SIGN_PAGE.CONFIRM_EMAIL'| translate}}</p>

    <nz-spin [nzSpinning]="isLoading">
      <form nz-form [formGroup]="confirmForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-alert nzType="info" nzMessage="{{'SIGN_PAGE.MSG_ABOUT_SEND_CODE'| translate}}" nzShowIcon></nz-alert>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group
              [nzPrefix]="prefixLogin">
              <input
                type="text"
                nz-input
                formControlName="token"
                placeholder="{{'SIGN_PAGE.CONFIRM_CODE'| translate}}"
              />
            </nz-input-group>
            <nz-form-explain
              *ngIf="confirmForm.get('token')?.dirty && confirmForm.get('token')?.errors">
              {{'SIGN_PAGE.ENTER_CONFIRM_CODE'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div class="timer-container">
              <label *ngIf="timer != 0">{{minuteLabel}}:{{secondLabel}}</label>
              <a
                [ngClass]="{'disabled-link': timer != 0}"
                (click)="resendConfirm()"
                class="login-form-forgot float-right">
                {{'SIGN_PAGE.RESEND'| translate}}
              </a>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div nz-row>
              <div nz-col nzSpan="11">
                <a
                  nz-button
                  nzBlock
                  class="login-form-button"
                  routerLink="/auth/login"
                  [nzType]="'default'">
                  {{'BACK'| translate}}
                </a>
              </div>
              <div nz-col nzSpan="11" nzOffset="2">
                <button
                  nz-button
                  nzBlock
                  [disabled]="confirmForm.invalid"
                  class="login-form-button"
                  [nzType]="'primary'">
                  {{'SIGN_PAGE.SIGN_UP'| translate}}
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-spin>
    <ng-template #prefixLogin><i nz-icon nzType="login"></i></ng-template>
  </div>
</div>
