.selected-input{
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.custom-prepend{
  margin-left: -1px;
  width: 16px;
  height: 32px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #1890ff;
}
.custom-input{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.day-name{
  margin-left: 12px;
}
.right-icon{
  font-size: 14px;
  color: #FFFFFF;
}
.round-button-right{
  z-index: 10;
  margin-left: -7px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #1890FF;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-input-and-button{
  display: flex;
  align-items: center;
}
