 <nz-table
    *ngIf="tableData.length"
    style="margin: 15px 0 15px 30px; overflow: auto;"
    nzShowSizeChanger
    #prices
    [nzShowPagination]="false"
    [nzData]="tableData">
    <thead>
    <tr>
      <th nzWidth="20%">Гости</th>
      <th *ngFor="let day of weekInputs">
        <span class="day-name">{{day.name}}</span>
      </th>

    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="prices.data">
      <tr (keyup)="ctrlPress($event)">
        <td>{{ data.guest === false ? 'Иностраницы' : 'Резиденты' }}
          <i *ngFor="let count of data.icons" nz-icon nzType="user" nzTheme="outline"></i>
        </td>
        <td style="display: flex;">
          <nz-input-number
            [title]="data.monday.val"
            *ngIf="!viewOnly"
            style="width: 100px"
            class="custom-input"
            [nzDisabled]="data.monday.disabled"
            [ngClass]="data.monday.selected ? 'selected-input' : ''"
            (click)="selectInput($event, data.monday)"
            (keyup)="dataChange($event, 'monday', data)"
            [(ngModel)]="data.monday.val"
            [nzMin]="1"
            [nzFormatter]="nzFormatter"
            [nzParser]="nzParser"
            (keyup.enter)="setPriceToAllDays(data, $event)"
            [nzStep]="1">
          </nz-input-number>
          <button
            *ngIf="!viewOnly"
            nz-button
            class="custom-prepend"
            (click)="setPriceToAllDays(data, $event)"
            nzType="primary">
            <i nz-icon nzType="right" nzTheme="outline" class="right-icon"></i>
          </button>

          <span *ngIf="viewOnly">{{(data.monday.val ? data.monday.val : '---') | thousandFormatPrice}}</span>

        </td>
        <td>
          <span *ngIf="viewOnly">{{(data.tuesday.val ? data.tuesday.val : '---') | thousandFormatPrice}}</span>

          <nz-input-number
            [title]="data.tuesday.val"
            *ngIf="!viewOnly"
            style="width: 100px"
            [nzDisabled]="data.tuesday.disabled"
            [ngClass]="data.tuesday.selected ? 'selected-input' : ''"
            (click)="selectInput($event, data.tuesday)"
            (keyup)="dataChange($event, 'tuesday', data)"
            [(ngModel)]="data.tuesday.val"
            [nzMin]="1"
            [nzFormatter]="nzFormatter"
            [nzParser]="nzParser"
            [nzStep]="1">
          </nz-input-number>
        </td>
        <td>
          <span *ngIf="viewOnly">{{(data.wednesday.val ? data.wednesday.val : '---') | thousandFormatPrice}}</span>

          <nz-input-number
            [title]="data.wednesday.val"
            *ngIf="!viewOnly"
            style="width: 100px"
            [nzDisabled]="data.wednesday.disabled"
            [ngClass]="data.wednesday.selected ? 'selected-input' : ''"
            (click)="selectInput($event, data.wednesday)"
            (keyup)="dataChange($event, 'wednesday', data)"
            [(ngModel)]="data.wednesday.val"
            [nzMin]="1"
            [nzFormatter]="nzFormatter"
            [nzParser]="nzParser"
            [nzStep]="1">
          </nz-input-number>
        </td>
        <td>
          <span *ngIf="viewOnly">{{(data.thursday.val ? data.thursday.val : '---') | thousandFormatPrice}}</span>

          <nz-input-number
            [title]="data.thursday.val"
            *ngIf="!viewOnly"
            style="width: 100px"
            [nzDisabled]="data.thursday.disabled"
            [ngClass]="data.thursday.selected ? 'selected-input' : ''"
            (click)="selectInput($event, data.thursday)"
            (keyup)="dataChange($event, 'thursday', data)"
            [(ngModel)]="data.thursday.val"
            [nzMin]="1"
            [nzFormatter]="nzFormatter"
            [nzParser]="nzParser"
            [nzStep]="1">
          </nz-input-number>
        </td>
        <td>
          <span *ngIf="viewOnly">{{(data.friday.val ? data.friday.val : '---') | thousandFormatPrice}}</span>

          <nz-input-number
            [title]="data.friday.val"
            *ngIf="!viewOnly"
            style="width: 100px"
            [nzDisabled]="data.friday.disabled"
            [ngClass]="data.friday.selected ? 'selected-input' : ''"
            (click)="selectInput($event, data.friday)"
            (keyup)="dataChange($event, 'friday', data)"
            [(ngModel)]="data.friday.val"
            [nzMin]="1"
            [nzFormatter]="nzFormatter"
            [nzParser]="nzParser"
            [nzStep]="1">
          </nz-input-number>
        </td>
        <td>
          <span *ngIf="viewOnly">{{(data.saturday.val ? data.saturday.val : '---') | thousandFormatPrice}}</span>

          <nz-input-number
            [title]="data.saturday.val"
            *ngIf="!viewOnly"
            style="width: 100px"
            [nzDisabled]="data.saturday.disabled"
            [ngClass]="data.saturday.selected ? 'selected-input' : ''"
            (click)="selectInput($event, data.saturday)"
            (keyup)="dataChange($event, 'saturday', data)"
            [(ngModel)]="data.saturday.val"
            [nzMin]="1"
            [nzFormatter]="nzFormatter"
            [nzParser]="nzParser"
            [nzStep]="1">
          </nz-input-number>
        </td>
        <td>
          <span *ngIf="viewOnly">{{(data.sunday.val ? data.sunday.val : '---') | thousandFormatPrice}}</span>

          <nz-input-number
            [title]="data.sunday.val"
            *ngIf="!viewOnly"
            style="width: 100px"
            [nzDisabled]="data.sunday.disabled"
            [ngClass]="data.sunday.selected ? 'selected-input' : ''"
            (click)="selectInput($event, data.sunday)"
            (keyup)="dataChange($event, 'sunday', data)"
            [(ngModel)]="data.sunday.val"
            [nzMin]="1"
            [nzFormatter]="nzFormatter"
            [nzParser]="nzParser"
            [nzStep]="1">
          </nz-input-number>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
