.page-wrapper {
  
  .tab-container {
    
    & ::ng-deep .ant-tabs-tab {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #000000;

      &.ant-tabs-tab-active {
        color: #1890FF;
      }
    }

    & ::ng-deep .ant-tabs-top-bar {

      .ant-tabs-nav-scroll {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
  
      .ant-tabs-tab, .ant-tabs-ink-bar {
  
        @media (min-width: 1250px) {
          width: 172px;
        }
      }
  
      .ant-tabs-tab {
        text-align: center;
        height: 48px;
  
        @media (max-width: 1350px) {
          margin-right: 20px;
        }
      }
  
      .ant-tabs-tab-prev, .ant-tabs-tab-next {
        display: none;
      }
  
      .ant-tabs-bar {
        border-radius: 4px 4px 0px 0px;
      }

      .ant-tabs-nav-wrap {
        background: #FAFAFA;
      }
    }
  }
}