<section class="page-wrapper">
  <nz-tabset class="tab-container">
    <nz-tab nzTitle="Детали гостя" class="tab-item">
      <app-guests-details-main-tab [guestId]="guestId"></app-guests-details-main-tab>
    </nz-tab>
    <nz-tab nzTitle="История" class="tab-item">
      <app-guests-details-history-tab [guestId]="guestId"></app-guests-details-history-tab>
    </nz-tab>
    <nz-tab nzTitle="Заметки" class="tab-item">
      <app-guests-details-notes-tab [guestId]="guestId"></app-guests-details-notes-tab>
    </nz-tab>
    <!-- <nz-tab nzTitle="Документы" class="tab-item">
      <app-guests-details-documents-tab [guestId]="guestId"></app-guests-details-documents-tab>
    </nz-tab> -->
  </nz-tabset>
</section>
