<app-view-container>
  <app-view-inner-content [name]="(title| translate) + ' ' + getTariffName()">

    <nz-steps nzDirection="vertical" nzSize="small">

<!--      <nz-step-->
<!--        class="step-cls"-->
<!--        [nzStatus]="'wait'"-->
<!--        [nzTitle]="t1"-->
<!--        [nzDescription]="p1">-->
<!--        <ng-template #t1>-->
<!--          <span class="title-span">{{'NEW_TARIFF.CANCEL_REGULATION_QUESTION'| translate}}</span>-->
<!--        </ng-template>-->
<!--        <ng-template #p1>-->
<!--          <nz-form-item>-->
<!--            <nz-form-control>-->
<!--              <nz-radio-group-->
<!--                class="column-items">-->
<!--                <label nz-radio [nzValue]="true">{{'NEW_TARIFF.FLEXIBLE'| translate}}</label>-->
<!--                <label nz-radio [nzValue]="false">{{'NEW_TARIFF.IRREVOCABLE'| translate}}</label>-->
<!--              </nz-radio-group>-->
<!--            </nz-form-control>-->
<!--          </nz-form-item>-->
<!--        </ng-template>-->
<!--      </nz-step>-->

      <nz-step [nzStatus]="getNutritionStatus()"
               [nzTitle]="t2"
               [nzDescription]="p2">
        <ng-template #t2>
          <span class="title-span">{{'NEW_TARIFF.NUTRITION_QUESTION'| translate}}</span>
        </ng-template>
        <ng-template #p2>
          <nz-form-item>
            <nz-form-control>
              <nz-radio-group
                [(ngModel)]="tariffPlan.nutrition"
                (ngModelChange)="onNutritionSwitch()"
                class="column-items">
                <label nz-radio [nzValue]="false">{{'NO'| translate}}</label>
                <label nz-radio [nzValue]="true">{{'YES'| translate}}</label>
              </nz-radio-group>
              <div *ngIf="tariffPlan.nutrition" class="column-items column-select">

                <label nz-checkbox [(ngModel)]="tariffPlan.breakfast" (ngModelChange)="onNutritionSwitch()">
                  <span>{{'BREAKFAST'| translate}}</span>
                </label>

                <label nz-checkbox [(ngModel)]="tariffPlan.lunch" (ngModelChange)="onNutritionSwitch()">
                  <span>{{'LUNCH'| translate}}</span>
                </label>

                <label nz-checkbox [(ngModel)]="tariffPlan.dinner" (ngModelChange)="onNutritionSwitch()">
                  <span>{{'DINNER'| translate}}</span>
                </label>

                <label nz-checkbox [(ngModel)]="tariffPlan.allInclusive" (click)="onNutritionSwitch(true)">
                  <span>{{'ALL_INCLUSIVE'| translate}}</span>
                </label>

              </div>
              <hr class="horizontal-spacer">
              <nz-form-explain class="error-label" *ngIf="nutritionError">
                {{'NEW_TARIFF.NUTRITION_ERROR'| translate}}
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </ng-template>
      </nz-step>

      <nz-step
        [nzStatus]="getRoomTypesStatus()"
        [nzTitle]="t3"
        [nzDescription]="p3">

        <ng-template #t3>
          <span class="title-span">{{'NEW_TARIFF.ROOM_TYPES_QUESTION'| translate}}</span>
        </ng-template>

        <ng-template #p3>
          <nz-form-item>
            <nz-form-control>
              <div class="column-items column-select">
                <label
                  nz-checkbox
                  *ngFor="let room of roomTypes"
                  [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="roomTypesError = false"
                  [(ngModel)]="room.selected">
                  <span>{{room.name}}</span>
                </label>
                <hr class="horizontal-spacer">
                <nz-form-explain class="error-label" *ngIf="roomTypesError">
                  {{'NEW_TARIFF.ROOM_TYPE_ERROR'| translate}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </ng-template>
      </nz-step>

      <nz-step
        [nzStatus]="'process'"
        [nzTitle]="t4"
        [nzDescription]="p4">
        <ng-template #t4>
          <span class="title-span">{{'NEW_TARIFF.MIN_DAYS_QUESTION'| translate}}</span>
          <nz-form-explain>
            {{'NEW_TARIFF.MIN_DAYS_DESC'| translate}}
          </nz-form-explain>
        </ng-template>
        <ng-template #p4>
          <nz-form-item>
            <nz-form-control class="column-items">
              <nz-radio-group [(ngModel)]="tariffPlan.minDaysCheck" (ngModelChange)="onMinDaysSwitch()"
                              class="column-items mb15">
                <label nz-radio [nzValue]="false">{{'NO'| translate}}</label>
                <label nz-radio [nzValue]="true">{{'YES'| translate}}</label>
              </nz-radio-group>
              <div *ngIf="tariffPlan.minDaysCheck">
                <nz-input-number
                  [(ngModel)]="tariffPlan.min_stay"
                  class="mr15"
                  [nzMin]="1"
                  [nzMax]="31"
                  [nzStep]="1">
                </nz-input-number>
                <span> {{'NIGHTS'| translate}}</span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </ng-template>
      </nz-step>

      <nz-step
        [nzStatus]="'process'"
        [nzTitle]="t5"
        [nzDescription]="p5">
        <ng-template #t5>
          <span class="title-span">{{'NEW_TARIFF.BEFORE_DAYS_QUESTION'| translate}}</span>
          <nz-form-explain>
            {{'NEW_TARIFF.BEFORE_DAYS_DESC'| translate}}
          </nz-form-explain>
        </ng-template>
        <ng-template #p5>
          <nz-form-item>
            <nz-form-control class="column-items">
              <nz-radio-group class="column-items mb15" [(ngModel)]="tariffPlan.beforeDaysCheck"
                              (ngModelChange)="onBeforeDaysSwitch()">
                <label nz-radio [nzValue]="false">{{'NEW_TARIFF.IRRELEVANT_DAYS'| translate}}</label>
                <label nz-radio [nzValue]="true">{{'NEW_TARIFF.INDICATE_DAYS'| translate}}</label>
              </nz-radio-group>
              <div *ngIf="tariffPlan.beforeDaysCheck">
                <nz-input-number
                  [(ngModel)]="tariffPlan.min_advance_res"
                  class="mr15"
                  [nzMin]="0"
                  [nzMax]="31"
                  [nzStep]="1">
                </nz-input-number>
                <span> {{'NEW_TARIFF.OR_MORE_DAYS'| translate}}</span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </ng-template>
      </nz-step>

      <nz-step
        [nzStatus]="getNameStatus()"
        [nzTitle]="t6"
        [nzDescription]="p6">
        <ng-template #t6>
          <span class="title-span">{{'NEW_TARIFF.NAME_QUESTION'| translate}}</span>
        </ng-template>
        <ng-template #p6>
          <nz-form-item>
            <div nz-row>
              <div nz-col [nzSpan]="12">
                <input nz-input
                       [ngClass]="{'error-input': nameError}"
                       (ngModelChange)="nameError = false"
                       [(ngModel)]="tariffPlan.name"
                       [placeholder]="'NEW_TARIFF.NAME'| translate"/>
                <nz-form-explain class="error-label" *ngIf="nameError">
                  {{'FIELD_MUST_FILL'| translate}}
                </nz-form-explain>
              </div>
              <div nz-col [nzSpan]="8" [nzOffset]="4">
                <nz-alert
                  nzType="warning"
                  [nzMessage]="'NEW_TARIFF.NAME_DESCRIPTION'| translate"
                  nzShowIcon></nz-alert>
              </div>
            </div>
          </nz-form-item>
        </ng-template>
      </nz-step>

    </nz-steps>

    <nz-divider></nz-divider>

    <nz-alert
      style="margin-left: 40px;"
      nzType="info"
      [nzDescription]="'NEW_TARIFF.ALERT_DEC'| translate"
      [nzMessage]="'NEW_TARIFF.ALERT_MESSAGE'| translate"
      nzShowIcon>
    </nz-alert>

    <br>

    <div style="display: flex; justify-content: flex-end">
      <button
        nz-button
        style="margin-right: 10px"
        nzType="default"
        (click)="location.back()">
        {{'BACK'| translate}}
      </button>
      <button nz-button nzType="primary" (click)="submit()">
        {{(isEdit ? 'SAVE' : 'CHECK')| translate}}
      </button>
    </div>

  </app-view-inner-content>
</app-view-container>
