nz-form-item {
  margin-top: 10px;
}

.column-select {
  label {
    margin-left: 8px;
    height: 20px;
  }
}

.column-items {
  display: flex;
  flex-direction: column;
}

.error-label {
  color: #ff4d4f;
  margin-top: 10px;
}
.error-input {
  border-color: #ff4d4f;
}
