p {
  margin: 0;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 26px;

  .tab-panel-wrapper {
    width: 207px;

    .panel-wrapper {
      border-right: 1px solid rgba(0, 0, 0, 0.09);
      height: auto;
      padding-top: 23px;
      height: 100%;

      .panel-tab {

        width: 100%;
        height: 40px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 21px;

        position: relative;
        cursor: pointer;

        .delete-button {
          position: absolute;
          right: 8px;
          top: 8px;
        }

        & > p {
          margin: 0;
          width: 90%;
        }

        &.add-guest {
          color: #1890FF;
        }

        &.btn-disabled {
          color: #e4e4e4;
          pointer-events: none;
        }

        &.active {
          background: #E6F7FF;
          color: #1890FF;

          &::after {
            content: '';
            position: absolute;
            right: -1px;
            top: 0;
            bottom: 0;
            background: #1890FF;
            width: 2px;
            height: 40px;
          }
        }
      }
    }
  }

  .tab-main-content {
    width: calc(100% - 228px);

    .card-form {
      width: 363px;
      height: 220px;
      background: #FAFAFA;
      border-radius: 12px;
      padding: 22px 12px 44px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .custom-input-section {
          display: flex;
          flex-direction: column;

          .custom-label {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: rgba(0, 0, 0, 0.65);
            margin-bottom: 9px;
          }

          .custom-input {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #000000;
            height: 32px;
            border-radius: 4px;

            &.input-replacement {
              background: #FFFFFF;
              border: 1px solid rgba(0, 0, 0, 0.15);
              box-sizing: border-box;
              cursor: not-allowed;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }

            &.long {
              width: 206px;
            }

            &.short {
              width: 91px;
            }

            &.cvv {
              margin-right: 12px;
            }
          }
        }
      }
    }

    .show-card-btn-wrapper {
      margin-top: 29px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;

      .show-card-btn {
        width: 181px;
        height: 32px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        padding: 0;
      }
    }
  }
}

.confirm-to-see-card-info-modal {

  .confirm-modal-main-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
  }

  // hide automatically-added semicolon
  nz-form-label {
    & ::ng-deep label {
      &::after {
        display: none;
      }
    }
  }

  .confirm-modal-container {

    .custom-form-item {

      .custom-form-label {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.65);
      }

      .custom-form-control {
        width: 100%;

        .custom-form-input {
          width: 100%;
          border-radius: 4px;
          color: #000000;
        }

      }

    }

  }

  .confirm-modal-buttons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .confirm-btn {
      border-radius: 4px;
      width: 181px;
      height: 32px;
    }

  }
}

.confirm-delete-card-modal-header-wrapper {

  .confirm-delete-card-modal-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

.confirm-delete-card-modal-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cancel-btn, .update-btn {
    width: 140px;
    height: 32px;
  }
}
