<section class="page-wrapper">
  <div *ngIf="false else noAny">
    <div class="tab-panel-wrapper">
      <div class="panel-wrapper">
        <div
          class="panel-tab"
          *ngFor="let card of mockedCreditCards; let i = index; let firstElem = first"
          [class.active]="i === selectedIndex"
          (click)="selectTab(i)"
        >
          <p>{{getCreditCardNumberFormatted(i)}}</p>
          <a *ngIf="!firstElem" class="delete-button" (click)="deleteItem(i)">
            <img src="../../../../../assets/img/delete-user-or-card-btn.svg" alt="x">
          </a>
        </div>
        <div class="panel-tab add-guest" [class.btn-disabled]="!isCardNonEmpty(selectedIndex)" (click)="addNewCard()">+ Добавить карту</div>
      </div>
    </div>

    <section class="tab-main-content">
      <form [formGroup]="cardForm" class="card-form">
        <div class="card-row">
          <div class="custom-input-section">
            <label class="custom-label">Номер</label>
            <ng-container *ngIf="!isCardVisible">
              <div class="custom-input long input-replacement">{{getCreditCardNumberFormatted(selectedIndex, 'hide-number')}}</div>
            </ng-container>
            <ng-container *ngIf="isCardVisible">
              <input
                class="custom-input long"
                nz-input formControlName="cardNumber"
                minlength="8"
                maxlength="19"
                autocomplete="off"
                inputmode="numeric"
                pattern="[0-9]*"
                digitOnly
                (blur)="setControlValue('cardNumber')"
                (input)="formatVisibleCardNumber($event)"
              />
            </ng-container>
          </div>
          <div class="custom-input-section">
            <label class="custom-label">Срок действия</label>
            <ng-container *ngIf="!isCardVisible">
              <div class="custom-input short input-replacement">{{getValidityFormatted(selectedIndex)}}</div>
            </ng-container>
            <ng-container *ngIf="isCardVisible">
              <input
                class="custom-input short"
                nz-input
                formControlName="validity"
                maxlength="5"
                autocomplete="off"
                inputmode="numeric"
                pattern="[0-9]*"
                digitOnly
                (blur)="setControlValue('validity')"
                (keydown)="formatVisibleValidity($event)"
              />
            </ng-container>
          </div>
        </div>
        <div class="card-row">
          <div class="custom-input-section">
            <label class="custom-label">Имя</label>
            <ng-container *ngIf="!isCardVisible">
              <div class="custom-input long input-replacement">{{cardForm.get('userName').value}}</div>
            </ng-container>
            <ng-container *ngIf="isCardVisible">
              <input
                class="custom-input long"
                nz-input
                formControlName="userName"
                autocomplete="off"
                (blur)="setControlValue('userName')"
              />
            </ng-container>
          </div>
          <div class="custom-input-section">
            <label class="custom-label">CVV</label>
            <ng-container *ngIf="!isCardVisible">
              <div class="custom-input short input-replacement cvv">{{getCvvFormatted(selectedIndex)}}</div>
            </ng-container>
            <ng-container *ngIf="isCardVisible">
              <input
                class="custom-input short cvv"
                nz-input
                formControlName="cvv"
                maxlength="3"
                autocomplete="off"
                inputmode="numeric"
                pattern="[0-9]*"
                digitOnly
                (blur)="setControlValue('cvv')"
              />
            </ng-container>
          </div>
        </div>
      </form>

      <div class="show-card-btn-wrapper">
        <button class="show-card-btn" nz-button nzType="primary" (click)="showCardInfo()">Показать данные карты</button>
      </div>
    </section>
  </div>

</section>

<div *ngIf="isConfirmModalVisible">
  <nz-modal
    [(nzVisible)]="isConfirmModalVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="closeConfirmModal()"
    class="confirm-to-see-card-info-modal"
  >
    <ng-template #modalTitle>
      <div class="confirm-modal-header-wrapper">
        <p class="confirm-modal-main-title">
          Чтобы ввести данные карты, пожалуйста
          введите логин и пароль Вашего аккаунта
        </p>
      </div>
    </ng-template>
    <ng-template #modalContent>
      <div class="confirm-modal-container">
        <form nz-form [formGroup]="modalConfirmForm">
          <nz-form-item class="custom-form-item">
            <nz-form-label class="custom-form-label" [nzSpan]="5">Логин</nz-form-label>
            <nz-form-control>
              <nz-input-group class="custom-form-control">
                <input
                  type="text"
                  class="custom-form-input"
                  nz-input
                  formControlName="username"
                  placeholder="" />
              </nz-input-group>
              <nz-form-explain
                *ngIf="modalConfirmForm.get('username')?.dirty && modalConfirmForm.get('username')?.hasError('required')">
                Введите логин!
              </nz-form-explain>
              <!-- <nz-form-explain
                *ngIf="modalConfirmForm.get('username')?.dirty && modalConfirmForm.get('username')?.hasError('match')">
                Логин введен неправильно!
              </nz-form-explain>
              <nz-form-explain
                class="server-error"
                *ngIf="isPasswordConfirmModalError && !modalConfirmForm.get('username')?.errors">
                {{serverError}}
              </nz-form-explain> -->
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="custom-form-item">
            <nz-form-label class="custom-form-label" [nzSpan]="5">Пароль</nz-form-label>
            <nz-form-control>
              <nz-input-group class="custom-form-control">
                <input
                  type="password"
                  class="custom-form-input"
                  nz-input
                  formControlName="password"
                  placeholder="" />
              </nz-input-group>
              <nz-form-explain
                *ngIf="modalConfirmForm.get('password')?.dirty && modalConfirmForm.get('password')?.hasError('required')">
                Введите пароль!
              </nz-form-explain>
              <!-- <nz-form-explain
                *ngIf="modalConfirmForm.get('password')?.dirty && modalConfirmForm.get('password')?.hasError('match')">
                Текущий пароль введен неправильно!
              </nz-form-explain>
              <nz-form-explain
                class="server-error"
                *ngIf="isPasswordConfirmModalError && !modalConfirmForm.get('password')?.errors">
                {{serverError}}
              </nz-form-explain> -->
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </ng-template>
    <ng-template #modalFooter>
      <div class="confirm-modal-buttons-wrapper">
        <button
          class="confirm-btn"
          nz-button nzType="primary"
          [disabled]="!onConfirmSubmited()"
          type="submit"
          (click)="submitConfirmForm()">
          Подтвердить
        </button>
      </div>
    </ng-template>
  </nz-modal>
</div>


<div *ngIf="isCreditCardDeleteModalVisible">
  <nz-modal
    [(nzVisible)]="isCreditCardDeleteModalVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
    class="confirm-delete-card-modal"
  >
    <ng-template #modalTitle>
      <div class="confirm-delete-card-modal-header-wrapper">
        <p class="confirm-delete-card-modal-main-title">Удаление кредитной карты</p>
      </div>
    </ng-template>
    <ng-template #modalContent>
      <p class="confirm-delete-card-modal-main-title">Вы действительно хотите удалить данные этой кредитной карты?</p>
    </ng-template>
    <ng-template #modalFooter>
      <div class="confirm-delete-card-modal-buttons-wrapper">
        <button
          class="cancel-btn"
          nz-button nzType="default"
          (click)="handleCancel()">
          Отмена
        </button>
        <button
          class="update-btn"
          nz-button nzType="primary"
          (click)="handleOk()">
          ОK
        </button>
      </div>
    </ng-template>
  </nz-modal>
</div>

<ng-template #noAny>
  <app-empty></app-empty>
</ng-template>
