<nz-table #basicTable [nzData]="guestList" class="reservation-table rooms-tab">
  <thead>
  <tr class="table-header">
    <th>Номер бро-ния</th>
    <th>Тип номера</th>
    <th>Гости</th>
    <th>Дата заезда</th>
    <th>Дата выезда</th>
    <th>Гостей</th>
    <th>Ночей</th>
    <th>Итого</th>
    <th>Проживает</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of basicTable.data; let i = index">
    <tr>
      <td>
        <p class="booking-number">{{data?.reservation_id}}<span
          *ngIf="data?.order && data?.order > 1">-{{data?.order}}</span></p>
      </td>
      <td>
        <p class="number-type">{{data?.room_type?.short_name}}</p>
      </td>
      <td>
        <p class="guest">
          {{data.guests.length === 0
          ? reservation?.guest?.first_name + ' ' + reservation?.guest?.last_name
          : getGuestsFormatted(data.guests)}}
        </p>
      </td>
      <td class="checkin-wrapper">
        <p class="checkin">{{getProcessedDate(data.checkin)}}</p>
      </td>
      <td class="checkout-wrapper">
        <p class="checkout">{{getProcessedDate(data.checkout)}}</p>
      </td>
      <td>
        <div class="guests-icons-container">
          <div class="guests-icons-wrapper">
            <ng-container *ngIf="data?.adults <= 3">
                <span class="big-user-image" *ngFor="let user of generateArrayForNumber(data?.adults)">
                  <img src="../../../../../assets/img/reservation-guest-icon.svg" alt="User"/>
                </span>
            </ng-container>
            <ng-container *ngIf="data?.adults > 3">
              <div class="adult-guests">
                <span class="guest-img-count">{{data?.adults}} X </span>
                <span class="big-user-image">
                    <img src="../../../../../assets/img/reservation-guest-icon.svg" alt="User"/>
                  </span>
              </div>
            </ng-container>

            <ng-container *ngIf="data?.children > 0">
              <div class="child-guests">
                <span class="plus-sign">+</span>
                <span class="small-user-image" *ngFor="let user of generateArrayForNumber(data?.children)">
                    <img src="../../../../../assets/img/reservation-guest-icon.svg" alt="user"/>
                  </span>

                <!-- @FIXME: for children count > 0 display only one icon -->

                <!-- <ng-container *ngIf="data?.children <= 3">
                  <span class="small-user-image" *ngFor="let user of generateArrayForNumber(data?.children)">
                    <img src="../../../../../assets/img/reservation-guest-icon.svg" alt="user" />
                  </span>
                </ng-container>
                <ng-container *ngIf="data?.children > 3">
                  <span class="guest-img-count small">{{data?.children}} X </span>
                  <span class="small-user-image">
                    <img src="../../../../../assets/img/reservation-guest-icon.svg" alt="user" />
                  </span>
                </ng-container> -->
              </div>
            </ng-container>
          </div>
        </div>
      </td>
      <td>
        <p class="nights">{{data.nights}}</p>
      </td>
      <td>
        <p class="total-price">{{data.sum | formatPrice:'UZS'}}</p>
      </td>
      <td>
        <nz-switch [nzUnCheckedChildren]="getSwitchDisabledText(data)| translate" [nzDisabled]="getSwitchDisabled(data)"></nz-switch>
      </td>
      <td>
        <p class="edit-button">
          <i
            nz-icon
            nzType="edit"
            nzTheme="outline"
            nz-popover
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentTemplate"
          ></i>
          <ng-template #contentTemplate>
            <div class="d-flex flex-column popup-actions">
              <span style="cursor: pointer" (click)="edit(data)">Редактировать</span>
              <span style="cursor: pointer" (click)="editPrice(data)">Редактировать цену</span>
              <span style="cursor: pointer; color: red;" (click)="deleteRoom(data)">Удалить номер</span>
            </div>
          </ng-template>
        </p>
      </td>
    </tr>
  </ng-container>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisibleDelete"
  [nzTitle]="null"
  [nzFooter]="null"
  (nzOnCancel)="cancelDelete()">

  <div class="modal-message">
    <p class="modal-message__text rate-title" style="font-size: 14px">Вы уверены что хотите удалить?</p>

    <div>
      <button
        class="mr25 modal-message__button"
        nz-button
        (click)="cancelDelete()"
        nzType="default">
        Отменить
      </button>
      <button
        class="modal-message__button"
        nz-button
        nzType="primary"
        (click)="deleteElm()">
        Да
      </button>
    </div>
  </div>
</nz-modal>
