p {
  margin: 0;
}

.reservation-table {

  .table-header {

    > th {
      font-size: 14px;
      line-height: 21px;
      color: #000000;
      font-weight: 600;
      background: white;
      cursor: default;
    }
  }

  .checkin-wrapper {
    width: 127px;
  }

  .checkout-wrapper {
    width: 150px;
  }

  .booking-number, .number-type, .guest, .checkin, .checkout, .nights, .total-price  {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
    cursor: default;
  }

  .guest {
    max-width: 200px;
  }

  .guests-icons-container {
    position: relative;

    .guests-icons-wrapper {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      top: -12px;
      width: 110px;

      .adult-guests {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .child-guests {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .guest-img-count {
        font-size: 16px;
        padding-right: 5px;

        &.small {
          font-size: 14px;
          padding-right: 3px;
        }
      }

      .big-user-image {
        width: 17px;
        height: 18.5px;
        position: relative;
        top: -3px;

        & > img {
          width: inherit;
          height: inherit;
        }
      }

      .plus-sign {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.45);
        padding: 0 3px;
      }

      .small-user-image {
        width: 14px;
        height: 12px;
        position: relative;
        top: -3px;

        & > img {
          width: inherit;
          height: inherit;
        }
      }
    }
  }

  .edit-button {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background: #1890FF;
    cursor: pointer;

    & > i {
      color: white;
    }
  }
}

.modal-message{
  text-align: center;
  padding: 50px 0;
}
.modal-message__text{
  margin-bottom: 50px;
}
.modal-message__button{
  width: 104px;
}
