.quick-edit {
  &__pricebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
    background: #fafafa;
  }

  &__pricebar-label,
  &__pricebar-price {
    color: #000000;
    margin-bottom: 0;
  }

  &__actions {
    margin: 55px 0 83px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__action:first-child {
    margin-right: 10px;
  }
}

.header {
  background: #fafafa;
  padding: 10px 20px 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  &__subtitle {
    color: rgba(0, 0, 0, 0.65);
  }

  &__room-type {
    color: #168C4C;
    margin-bottom: 0;
  }
}

.controls {
  padding: 13px 20px 26px;

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }

  &__actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button:first-child {
    margin-right: 10px
  }
}
