.total {
  display: flex;
  justify-content: flex-end;
}

.total .total-info {
  width: 100%;
}

.total-info {
  background: #fafafa;
  border: none;
}

.total-info-body {
  display: flex;
  justify-content: space-around;
}

.total-item {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}


.total-item.last {
  color: #1890ff;

  .total-title, .total-value {
    color: inherit;
  }
}



.total-value {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding-top: 0;
}

.total-title {
  font-size: 14px;
}
