<div class="total">
  <nz-card class="total-info">
    <div class="total-info-body">
      <div class="total-item">
                  <span class="total-title">
                    {{'NEW_BOOKING.TOTAL_TAX_EXCLUDED'| translate}}
                  </span>
        <span class="total-value">
                    {{totalValue.totalPriceWithoutTax | formatPrice:'UZS'}}
                  </span>
      </div>
      <div class="total-item">
                  <span class="total-title">
                    {{'NEW_BOOKING.TOTAL_INCLUDING_TAXES'| translate}}
                  </span>
        <span class="total-value">
                    {{totalValue.totalPriceWithTax | formatPrice:'UZS'}}
                  </span>
      </div>
      <div class="total-item">
                  <span class="total-title">
                    {{'NEW_BOOKING.PROPOSED_DEPOSIT'| translate}}
                  </span>
        <span class="total-value">
                    {{totalValue.proposedDeposit | formatPrice:'UZS'}}
                  </span>
      </div>
      <div class="total-item last">
                  <span class="total-title">
                    {{'NEW_BOOKING.TOTAL_PAYABLE'| translate}}
                  </span>
        <span class="total-value">
                    {{totalValue.total | formatPrice:'UZS'}}
                  </span>
      </div>
    </div>
  </nz-card>
</div>
