.parent-container {
  width: 100%;
  height: 167px;
  border-radius: 4px;
  padding: 20px;
  background: white;


  .counter-container {
    height: 100%;
    border-right: 1px solid var(--divider_line);
    padding-left: 25px;
    padding-top: 5px;
    display: flex;

    &:last-child {
      border: none;
    }

    &:first-child {
      padding-right: 8px;
    }

    .counter-desc {
      height: 100%;
      width: 100%;
      margin-left: 25px;
      padding-top: 20px;

      .countAndToday{
        display: flex;
      }

      .desc-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
        font-family: SF Pro Display !important;
      }

      .desc {
        display: inline;
        height: 100%;
        padding-left: 10px;
        margin-bottom: 10px;
        h3 {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          color: #BFBFBF;
          display: inline;
          font-family: SF Pro Display !important;
        }
      }

      .value {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 22px;
        color: #262626;
        font-family: SF Pro Display !important;
      }
    }
  }

}
.ant-progress-circle .ant-progress-text {
  font-family: SF Pro Display !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
