<div nz-row nzGutter="16" nzType="flex" nzJustify="left">
  <div class="parent-container">
    <div nz-row style="height: 100%">
      <div nz-col nzSpan="6" class="counter-container">
        <nz-progress [nzPercent]="dashCountersService.arrivedPercent$|async"
                     [nzType]="'circle'"
                     [nzFormat]="dashCountersService.getArrivedCounterTitle"
                     [nzStatus]="'normal'"
                     [nzStrokeLinecap]="'square'"
                     [nzStrokeColor]="'#EB2F96'"
                     [nzWidth]="120"
                     [nzStrokeWidth]="9">
        </nz-progress>
        <div nz-row class="counter-desc">
          <div nz-col nzSpan="24">
            <h3 class="desc-title">{{'DASHBOARD.CHECK_IN.TITLE'| translate}}</h3>
          </div>
          <div nz-col nzSpan="24" class="countAndToday">
            <label class="value">{{dashCountersService.shouldArrive$|async}}</label>
            <div class="desc">
              <h3>{{'DASHBOARD.TODAY'| translate}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="6" class="counter-container">
        <nz-progress [nzPercent]="dashCountersService.leftPercent$|async"
                     [nzType]="'circle'"
                     [nzFormat]="dashCountersService.getLeftCounterTitle"
                     [nzStatus]="'normal'"
                     [nzStrokeLinecap]="'square'"
                     [nzStrokeColor]="'#FA8C16'"
                     [nzWidth]="120"
                     [nzStrokeWidth]="9">
        </nz-progress>
        <div nz-row class="counter-desc">
          <div nz-col nzSpan="24">
            <h3 class="desc-title">{{'DASHBOARD.CHECK_OUT.TITLE'| translate}}</h3>
          </div>
          <div nz-col nzSpan="24" class="countAndToday">
            <label class="value">{{dashCountersService.shouldLeft$|async}}</label>
            <div class="desc">
              <h3>{{'DASHBOARD.TODAY'| translate}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="6" class="counter-container">
        <nz-progress [nzPercent]="dashCountersService.livesPercent$|async"
                     [nzType]="'circle'"
                     [nzFormat]="dashCountersService.getLivesCounterTitle"
                     [nzStatus]="'normal'"
                     [nzStrokeLinecap]="'square'"
                     [nzStrokeColor]="'#722ED1'"
                     [nzWidth]="120"
                     [nzStrokeWidth]="9">
        </nz-progress>
        <div nz-row class="counter-desc">
          <div nz-col nzSpan="24" style="padding-top: 17px">
            <h3 class="desc-title">{{'DASHBOARD.LIVE.TITLE'| translate}}</h3>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="6" class="counter-container">
        <nz-progress [nzPercent]="dashCountersService.loadOnMonth$ | async"
                     [nzType]="'circle'"
                     [nzFormat]="dashCountersService.getOverloadCounterTitle"
                     [nzStatus]="'normal'"
                     [nzStrokeLinecap]="'square'"
                     [nzStrokeColor]="'#13C2C2'"
                     [nzWidth]="120"
                     [nzStrokeWidth]="9">
        </nz-progress>
        <div nz-row class="counter-desc">
          <div nz-col nzSpan="24" style="padding-top: 17px">
            <h3 class="desc-title">{{'DASHBOARD.OVERLOAD_ON_MONTH'| translate}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
