
<div
  class="room-type"
  #daysElm
>
  <div class="room-type__container">
    <div class="room-type__headers">
      <div
        class="room-type__header header"
        [ngClass]="[
          isToday ? 'today' : '',
          isSelectedDay ? 'header--selected' : ''
        ]"
      >
        <div class="header__cell cell">
          <ng-container *ngIf="!isEmpty">
            <p *ngIf="!tempPrice.inputView" class="header__amount">
              {{roomAvailability}}
            </p>
            <p class="header__price-container">
            <span
              class="header__price"
              *ngIf="!tempPrice.inputView"
              (click)="swapPriceViewHandler(roomPrice)"
            >
              $ {{ roomPrice }}
            </span>
              <nz-input-number
                nz-popover
                nzOverlayClassName="header__edit-price"
                nzPlacement="bottom"
                nzTrigger="click"
                [nzTitle]="null"
                [nzAutoFocus]="true"
                [(nzVisible)]="tempPrice.inputView"
                [nzContent]="inputConfirmTemplate"
                *ngIf="tempPrice.inputView"
                style="margin: 0 10px;"
                nzSize="small"
                [style.width.px]="calendarServiceCellWidth - 20"
                [(ngModel)]="tempPrice.tepm"
                [nzStep]="1"
                #priceInput
                (nzFocus)="selectPrice($event)"
                (keyup.enter)="savePriceHandler(day)"
                [nzFormatter]="formatterDollar"
                [nzParser]="parserDollar"
              >
              </nz-input-number>
              <ng-template #inputConfirmTemplate>
                <div class="price-popover">
                  <button
                    class="price-popover__cancel"
                    (click)="swapPriceViewHandler(roomPrice)"
                    nz-button
                    nzSize="small"
                    nzType="default"
                  >
                    Отменить
                  </button>
                  <button
                    class="price-popover__save"
                    (click)="savePriceHandler(day)"
                    nzSize="small"
                    nz-button
                    nzType="primary"
                  >
                    Подтвердить
                  </button>
                </div>
              </ng-template>
            </p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="room-type__rows" *ngIf="isExpandedCheck">
      <div *ngFor="let room of roomType.rooms; let i = index; trackBy:identify" class="room-type__row row">
        <div class="row__cells" *ngIf="!isEmpty">
          <div
            class="row__cell bordered cell"
            [attr.id]="room.room_id"
            [attr.data-date]="day"
            [attr.data-room-id]="room.room_id"
            [attr.data-room-name]="room.name"
            [attr.data-room-type-id]="roomType.room_type_id"
            [attr.data-room-type-name]="roomType.short_name"
            [ngClass]="[
              isToday ? 'today' : '',
              isSelectedDay ? 'selected-cell' : '',
              room.isSelectedRoom ? 'selected-cell' : '',
              room.isSelectedCell ? 'selected-cell--preselected selected-cell' : ''
            ]"
            (click)="newReservationHandler($event, day, room, roomType.room_type_id)"
          >

            <div class="empty-badge-container" *ngIf="copyRoomTypeForEmptyBadge.rooms && copyRoomTypeForEmptyBadge.rooms[i].condition">
              <div
                class="empty-badge"
                nz-popover
                nzPlacement="top"
                nzTrigger="click"
                nzOverlayClassName="empty-badge__popover"
                [nzTitle]="null"
                (click)="onNewReservationClick($event)"
                [(nzVisible)]="newReservationData.visible"
                [nzContent]="newReservationPopoverTemplate"
                [style.width.px]="newReservationData.width - 10"
              >

                <!--
                <div
                  *ngIf="getDaysBetween(newReservationData) > 1"
                  class="empty-badge__inner-info inner-info"
                >
                  <div class="inner-info__count">
                    {{ getDaysBetween(newReservationData) }}
                  </div>
                  <div class="inner-info__text">
                    {{ getNightsPlural(newReservationData) }}
                  </div>
                </div>-->
                <ng-template #newReservationPopoverTemplate>
                  <div class="empty-badge__booking-popover booking-popover">
                    <div class="booking-popover__header">
                      <ul type="none" class="booking-popover__labels">
                        <li><p class="booking-popover__label">Check-in:</p></li>
                        <li><p class="booking-popover__label">Check-out:</p></li>
                      </ul>
                      <ul type="none" class="booking-popover__dates">
                        <li><p class="booking-popover__date">{{ formatDate(newReservationData.from) }}</p></li>
                        <li><p class="booking-popover__date">{{ formatDate(newReservationData.to) }}</p></li>
                      </ul>
                      <ul type="none" class="booking-popover__price">
                        <li><p class="booking-popover__price-title">Цена</p></li>
                        <li><p class="booking-popover__price-amount">$ 85.00</p></li>
                      </ul>
                    </div>
                    <div class="booking-popover__menu-actions menu-actions menu-actions--custom">
                      <ul type="none" class="menu-actions__list">
                        <li class="menu-actions__item">
                          <i nz-icon nzType="calendar" nzTheme="outline"></i>
                          <p class="menu-actions__title" [routerLink]="getNewReservationLink" (click)="setFilterForReservation()" [queryParams]="{from: newReservationData.from, to: newReservationData.to}">Создать новое бронирование</p>
                        </li>
                        <li class="menu-actions__item" (click)="openRoomStorageModal({ range: newReservationData, roomType: roomType })">
                          <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                          <p class="menu-actions__title">Временное хранение номера</p>
                        </li>
                        <li class="menu-actions__item" (click)="openBlockDatesModal({ range: newReservationData, roomType: roomType })">
                          <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                          <p class="menu-actions__title">Блокировать даты</p>
                        </li>
                        <li class="menu-actions__item" (click)="openOutOfServiceModal({ range: newReservationData, roomType: roomType })">
                          <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                          <p class="menu-actions__title">Номер не работает</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>


            <div class="empty-badge-container"  *ngIf="emptyBadgeCompareDates">
              <div
                class="empty-badge"
                nz-popover
                nzPlacement="top"
                nzTrigger="hover"
                nzOverlayClassName="empty-badge__popover empty-badge__popover--appointment"
                [nzTitle]="null"
                [nzContent]="emptyBadgePopoverTemplate"
                [nzVisible]="room.name === emptyBadge.room.name && roomType.short_name === emptyBadge.roomType.short_name && openedReservCount > 0"
                [style.width.px]="getDaysBetween({ from: emptyBadge.booking.checkin, to: emptyBadge.booking.checkout }) * calendarServiceCellWidth - 10"
              >
                <ng-template #emptyBadgePopoverTemplate>
                  <div class="empty-badge__booking-popover booking-popover">
                    <div class="booking-popover__header">
                      <div class="booking-popover__title">
                        {{ emptyBadge.booking.checkin | date:'dd.MM.yyyy' }} — {{ emptyBadge.booking.checkout | date:'dd.MM.yyyy' }}
                      </div>
                    </div>
                    <div class="booking-popover__menu-actions menu-actions menu-actions--custom">
                      <ul type="none" class="menu-actions__list">
                        <li class="menu-actions__item">
                          <p class="menu-actions__title">Назначить</p>
                        </li>
                        <li class="menu-actions__item">
                          <p class="menu-actions__title">Зарегистрировать</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <app-reservation-badge
              id="inside"
              class="reserv-badge"
              *ngIf="copyRoomType.rooms[i].bookingByDate"
              [ngClass]="roomType.expanded ? '' : 'reserv-badge--collapsed'"
              [data]="copyRoomType.rooms[i].bookingByDate"
              (mousedown)="dragStart({ booking: copyRoomType.rooms[i].bookingByDate, roomType: roomType, room: room }, $event)"
              nz-popover
              [nzContent]="contentTemplate"
              nzTrigger="click"
              nzPlacement="top"
              [(nzVisible)]="copyRoomType.rooms[i].bookingByDate.visible"
              nzOverlayClassName="badge-popover__overlay badge-popover__overlay__{{copyRoomType.rooms[i].className}}"
              (sendCloseToParent)="copyRoomType.rooms[i].bookingByDate.visible = false"
            >
              <ng-template #contentTemplate>
                <app-reserv-info [data]="{ booking: copyRoomType.rooms[i].bookingByDate, roomType: roomType, room: room }" (sendCloseToParent)="popoverClose($event)"></app-reserv-info>
              </ng-template>
            </app-reservation-badge>
          </div>
        </div>

        <div class="row__cells" *ngIf="isEmpty">
          <div class="row__cell bordered cell"></div>
        </div>
      </div>
    </div>
  </div>
</div>
