.room-type {
  overflow: auto;
  overflow-x: hidden;
  width: auto;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__headers {
    display: flex;
    background: #F4F4F4;
    display: -webkit-box;
    flex-direction: row;
    box-shadow: inset -1px -1px 0px 0px #D9D9D9;
  }

  .reserv-badge {
    position: absolute;
  }
}

.header {
  background: #F4F4F4;
  display: -webkit-box;
  flex-direction: row;
  padding: 6px 0;
  height: 54px;
  box-shadow: inset -1px -1px 0px 0px #D9D9D9;

  &--selected {
    background: #FFFDC1;
  }

  &__cell {
    text-align: center;
    font-size: 14px;
    transition: ease-in-out 300ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__amount {
    margin: 0;
  }

  &__price-container {
    margin: 0;
    cursor: pointer;

    ::ng-deep .ant-input-number-input {
      text-align: center !important;
      border-color: #1890ff;
    }
  }
}

::ng-deep .header__edit-price .ant-popover-arrow {
  background: #1890ff;
  border-color: #1890ff !important;
}

.row {
  &__cells {
    display: flex;
    flex-direction: row;
  }

  &__cell {
    background-color: white;
    height: 38px;
    padding: 3px 0 0 45px;
  }
}

.empty-badge-container {
  position: absolute;

  .empty-badge {
    display: inline-flex;
    height: 31px;
    position: relative;
    z-index: 10;
    left: 6px;
    cursor: pointer;
    transform: skew(135deg);
    background: #FFFDC1;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    /*&:before {
    content: '';
    position: absolute;
    top: 0;
    left: -29px;
    transform: rotate(900deg);
    border-top: solid 31px #E6F7FF;
    border-right: solid 29px transparent;
    border-top-style: dashed;
    border-right-style: dashed;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border-top: solid 31px #E6F7FF;
    border-right: solid 29px transparent;
    border-top-style: dashed;
    border-right-style: dashed;
  }*/

    &__info {
      display: flex;
      justify-content: space-between;
      width: 280px;
      background: #1890ff;
      color: #fff;
      padding: 5px 16px 6px 12px;
    }
  }
}

.inner-info {
  display: flex !important;
  align-items: center;

  &__text {
    color: black;
    font-size: 12px;
  }

  &__count {
    width: 15px;
    height: 15px;
    text-align: center;
    color: wheat;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 10px;
  }
}

::ng-deep .empty-badge__popover {
  .ant-popover-inner-content {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
  }

  .ant-popover-arrow {
    width: 15.485281px;
    height: 15.485281px;
    background-color: white;
  }

  &.ant-popover-placement-bottom .ant-popover-arrow {
    // box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), -1px -1px 0 0 #1890ff;
    border-left-color: #1890ff;
    border-top-color: #1890ff;
    background-color: #1890ff;
    top: 3px;
  }

  &.ant-popover-placement-top .ant-popover-arrow {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), 3px 3px 0 0 #1890ff;
    bottom: 3.2px;
    border-width: 1px;
  }

  &.ant-popover-placement-left .ant-popover-arrow {
    border-right-color: #1890ff;
    border-top-color: #1890ff;
    border-width: 1px;
    right: 4px;
  }

  &.ant-popover-placement-right .ant-popover-arrow {
    border-left-color: #1890ff;
    border-bottom-color: #1890ff;
    border-width: 1px;
    left: 4px;
  }
}

.booking-popover {
  border: 1px solid #1890ff;
  border-radius: 4px;
  min-width: 280px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1890ff;
    padding: 5px 16px 6px 12px;
  }

  &__price-amount {
    color: #fff;
  }

  &__labels,
  &__dates,
  &__price {
    margin: 0;
    padding: 0;
  }

  &__date,
  &__label,
  &__price-title,
  &__price-amount {
    margin: 0;
    line-height: 19px;
  }

  &__date,
  &__title,
  &__price-amount {
    color: #fff;
  }

  &__price-amount {
    font-weight: 600;
  }

  &__label,
  &__price-title {
    color: rgba(255, 255, 255, 0.45);
  }

  &__dates {
    padding-right: 10px;
  }

  &__actions {
    width: 100%;
  }
}

.opened-drawer-booking {
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.scroll-cells {
  overflow: auto;
  overflow-x: hidden;
  width: auto;
}

.price-popover {
  display: flex;
  padding: 15px 20px;
  background: #1890ff;
  border-radius: 3px;

  button.ant-btn {
    padding: 5px 15px;
    height: auto !important;
  }

  &__cancel {
    color: #fff;
    border: 1px solid#fff;
    background: #1890ff;
    padding: 5px 10px;
    margin-right: 15px;
  }

  &__save {
    color: #1890ff;
    background: #fff;
    border: none;
  }
}


::ng-deep {


  .badge-popover__overlay {
    .ant-modal-close-x {
      padding: 0 10px;
      text-align: right;
      line-height: 40px;
    }

    &.ant-popover-placement-bottom .ant-popover-arrow {
      top: 3px;
    }

    &.ant-popover-placement-top .ant-popover-arrow {
      bottom: 3.2px;
    }

    &.ant-popover-placement-left .ant-popover-arrow {
      right: 4px;
    }

    &.ant-popover-placement-right .ant-popover-arrow {
      left: 4px;
    }

    &__booking {
      .badge-popover {
        width: 483px;
      }
      &__awaited {
        &.ant-popover-placement-bottom .ant-popover-arrow {
          border-left-color: #1890FF;
          border-top-color: #1890FF;
          //background-color: #1890FF;
        }

        &.ant-popover-placement-top .ant-popover-arrow {
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), 3px 3px 0 0 #1890FF;
        }

        &.ant-popover-placement-left .ant-popover-arrow {
          border-right-color: #1890FF;
          border-top-color: #1890FF;
        }

        &.ant-popover-placement-right .ant-popover-arrow {
          border-left-color: #1890FF;
          border-bottom-color: #1890FF;
        }

      }


      &__resides {
        &.ant-popover-placement-bottom .ant-popover-arrow {
          border-left-color: #67B36F;
          border-top-color: #67B36F;
          //background-color: #67B36F;
        }

        &.ant-popover-placement-top .ant-popover-arrow {
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), 3px 3px 0 0 #67B36F;
        }

        &.ant-popover-placement-left .ant-popover-arrow {
          border-right-color: #67B36F;
          border-top-color: #67B36F;
        }

        &.ant-popover-placement-right .ant-popover-arrow {
          border-left-color: #67B36F;
          border-bottom-color: #67B36F;
        }
      }


      &__left {
        &.ant-popover-placement-bottom .ant-popover-arrow {
          border-left-color: #979797;
          border-top-color: #979797;
          //background-color: #979797;
        }

        &.ant-popover-placement-top .ant-popover-arrow {
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), 3px 3px 0 0 #979797;
        }

        &.ant-popover-placement-left .ant-popover-arrow {
          border-right-color: #979797;
          border-top-color: #979797;
        }

        &.ant-popover-placement-right .ant-popover-arrow {
          border-left-color: #979797;
          border-bottom-color: #979797;
        }
      }
    }

    &__hold {
      &.ant-popover-placement-bottom .ant-popover-arrow {
        border-left-color: #1890ff;
        border-top-color: #1890ff;
        //background-color: #1890ff;
      }

      &.ant-popover-placement-top .ant-popover-arrow {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), 3px 3px 0 0 #1890ff;
      }

      &.ant-popover-placement-left .ant-popover-arrow {
        border-right-color: #1890ff;
        border-top-color: #1890ff;
      }

      &.ant-popover-placement-right .ant-popover-arrow {
        border-left-color: #1890ff;
        border-bottom-color: #1890ff;
      }
    }

    &__block {
      &.ant-popover-placement-bottom .ant-popover-arrow {
        border-left-color: #001529;
        border-top-color: #001529;
        //background-color: #001529;
      }

      &.ant-popover-placement-top .ant-popover-arrow {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), 3px 3px 0 0 #001529;
      }

      &.ant-popover-placement-left .ant-popover-arrow {
        border-right-color: #001529;
        border-top-color: #001529;
      }

      &.ant-popover-placement-right .ant-popover-arrow {
        border-left-color: #001529;
        border-bottom-color: #001529;
      }
    }

    &__close {
      &.ant-popover-placement-bottom .ant-popover-arrow {
        border-left-color: #D65C5C;
        border-top-color: #D65C5C;
        //background-color: #D65C5C;
      }

      &.ant-popover-placement-top .ant-popover-arrow {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07), 3px 3px 0 0 #D65C5C;
      }

      &.ant-popover-placement-left .ant-popover-arrow {
        border-right-color: #D65C5C;
        border-top-color: #D65C5C;
      }

      &.ant-popover-placement-right .ant-popover-arrow {
        border-left-color: #D65C5C;
        border-bottom-color: #D65C5C;
      }
    }

    .ant-popover-inner-content {
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
    }

    .ant-popover-arrow {
      width: 15.485281px;
      height: 15.485281px;
      background-color: white;
      z-index: 1;
    }
  }



  .sortable-ghost {
    display: none !important;
  }

  .hide_badge_backdrop .nz-overlay-transparent-backdrop {
    display: none;
  }

  .ant-modal-close-x {
    padding: 0 10px;
    text-align: right;
    line-height: 40px;
  }
}
