.reserv-info {
  display: flex;
  padding: 10px 0;

  &__side {
    flex: 2;

    &.first-child {
      padding: 0 12px;
      border-right: 1px solid rgba(#000000, 0.06);
    }
  }

  &__tab-content {
    padding: 0 12px;
    max-height: 134px;
    overflow: auto;
  }

  &__field {
    &:not(:first-child) {
      margin-top: 15px;
    }

    &--double-margin {
      margin-top: 25px !important;
    }
  }

  &__label {
    font-weight: 600;
    color: #000000;
    margin-bottom: 2px
  }

  &__value {
    margin-bottom: 0;

    &--color_red {
      color: #F5222D;
    }
  }

  nz-time-picker {
    min-width: 200px;
  }

  &__actions-tab {
    list-style: none;
    padding: 0;
    margin: 0;

    li:not(:first-child) {
      margin-top: 12px;
    }

    li {
      a {
        border-bottom: 1px solid;
      }
    }
  }

}

.note {
  &:not(:first-child) {
    margin-top: 27px;
  }

  &__top {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }

  &__author {
    color: #1890FF;
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 0;
  }

  &__date {
    margin-bottom: 0;
  }

  &__text {
    margin: 0;
    color: #000000;
  }
}

.badge-popover {
  border-radius: 4px;
  position: relative;

  &__header {

    // display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 5px 16px 6px 12px;
    padding: 10px 15px;
    color: white;

    &--light {
      color: rgba(#fff, 0.45);
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  &__booking {

    &__awaited {
      width: 483px;

      &__header {
        background-color: #1890FF;
      }

      border: 1px solid #1890ff;
    }

    &__resides {
      width: 483px;

      &__header {
        background-color: #67B36F;
      }

      border: 1px solid #67B36F;
    }

    &__left {
      width: 483px;

      &__header {
        background-color: #979797;
      }

      border: 1px solid #979797;
    }
  }

  &__hold {
    width: 264px;

    &__header {
      background-color: #1890FF;
    }

    border: 1px solid #1890ff;
  }

  &__block {
    width: 264px;

    &__header {
      background-color: #001529;
    }

    border: 1px solid #001529;
  }

  &__close {

    width: 264px;

    &__header {
      background-color: #D65C5C;
    }

    border: 1px solid #D65C5C;
  }

  &__price-amount {
    color: #fff;
  }

  &__labels,
  &__dates,
  &__price {
    margin: 0;
    padding: 0;
  }

  &__date,
  &__label,
  &__price-title,
  &__price-amount {
    margin: 0;
    line-height: 19px;
  }

  &__date,
  &__title,
  &__price-amount {
    color: #fff;
  }

  &__price-amount {
    font-weight: 600;
  }

  &__label,
  &__price-title {
    color: rgba(255, 255, 255, 0.45);
  }

  &__dates {
    padding-right: 10px;
  }

  &__actions {
    width: 100%;
  }
}

::ng-deep {

  .date-popover {
    .ant-time-picker-panel-input-wrap {
      border-bottom: 1px solid #e8e8e8;
      padding: 4px 11px;
      border-bottom: 1px solid #d9d9d9;
    }

    .ant-time-picker-panel-inner {
      left: 1px;
      box-shadow: none;
      top: 3px;
    }

    .ant-time-picker-panel-combobox {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
}
