<!-- <app-base-modal
  [title]="data.booking.guest.first_name +' ' + data.booking.guest.last_name"
  [subtitle]="data.booking.reservation_room_id"
  [type]="data.booking.type"
> -->
<div class="badge-popover badge-popover__{{this.data.guestStatus}}" *ngIf="data.booking.type==='booking'" (click)="isOpen = false">
  <div class="badge-popover__header badge-popover__{{this.data.guestStatus}}__header">
    <p>{{data.booking.guest.first_name}} {{data.booking.guest.first_name}} - {{data.statusForShow}}</p>
    <p class="badge-popover__header--light">{{data.booking.reservation_room_id}}</p>
  </div>
  <div class="reserv-info">
    <aside class="reserv-info__side first-child">
      <div class="reserv-info__field">
        <p class="reserv-info__label">Регистрация</p>
        <p class="reserv-info__value">{{ data.booking.checkin | date:'dd.MM.yyyy' }}
          — {{ data.booking.checkout  | date:'dd.MM.yyyy'}}</p>
      </div>
      <div class="reserv-info__field">
        <p class="reserv-info__label">Гостей</p>
        <p class="reserv-info__value">{{ data.booking.guestsCount }}</p>
      </div>
      <div class="reserv-info__field reserv-info__field--double-margin">
        <p class="reserv-info__label">Общая сумма</p>
        <p class="reserv-info__value">{{data.booking.sum | currency}}</p>
      </div>
      <div *ngIf="data.booking.debt" class="reserv-info__field reserv-info__field--double-margin">
        <p class="reserv-info__label">Задолженность</p>
        <p class="reserv-info__value reserv-info__value--color_red">{{data.booking.debt | currency}}</p>
      </div>
      <div class="reserv-info__field reserv-info__field--double-margin">
        <p class="reserv-info__label">Источник</p>
        <p class="reserv-info__value">Booking.com (ID 123456789098)</p>
      </div>
    </aside>
    <aside class="reserv-info__side">
      <nz-tabset [nzTabBarStyle]="{ backgroundColor: '#fafafa' }">
        <nz-tab nzTitle="Брони">
          <div class="reserv-info__tab-content">
            <ul class="reserv-info__actions-tab">
              <li><a (click)="openReservation()">Детали брони</a></li>
<!--              <li><a>Отменить назначение комнаты</a></li>-->
<!--              <li><a (click)="openQuickEdit()">Быстрое редактирование</a></li>-->
            </ul>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Заметки ({{data.booking.notes_count}})">
          <div class="reserv-info__tab-content">
            <div class="reserv-info__notes">
              <div class="reserv-info__note note" *ngFor="let note of notes">
                <div class="note__top">
                  <p class="note__author">{{ note.hotelier.name }}</p>
                  <p class="note__date">{{ note.created_at | date:'dd.MM.yyyy' }} ({{ note.created_at | date:'H:mm' }})</p>
                </div>
                <div class="note__content">
                  <p class="note__text">{{ note.text }}</p>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </aside>


    <button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closePopover()">
      <span class="ant-modal-close-x">
        <i class="anticon ant-modal-close-icon anticon-close" nz-icon="" type="close" ng-reflect-type="close">
          <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" data-icon="close"
            aria-hidden="true">
            <path
              d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z">
            </path>
          </svg>
        </i>
      </span>
    </button>
  </div>
</div>



<div class="badge-popover badge-popover__hold" *ngIf="data.booking.type==='hold'">
  <div class="badge-popover__header badge-popover__hold__header">
    <p>{{data.booking.guest.first_name}} {{data.booking.guest.first_name}}</p>
    <p><span class="badge-popover__header--light">Срок истекает</span>  —
      {{data.booking.hold.expire_date | date:'dd.MM.yyyy'}},
<!--      ({{data.booking.hold.expire_date | date:'E'}}),-->
      {{data.booking.hold.expire_date | date:'HH:mm'}}
    </p>
  </div>
  <div class="reserv-info">
    <aside class="reserv-info__side">
      <div class="reserv-info__tab-content">
        <ul class="reserv-info__actions-tab">
          <li><a (click)="confirmBooking()" [routerLink]="getConfirmBookingUrl">Подтвердить бронирование</a></li>
          <li><a (click)="cancelReservationHold()">Отменить удерживание номера</a></li>
          <li><a (click)="openRoomHoldModal()">Редактировать</a></li>
        </ul>
      </div>
    </aside>
    <button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closePopover()">
      <span class="ant-modal-close-x">
        <i class="anticon ant-modal-close-icon anticon-close" nz-icon="" type="close" ng-reflect-type="close">
          <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" data-icon="close"
            aria-hidden="true">
            <path
              d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z">
            </path>
          </svg>
        </i>
      </span>
    </button>
  </div>
</div>


<div class="badge-popover badge-popover__block" *ngIf="data.booking.type==='block'">
  <div class="badge-popover__header badge-popover__block__header">
    <p>Блокировать даты</p>
    <p><span class="badge-popover__header--light">Причина</span> — {{data.booking.reason}}</p>
  </div>
  <div class="reserv-info">
    <aside class="reserv-info__side">
      <div class="reserv-info__tab-content">
        <ul class="reserv-info__actions-tab">
          <li><a (click)="clearBlockDates()">Очистить даты</a></li>
          <li><a (click)="editBlockDates()">Редактировать</a></li>
        </ul>
      </div>
    </aside>
    <button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closePopover()">
      <span class="ant-modal-close-x">
        <i class="anticon ant-modal-close-icon anticon-close" nz-icon="" type="close" ng-reflect-type="close">
          <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" data-icon="close"
            aria-hidden="true">
            <path
              d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z">
            </path>
          </svg>
        </i>
      </span>
    </button>
  </div>
</div>

<div class="badge-popover badge-popover__close" *ngIf="data.booking.type==='close'">
  <div class="badge-popover__header badge-popover__close__header">
    <p>Не работает</p>
    <p><span class="badge-popover__header--light">Причина</span> — {{data.booking.reason}}</p>
  </div>
  <div class="reserv-info">
    <aside class="reserv-info__side">
      <div class="reserv-info__tab-content">
        <ul class="reserv-info__actions-tab">
          <li><a (click)="clearCloseRoom()">Очистить даты</a></li>
          <li><a (click)="editCloseRoom()">Редактировать</a></li>
        </ul>
      </div>
    </aside>
    <button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closePopover()">
      <span class="ant-modal-close-x">
        <i class="anticon ant-modal-close-icon anticon-close" nz-icon="" type="close" ng-reflect-type="close">
          <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" data-icon="close"
            aria-hidden="true">
            <path
              d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z">
            </path>
          </svg>
        </i>
      </span>
    </button>
  </div>
</div>
<!-- </app-base-modal> -->

<!--<nz-modal-->
<!--  [(nzVisible)]="isVisibleCancelReservationHold"-->
<!--  [nzTitle]="modalTitle"-->
<!--  [nzContent]="modalContent"-->
<!--  [nzFooter]="modalFooter"-->
<!--  (nzOnCancel)="handleCancelReservationHoldCancel()"-->
<!--  [nzZIndex]="999999999999999999"-->
<!--  class="confirm-delete-message-modal">-->
<!--  <ng-template #modalTitle>-->
<!--    <p class="title">Отменить удерживание номера?</p>-->
<!--  </ng-template>-->
<!--  <ng-template #modalContent>-->
<!--  </ng-template>-->
<!--  <ng-template #modalFooter>-->
<!--    <div class="confirm-buttons">-->
<!--      <button-->
<!--        nz-button-->
<!--        nzType="default"-->
<!--        (click)="handleCancelReservationHoldCancel()">-->
<!--        {{'NO'| translate}}-->
<!--      </button>-->
<!--      <button-->
<!--        nz-button-->
<!--        nzType="primary"-->
<!--        (click)="handleCancelReservationHoldOk()">-->
<!--        {{'YES'| translate}}-->
<!--      </button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</nz-modal>-->
