<nz-spin [nzSpinning]="saleBooksService.isLoading">
  <div class="shell-container">
    <div *ngIf="(saleBooksService.sold$| async).length > 0" nz-row class="more-info">
      <div nz-col nzSpan="8" class="info-container">
        <h3>{{(saleBooksService.titleStatistic$| async).bookedToday}}</h3>
        <label>{{'DASHBOARD.SALE.BOOKED_TODAY'| translate}}</label>
      </div>
      <div nz-col nzSpan="8" class="info-container">
        <h3>{{(saleBooksService.titleStatistic$| async).roomNights}}</h3>
        <label>{{'DASHBOARD.SALE.ROOM_NIGHTS'| translate}}</label>
      </div>
      <div nz-col nzSpan="8" class="info-container">
        <h3>UZS {{(saleBooksService.titleStatistic$| async).revenue | thousandFormatPrice}}</h3>
        <label>{{'DASHBOARD.SALE.REVENUE'| translate}}</label>
      </div>
    </div>

    <div *ngIf="(saleBooksService.sold$| async).length > 0 else noAny">
      <app-sale-item *ngFor="let item of saleBooksService.sold$| async"
                     [model]="item" (notesEvent)="openNotes($event)"></app-sale-item>
    </div>
  </div>
  <div class="pagination-container"
       *ngIf="(saleBooksService.sold$| async).length < (saleBooksService.total$| async) && (saleBooksService.sold$| async).length != 0">
    <button class="transparent-btn"
            *ngIf="(saleBooksService.sold$| async).length < (saleBooksService.total$| async)"
            nz-button
            nzType="default"
            (click)="getItems(true)">{{'DASHBOARD.DOWNLOAD_MORE'| translate}}</button>
  </div>
  <app-count-container
    *ngIf="(saleBooksService.total$| async) > minItems && (saleBooksService.sold$| async).length != 0"
    [showed]="(saleBooksService.sold$| async).length"
    [total]="(saleBooksService.total$| async)"></app-count-container>
</nz-spin>
<ng-template #noAny>
  <app-empty [msg]="'DASHBOARD.SALE.NO_ANY'| translate"></app-empty>
</ng-template>
