<div nz-row class="form-container">
  <div nz-col nzSpan="16" nzOffset="4">

    <p class="form-title">{{'SIGN_PAGE.RESTORE_PASS'| translate}}</p>

    <nz-spin [nzSpinning]="isLoading">
      <form
        nz-form
        [formGroup]="restoreForm"
        class="login-form"
        (ngSubmit)="submitForm()">

        <nz-form-item *ngIf="isRestoreByEmail">
          <nz-form-control>

            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-input-group
                  [nzPrefix]="prefixLogin">
                  <input
                    type="text"
                    nz-input
                    formControlName="email"
                    placeholder="{{'SIGN_PAGE.EMAIL'| translate}}"
                  />
                </nz-input-group>
                <nz-form-explain
                  *ngIf="restoreForm.get('email')?.dirty && restoreForm.get('email')?.errors">
                  {{'SIGN_PAGE.ENTER_EMAIL'| translate}}
                </nz-form-explain>
              </div>
              <div *ngIf="false"
                   nz-col nzSpan="7" nzOffset="1">
                <button
                  nz-button
                  nzBlock
                  class="login-form-button"
                  (click)="onSwitch()"
                  [nzType]="'primary'">
                  <i nz-icon nzType="swap" nzTheme="outline"></i>
                  {{'SIGN_PAGE.BY_PHONE'| translate}}
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!isRestoreByEmail">
          <nz-form-control>
            <div nz-row>
              <div nz-col nzSpan="16">
                <nz-input-group
                  [nzPrefix]="prefixPhone">
                  <input
                    type="tel"
                    nz-input
                    formControlName="email"
                    placeholder="{{'SIGN_PAGE.PHONE'| translate}}"
                  />
                </nz-input-group>
                <nz-form-explain
                  *ngIf="restoreForm.get('email')?.dirty && restoreForm.get('email')?.errors">
                  {{'SIGN_PAGE.ENTER_PHONE'| translate}}
                </nz-form-explain>
              </div>
              <div nz-col nzSpan="7" nzOffset="1">
                <button
                  nz-button
                  nzBlock
                  class="login-form-button"
                  (click)="onSwitch()"
                  [nzType]="'primary'">
                  <i nz-icon nzType="swap" nzTheme="outline"></i>
                  {{'SIGN_PAGE.BY_EMAIL'| translate}}
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div nz-row>
              <div nz-col nzSpan="11">
                <a
                  nz-button
                  nzBlock
                  class="login-form-button"
                  [routerLink]="getLoginRoute()"
                  [nzType]="'default'">
                  {{'BACK'| translate}}
                </a>
              </div>
              <div nz-col nzSpan="11" nzOffset="2">
                <button
                  nz-button
                  nzBlock
                  [disabled]="restoreForm.invalid"
                  class="login-form-button"
                  [nzType]="'primary'">
                  {{'SIGN_PAGE.RESTORE'| translate}}
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-spin>

    <ng-template #prefixLogin><i nz-icon nzType="login"></i></ng-template>
    <ng-template #prefixPhone><i nz-icon nzType="phone" nzTheme="outline"></i></ng-template>
  </div>
</div>

