<section class="tab-wrapper">
  <div class="search-input-wrapper">
    <nz-input-group class="search-input-group" nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        class="search-input"
        type="text"
        nz-input
        placeholder="Поиск"
        [formControl]="searchControl"
        (keyup.enter)="searchByKeyWord()"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button
        nz-button
        nzType="primary"
        nzSearch
        class="search-button"
        (click)="searchByKeyWord()"
      >
        <img class="search-input-button" src="../../../assets/img/search-input-button.svg" alt="Search" />
      </button>
    </ng-template>
  </div>

  <nz-table #basicTable [nzData]="guestReservation" class="guest-info-table">
    <thead >
      <tr>
        <th>Номер бронирования</th>
        <th>Дата заезда</th>
        <th>Дата выезда</th>
        <th>Тип номера</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data; let i = index">
        <ng-container *ngFor="let room of data.rooms; let j = index">
          <tr>
            <td class="cell-wrapper">
              <p class="room first-cell" (click)="seeReservationDetails(data)">{{data?.id}}</p>
            </td>
            <td class="cell-wrapper">
              <p class="checkin-date">{{getProcessedDate(room?.checkin)}}</p>
            </td>
            <td class="cell-wrapper">
              <p class="checkout-date">{{getProcessedDate(room?.checkout)}}</p>
            </td>
            <td class="cell-wrapper">
              <p class="room-type">{{room?.room_type?.short_name}}</p>
            </td>
            <td class="cell-wrapper">
              <p class="total-price">{{room?.sum | formatPrice:'UZS'}}</p>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>
</section>
