:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

p {
  margin: 0;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-top: 28px;
}

.search-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 41px;

  .search-input-group {
    width: 434px;
  
    & ::ng-deep .ant-btn.ant-btn-primary.ant-btn-icon-only {
      width: 38px;
  
      & > i {
        font-size: 22px;
      }
    }
  
    .search-input {
      width: 396px;
    }
  }

  .search-button {
    padding: 0;
    width: 38px;
  }
}

.guest-info-table {
  width: 100%;

  .cell-wrapper {
    width: 18%;

    & > p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.65);

      &.first-cell {
        color: #1890FF;
        cursor: pointer;
      }
    }
  }

  tr {
    th {
      background: transparent;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }

    td {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.65);
    }

    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}