<app-view-container>
  <div class="toolbar">
    <div class="title-steper">
      {{ headerTitle }}
    </div>
  </div>

  <div class="outer-container">
    <div class="navigation-panel-wrapper">
      <app-profile-navigation-panel (activatedTab)="activateTab($event)"></app-profile-navigation-panel>
    </div>
    <div *ngIf="profileData" class="content-wrapper">
      <app-profile-main-tab *ngIf="activeTab === 'main'" [userData]="profileData"></app-profile-main-tab>
      <app-profile-personal-info-tab *ngIf="activeTab === 'personal-info'" [userData]="profileData"
                                     (changeProfileData)="changeProfileData($event)"></app-profile-personal-info-tab>
      <app-profile-password-tab *ngIf="activeTab === 'password'"></app-profile-password-tab>
      <app-profile-email-tab *ngIf="activeTab === 'e-mail'" [userData]="profileData"
                             (changeProfileData)="changeProfileData($event)"></app-profile-email-tab>
      <app-profile-contracts-tab *ngIf="activeTab === 'contracts'"></app-profile-contracts-tab>
    </div>
  </div>
</app-view-container>
