.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;

  .title-steper {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  .reservations {
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .reservations-action {
      background: transparent;
      width: 158px;
      height: 32px;

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.outer-container {
  background: #fff;
  padding: 23px 22px 53px;
  min-height: calc(100vh - 186px);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .navigation-panel-wrapper {
    width: 270px;
  }

  .content-wrapper {
    width: 85%;
  }
}