.legend-drawer__header {
  display: flex;
  height: 90px;
  background: #FAFAFA;
  align-items: center;

  p {
    margin-left: 25px;
    margin-bottom: 0;
  }
}
.bottom-bordered{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.m0{
  margin: 0;
}

.block--red {
  background-color: #F9535C;
}

.block--green {
  background-color: #168C4C;
}

.block--blue {
  background-color: #1890FF;
}

.block--purple {
  background-color: #9F67EC;
}

.block--yellow {
  background-color: #FFBF00;
}

.block--grey {
  background-color: #979797;
}
.red {
  color: #F9535C;
}

.green {
  color: #168C4C;
}

.blue {
  color: #1890FF;
}

.purple {
  color: #9F67EC;
}

.yellow {
  color: #FFBF00;
}

.grey {
  color: #979797;
}
