<div class="sidebar-reservation">
  <div
    [ngClass]="{ 'sidebar-reservation__info': true, 'info': true, 'info--active': isOpened }"
    (click)="toggleContent()"
  >
    <a class="info__guest-id">{{ booking.reservation_room_id }}</a>
    <p class="info__guest-name">{{ booking.guest?.first_name}} {{booking.guest?.last_name}}</p>
  </div>
  <div [ngClass]="{ 'sidebar-reservation__content': true, 'sidebar-reservation__content--visible': isOpened }">
    <div class="sidebar-reservation__room-types">
      <button
        class="sidebar-reservation__room-type"
        nz-button
        *ngFor="let roomType of roomTypes"
        (mouseup)="selectRoomType(roomType)"
        [nzType]="selectedRoomType && selectedRoomType.room_type_id === roomType.room_type_id ? 'primary' : 'default'"
      >
        {{roomType.short_name}}
      </button>
    </div>
    <div class="sidebar-reservation__room">
      <p class="sidebar-reservation__label">Номер комнаты</p>
      <nz-select nzShowSearch [(ngModel)]="selectedRoom">
        <nz-option
          *ngFor="let room of rooms"
          [nzLabel]="room.name"
          [nzValue]="room"
        ></nz-option>
      </nz-select>
      <div class="sidebar-reservation__actions">
        <button
          nz-button
          nzType="default"
          class="sidebar-reservation__action"
          (click)="closeContent()"
        >
          Отмена
        </button>
        <button
          nz-button
          nzType="primary"
          class="sidebar-reservation__action"
        >
          Назначить
        </button>
      </div>
    </div>
  </div>
</div>