.sidebar-reservation {
  cursor: pointer;

  &__content {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out;
    padding: 12px 24px 18px;

    &--visible {
      display: block;
	    height: auto;
    }
  }

  &__room-types {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
    width: calc(100% + 15px);
  }

  &__room-type {
    width: 67px;
    padding: 0;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 12px;
  }

  &__room {
    margin-bottom: 12px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__action {
    flex: 6;
  
    &:first-child {
      margin-right: 12px;
    }
  }
}

.info {
  background: rgba(217, 217, 217, 0.41);
  padding: 2px 16px 8px;
  transition: background-color 350ms ease-in-out;

  &--active {
    background: #E6F7FF;
  }

  &__guest-id {
    font-size: 11px;
    text-decoration: underline;
    padding: 0;
  }

  &__guest-name {
    font-size: 11px;
    margin-bottom: 0;
    line-height: 22px;
  }
}

nz-select {
  width: 100%;
}