.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
  
  .tab-panel-wrapper {
    width: 207px;
    
    .panel-wrapper {
      border-right: 1px solid rgba(0, 0, 0, 0.09);
      height: auto;
      padding-top: 23px;
      height: 100%;
    
      .panel-tab {
    
        width: 100%;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 21px;
    
        position: relative;
        cursor: pointer;

        .panel-tab-name {
          word-break: break-all;
        }

        .delete-button {
          position: absolute;
          right: 8px;
          top: 8px;
        }

        & > p {
          margin: 0;
          width: 90%;
        }

        &.add-guest {
          color: #1890FF;
        }

        &.btn-disabled {
          color: #e4e4e4;
          pointer-events: none;
        }
    
        &.active {
          background: #E6F7FF;
          color: #1890FF;
          border-right: 2px solid #1890FF;

          & .delete-button {
            right: 6px;
          }
        }
      }
    }
  }

  .tab-main-content {
    width: calc(100% - 228px);

    .custom-select .ant-select, .custom-select .ant-btn{
      width: stretch;
    }
    
    .custom-select label{
      display: block;
      margin-bottom: 10px;
      color: rgba(0, 0, 0, 0.65);
    }
    
    .body-tab {
    border-color: transparent;
    
      & ::ng-deep .ant-card-body {
        padding-left: 0;
        padding-right: 0;
      }

      .guest-details-action-panel {
        margin-bottom: 20px;
        
        .main-guest-details-button {
          height: 32px;

          &.edit {
            width: 147px;
            padding: 0 12px;
          }
          
          &.cancel {
            width: 90px;
            margin-right: 20px;
          }
          
          &.save {
            width: 116px;
            padding: 0 7px;
          }
        }
      }
    }
    
    .extra-info-header {
      margin-top: 15px;
      cursor: pointer;
      width: 240px;
      color: #000000;
    
      .dropdown-icon {
        padding-left: 10px;
        color: #1890FF;
        font-size: 12px;
      }
    }
    
    .select-toolbar {
      display: flex;
      justify-content: space-between;
      padding: 15px 0px;
    
      &.form-field-section {
        padding-top: 0;

        .custom-select {
          position: relative;
          height: 57px;

          .guest-form-param-value-review {
            position: absolute;
            top: 31px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            padding-top: 5px;
            margin: 0;
            word-break: break-all;
          }
        }      
    
        @media (max-width: 1500px) {
          flex-wrap: wrap;
          justify-content: flex-start;
        }
    
        .custom-select {
    
          @media (max-width: 1500px) {
            margin-right: 1%;
            margin-bottom: 35px;
          }
        }
      }
    }
    
    .custom-select {
      width: 206px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 1%;
    }
    
    .select-toolbar{
    
      .custom-select {
        width: 206px;
    
    
        .ant-calendar-picker {
    
          & ::ng-deep .ant-calendar-picker {
            width: 100%;
          }
        }
      }
    
    }

  }
}

.confirm-delete-guest-modal-header-wrapper {
    
  .confirm-delete-guest-modal-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

.confirm-delete-guest-modal-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .cancel-btn, .update-btn {
    width: 140px;
    height: 32px;
  }
}

.custom-select {
  position: relative;
}

.validation-message-container {
  position: absolute;
  width: 206px;
  text-align: center;
  top: 68px;

  .validation-message {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: #f5222d;
  }

}

:host ::ng-deep .ant-input, :host ::ng-deep .ant-select {
  color: black;
}

:host .input-invalid {
  border-color: #f5222d;

  &:focus {
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }
}

:host .select-invalid {

  & ::ng-deep .ant-select-selection  {
    border-color: #f5222d;
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }

  & ::ng-deep .ant-select-arrow {
    color: #f5222d;
  }
}