<section class="page-wrapper">
  <div class="tab-panel-wrapper">
    <div class="panel-wrapper">
      <div
        class="panel-tab"
        *ngFor="let person of guestList; let i = index; let firstElem = first"
        [class.active]="i === selectedIndex"
        (click)="selectPerson(i)"
      >
        <p class="panel-tab-name">{{getTabName(person, i)}}</p>
        <a *ngIf="!firstElem" class="delete-button" (click)="deleteItem(i, person)">
            <img src="../../../../../assets/img/delete-user-or-card-btn.svg" alt="x">
        </a>
      </div>
      <div
        *ngIf="couldGuestBeAttached"
        class="panel-tab add-guest"
        [class.btn-disabled]="!isPersonNonEmpty(selectedIndex)"
        (click)="addNewGuest()"
      >
        + Добавить гостя
      </div>
    </div>
  </div>

  <section class="tab-main-content">
      <div class="body-tab">
        <div class="guest-details-action-panel">
          <ng-container *ngIf="!editMode">
            <button
              nz-button
              class="main-guest-details-button edit"
              [nzType]="'primary'"
              (click)="changeMode('edit')"
            >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
              <span>Редактировать</span>
            </button>
          </ng-container>

          <ng-container *ngIf="editMode">
            <button
              nz-button
              class="main-guest-details-button cancel"
              [nzType]="'default'"
              (click)="changeMode('cancel')"
            >
              Отмена
            </button>
            <button
              nz-button
              [disabled]="guestForm.invalid"
              class="main-guest-details-button save"
              [nzType]="'primary'"
              (click)="changeMode('save')"
            >
              <i nz-icon nzType="save" nzTheme="outline"></i>
              <span>Сохранить</span>
            </button>
          </ng-container>
        </div>
        <form [formGroup]="guestForm" class="guest-form">
          <ng-container *ngIf="editMode; else reviewMode">
              <div class="select-toolbar form-field-section">
                  <div class="custom-select">
                      <label>Имя</label>
                      <input
                        nz-input
                        placeholder=""
                        autocomplete="off"
                        formControlName="first_name"
                        [nzAutocomplete]="guestFirstNameAutocomplete"
                        [class.input-invalid]="guestForm.get('first_name')?.dirty
                                            && guestForm.get('first_name')?.hasError('required')"/>
                      <div
                        class="validation-message-container"
                        *ngIf="guestForm.get('first_name')?.dirty
                            && guestForm.get('first_name')?.hasError('required')"
                        >
                        <p class="validation-message">Введите имя пользователя!</p>
                      </div>

                      <nz-autocomplete  #guestFirstNameAutocomplete (selectionChange)="handleOptionClicking($event)">
                        <ng-container *ngIf="!isExistingGuestToChange && guestSuggestions?.length != null && guestSuggestions?.length > 0">
                            <nz-auto-option
                                *ngFor="let option of guestSuggestions"
                                [nzValue]="option"
                                [nzLabel]="option?.first_name"
                            >
                            {{ option?.first_name }}
                            </nz-auto-option>
                        </ng-container>
                      </nz-autocomplete>
                  </div>
                  <div class="custom-select">
                      <label>Фамилия</label>
                      <input
                        nz-input
                        placeholder=""
                        autocomplete="off"
                        formControlName="last_name"
                        [nzAutocomplete]="guestLastNameAutocomplete"
                        [class.input-invalid]="guestForm.get('last_name')?.dirty
                                            && guestForm.get('last_name')?.hasError('required')"/>
                      <div
                        class="validation-message-container"
                        *ngIf="guestForm.get('last_name')?.dirty
                            && guestForm.get('last_name')?.hasError('required')"
                      >
                        <p class="validation-message">Введите фамилию пользователя!</p>
                      </div>

                      <nz-autocomplete  #guestLastNameAutocomplete (selectionChange)="handleOptionClicking($event)">
                        <ng-container *ngIf="!isExistingGuestToChange && guestSuggestions?.length != null && guestSuggestions?.length > 0">
                          <nz-auto-option
                            *ngFor="let option of guestSuggestions"
                            [nzValue]="option"
                            [nzLabel]="option?.first_name"
                          >
                              {{ option?.last_name }}
                          </nz-auto-option>
                        </ng-container>
                      </nz-autocomplete>
                  </div>
                  <div class="custom-select">
                      <label>E-mail</label>
                      <input
                        nz-input
                        placeholder=""
                        autocomplete="off"
                        formControlName="email"
                        [nzAutocomplete]="guestEmailAutocomplete"
                        [class.input-invalid]="guestForm.get('email')?.dirty &&
                                          (guestForm.get('email')?.hasError('required') ||
                                            guestForm.get('email')?.hasError('pattern'))" />
                      <div
                        class="validation-message-container"
                        *ngIf="guestForm.get('email')?.dirty
                            && guestForm.get('email')?.hasError('required')"
                      >
                        <p class="validation-message">Введите E-mail!</p>
                      </div>
                      <div
                        class="validation-message-container"
                        *ngIf="guestForm.get('email')?.dirty
                            && guestForm.get('email')?.hasError('pattern')"
                      >
                        <p class="validation-message">Неправильный формат E-mail!</p>
                      </div>

                      <nz-autocomplete  #guestEmailAutocomplete (selectionChange)="handleOptionClicking($event)">
                        <ng-container *ngIf="!isExistingGuestToChange && guestSuggestions?.length != null && guestSuggestions?.length > 0">
                          <nz-auto-option
                            *ngFor="let option of guestSuggestions"
                            [nzValue]="option"
                            [nzLabel]="option?.email"
                          >
                              {{ option?.email }}
                          </nz-auto-option>
                        </ng-container>
                      </nz-autocomplete>
                  </div>
                  <div class="custom-select">
                      <label>Номер телефона</label>
                      <input
                        nz-input
                        placeholder=""
                        autocomplete="off"
                        formControlName="phone"
                        [nzAutocomplete]="guestPhoneAutocomplete"/>
                      <nz-autocomplete  #guestPhoneAutocomplete (selectionChange)="handleOptionClicking($event)">
                        <ng-container *ngIf="!isExistingGuestToChange && guestSuggestions?.length != null && guestSuggestions?.length > 0">
                          <nz-auto-option
                            *ngFor="let option of guestSuggestions"
                            [nzValue]="option"
                            [nzLabel]="option?.phone"
                          >
                            {{ option?.phone }}
                          </nz-auto-option>
                        </ng-container>
                      </nz-autocomplete>
                  </div>
                  <div class="custom-select">
                      <label>Страна</label>
                      <nz-select
                        nzPlaceHolder=""
                        [nzDisabled]="countriesList == null || countriesList?.length === 0"
                        formControlName="country_id"
                        [class.select-invalid]="guestForm.get('country_id')?.dirty
                                            && guestForm.get('country_id')?.value == null"
                      >
                        <nz-option
                          *ngFor="let country of countriesList"
                          [nzValue]="country?.id"
                          [nzLabel]="country?.name"
                          class="custom-select"
                        ></nz-option>
                      </nz-select>
                      <div
                        class="validation-message-container"
                        *ngIf="guestForm.get('country_id')?.dirty
                            && guestForm.get('country_id')?.value == null"
                      >
                        <p class="validation-message">Укажите страну!</p>
                      </div>
                  </div>
              </div>
              <div class="content extra-info">
                  <p class="extra-info-header" (click)="toggleExtraInfoPanel()">
                      <span>Дополнительная информация</span>
                      <span class="dropdown-icon">
                          <i *ngIf="!isExtraInfoPanelShown" nz-icon nzType="down" nzTheme="outline"></i>
                          <i *ngIf="isExtraInfoPanelShown" nz-icon nzType="up" nzTheme="outline"></i>
                      </span>
                  </p>
                  <nz-divider></nz-divider>
                  <article *ngIf="isExtraInfoPanelShown" class="extra-info-panel">
                      <div class="select-toolbar form-field-section">
                          <div class="custom-select">
                              <label>Дата рождения</label>
                              <nz-date-picker
                                nzFormat="dd.MM.yyyy"
                                nzPlaceHolder=""
                                formControlName="birthday"
                              ></nz-date-picker>
                          </div>
                          <div class="custom-select">
                              <label>Пол</label>
                              <nz-select
                                nzPlaceHolder="Пол"
                                formControlName="gender"
                              >
                                  <nz-option
                                    *ngFor="let gender of genderSelection"
                                    [nzValue]="gender?.value"
                                    [nzLabel]="gender?.label"
                                    class="custom-select"
                                  ></nz-option>
                              </nz-select>
                          </div>
                          <div class="custom-select">
                              <label>Номер налогоплательщика</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="inn"
                              />
                          </div>
                          <div class="custom-select">
                              <label>Название компании</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="company_name"
                              />
                          </div>
                          <div class="custom-select">
                              <label>Идент-ный номер компании</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="company_number"
                              />
                          </div>
                      </div>

                      <div class="select-toolbar form-field-section">
                          <div class="custom-select">
                            <!-- @FIXME: disable city 'cause api is not ready for it -->
                              <label>Город</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="city_id"
                                disabled
                              />
                          </div>
                          <div class="custom-select">
                              <label>Государство/Регион</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="region"
                              />
                          </div>
                          <div class="custom-select">
                              <label>Адрес 1</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="address"
                              />
                          </div>
                          <div class="custom-select">
                              <label>Адрес 2</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="address2"
                              />
                          </div>
                          <div class="custom-select">
                              <label>Почтовый индекс</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="zip_code"
                                pattern="[0-9]*"
                                digitOnly
                              />
                          </div>
                      </div>

                      <div class="select-toolbar form-field-section">
                          <div class="custom-select">
                              <label>Вид документа</label>
                              <nz-select
                                nzPlaceHolder=""
                                formControlName="document_type_id"
                                [nzDisable]="docTypes == null || docTypes?.length === 0"
                              >
                                <nz-option
                                  *ngFor="let doc of docTypes"
                                  [nzValue]="doc?.id"
                                  [nzLabel]="doc?.name"
                                  class="custom-select"
                                ></nz-option>
                              </nz-select>
                          </div>
                          <div class="custom-select">
                              <label>Номер документа</label>
                              <input
                                nz-input
                                placeholder=""
                                formControlName="document_number"
                              />
                          </div>
                          <div class="custom-select">
                            <label>Дата выдачи документа</label>
                            <nz-date-picker
                                nzFormat="dd.MM.yyyy"
                                nzPlaceHolder=""
                                formControlName="document_issued_at"
                            ></nz-date-picker>
                          </div>
                          <div class="custom-select">
                              <label>Страна выдачи документа</label>
                              <nz-select
                                nzPlaceHolder=""
                                formControlName="document_country_id"
                                [nzDisabled]="countriesList == null || countriesList?.length === 0"
                              >
                                <nz-option
                                  *ngFor="let country of countriesList"
                                  [nzValue]="country?.id"
                                  [nzLabel]="country?.name"
                                  class="custom-select"
                                ></nz-option>
                              </nz-select>
                          </div>
                          <div class="custom-select">
                            <label>Срок действия документа</label>
                            <nz-date-picker
                                nzFormat="dd.MM.yyyy"
                                nzPlaceHolder=""
                                formControlName="document_expired_at"
                            ></nz-date-picker>
                          </div>
                      </div>
                  </article>
              </div>
          </ng-container>
        </form>

        <ng-template #reviewMode>
            <div class="select-toolbar form-field-section">
                <div class="custom-select">
                    <label>Имя</label>
                    <p class="guest-form-param-value-review">
                      {{getValueWithFallback('first_name')}}
                    </p>
                </div>
                <div class="custom-select">
                    <label>Фамилия</label>
                    <p class="guest-form-param-value-review">
                      {{getValueWithFallback('last_name')}}
                    </p>
                </div>
                <div class="custom-select">
                    <label>E-mail</label>
                    <p class="guest-form-param-value-review">
                      {{getValueWithFallback('email')}}
                    </p>
                </div>
                <div class="custom-select">
                    <label>Номер телефона</label>
                    <p class="guest-form-param-value-review">
                      {{getValueWithFallback('phone')}}
                    </p>
                </div>
                <div class="custom-select">
                    <label>Страна</label>
                    <p class="guest-form-param-value-review">
                      {{getValueWithFallback('country_id')}}
                    </p>
                </div>
            </div>
            <div class="content extra-info">
                <p class="extra-info-header" (click)="toggleExtraInfoPanel()">
                    <span>Дополнительная информация</span>
                    <span class="dropdown-icon">
                        <i *ngIf="!isExtraInfoPanelShown" nz-icon nzType="down" nzTheme="outline"></i>
                        <i *ngIf="isExtraInfoPanelShown" nz-icon nzType="up" nzTheme="outline"></i>
                    </span>
                </p>
                <nz-divider></nz-divider>
                <article *ngIf="isExtraInfoPanelShown" class="extra-info-panel">
                    <div class="select-toolbar form-field-section">
                        <div class="custom-select">
                            <label>Дата рождения</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('birthday')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Пол</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('gender')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Номер налогоплательщика</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('inn')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Название компании</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('company_name')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Идент-ный номер компании</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('company_number')}}
                            </p>
                        </div>
                    </div>

                    <div class="select-toolbar form-field-section">
                        <div class="custom-select">
                            <label>Город</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('city_id')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Государство/Регион</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('region')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Адрес 1</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('address')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Адрес 2</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('address2')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Почтовый индекс</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('zip_code')}}
                            </p>
                        </div>
                    </div>

                    <div class="select-toolbar form-field-section">
                        <div class="custom-select">
                            <label>Вид документа</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('document_type_id')}}
                            </p>
                        </div>
                        <div class="custom-select">
                            <label>Номер документа</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('document_number')}}
                            </p>
                        </div>
                        <div class="custom-select">
                          <label>Дата выдачи документа</label>
                          <p class="guest-form-param-value-review">
                            {{getValueWithFallback('document_issued_at')}}
                          </p>
                        </div>
                        <div class="custom-select">
                            <label>Страна выдачи документа</label>
                            <p class="guest-form-param-value-review">
                              {{getValueWithFallback('document_country_id')}}
                            </p>
                        </div>
                        <div class="custom-select">
                          <label>Срок действия документа</label>
                          <p class="guest-form-param-value-review">
                            {{getValueWithFallback('document_expired_at')}}
                          </p>
                        </div>
                    </div>
                </article>
            </div>
        </ng-template>
      </div>
  </section>
</section>

<div *ngIf="isGuestDeleteModalVisible">
    <nz-modal
        [(nzVisible)]="isGuestDeleteModalVisible"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel()"
        class="confirm-delete-guest-modal"
    >
        <ng-template #modalTitle>
            <div class="confirm-delete-guest-modal-header-wrapper">
                <p class="confirm-delete-guest-modal-main-title">Удаление гостя</p>
            </div>
        </ng-template>
        <ng-template #modalContent>
            <p class="confirm-delete-guest-modal-main-title">Вы действительно хотите удалить информацию об этом госте?</p>
        </ng-template>
        <ng-template #modalFooter>
            <div class="confirm-delete-guest-modal-buttons-wrapper">
                <button
                class="cancel-btn"
                nz-button nzType="default"
                (click)="handleCancel()">
                Отмена
                </button>
                <button
                class="update-btn"
                nz-button nzType="primary"
                (click)="handleOk()">
                ОK
                </button>
            </div>
        </ng-template>
    </nz-modal>
</div>
