<app-base-modal [title]="title">
  <div class="reserv-actions">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <div class="reserv-actions__content">
        <aside class="reserv-actions__side">
          <div class="reserv-actions__date-range">
            <nz-form-item>
              <nz-form-label>С:</nz-form-label>
              <nz-form-control>
                <nz-date-picker
                  [nzDisabledDate]="disabledStartDate"
                  nzFormat="dd.MM.yyyy"
                  formControlName="checkin"
                  (nzOnOpenChange)="handleStartOpenChange($event)"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>До:</nz-form-label>
              <nz-form-control>
                <nz-date-picker
                  [nzDisabledDate]="disabledEndDate"
                  nzFormat="dd.MM.yyyy"
                  formControlName="checkout"
                  [nzOpen]="endOpen"
                  (nzOnOpenChange)="handleEndOpenChange($event)"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-item>
            <nz-form-label nzFor="roomType">
              Тип номера
<!--              <br> TODO: добавить логику - если модалка вызывается из календаря - определять выбранную комнату-->
            </nz-form-label>
            <nz-form-control>
              <nz-select
                id="room_id"
                formControlName="room_id"
                [nzMaxTagCount]="1"
                [nzDisabled] = "!rooms.length"
              >
                <nz-option *ngFor="let room of rooms" nzValue="{{room.id}}" nzLabel="{{room.name}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </aside>
        <aside class="reserv-actions__side">
          <nz-form-item>
            <nz-form-label nzFor="reason">Причина</nz-form-label>
            <nz-form-control>
              <textarea id="reason" nz-input rows="5" formControlName="reason"></textarea>
            </nz-form-control>
          </nz-form-item>
        </aside>
      </div>
      <div class="reserv-actions__actions">
        <a class="btn reserv-actions__action" nz-button (click)="close()">Отмена</a>
        <button class="reserv-actions__action" nz-button nzType="primary">Сохранить</button>
      </div>
    </form>
  </div>
</app-base-modal>
