.reserv-actions {
  &__content {
    display: flex;
    padding: 20px 20px 15px;
  }
  &__side {
    flex: 2;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  &__date-range {
    display: flex;
    align-items: center;

    nz-form-item:first-child {
      margin-right: 20px;
    }
  }

  textarea {
    height: 100%;
  }

  &__actions {        
    padding: 10px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__action:first-child {
    min-width: 110px;
    padding: 0;
    text-align: center;
    margin-right: 10px;
  }
}