.legend-drawer__header--custom{
  align-items: end!important;
  flex-direction: column;
  justify-content: center;
}
.badge-info-container__item--awaiting{
  margin-bottom: 5px;
}
.custom-tabs {
  .ant-tabs-nav-scroll {
    display: flex!important;
    justify-content: center!important;;
    background-color: #d9d9d9!important;;
  }
}

.list-custom{
  width: 100%!important;
  margin: 0!important;
}
.list-custom-ul{
  margin-top: 0!important;
}
