
<div class="legend-drawer__header--custom legend-drawer__header bottom-bordered">
  <p class="title-16">
    {{data.guest?.first_name}} {{data.guest?.last_name}}
  </p>
  <p>{{data.reservation_room_id}}</p>
  <p class="green">Подтверждено</p>
</div>

<div class="badge-info-container ml25 mr25 mt25">
  <div class="badge-info-container__item">
    <p class="title-16 m0">Регистрация</p>
    <p>{{data.checkin | date:'dd.MM.yyyy'}} - {{data.checkout | date:'dd.MM.yyyy'}}</p>
  </div>

  <div class="badge-info-container__item">
    <p class="title-16 m0">Гостей</p>
    <p>{{data.guestsCount}}</p>
  </div>

  <div class="badge-info-container__item">
    <p class="title-16 m0 badge-info-container__item--awaiting">Ожидаемое прибытие</p>
    <nz-select
      class="mb15"
      style="width: 100%;"
      nzShowSearch
      nzAllowClear>
      <nz-option nzLabel="Неизвестно" nzValue="Неизвестно"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select>
  </div>

  <div class="badge-info-container__item">
    <p class="title-16 m0">Общая сумма</p>
    <p>{{data.sum | currency}}</p>
  </div>

  <div *ngIf="data.booking.debt" class="badge-info-container__item">
    <p class="title-16 m0">Задолженность</p>
    <p class="red">{{data.debt | currency}}</p>
  </div>

  <div class="badge-info-container__item">
    <p class="title-16 m0">Booking.com ID</p>
    <p>{{data.reservation_room_id}}</p>
  </div>
</div>
<div class="custom-tabs">
  <nz-tabset>
    <nz-tab nzTitle="Брони">
      <div class="actions-list list-custom">
        <ul type="none" class="actions-list--custom actions-list--list list-custom-ul">
          <li>
            <p>Детали брони</p>
          </li>
          <li>
            <p>Отменить назначение комнаты</p>
          </li>
          <li>
            <p (click)="openQuickEdit()">Быстрое редактирование</p>
          </li>
        </ul>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Заметки ({{data.notes_count}})">
      TODO: Load notes from API
    </nz-tab>
  </nz-tabset>
</div>

