.drawer {
  margin-bottom: 100px;
}
.select {
  width: 224px;
  margin-right: 16px;
}
.price-input {
  border-radius: 4px 0 0 4px;
  height: 32px;
}
.numbers-input {
  margin-right: 10px;
  width: 88px;
}
.priceType {
  height: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  align-items: center;
  color: rgba(0, 0, 0, 0.65);
  padding: 4px 12px;
  padding-right: 26px;
  border-radius: 0 4px 4px 0;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  vertical-align: top;
}
.btns-block button {
  height: 32px;
  margin-right: 10px;
}
.datesView.valid {
  border: 1px solid red;
}
.min-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.65);
  margin-top:12px;
}
h3{
    margin-bottom: 23px;
}
.week-block{
    margin-top:17px;
}

