<nz-drawer [nzTitle]="'CHESS.EDITING_AS_LIST'| translate" [nzWidth]="600" [nzVisible]="isVisible"
           (nzOnClose)="closeCollapse()">
  <div nz-row>
    <p class="title-min">{{'CHESS.DATES'| translate}}</p>
    <nz-range-picker [nzDisabledDate]="disabledDate"
                     class="datesView"
                     #datesView
                     [nzFormat]="dateFormat"
                     [(ngModel)]="selectedDates"
                     (ngModelChange)="onDateChange()"></nz-range-picker>
  </div>
  <div nz-row class="week-block">
    <p class="title-min">{{'CHESS.WHICH_WEEK_DAYS'| translate}}</p>
    <div class="days-of-week">
      <div class="day-of-week">
        <label *ngFor="let d of daysOfWeek" nz-checkbox [(ngModel)]="d.val">
          {{d.name| translate}}
        </label>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row>
    <h3>{{mainValue.room.room_type.name}}</h3>
  </div>
  <div nz-row class="drawer">
    <nz-collapse nzAccordion>
      <nz-collapse-panel [nzHeader]="'CHESS.PRICES'| translate"
                         [nzActive]="!isActive"
                         [nzDisabled]="isActive"
                         [nzNoAnimation]="true">
        <p>{{'CHESS.PRICES_EDIT_DESC'| translate}}</p>
        <div nz-row>
          <div nz-col [nzSpan]="11">
            <nz-select class="select" [(ngModel)]="roomType"
                       [nzPlaceHolder]="'CREATE_ROOM_TYPE.CHOOSE_ROOM_TYPE'| translate">
              <nz-option *ngFor="let r of mainValue.room.rates" [nzValue]="r.id" [nzLabel]="r.name"></nz-option>
            </nz-select>
          </div>
          <div nz-col [nzSpan]="9" [nzOffset]="1">
            <input nz-input [placeholder]="'PRICE'| translate" appOnlyNumber="true" class="price-input"
                   [(ngModel)]="price"
                   [min]="0"/>
          </div>
          <div nz-col [nzSpan]="1">
            <span class="priceType">UZS</span>
          </div>
        </div>
        <p class="min-text">{{'CHESS.PRICES_EDIT_DESC2'| translate}}</p>
        <div class="btns-block">
          <button (click)="savePrice()" nz-button nzType="primary">{{'SAVE'| translate}}</button>
          <button (click)="closeCollapse()" nz-button nzType="default">{{'CANCEL'| translate}}</button>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</nz-drawer>
