<div nz-row class="form-container">
  <div nz-col nzSpan="16" nzOffset="4">

    <p class="form-title">{{'SIGN_PAGE.REGISTRATION'| translate}}</p>

    <nz-spin [nzSpinning]="isLoading">
      <form nz-form [formGroup]="registrationForm" class="login-form" (ngSubmit)="submitForm()">

        <nz-form-item>
          <nz-form-control>
            <nz-input-group
              [nzPrefix]="prefixUser">
              <input
                type="text"
                nz-input
                formControlName="first_name"
                placeholder="{{'SIGN_PAGE.NAME'| translate}}"/>
            </nz-input-group>
            <nz-form-explain
              *ngIf="registrationForm.get('first_name')?.dirty && registrationForm.get('first_name')?.errors">
              {{'SIGN_PAGE.ENTER_NAME'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group
              [nzPrefix]="prefixHome">
              <input
                type="text"
                nz-input
                formControlName="property_name"
                placeholder="{{'SIGN_PAGE.HOTEL_NAME'| translate}}" />
            </nz-input-group>
            <nz-form-explain
              *ngIf="registrationForm.get('property_name')?.dirty && registrationForm.get('property_name')?.errors">
              {{'SIGN_PAGE.ENTER_HOTEL_NAME'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group
              [nzPrefix]="prefixMail">
              <input
                type="email"
                nz-input
                formControlName="email"
                placeholder="{{'SIGN_PAGE.EMAIL'| translate}}" />
            </nz-input-group>
            <nz-form-explain
              *ngIf="registrationForm.get('email')?.dirty && registrationForm.get('email')?.errors">
              {{'SIGN_PAGE.ENTER_EMAIL'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control style="margin-bottom: 10px;">
            <nz-input-group
              [nzAddOnBefore]="addOnBeforeTemplate">
              <input
                type="tel"
                nz-input
                formControlName="phone"
                placeholder="{{'SIGN_PAGE.PHONE'| translate}}" />
            </nz-input-group>
            <ng-template #addOnBeforeTemplate>
              <div style="max-height: 100px">
                <nz-dropdown
                  [nzVisible]="false"
                  [nzTrigger]="'click'">
                  <a nz-dropdown style="color: black;">
                  <span
                    *ngIf="registrationForm.value.country !== null"
                    class="flag-icon flag-icon-{{lower(countries[0].code)}} flag-icon-squared">
                </span>
                    <span *ngIf="registrationForm.value.country !== null">
                  {{countries[0].dial_code}}
                </span>
                    <i *ngIf="registrationForm.value.country === null"
                       class="mr15"
                       nz-icon nzType="global"
                       nzTheme="outline"></i>
                    <i nz-icon nzType="down"></i>
                  </a>
                  <ul
                    nz-menu
                    class="country-list">
                    <li
                      (click)="selectCountry(country)"
                      *ngFor="let country of countries"
                      nz-menu-item>
                      <span class="flag-icon flag-icon-{{lower(country.code)}} flag-icon-squared"></span>
                      {{country.name}} {{country.dial_code}}
                    </li>
                  </ul>
                </nz-dropdown>

              </div>
            </ng-template>
            <nz-form-explain
              *ngIf="registrationForm.get('phone')?.dirty">
              {{'SIGN_PAGE.ENTER_PHONE'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group
              [nzSuffix]="suffixTemplate"
              [nzPrefix]="prefixLock">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                formControlName="password"
                placeholder="{{'SIGN_PAGE.PASS'| translate}}" />
            </nz-input-group>
            <nz-form-explain
              *ngIf="registrationForm.get('password')?.dirty && registrationForm.get('password')?.errors">
              {{'SIGN_PAGE.ENTER_PASS'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div nz-row>
              <div nz-col nzSpan="11">
                <a
                  nz-button
                  nzBlock
                  class="login-form-button"
                  [routerLink]="getLoginRoute()"
                  [nzType]="'default'">
                  {{'SIGN_PAGE.LOGIN'| translate}}
                </a>
              </div>
              <div nz-col nzSpan="11" nzOffset="2">
                <button
                  nz-button
                  nzBlock
                  [disabled]="registrationForm.invalid"
                  class="login-form-button"
                  [nzType]="'primary'">
                  {{'NEXT'| translate}}
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-spin>

    <ng-template #prefixUser><i nz-icon nzType="contacts"></i></ng-template>
    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
    <ng-template #prefixPhone><i nz-icon nzType="phone"></i></ng-template>
    <ng-template #prefixHome><i nz-icon nzType="home"></i></ng-template>
    <ng-template #prefixMail><i nz-icon nzType="mail"></i></ng-template>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
    </ng-template>
  </div>
</div>
