<div class="first-step">

  <form nz-form [formGroup]="validateForm">

    <div nz-row class="first-step__row-1">
      <app-rate-table
        [viewOnly]="false"
        [actions]="false"
        (tableDataEmitter)="setTableData($event)">
      </app-rate-table>
    </div>

    <div nz-row class="first-step__row-2">

      <nz-form-item>
        <nz-form-label class="title-14 bolded" nzFor="include_food">Вы хотите включить питание?</nz-form-label>
        <nz-form-control>
          <nz-input-group>

            <nz-radio-group
              (ngModelChange)="setFoodData()"
              formControlName="include_food"
              class="flex-column">
              <label nz-radio [nzValue]="false">Нет</label>
              <label nz-radio [nzValue]="true">Да</label>
            </nz-radio-group>
            <div *ngIf="validateForm.value.include_food"
                 class="flex-column column-select mt15">
              <label nz-checkbox formControlName="breakfast" (ngModelChange)="setFoodData()">
                <span>Завтрак</span>
              </label>
              <label nz-checkbox formControlName="lunch" (ngModelChange)="setFoodData()">
                <span>Обед</span>
              </label>
              <label nz-checkbox formControlName="dinner" (ngModelChange)="setFoodData()">
                <span>Ужин</span>
              </label>
              <label nz-checkbox formControlName="all" (click)="checkAllFood()">
                <span>Все включено</span>
              </label>
            </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </div>

  </form>
</div>
