.top-form__item--last-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.column-select{
  label{
    margin-left: 16px;
    height: 20px;
  }
}

.first-step__row-2 {
  margin-top: 15px;
}
