<section class="page-wrapper">
  <nz-tabset class="tab-container" (nzSelectedIndexChange)="hideCardInfo()">
    <nz-tab [nzTitle]="'RESERVATION.NUMBERS'| translate" class="tab-item">
      <app-reservation-details-rooms-tab [reservation]="reservation"></app-reservation-details-rooms-tab>
    </nz-tab>
    <nz-tab [nzTitle]="'RESERVATION.GUEST_DETAILS'| translate" class="tab-item">
      <app-reservation-details-guests-tab [reservation]="reservation"></app-reservation-details-guests-tab>
    </nz-tab>
    <nz-tab [nzTitle]="'RESERVATION.CREDITS_CARDS'| translate" class="tab-item">
      <app-reservation-details-credit-card-tab
        [creditCardHideStatus]="hideCardInfoOnTabSwitch"
        [reservation]="reservation"></app-reservation-details-credit-card-tab>
    </nz-tab>
    <nz-tab [nzTitle]="'RESERVATION.NOTES'| translate" class="tab-item">
      <app-reservation-details-note-tab [reservation]="reservation"></app-reservation-details-note-tab>
    </nz-tab>
    <nz-tab [nzTitle]="'RESERVATION.HISTORY'| translate" class="tab-item">
      <app-reservation-details-booking-history-tab [reservation]="reservation"></app-reservation-details-booking-history-tab>
    </nz-tab>
    <nz-tab [nzTitle]="'RESERVATION.CHAT'| translate" class="tab-item">
      <app-reservation-details-correspondence-tab [reservation]="reservation"></app-reservation-details-correspondence-tab>
    </nz-tab>
  </nz-tabset>
</section>
