p {
  margin: 0;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;

  .left-panel-wrapper {
    width: 207px;

    .filters-container {
      width: 100%;
      height: 283px;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      border-radius: 4px;

      .filters-header {
        background: #FAFAFA;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 47px;
        width: 100%;

        .filters-title {
          font-size: 14px;
          line-height: 22px;
          color: #000000;
        }
      }

      .filters-content {
        padding: 21px 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 47px);

        .filters-control-list {

          .filter-control {

            &.checkin {
              margin-bottom: 9px;
            }

            &.checkout {
              margin-bottom: 9px;
            }

            &.user-role {

              & ::ng-deep .ant-select-selection {

                &:hover {
                  color: #40a9ff;

                  .ant-select-arrow {
                    color: #40a9ff;
                  }
                }
              }
            }

          }
        }

        .filters-action-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .clear-filters {
            width: 89px;
            height: 32px;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: rgba(0, 0, 0, 0.65);
            padding: 0;
          }

          .apply-filters {
            width: 89px;
            height: 32px;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            padding: 0;
          }
        }
      }
    }
  }

  .main-content {
    width: calc(100% - 228px);

    .user-list-table {

      .table-header {

        & > th {
          background: white;
          font-size: 14px;
          line-height: 21px;
          color: #000000;
          font-weight: 600;
        }
      }

      tr {

        td {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.65);

          &.date-wrapper {
            width: 230px;

            @media (max-width: 1300px) {
              width: 190px;
            }
          }

          .toggle-button {
            width: 15px;
            height: 16px;
            background: #1890FF;
            border-radius: 2px;
            font-size: 11px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            i {
              color: white;
            }
          }

          .changes--wrapper {
            width: 315px;

            @media (max-width: 1300px) {
              width: 230px;
            }

            .changes-details {
              color: rgba(0, 0, 0, 0.45);
              max-width: 315px;
              word-wrap: normal;
            }
          }
        }
      }
    }
  }
}
