<section class="page-wrapper">
  <div *ngIf="false else noAny">
    <div class="left-panel-wrapper">
      <article class="filters-container">
        <div class="filters-header">
          <p class="filters-title">Фильтр</p>
        </div>
        <form nz-form [formGroup]="userFilterForm" class="filters-content" (ngSubmit)="applyFilters()">
          <div class="filters-control-list">
            <div class="filter-control checkin">
              <!-- <nz-date-picker
                nzPlaceHolder="С:"
                nzFormat="dd.MM.yyyy"
                [nzDisabledDate]="disabledCheckinDate"
                formControlName="checkin"
              ></nz-date-picker> -->
              <nz-date-picker
                nzPlaceHolder="С:"
                nzFormat="dd.MM.yyyy"
                formControlName="checkin"
              ></nz-date-picker>
            </div>
            <div class="filter-control checkout">
              <nz-date-picker
                nzPlaceHolder="По:"
                nzFormat="dd.MM.yyyy"
                [nzDisabledDate]="disabledCheckoutDate"
                formControlName="checkout"
              ></nz-date-picker>
            </div>
            <div class="filter-control user-role">
              <nz-select nzPlaceHolder="" formControlName="userRole">
                <nz-option *ngFor="let role of userRoles" nzValue="{{role.value}}" nzLabel="{{role.label}}"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="filters-action-container">
            <button nz-button nzType="secondary" class="clear-filters" (click)="clearFilters()">Очистить</button>
            <button nz-button nzType="primary" class="apply-filters" type="submit">Применить</button>
          </div>
        </form>
      </article>
    </div>
    <section class="main-content">

      <nz-table #basicTable [nzData]="mockedUserList" class="user-list-table">
        <thead>
        <tr class="table-header">
          <th></th>
          <th>Дата и время</th>
          <th>Пользователь</th>
          <th>E-mail пользователя</th>
          <th>Изменения</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let data of basicTable.data; let i = index">
          <tr>
            <td>
              <p class="toggle-button" (click)="showChangeDetails(i)">
                <ng-container *ngIf="!areDetailsVisible(i)">
                  <i nz-icon nzType="plus" nzTheme="outline"></i>
                </ng-container>
                <ng-container *ngIf="areDetailsVisible(i)">
                  <i nz-icon nzType="minus" nzTheme="outline"></i>
                </ng-container>
              </p>
            </td>
            <td class="date-wrapper">
              <p class="date">{{data.date}}</p>
            </td>
            <td>
              <p class="user">{{data.user}}</p>
            </td>
            <td>
              <p class="email">{{data.email}}</p>
            </td>
            <td>
              <div class="changes--wrapper">
                <p class="changes">{{data.changes}}</p>
                <ng-container *ngIf="areDetailsVisible(i)">
                  <p class="changes-details">{{data.changeDetails}}</p>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </section>
  </div>
</section>


<ng-template #noAny>
  <app-empty></app-empty>
</ng-template>
