<app-view-container>
  <nz-spin [nzSize]="'large'" [nzSpinning]="isLoading" nzTip="Loading calendar data..."
           style="min-height: 100vh; max-height: 100%">

    <div *ngIf="!isLoading">
      <div (mouseup)="tableUnPressHandler($event)" class="calendar" nz-row>
        <div class="calendar__sidebar" nz-col nzSpan="4">
          <app-calendar-sidebar [data]="calendarData"></app-calendar-sidebar>
        </div>
        <div class="calendar__table" nz-col nzSpan="20">
          <app-calendar-table #calendarTable [data]="calendarData"></app-calendar-table>
        </div>
      </div>
    </div>

  </nz-spin>
</app-view-container>
