.calendar {
  display: flex;

  &__sidebar {
    width: 280px;
  }

  &__table {
    flex: 1;
    overflow: auto;
  }
}

.cell {
  width: 90px;
}

.room-type__rooms__room--collapsed {
  visibility: hidden;
  height: 0;
}

.today {
  background-color: #E6F7FF;
}
.selected-cell {
  background-color: #FFFDC1;
  box-sizing: border-box;
}

.today > .selected-cell,
.today.selected-cell,
.today.header--selected
{
  background-color: #BDFFBC;
}

.selected-cell--reserved {
  background: #ffb385;
  box-sizing: border-box;
}

.selected-cell--preselected {
  border: 1px dashed #1890FF;
}

.selected-cell--init {
  border-left: 1px solid #1890FF;
  border-top: 1px solid #1890FF;
  border-bottom: 1px solid #1890FF;
}

.selected-cell--between {
  border-top: 1px solid #1890FF;
  border-bottom: 1px solid #1890FF;
}

.selected-cell--end {
  border-right: 1px solid #1890FF;
  border-top: 1px solid #1890FF;
  border-bottom: 1px solid #1890FF;
}

.bordered, .bordered:before, .bordered:after {
  //border: 1px solid #D9D9D9;

  -webkit-box-shadow: inset -1px -1px 0px 0px #D9D9D9;
  -moz-box-shadow: inset -1px -1px 0px 0px #D9D9D9;
  box-shadow: inset -1px -1px 0px 0px #D9D9D9;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bottom-bordered {
  box-shadow: inset 0px -1px 0px 0px #D9D9D9;
}

.top-bordered {
  -webkit-box-shadow: inset 0px 0px 0px 1px #D9D9D9;
  -moz-box-shadow: inset 0px 0px 0px 1px #D9D9D9;
  box-shadow: inset 0px 0px 0px 1px #D9D9D9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menu-actions {
  &--bordered {
    .menu-actions__list {
      // margin: 0 16px !important;
      padding: 11px 0 !important;
      border: 1px solid #1890ff;
      border-radius: 3px;
    }

    .menu-actions__item {
      padding: 5px 20px !important;
    }
  }

  &--custom {
    .menu-actions__list {
      margin: 0;
      padding: 7px 0;
    }

    .menu-actions__item {
      color: #1890ff;
      padding: 5px 15px;
      width: 100%;
    }

    .menu-actions__title {
      margin: 0;
      margin-left: 10px;
      color: #666;
      padding: 0;
    }
  }

  &__list {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }

  &__title {
    margin: 0;
  }

  &__item {
    cursor: pointer;
    display: -webkit-box;
    transition: ease-in-out 300ms;

    &:hover {
      background: #E6F7FF;
    }

    i {
      color: #1890FF;
    }
  }
}
