<section class="tab-container">
  <div class="main-container">
    <form nz-form [formGroup]="updateEmailForm" class="login-form" (ngSubmit)="submitForm()">

      <nz-form-item class="custom-form-item current-pass">
        <nz-form-control>
          <nz-input-group
            class="custom-form-control"
            nzPrefixIcon="mail">
            <input
              type="email"
              class="custom-form-input"
              nz-input
              formControlName="email"
              placeholder="Новый E-mail"
              (input)="onEmailInputHandler($event)"
            />
          </nz-input-group>
          <nz-form-explain
            *ngIf="updateEmailForm.get('email')?.dirty && updateEmailForm.get('email')?.hasError('required')">
            Введите новый E-mail!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="updateEmailForm.get('email')?.dirty && updateEmailForm.get('email')?.hasError('pattern')">
            Неправильный формат E-mail!
          </nz-form-explain>
          <nz-form-explain
            class="server-error"
            *ngIf="isGeneralServerError && !updateEmailForm.get('email')?.errors">
            {{serverError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="custom-form-item">
        <nz-form-control class="submit-button-wrapper">
          <div nz-row>
            <div nz-col nzSpan="11">
              <button class="update-profile-data-btn" nz-button nzType="primary" [disabled]="!onSubmited()" type="submit">
                Отправить запрос на изменение
              </button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

    </form>

    <nz-modal
      [(nzVisible)]="isEditModalVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="closeEditModal()"
      class="edit-email-modal"
    >
      <ng-template #modalTitle>
        <div class="edit-modal-header-wrapper">
          <p class="edit-modal-main-title">Подтвердите изменение E-mail</p>
        </div>
      </ng-template>
      <ng-template #modalContent>
        <div class="edit-modal-param-container">
          <form nz-form [formGroup]="passwordConfirmForm"  (ngSubmit)="submitConfirmForm()">
            <nz-form-item class="custom-form-item margin-bottom">
              <nz-form-control>
                <nz-input-group
                  class="custom-form-control"
                  nzPrefixIcon="lock">
                  <input
                    type="password"
                    class="custom-form-input"
                    nz-input
                    formControlName="password"
                    placeholder="Пароль"
                    (input)="onPasswordInputHandler($event)" />
                </nz-input-group>
                <nz-form-explain
                  *ngIf="passwordConfirmForm.get('password')?.dirty && passwordConfirmForm.get('password')?.hasError('required')">
                  Введите пароль!
                </nz-form-explain>
                <nz-form-explain
                  *ngIf="passwordConfirmForm.get('password')?.dirty && passwordConfirmForm.get('password')?.hasError('match')">
                  Текущий пароль введен неправильно!
                </nz-form-explain>
                <nz-form-explain
                  class="server-error"
                  *ngIf="isPasswordConfirmModalError && !passwordConfirmForm.get('password')?.errors">
                  {{serverError}}
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </ng-template>
      <ng-template #modalFooter>
        <div class="edit-modal-buttons-wrapper">
          <button
            class="cancel-btn"
            nz-button nzType="default"
            (click)="handleEditModelCancel()">
            Отмена
          </button>
          <button
            class="update-btn"
            nz-button nzType="primary"
            (click)="handleEditModelOk()"
            [disabled]="!onConfirmSubmited()"
            type="submit">
            Подтвердить
          </button>
        </div>
      </ng-template>
    </nz-modal>
  </div>
</section>