p {
  margin: 0;
}

// hide automatically-added semicolon
nz-form-label {
  & ::ng-deep label {
    &::after {
      display: none;
    }
  }
}

.tab-container {
  padding: 18px 92px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1500px) {
    padding: 18px 50px;
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .custom-form-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 22px;

      &.margin-bottom {
        margin-bottom: 76px;
      }
      
      .submit-button-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .update-profile-data-btn {
          height: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }

      .custom-form-control {

        .custom-form-input {
          width: 434px;
          color: #000000;
        }
      }
    }
  }
}

.server-error {
  color: #f5222d;
}