<div class="row" nz-row>
  <div class="col" nz-col nzSpan="6">
    <h3 class="full-name">{{model.firstName}} {{model.lastName}}</h3>
    <p class="room-type">{{model.roomTypeShortName}}</p>
    <a class="id-number" (click)="getReservationDetailRoute(model)">{{model.reservationId}}<span *ngIf="model.order && model.order > 1">-{{model.order}}</span></a>
  </div>
  <div class="col" nz-col nzSpan="2">
    <p class="sub-title">{{'DASHBOARD.BOOK_ITEM.GUESTS'| translate}}</p>
    <p class="sub-value">{{model.adults + model.children}}</p>
  </div>
  <div class="col" nz-col nzSpan="2">
    <p class="sub-title">{{'DASHBOARD.BOOK_ITEM.NIGHTS'| translate}}</p>
    <i>
      <svg width="13" height="12" viewBox="0 0 13 12" fill="none">
        <path opacity="0.65" fill-rule="evenodd" clip-rule="evenodd"
              d="M12.2607 7.84762C11.4222 8.25862 10.4792 8.48936 9.48238 8.48936C5.99128 8.48936 3.16118 5.65927 3.16118 2.16817C3.16118 1.40647 3.29591 0.676237 3.54282 0C1.44463 1.02837 0 3.1852 0 5.67945C0 9.17055 2.8301 12.0006 6.3212 12.0006C9.0506 12.0006 11.376 10.2708 12.2607 7.84762Z"
              fill="#BFBFBF"/>
      </svg>

    </i>
    <p class="sub-value">{{model.nights}}</p>
  </div>
  <div class="col" nz-col nzSpan="2">
    <p class="sub-title">{{'DASHBOARD.BOOK_ITEM.CHECK_IN_DATE'| translate}}</p>
    <p class="sub-value">{{model.checkin | date: 'dd.MM.yy'}}</p>
  </div>
  <div class="col" nz-col nzSpan="2">
    <p class="sub-title">{{'DASHBOARD.BOOK_ITEM.CHECK_OUT_DATE'| translate}}</p>
    <p class="sub-value">{{model.checkout | date: 'dd.MM.yy'}}</p>
  </div>
  <div class="col" nz-col nzSpan="2">
    <p class="sub-title">{{'DASHBOARD.BOOK_ITEM.ROOM_NUM'| translate}}</p>
    <p class="sub-value" *ngIf="model.room">{{model.room.name}}</p>
    <p *ngIf="!model.room">
      <span nz-tooltip [nzTooltipTitle]="'DASHBOARD.NO_ROOM_NUM'| translate">
        <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
      </span>
    </p>
  </div>
  <div class="col" nz-col nzSpan="2">
    <p class="sub-title">{{'DASHBOARD.BOOK_ITEM.STATUS'| translate}}</p>
    <p [className]="'status-label' + ' ' + model.status"><span>{{getStatusTheme(model.status)| translate}}</span></p>
  </div>
  <div class="col overall-col" nz-col nzSpan="4">
    <p class="sub-title">{{'DASHBOARD.BOOK_ITEM.OVERALL'| translate}}</p>
    <p class="sub-value">{{model.currency}} {{model.sum | thousandFormatPrice}}</p>
  </div>
  <div class="col" nz-col nzSpan="2">
    <nz-badge [nzCount]="model.notesCount" [nzStyle]="{backgroundColor: '#1890FF'}">
      <button class="transparent-btn"
              (click)="onNotesClicked(model)"
              nz-button nzType="default">
        {{'DASHBOARD.BOOK_ITEM.NOTES'| translate}}
      </button>
    </nz-badge>
    <button nz-button
            nzType="primary"
            [disabled]="model.actionBtnDisabled"
            *ngIf="actionBtnTitle !== null"
            (click)="onActionClicked(model)">{{actionBtnTitle| translate}}</button>
  </div>
</div>

<ng-template>

</ng-template>
