.base-modal {
  border: 3px solid #1890FF;
  border-radius: 4px;

  &--confirmed {
    border-color:  #1890FF;

    .base-modal__header {
      background-color:  #1890FF;
    }
  }

  &--success {
    border-color:  #67B36F;

    .base-modal__header {
      background-color:  #67B36F;
    }
  }

  &--cancel {
    border-color:  #979797;

    .base-modal__header {
      background-color:  #979797;
    }
  }

  &--warning {
    border-color:  #F9535C;

    .base-modal__header {
      background-color:  rgba(249, 83, 92, 0.3);
    } 
    .base-modal__title {
      font-weight: 600;
    }
    .base-modal__title, .base-modal__subtitle {
      color: #F5222D;
    }
  }

  &__header {
    background: #1890FF;
    padding: 20px 20px 15px;
  }

  &__title,
  &__subtitle {
    margin-bottom: 0;
    color: #ffffff;
  }

  &__subtitle {
    margin-top: 5px;
  }
}