<div [ngClass]="['base-modal', 'base-modal--' + type]">
  <header class="base-modal__header">
    <p class="base-modal__title">{{ title }}</p>
    <p class="base-modal__subtitle">{{ subtitle }}</p>
  </header>
  <ng-content></ng-content>
</div>
