nz-alert {
  margin-right: 5px;
  margin-left: 5px;
}

.cards-container {
  height: 70vh;
  overflow: auto;

  .check-box-label {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-width: 1.02px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 0;
    padding: 10px;
  }

  .check-box-label-title {
    font-weight: bold;
  }

  .button-container {
    padding: 10px 5px;
  }

  nz-card {
    margin: 10px 5px;

    &:hover {
      border-color: #40a9ff;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.6);
    }

    .inner-title {
      margin-bottom: 0;
    }

    nz-divider {
      margin: 10px 0;
    }

    nz-select {
      width: 100%;
    }
  }
}
