<nz-spin [nzSpinning]="isLoading">
  <h3 class="card-title">{{'HOTEL_FORM.HOTEL_SERVICES'| translate}}</h3>

  <nz-alert
    nzType="info"
    [nzDescription]="'SERVICES.SERVICES_ALERT'| translate"
    nzShowIcon>
  </nz-alert>

  <div class="cards-container" #cardContainer>

    <nz-card>

      <div nz-row>
        <p class="inner-title">
          {{'SERVICES.PERSONAL_LANG'| translate}}
        </p>
        <nz-divider></nz-divider>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-control [nzValidateStatus]="langError" [nzErrorTip]="'SERVICES.CHOOSE_LANG_ERROR'| translate">
              <nz-form-label>{{'SERVICES.CHOOSE_LANG_IN_LIST'| translate}}</nz-form-label>
              <nz-input-group>
                <nz-select nzMode="tags" [(ngModel)]="hotel.languages" (ngModelChange)="resetLangError()"
                           [nzPlaceHolder]="'SERVICES.CHOOSE_LANG'| translate">
                  <nz-option *ngFor="let option of languages" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </nz-card>

    <nz-card *ngFor="let group of serviceGroups; let i = index">

      <div nz-row>
        <p class="inner-title">
          {{group.name}}
        </p>
        <nz-divider></nz-divider>
        <div nz-row nzType="flex" nzJustify="space-between">
          <div nz-col [nzSpan]="11" class="check-box-label" *ngFor="let service of group.services">
            <span class="check-box-label-title">{{service.name}}</span>
            <nz-switch [(ngModel)]="service.checked"></nz-switch>
          </div>
        </div>
      </div>

    </nz-card>

    <div nz-col [nzSpan]="12" class="button-container">
      <button
        nz-button
        nzBlock
        class="login-form-button"
        (click)="onBack()"
        [nzType]="'default'">
        {{'BACK'| translate}}
      </button>
    </div>

    <div nz-col [nzSpan]="12" class="button-container">
      <button
        nz-button
        nzBlock
        class="login-form-button"
        (click)="submit()"
        [nzType]="'primary'">
        {{'NEXT'| translate}}
      </button>
    </div>

  </div>

</nz-spin>
