.parent-shell {
  height: 100%;
  padding: 10px 29px 29px 29px;

  .header-shell {
    height: 100px;

    .mexLoaded{
      text-align: end;
    }

    .filter-shell {
      margin-top: 40px;

      .filter-btn {
        height: 32px;
        width: 65px;
        border-radius: 4px !important;

        &:first-child {
          width: 32px;
          margin-right: 5px;
        }

        &:last-child {
          width: 32px;
          margin-left: 5px;
        }
      }
    }

    .header-title {
      margin-top: 30px;
      margin-bottom: 0;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #8C8C8C;
    }

    .header-value {
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #262626;
    }

    .dot {
      height: 6px;
      width: 6px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      margin-top: 50px;
    }

    .dot-red {
      background-color: #F5222D;
    }

    .dot-green {
      background-color: #52C41A;
    }
  }

  .chart-shell {
    height: fit-content;
    padding: 25px 15px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;

    apx-chart {
      margin: 0 auto !important;
    }

  }
}
