<div class="parent-shell">
  <nz-spin [nzSpinning]="forecastService.isLoading">
    <div nz-row class="header-shell">
      <div nz-col nzSpan="6">
        <nz-button-group class="filter-shell">
          <button class="filter-btn" [nzLoading]="forecastService.isPrevLoading" nz-button nzType="default"
                  nzSize="small" (click)="onDateChange(false)">
            <i nz-icon nzType="left" nzTheme="outline"></i>
          </button>
          <button class="filter-btn" nz-button nzType="default"
                  nzSize="small">{{FILTER_DAYS_COUNT}} {{'DAYS.TITLE'| translate}}</button>
          <button class="filter-btn" [nzLoading]="forecastService.isNextLoading" nz-button nzType="default"
                  nzSize="small" (click)="onDateChange(true)">
            <i nz-icon nzType="right" nzTheme="outline"></i>
          </button>
        </nz-button-group>
      </div>
      <div nz-col nzSpan="4">
        <p class="header-title">{{'LOADING'| translate}}</p>
        <p class="header-value">{{(forecastService.$headerValues| async).loaded}}%</p>
      </div>
      <div nz-col nzSpan="6">
        <p class="header-title">{{'PROFIT'| translate}}</p>
        <p
          class="header-value">{{(forecastService.$headerValues| async).profit | thousandFormatPrice}} {{(forecastService.$headerValues| async).currency}}</p>
      </div>
      <div nz-col nzSpan="3">
      </div>
      <div nz-col nzSpan="5" class="mexLoaded">
        <label class="dot-green dot"></label>
        <label class="header-title">{{'MAX_LOADED'| translate}}</label>
      </div>
    </div>
    <div class="chart-shell">
      <apx-chart
        [series]="(forecastService.$forecastAreaChart| async).series"
        [labels]="(forecastService.$forecastAreaChart| async).dates"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [stroke]="chartOptions.stroke"
        [dataLabels]="chartOptions.dataLabels"
        [colors]="chartOptions.colors"
        [markers]="chartOptions.markers"
      ></apx-chart>
    </div>
  </nz-spin>
</div>
