<div class="toolbar">
  <h2>{{'DASHBOARD.REVIEW.RECENTLY_REVIEWS'| translate}}</h2>
  <div class="toolbar-actions">
    <button class="transparent-btn" nz-button nzGhost nzType="primary">
      {{'DASHBOARD.REVIEW.VIEW_ALL_REVIEWS'| translate}}
    </button>
  </div>
</div>

<div nz-row nzGutter="16" nzType="flex" nzJustify="left">
  <div class="parent-container">
    <app-empty [msg]="'DASHBOARD.REVIEW.NO_ANY_REVIEWS'"></app-empty>
  </div>
</div>
