.empty-non-cell {
  background: #FFF1F0;
  border-color: #FFA39E;
  color: #F5222D;
}

.empty-free-cell {
  background: #F6FFED;
  border-color: #B7EB8F;
  color: #52C41A;
}

.value-cell {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  margin: 4px auto 0 auto;
  border: 1px solid;

  p {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }
}
