.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 0;
  }

  .toolbar-actions {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.parent-container {
  width: 100%;
  max-height: 330px;
  min-height: 292px;
  height: auto;
  border-radius: 4px;
  padding: 25px;
  background: white;
  margin-bottom: 16px;
}
