<div class="toolbar">
  <h2>{{'DASHBOARD.MSG.UNANSWERED_MSG'| translate}}</h2>
  <div class="toolbar-actions">
    <button class="transparent-btn" nz-button nzGhost nzType="primary">
      {{'DASHBOARD.MSG.VIEW_ALL_MSG'| translate}}
    </button>
  </div>
</div>

<div nz-row nzGutter="16" nzType="flex" nzJustify="left">
  <div class="parent-container">
    <app-empty [msg]="'DASHBOARD.MSG.NO_ANY_MSG'"></app-empty>
  </div>
</div>
