.reservation-split {
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  &__dates {
    background: #E6F7FF;
    padding: 8px 20px 7px;
  }

  &__months,
  &__days,
  &__prices {
    display: flex;
    align-items: center;
  }

  &__month:not(:first-child),
  &__day:not(:first-child) {
    margin-left: 10px;
  }

  &__price-box:not(:first-child) {
    margin-left: 10px;
  }

  &__month-title {
    color: #1890FF;
    margin-bottom: 5px;
  }

  &__days {
    list-style: none;
    padding: 0;
  }

  &__day {
    width: 93px;
    text-align: center;
  }

  &__prices {
    padding: 12px 20px 38px;
  }
}

.header {
  background: #fafafa;
  padding: 10px 20px 12px;

  nz-select {
    width: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col:nth-child(1) {
    width: 229px;
  }

  &__col:nth-child(2) {
    width: 92px;
  }

  &__col:nth-child(3) {
    width: 207px;
  }

  &__col:nth-child(4) {
    width: 114px;
  }
}

.price-box {
  width: 93px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: border-box;

  &__top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px 4px 9px;
  }

  &__count {
    margin-bottom: 0;
    color: #1890FF;
  }

  &__price {
    margin-bottom: 0;
    text-align: center;
    padding: 4px 0;
    color: #000000;
  }

  &--disabled {
    .price-box__count i {
      color: #F5222D;
    }

    .price-box__price {
      opacity: 0.45;
    }
  }
}

.group-input-price{
  display: flex;
  justify-content: space-between;
}

.input-price {
  width: 100px;
}

.block-button{
  padding-top: 100px;
  text-align: center;
}
