<div class="reservation-split">
  <div class="reservation-split__dates">
    <div class="reservation-split__months">
      <div class="reservation-split__month">
        <p class="reservation-split__month-title">{{period.checkin | date: 'MMMM y'}} - {{period.checkout | date: 'MMMM y'}}</p>
        <ul class="reservation-split__days">
          <li class="reservation-split__day" *ngFor="let date of datesSpan">
            {{ date.date.format("dd D") }}
          </li>
        </ul>
      </div>
    </div>
    <div class="reservation-split__prices" *ngIf="!period.isReservation">
      <div
        [ngClass]="{
        'reservation-split__price-box': true,
        'price-box': true,
        'price-box--disabled': date.status === 'unavailable'
      }"
        *ngFor="let date of datesSpan"
      >
        <div
          class="price-box__top"
          *ngIf="date.status !== 'unavailable'; else unavailable"
        >
          <p class="price-box__count">
            4
          </p>
          <label nz-checkbox ngDefaultControl nzChecked="status==='self'"></label>
        </div>
        <ng-template #unavailable>
          <div class="price-box__top">
            <p class="price-box__count">
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>
            </p>
            <label nz-checkbox ngDefaultControl nzDisabled></label>
          </div>
        </ng-template>
        <div class="price-box__bottom">
          <p class="price-box__price">{{ date.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="group-input-price" *ngIf="period.isReservation">
    <div *ngFor="let data of datesSpan">
      <input [(ngModel)]="data.price" nz-input class="input-price" />
    </div>
  </div>

  <div class="block-button" *ngIf="period.isReservation">
    <button nz-button nzType="primary">Сохранить</button>
  </div>
</div>
