<app-view-container>
  <h2 class="sources">Reservation Import Options</h2>
  <div class="content">
    <app-reservation-list
      *ngIf="!isEditable"
      (sendIsEditable)="getMessage($event)"
      (sendDataToEdit)="getData($event)"
    ></app-reservation-list>
    <app-reservation-list-editable
      *ngIf="isEditable"
      (addNewReservation)="getMessage($event)"
      [data]="data"></app-reservation-list-editable>
  </div>
</app-view-container>
