.sub-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

::ng-deep .ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}

::ng-deep .ant-table-thead > tr > th {
  background: #FAFAFA !important;
  font-weight: 900 !important;
}

::ng-deep .ant-pagination {
  display: block;
}
