<p class="sub-title">{{'STATISTIC.SOLD_NIGHTS_COUNT'| translate}}</p>
<div nz-row>
  <nz-table #table
            [nzData]="tableData"
            [nzShowPagination]="totalRows > rowsInOnePage"
            [nzPageSize]="rowsInOnePage"
            [nzShowTotal]="rangeTemplate"
            [nzPageIndex]="currentPageInx"
            [nzSize]="'small'"
            (nzPageIndexChange)="onSwitchPage($event)">
    <thead>
    <tr>
      <th>{{'STATISTIC.DATE'| translate}}</th>
      <th>{{'STATISTIC.BUSY_ROOMS'| translate}}</th>
      <th>{{'STATISTIC.RESERVED'| translate}}</th>
      <th>{{'STATISTIC.PROFIT'| translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{data.startDate| date :'dd/MM'}}
        <span *ngIf="data.endDate !== null"> - {{data.endDate| date :'dd/MM'}}</span>
      </td>
      <td>{{data.percent}}%</td>
      <td>{{data.reserved}}</td>
      <td>{{data.currency}} {{data.profit| formatPrice}}</td>
    </tr>
    </tbody>
  </nz-table>
  <ng-template #rangeTemplate let-range="showedRows" let-total="totalRows">
    {{showedRows[0]}} - {{showedRows[1]}} {{'STATISTIC.OF'| translate}} {{ totalRows }} {{'STATISTIC.ROWS'| translate}}
  </ng-template>
</div>
