<app-view-container>
  <app-view-inner-content name="Базовая цена Tour Agent">
    <nz-spin [nzSpinning]="createIsProcess" class="nz-spin-global">

      <div>

        <nz-steps nzDirection="vertical" nzSize="small">
          <nz-step
            [nzStatus]="validateForm.value.start_date !== null ? 'process' :
        validateForm.get('start_date')?.dirty && validateForm.get('start_date')?.errors ? 'wait' : 'wait'"
            [nzTitle]="t1"
            [nzDescription]="p1">
            <ng-template #t1>
              <span class="title-span">Даты</span>
            </ng-template>
            <ng-template #p1>
              <nz-form-item>
                <nz-form-control>

                  <nz-date-picker
                    [ngClass]="{'invalid': !startValue}"
                    (ngModelChange)="onStartDateChange($event)"
                    nzFormat="yyyy-MM-dd"
                    [(ngModel)]="startValue"
                    nzPlaceHolder="Start"
                    [nzMode]="'month'"
                    [nzDisabled]="basePriceData && basePriceData.basic_price === 1"
                  ></nz-date-picker>
                  <nz-date-picker
                    [ngClass]="{'invalid': !endValue}"
                    (ngModelChange)="onEndDateChange($event)"
                    #endDatePicker
                    nzFormat="yyyy-MM-dd"
                    [(ngModel)]="endValue"
                    nzPlaceHolder="End"
                    [nzMode]="'month'"
                    [nzDisabledDate]="disabledDate"
                    [nzDisabled]="basePriceData && basePriceData.basic_price === 1"
                  ></nz-date-picker>

                </nz-form-control>
              </nz-form-item>
            </ng-template>
          </nz-step>

          <nz-step
            [nzStatus]="validateForm.value.table_data !== null ? 'process' :
        validateForm.get('table_data')?.dirty && validateForm.get('table_data')?.errors ? 'wait' : 'wait'"
            [nzTitle]="t2"
            [nzDescription]="p2">
            <ng-template #t2>
              <span class="title-span">Какие категории номеров можно будет забронировать по этому тарифному плану?</span>
            </ng-template>
            <ng-template #p2>
              <nz-form-item>
                <nz-form-control>
                  <nz-radio-group style="width: 100%;">

                    <ng-container *ngFor="let control of validateForm.get('room_types')['controls']; let i = index">

                      <div>
                        <label
                          [formControl]="control"
                          nz-checkbox
                          (ngModelChange)="changeDoubleRoom($event, i)">
                          {{ roomTypes[i].name }}
                        </label>

                        <app-week-price-table *ngIf="control.value" [roomType]="roomTypes[i]" (changedData)="setChangedData($event, i)" [daysForRooms]="daysForRooms"></app-week-price-table>
                      </div>

                    </ng-container>
                    <!--                  <label-->
                    <!--                    formControlName="separated_double_room"-->
                    <!--                    nz-checkbox-->
                    <!--                    (change)="changeDoubleRoom($event)">-->
                    <!--                    Двухместный номер с 2 отдельными кроватями-->
                    <!--                  </label>-->

                    <!--                  <app-week-price-table *ngIf="validateForm.controls['separated_double_room'].value" [tableData]="tableDataDoubleRoom"></app-week-price-table>-->

                    <!--                  <div style="display: flex; flex-direction: column;">-->
                    <!--                    <label-->
                    <!--                      formControlName="separated_shared_room"-->
                    <!--                      nz-checkbox-->
                    <!--                      (change)="changeSharedRoom($event)">-->
                    <!--                      Кровать в общем номере с 4 кроватями-->
                    <!--                    </label>-->
                    <!--                    <app-week-price-table *ngIf="validateForm.controls['separated_shared_room'].value" [tableData]="tableDataSharedRoom"></app-week-price-table>-->

                    <!--                    <label style="margin: 0"-->
                    <!--                           formControlName="separated_triple_room"-->
                    <!--                           nz-checkbox-->
                    <!--                           (change)="changeTripleRoom($event)">-->
                    <!--                      Трехместный номер-->
                    <!--                    </label>-->
                    <!--                    <app-week-price-table *ngIf="validateForm.controls['separated_triple_room'].value" [tableData]="tableDataTripleRoom"></app-week-price-table>-->
                    <!--                  </div>-->

                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </ng-template>
          </nz-step>

            <nz-step
              [nzStatus]="validateForm.value.min_stay_day !== null ? 'process' :
          validateForm.get('min_stay_day')?.dirty && validateForm.get('min_stay_day')?.errors ? 'wait' : 'wait'"
              [nzTitle]="t3"
              [nzDescription]="p3">
              <ng-template #t3>
            <span class="title-span">
              Вы хотите установить минимальный срок проживания для этого тарифного плана?
            </span>
              </ng-template>
              <ng-template #p3>
                <form nz-form [formGroup]="validateForm">
                  <nz-form-item>
                    <nz-form-control class="column-items">
                      <nz-radio-group
                        (ngModelChange)="setMinStayDay()"
                        formControlName="min_stay_day"
                        class="mb15">
                        <label nz-radio [nzValue]="false">Нет</label>
                        <label nz-radio [nzValue]="true">Да</label>
                      </nz-radio-group>

                      <div>
                        <nz-input-number
                          class="mr15"
                          [nzMin]="1"
                          formControlName="min_stay"
                          [nzDisabled]="!validateForm.get('min_stay_day').value"
                          [nzMax]="10"
                          [nzStep]="1">
                        </nz-input-number>
                        <span class="ml15">Ночи/Ночей</span>
                      </div>

                    </nz-form-control>
                  </nz-form-item>
                </form>
              </ng-template>
            </nz-step>

            <nz-step
              [nzStatus]="validateForm.value.name !== null ? 'process' :
          validateForm.get('name')?.dirty && validateForm.get('name')?.errors ? 'wait' : 'wait'"
              [nzTitle]="t4"
              [nzDescription]="p4">
              <ng-template #t4>
                <span class="title-span">Как вы хотите назвать этот тарифный план?</span>
              </ng-template>
              <ng-template #p4>
                <form nz-form [formGroup]="validateForm">
                  <nz-form-item>
                    <nz-form-control class="column-items">
                      <input
                        formControlName="name"
                        nz-input/>
                      <nz-alert
                        nzType="warning"
                        nzMessage="Это название видно только Вам"
                        nzShowIcon></nz-alert>

                      <nz-form-explain
                        *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
                        Поле не может быть пустым!
                      </nz-form-explain>

                    </nz-form-control>
                  </nz-form-item>
                </form>
              </ng-template>
            </nz-step>
        </nz-steps>
        <br>
        <div style="display: flex; justify-content: flex-end" *ngIf="!createIsProcess">
          <button
            nz-button
            style="margin-right: 10px"
            (click)="goBack()"
            nzType="default">
            Назад
          </button>
          <button nz-button (click)="submitForm()" nzType="primary">Сохранить</button>
        </div>
      </div>

    </nz-spin>

  </app-view-inner-content>
</app-view-container>
