<nz-spin [nzSpinning]="rebookingBooksService.isLoading">
  <div class="shell-container">
    <div *ngIf="(rebookingBooksService.rebooking$| async).length > 0" nz-row class="more-info">
      <div nz-col nzSpan="8" class="info-container">
        <h3>{{(rebookingBooksService.titleStatistic$| async)}}</h3>
        <label>{{'DASHBOARD.REBOOKING.OVERLOAD_ROOMS'| translate}}</label>
      </div>
    </div>
    <div *ngIf="(rebookingBooksService.rebooking$| async).length > 0 else noAny">
      <app-sale-item *ngFor="let item of rebookingBooksService.rebooking$| async"
                     [model]="item" (notesEvent)="openNotes($event)"
                     [isRebooking]="true"></app-sale-item>
    </div>
  </div>
  <div class="pagination-container"
       *ngIf="(rebookingBooksService.rebooking$| async).length < (rebookingBooksService.total$| async) && (rebookingBooksService.rebooking$| async).length != 0">
    <button class="transparent-btn"
            *ngIf="(rebookingBooksService.rebooking$| async).length < (rebookingBooksService.total$| async)"
            nz-button
            nzType="default"
            (click)="getItems(true)">{{'DASHBOARD.DOWNLOAD_MORE'| translate}}</button>
  </div>
  <app-count-container
    *ngIf="(rebookingBooksService.rebooking$| async) > minItems && (rebookingBooksService.rebooking$| async).length != 0"
    [showed]="(rebookingBooksService.rebooking$| async).length"
    [total]="(rebookingBooksService.total$| async)"></app-count-container>
</nz-spin>
<ng-template #noAny>
  <app-empty [msg]="'DASHBOARD.REBOOKING.NO_ANY'| translate"></app-empty>
</ng-template>
