.shell-container {
  height: auto;
  //max-height: 555px;
  //overflow-y: auto;
  .more-info {
    margin: 5px 23px 0 23px;
    background: #FAFAFA;
    border-radius: 4px;
    height: 89px;
    padding: 16px 0;

    .info-container {
      height: 100%;
      padding: 15px 15px 0 15px;
      display: flex;

      h3 {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
        color: #262626;
      }

      label {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        margin-left: 15px;
        color: #BFBFBF;
      }
    }
  }
}

.pagination-container {
  height: 134px;
  display: flex;
  justify-content: center;
  padding-top: 58px;
}
