<nz-modal [nzVisible]="isVisible"
          [nzClosable]="source.id === null"
          [nzKeyboard]="false"
          [nzMaskClosable]="false"
          [nzTitle]="modalTitle| translate"
          [nzCancelText]="'CANCEL'| translate"
          [nzOkText]="'SAVE'| translate"
          (nzOnOk)="handleOk()"
          (nzOnCancel)="handleCancel()"
          [nzOkDisabled]="existName()">
  <nz-form-item>
    <label class="input-label">{{'SOURCES.SOURCE_NAME'| translate}}
      <input nz-input
             [(ngModel)]="source.name"
             [disabled]="isDefault()"
             [placeholder]="'SOURCES.SOURCE_NAME'| translate"/>
    </label>
    <label *ngIf="isDefault()">{{'SOURCES.DEFAULT_RENAME_NOT_ALLOWED'| translate}}</label>
  </nz-form-item>
  <nz-form-item>
    <label [(ngModel)]="source.overbooking" nz-checkbox>{{'SOURCES.ALLOW_REBOOKING'| translate}}</label>
  </nz-form-item>
</nz-modal>
