<section class="tab-container">
  <div class="main-container">
    <form nz-form [formGroup]="usePasswordForm" class="login-form" (ngSubmit)="submitForm()">

      <nz-form-item class="custom-form-item current-pass">
        <nz-form-control>
          <nz-input-group
            class="custom-form-control"
            nzPrefixIcon="login">
            <input
              type="password"
              class="custom-form-input"
              nz-input
              formControlName="password"
              placeholder="Текущий пароль"
            />
          </nz-input-group>
          <nz-form-explain
            *ngIf="usePasswordForm.get('password')?.dirty && usePasswordForm.get('password')?.hasError('required')">
            Введите текущий пароль!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="usePasswordForm.get('password')?.dirty && usePasswordForm.get('password')?.hasError('serverError')">
            {{usePasswordForm.get('password')?.errors.serverError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="custom-form-item new-pass">
        <nz-form-control>
          <nz-input-group
            class="custom-form-control"
            nzPrefixIcon="lock">
            <input
              type="password"
              class="custom-form-input"
              nz-input
              formControlName="new_password"
              placeholder="Новый пароль"/>
          </nz-input-group>
          <nz-form-explain
            *ngIf="usePasswordForm.get('new_password')?.dirty && usePasswordForm.get('new_password')?.hasError('required')">
            Введите новый пароль!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="usePasswordForm.get('new_password')?.dirty && usePasswordForm.get('new_password')?.hasError('serverError')">
            {{usePasswordForm.get('new_password')?.errors.serverError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="custom-form-item margin-bottom">
        <nz-form-control>
          <nz-input-group
            class="custom-form-control"
            nzPrefixIcon="lock">
            <input
              type="password"
              class="custom-form-input"
              nz-input
              formControlName="new_password_confirmation"
              placeholder="Подтвердите пароль"/>
          </nz-input-group>
          <nz-form-explain
            *ngIf="usePasswordForm.get('new_password_confirmation')?.dirty && usePasswordForm.get('new_password_confirmation')?.hasError('required')">
            Подтвердите пароль!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="usePasswordForm.get('new_password_confirmation')?.dirty && usePasswordForm.get('new_password_confirmation')?.hasError('confirm')">
            Пароли не совпадают!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="usePasswordForm.get('new_password_confirmation')?.dirty && usePasswordForm.get('new_password_confirmation')?.hasError('serverError')">
            {{usePasswordForm.get('new_password_confirmation')?.errors.serverError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="custom-form-item">
        <nz-form-control class="submit-button-wrapper">
          <div nz-row>
            <div nz-col nzSpan="11">
              <button class="update-profile-data-btn" nz-button nzType="primary" [disabled]="!onSubmited()"
                      type="submit">
                Сохранить
              </button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>
</section>
