<nz-spin [nzSpinning]="isLoading">
  <div class="mb25">

    <h2 class="room-title">{{'CREATE_ROOM_TYPE.BEDS'|translate}}</h2>

    <div nz-row>
      <div nz-col nzSpan="24" class="mb25">
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-label>
              {{'CREATE_ROOM_TYPE.BED_TYPE'|translate}}
            </nz-form-label>
          </div>
          <div nz-col nzSpan="4" nzOffset="1">
            <nz-form-label>
              {{'COUNT'|translate}}
            </nz-form-label>
          </div>
          <div nz-col nzSpan="4">
            <nz-form-label>
              {{'DELETE'|translate}}
            </nz-form-label>
          </div>
        </div>

        <div nz-row *ngFor="let bed of selectedBeds; let i = index">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="bedErrors[i].nameError"
                               [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                <nz-input-group>
                  <nz-select [(ngModel)]="bed.id"
                             (ngModelChange)="bedErrors[i].invalidName(bed.id)"
                             [nzPlaceHolder]="'CREATE_ROOM_TYPE.CHOOSE_BED_TYPE'|translate">
                    <nz-option
                      *ngFor="let bed of commonBeds"
                      [nzValue]="bed.id"
                      [nzLabel]="bed.name"
                      [nzDisabled]="isSelectedBed(bed.id)">
                    </nz-option>
                  </nz-select>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="1" class="x-container">
            X
          </div>
          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="bedErrors[i].countError"
                               [nzErrorTip]="'AT_LEAST_ONE'| translate">
                <nz-input-group>
                  <nz-input-number
                    [(ngModel)]="bed.count"
                    (ngModelChange)="bedErrors[i].invalidCount(bed.count)"
                    [nzPlaceHolder]="'COUNT'| translate"
                    [nzMin]="1"
                    [nzStep]="1">
                  </nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="4">
            <button nz-button
                    (click)="removeBed(i)"
                    [disabled]="selectedBeds.length === 1"
                    nzType="danger"
                    nzShape="circle">
              <i nz-icon nzType="delete"></i>
            </button>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="24">
            <button nz-button
                    nzType="default"
                    nzBlock
                    (click)="addBed()"
                    [disabled]="selectedBeds.length === commonBeds.length">
              <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
              {{'CREATE_ROOM_TYPE.ADD_BED'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>
            {{'CREATE_ROOM_TYPE.ALT_VARIANT_QUESTION'|translate}}
          </nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <nz-radio-group [(ngModel)]="altBedsIncluded" (ngModelChange)="onAltBedSwitch()">
                <label class="radio-label-custom" nz-radio-button [nzValue]="true">
                  {{'YES'|translate}}
                </label>
                <label class="radio-label-custom" nz-radio-button [nzValue]="false">
                  {{'NO'|translate}}
                </label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div *ngIf="altBedsIncluded">
      <h2 class="room-title">{{'CREATE_ROOM_TYPE.ALT_VARIANT'|translate}}</h2>
      <div nz-row>
        <div nz-col nzSpan="24" class="mb25">
          <div nz-row>
            <div nz-col nzSpan="12">
              <nz-form-label>
                {{'CREATE_ROOM_TYPE.BED_TYPE'|translate}}
              </nz-form-label>
            </div>
            <div nz-col nzSpan="4" nzOffset="1">
              <nz-form-label>
                {{'COUNT'|translate}}
              </nz-form-label>
            </div>
            <div nz-col nzSpan="4">
              <nz-form-label>
                {{'DELETE'|translate}}
              </nz-form-label>
            </div>
          </div>

          <div nz-row *ngFor="let bed of altSelectedBeds; let i = index">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="altBedErrors[i].nameError"
                                 [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                  <nz-input-group>
                    <nz-select [(ngModel)]="bed.id" (ngModelChange)="altBedErrors[i].invalidName(bed.id)"
                               [nzPlaceHolder]="'CREATE_ROOM_TYPE.CHOOSE_BED_TYPE'|translate">
                      <nz-option
                        *ngFor="let bed of commonBeds"
                        [nzValue]="bed.id"
                        [nzLabel]="bed.name"
                        [nzDisabled]="isSelectedBed(bed.id, true)">
                      </nz-option>
                    </nz-select>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="1" class="x-container">
              X
            </div>
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="altBedErrors[i].countError"
                                 [nzErrorTip]="'AT_LEAST_ONE'| translate">
                  <nz-input-group>
                    <nz-input-number
                      [(ngModel)]="bed.count"
                      (ngModelChange)="altBedErrors[i].invalidCount(bed.count)"
                      [nzPlaceHolder]="'COUNT'| translate"
                      [nzMin]="1"
                      [nzStep]="1">
                    </nz-input-number>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="4">
              <button nz-button
                      (click)="removeBed(i, true)"
                      nzType="danger"
                      nzShape="circle">
                <i nz-icon nzType="delete"></i>
              </button>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <button nz-button
                      nzType="default"
                      nzBlock
                      (click)="addBed(true)"
                      [disabled]="altSelectedBeds.length === commonBeds.length">
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                {{'CREATE_ROOM_TYPE.ADD_BED'|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="12" class="button-container">
        <button
          nz-button
          nzBlock
          class="login-form-button"
          (click)="back()"
          [nzType]="'default'">
          {{'BACK'| translate}}
        </button>
      </div>

      <div nz-col [nzSpan]="12" class="button-container">
        <button
          nz-button
          nzBlock
          class="login-form-button"
          (click)="submit()"
          [nzType]="'primary'">
          {{'NEXT'| translate}}
        </button>
      </div>
    </div>

  </div>
</nz-spin>
