<nz-spin [nzSpinning]="cancellationBooksService.isLoading">
  <div class="shell-container">
    <div *ngIf="(cancellationBooksService.cancellation$| async).length > 0" nz-row class="more-info">
      <div nz-col nzSpan="8" class="info-container">
        <h3>{{(cancellationBooksService.titleStatistic$| async).reservationsCount}}</h3>
        <label>{{'DASHBOARD.CANCELLATION.CANCELED'| translate}}</label>
      </div>
      <div nz-col nzSpan="8" class="info-container">
        <h3>UZS {{(cancellationBooksService.titleStatistic$| async).revenue| thousandFormatPrice}}</h3>
        <label>{{'DASHBOARD.CANCELLATION.LOST'| translate}}</label>
      </div>
    </div>
    <div *ngIf="(cancellationBooksService.cancellation$| async).length > 0 else noAny">
      <app-sale-item *ngFor="let item of cancellationBooksService.cancellation$| async"
                     [model]="item" (notesEvent)="openNotes($event)"></app-sale-item>
    </div>
  </div>
  <div class="pagination-container"
       *ngIf="(cancellationBooksService.cancellation$| async).length < (cancellationBooksService.total$| async) && (cancellationBooksService.cancellation$| async).length != 0">
    <button class="transparent-btn"
            *ngIf="(cancellationBooksService.cancellation$| async).length < (cancellationBooksService.total$| async)"
            nz-button
            nzType="default"
            (click)="getItems(true)">{{'DASHBOARD.DOWNLOAD_MORE'| translate}}</button>
  </div>
  <app-count-container
    *ngIf="(cancellationBooksService.total$| async) > minItems && (cancellationBooksService.cancellation$| async).length != 0"
    [showed]="(cancellationBooksService.cancellation$| async).length"
    [total]="(cancellationBooksService.total$| async)"></app-count-container>
</nz-spin>
<ng-template #noAny>
  <app-empty [msg]="'DASHBOARD.CANCELLATION.NO_ANY'| translate"></app-empty>
</ng-template>
