<div class="reservation-split">
  <header class="reservation-split__header header">
    <div class="header__row">
      <div class="header__col">
        <p class="header__title">Тип номера</p>
      </div>
      <div class="header__col">
        <p class="header__title">Количество</p>
      </div>
      <div class="header__col">
        <p class="header__title">Название номера</p>
      </div>
      <div class="header__col"></div>
    </div>
    <div class="header__row">
      <div class="header__col">
        <nz-select [(ngModel)]="period.room.type">
          <nz-option
            *ngFor="let roomType of roomTypes"
            [nzLabel]="roomType.short_name"
            [nzValue]="roomType.id"
          ></nz-option>
        </nz-select>
      </div>
      <div class="header__col">
        <nz-select [(ngModel)]="period.room.count">
          <nz-option [nzLabel]="1" [nzValue]="1"></nz-option>
        </nz-select>
      </div>
      <div class="header__col">
        <nz-select [(ngModel)]="period.room.name">
          <nz-option
            [nzLabel]="period.room.name"
            [nzValue]="period.room.name"
          ></nz-option>
        </nz-select>
      </div>
      <div class="header__col">
        <button nz-button nzType="danger" nzGhost nzBlock>Удалить</button>
      </div>
    </div>
  </header>
  <div class="reservation-split__dates">
    <div class="reservation-split__months">
      <div class="reservation-split__month">
        <p class="reservation-split__month-title">Июль 2019</p>
        <ul class="reservation-split__days">
          <li class="reservation-split__day" *ngFor="let date of datesSpan">
            {{ date.date.format("dd D") }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="reservation-split__prices">
    <div
      [ngClass]="{
        'reservation-split__price-box': true,
        'price-box': true,
        'price-box--disabled': date.status === 'unavailable'
      }"
      *ngFor="let date of datesSpan"
    >
      <div
        class="price-box__top"
        *ngIf="date.status !== 'unavailable'; else unavailable"
      >
        <p class="price-box__count">
          4
        </p>
        <label nz-checkbox ngDefaultControl nzChecked="status==='self'"></label>
      </div>
      <ng-template #unavailable>
        <div class="price-box__top">
          <p class="price-box__count">
            <i nz-icon nzType="close-circle" nzTheme="outline"></i>
          </p>
          <label nz-checkbox ngDefaultControl nzDisabled></label>
        </div>
      </ng-template>
      <div class="price-box__bottom">
        <p class="price-box__price">$ {{ date.price }}</p>
      </div>
    </div>
  </div>
</div>
