<button
  nz-button
  (click)="showModal()"
  nzType="default"
  style="margin-bottom: 25px">
  <i nz-icon nzType="camera" nzTheme="outline"></i>
  {{'PHOTO_MANAGER.CHOOSE_FROM_GALLERY'|translate}}
</button>

<nz-spin [nzSpinning]="isLoading">

  <div class="custom-border" *ngIf="selectedImages.length === 0" style="background-color: #F6F6F6">

    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzSpan="10" style="text-align: center">
        <i nz-icon nzType="camera" nzTheme="outline" style="font-size: 200px; color: rgba(193,193,193,0.6)"></i>
      </div>
      <div nz-col nzSpan="14" style="text-align: center; margin-top: 60px;">
        <h3 class="card-title">{{'PHOTO_MANAGER.UPLOAD_AT_LEAST_1_PHOTO'|translate}}</h3>
        <p class="card-subtitle">
          {{'PHOTO_MANAGER.UPLOAD_AFTER_REG'|translate}}
        </p>
      </div>
    </div>

  </div>

  <div *ngIf="selectedImages.length !== 0">

    <div
      dragula="images"
      nz-row nzGutter="24" nzType="flex" nzJustify="left"
      [(dragulaModel)]="images">
      <div
        nz-col
        class="gutter-row"
        *ngFor="let image of selectedImages; let i = index;"
        style="margin: 8px 0;"
        nzSpan="6">

        <div *ngIf="image.checked"
             style="margin-bottom: 10px">
          <nz-card
            [nzCover]="coverTemplate"
            [nzActions]="[actionEdit, actionDelete]">
            <p
              class="image-title ellipsis"
              [title]="image.name ? image.name : 'PHOTO_MANAGER.NO_NAME'|translate">
              {{image.name ? image.name : 'PHOTO_MANAGER.NO_NAME'|translate}}
            </p>
          </nz-card>
          <ng-template #coverTemplate>
            <img src="{{image?.medium}}" alt="example"/>
          </ng-template>
          <ng-template #actionDelete>
            <i nz-icon nzType="delete" (click)="checkImage(image)"></i>
          </ng-template>
          <ng-template #actionEdit>
            <i nz-icon nzType="edit" (click)="editImage(image)"></i>
          </ng-template>
        </div>

      </div>
    </div>
    <nz-alert
      nzType="info"
      nzDescription="{{'PHOTO_MANAGER.DRAG_FOR_SORT'|translate}}"
      nzShowIcon>
    </nz-alert>
  </div>


  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="false"
    [nzContent]="modalTitle"
    [nzWidth]="1000"
    [nzFooter]="null"
    [nzBodyStyle]="{'padding': '0'}"
    (nzOnCancel)="onCancelModalHandler()"
    (nzOnOk)="onConfirmModalHandler()">

  </nz-modal>

  <ng-template #modalTitle>
    <nz-spin [nzSpinning]="isLoadingModal">
      <nz-tabset
        [(nzSelectedIndex)]="photoNavigator.selected"
        style="padding: 5px;">

        <nz-tab
          [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon [nzType]="photoNavigator.tabs[0].icon"></i>{{ photoNavigator.tabs[0].name }}
          </ng-template>

          <div nz-row nzGutter="24" nzType="flex" nzJustify="left" style="padding: 30px">

            <div
              *ngIf="images.length === 0"
              style="background-color: #F6F6F6; width: 100%;"
              nz-row
              class="custom-border"
              nzType="flex"
              nzJustify="center">
              <div nz-col nzSpan="10" style="text-align: center">
                <i style="font-size: 200px;color: rgba(193,193,193,0.6);" nz-icon nzType="camera" nzTheme="outline"></i>
              </div>
              <div nz-col nzSpan="14" style="text-align: center; margin-top: 60px;">
                <h3 class="card-title">Пока что нет загрузиниш фотографий</h3>
              </div>
            </div>

            <div
              *ngFor="let image of images; let i = index;"
              nz-col
              style="margin: 8px 0;"
              nzSpan="6"
              class="gutter-row">
              <nz-card
                [nzCover]="coverTemplate"
                [nzActions]="[actionEdit, actionDelete]">
                <p
                  class="image-title ellipsis"
                  [title]="image.name ? image.name : 'PHOTO_MANAGER.NO_NAME'|translate">
                  {{image.name ? image.name : 'PHOTO_MANAGER.NO_NAME'|translate}}
                </p>

              </nz-card>
              <ng-template #coverTemplate>
                <i
                  nz-icon
                  *ngIf="image.checked"
                  class="checked-img-icon"
                  nzType="check-circle"
                  nzTheme="outline">
                </i>
                <img
                  src="{{image.medium}}"
                  alt="example"
                  (click)="checkImage(image)"
                />
              </ng-template>
              <ng-template #actionDelete>
                <i
                  nz-icon
                  nzType="delete"
                  (click)="deleteImage(image)"
                ></i>
              </ng-template>
              <ng-template #actionEdit>
                <i
                  nz-icon
                  nzType="edit"
                  (click)="editImage(image)"
                ></i>
              </ng-template>
            </div>
            <button
              class="buttonSave"
              *ngIf="images.length !== 0"
              nz-button
              (click)="onConfirmModalHandler()"
              nzType="primary">
              Сохранить
            </button>

          </div>

        </nz-tab>

        <nz-tab
          [nzTitle]="titleTemplate1">
          <ng-template #titleTemplate1>
            <i nz-icon [nzType]="photoNavigator.tabs[1].icon"></i>{{ photoNavigator.tabs[1].name }}
          </ng-template>

          <nz-upload
            nzType="drag"
            [nzMultiple]="true"
            [nzLimit]="5"
            [nzSize]="(20 *1000)"
            [nzAction]="imagesUrl"
            [nzFileType]="'image/png,image/jpeg'"
            [nzCustomRequest]="imageUploadingRequestHandler">
            <p class="ant-upload-drag-icon">
              <i nz-icon nzType="inbox"></i>
            </p>
            <p class="ant-upload-text">{{'PHOTO_MANAGER.CLICK_OR_DRAG_FOR_UPLOAD'|translate}}</p>
            <p class="ant-upload-hint">{{'PHOTO_MANAGER.SUPPORT_SINGLE_MULTI_UPLOAD'|translate}}</p>

          </nz-upload>


        </nz-tab>

        <nz-tab
          [nzDisabled]="photoNavigator.selectedImage === null"
          [nzTitle]="titleTemplate2">
          <ng-template #titleTemplate2>
            <i nz-icon [nzType]="photoNavigator.tabs[2].icon"></i>{{ photoNavigator.tabs[2].name }}
          </ng-template>

          <div nz-row
               style="padding: 25px;"
               *ngIf="photoNavigator.selectedImage">
            <div nz-col nzSpan="8">
              <img src="{{photoNavigator.selectedImage.thumb}}" alt="">
            </div>
            <div nz-col nzSpan="12">
              <form nz-form [formGroup]="validateForm">
                <nz-form-label>
                  {{'DESIGNATION'|translate}}
                </nz-form-label>
                <nz-form-item>
                  <nz-form-control>

                    <nz-input-group>
                      <nz-select
                        style="width: 100%;"
                        formControlName="image_name_id"
                        nzPlaceHolder="{{'CHOOSE_NAME'|translate}}">
                        <nz-option
                          *ngFor="let imageName of imagesCategory"
                          [nzValue]="imageName.id"
                          nzLabel="{{imageName.name}}">
                        </nz-option>

                      </nz-select>
                    </nz-input-group>

                    <nz-form-explain
                      *ngIf="validateForm.get('image_name_id')?.dirty && validateForm.get('image_name_id')?.errors">
                      {{'FIELD_MUST_FILL'|translate}}
                    </nz-form-explain>

                  </nz-form-control>
                </nz-form-item>

                <button
                  nz-button
                  nzType="default"
                  (click)="validateForm.controls.image_name_id.setValue(null)"
                  style="margin-right: 15px;">
                  {{'CANCEL'|translate}}
                </button>
                <button
                  nz-button
                  (click)="updateImageName()"
                  nzType="primary">
                  {{'SAVE'|translate}}
                </button>
              </form>
            </div>
          </div>
        </nz-tab>

      </nz-tabset>
    </nz-spin>
  </ng-template>
</nz-spin>
