.uploading-section{
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.custom-col{
  width: 22%;
  margin-right: 4%;
}

.checked-img-icon{
  font-size: 32px;
  position: absolute;
  float: left;
  text-align: right;
  color: #2F80ED;
  width: 32px;
  background: white;
  right: 5px;
  top: 5px;
  border-radius: 52px;
}
.image-title{
  width: 100%;
  text-align: center;
  margin: 0;
}
h3{
  font-size: 17px;
}
.buttonSave{
  align-self: flex-end;
  margin: 8px;
}