.content {
  background: #fff;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.sources {
  font-weight: bold;
}

.add-btn {
  margin-left: 20%;
  margin-top: 2%;
}

.table {
  margin: 2% 20% 20%;
}

.icon {
  font-size: 13px;
  margin-left: 2%;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

::ng-deep .ant-table-placeholder {
  display: none;
}

.text_th {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.text_td {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

