<app-view-container>
  <h2 class="sources">{{'SOURCES.RESERVATION_SOURCES'| translate}}</h2>
  <div class="content">
    <button class="add-btn"
            nz-button
            [nzType]="'primary'"
            (click)="onOpenModal(null)">
  <span>
    <i nz-icon
       nzType="plus-circle"
       nzTheme="outline">
    </i>
    {{'SOURCES.ADD_SOURCE'| translate}}
  </span>
    </button>
    <nz-table nzBordered class="table" [nzLoading]="sourcesService.loader$| async">
      <thead>
      <tr>
        <th nzWidth="150px"><strong class="text">{{'SOURCES.ACTIVE'|translate}}/{{'SOURCES.NOT_ACTIVE'|translate}}</strong>
        </th>
        <th nzWidth="200px"><strong class="text">{{'SOURCES.MAIN_SOURCE'|translate}}</strong></th>
        <th nzWidth="30px"><strong class="text">{{'SOURCES.ACTION'|translate}}</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let source of sourcesService.$sources| async; let i = index">
        <td class="switch">
          <div class="container">
            <nz-switch
              [(ngModel)]="source.active"
              (ngModelChange)="onSwitch(source)"
              [nzCheckedChildren]="checkedTemplate"
              [nzUnCheckedChildren]="unCheckedTemplate"
              [nzLoading]="sourcesService.loader$| async"></nz-switch>

            <div [ngClass]="{'icon': source.overbooking, 'invisible': !source.overbooking}"
                 nz-tooltip [nzTitle]="'SOURCES.REBOOKING_ALLOWED'| translate">
              <i nz-icon nzType="issues-close" nzTheme="outline"></i>
            </div>
          </div>

        </td>
        <td class="text_td">{{source.name}}</td>
        <td>
          <div class="container">
            <a (click)="onOpenModal(source)" [ngClass]="{'disabled-link': !source.active}">{{'EDIT'| translate}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="onOpenModal(source, true)" [ngClass]="{'disabled-link': source.default}">{{'DELETE'| translate}}</a>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <app-source-delete [isVisible]="isShowDeleteModal" [source]="selectedSource" (onClose)="onCloseModal()"></app-source-delete>
    <app-source-form [isVisible]="isShowFormModal" [source]="selectedSource" (onClose)="onCloseModal()"></app-source-form>

    <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>

  </div>
</app-view-container>
