<app-base-modal title="Временное хранение номера">
  <div class="room-storage">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
      <div class="room-storage__content">
        <aside class="room-storage__side">
          <div class="room-storage__date-range">
            <nz-form-item>
              <nz-form-label>С:</nz-form-label>
              <nz-form-control>
                <nz-date-picker
                  [nzDisabledDate]="disabledStartDate"
                  nzFormat="dd.MM.yyyy"
                  formControlName="checkin"
                  (nzOnOpenChange)="handleStartOpenChange($event)"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>До:</nz-form-label>
              <nz-form-control>
                <nz-date-picker
                  [nzDisabledDate]="disabledEndDate"
                  nzFormat="dd.MM.yyyy"
                  formControlName="checkout"
                  [nzOpen]="endOpen"
                  (nzOnOpenChange)="handleEndOpenChange($event)"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <nz-form-item>
            <nz-form-label nzFor="room_ids">Размещение (номер в гостинице)</nz-form-label>
            <nz-form-control>
              <nz-select
                id="room_ids"
                formControlName="room_ids"
                [nzMaxTagCount]="3"
                nzMode="multiple"
                [nzDisabled] = "!rooms.length"
              >
                <nz-option *ngFor="let room of rooms" nzValue="{{room.id}}" nzLabel="{{room.name}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="hold_duration">Длительность временной брони</nz-form-label>
            <nz-form-control>
              <input id="hold_duration" nz-input formControlName="hold_duration" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="duration_format">Формат</nz-form-label>
            <nz-form-control>
              <nz-select id="duration_format" formControlName="duration_format">
                <nz-option nzLabel="Часы" nzValue="hours"></nz-option>
                <nz-option nzLabel="Дни" nzValue="days"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

        </aside>
        <aside class="room-storage__side">
          <nz-form-item>
            <nz-form-label nzFor="guest_email">E-mail</nz-form-label>
            <nz-form-control>
              <input id="guest_email" nz-input formControlName="guest_email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="guest_phone">Телефон</nz-form-label>
            <nz-form-control>
              <input id="guest_phone" nz-input formControlName="guest_phone" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzFor="guest_first_name">Имя</nz-form-label>
            <nz-form-control>
              <input id="guest_first_name" nz-input formControlName="guest_first_name" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="guest_last_name">Фамилия</nz-form-label>
            <nz-form-control>
              <input id="guest_last_name" nz-input formControlName="guest_last_name" />
            </nz-form-control>
          </nz-form-item>

        </aside>
      </div>
      <div class="room-storage__actions">
        <a class="btn room-storage__action" nz-button (click)="close()">Отмена</a>
        <button class="room-storage__action" [disabled]="validateForm.invalid" nz-button nzType="primary">Сохранить</button>
      </div>
    </form>
  </div>
</app-base-modal>
