.contract{
}
.contract__text{
  font-size: 16px;
}
.contract__card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
}
.contract-info{
  display: flex;
}
.contract-info__list{
  padding: 0;
}
.contract-info__list--data{
  color: black;
}

.actions{}
.actions__download{
  float: right;
}
.actions__status{
  float: left;
  width: 127px;
  color: #FA541C;
}

.block-contract-table{
  padding-top: 75px;
}
