<app-view-container>
  <app-view-inner-content [name]="agencyInfo ? agencyInfo.name : ''">

    <div nz-row class="contract" *ngIf="agencyInfo">
      <p class="title-span contract__text">Описание</p>

      <div nz-col nzSpan="6" class="block-contract">
        <nz-card class="w100 flex-horizontal-centered contract__card">
          <img style="max-width: 100%;" src="../../../../assets/img/dolores-travel-services.png" alt="dolores">
        </nz-card>

        <button
          *ngIf="contractsList.length === 0"
          style="width: 330px;"
          class="contract__button mt25"
          nz-button
          [routerLink]="getContractRoute()"
          nzType="primary">
          Заключить договор
        </button>

      </div>

      <div nz-col nzSpan="18" style="padding: 0 20px 0 40px;">

        <div class="contract-info">
          <ul class="contract-info__list contract-info__list--info mr25" type="none">
            <li>Адрес:</li>
            <li>РС:</li>
            <li>ИНН:</li>
            <li>МФО:</li>
            <li>Директор:</li>
          </ul>

          <ul class="contract-info__list contract-info__list--data" type="none">
            <li>г. {{ agencyInfo.company_legal_information.city }}, {{ agencyInfo.company_legal_information.address }}</li>
            <li>{{ agencyInfo.company_legal_information.bank_account}}</li>
            <li>{{ agencyInfo.company_legal_information.inn }}</li>
            <li>{{ agencyInfo.company_legal_information.mfo }}</li>
            <li>{{ agencyInfo.company_legal_information.director_name }}</li>
          </ul>
        </div>
        <p>
          Профессиональный туроператор Dolores Travel Services предоставляет полный спектр туристских услуг для путешествий гостей из России в Узбекистане и сопредельных государствах, по территории которых проходил Великий Шелковый Путь. Dolores Travel обладает богатым опытом проведения туров в Центральной Азии, имеет наработанные связи с партнерами по всей республике и тщательно подходит к организации каждого тура. Узбекистан обладает великолепным туристическим потенциалом, здесь налажена прекрасная инфраструктура для комфортных путешествий. С нами вы откроете для себя великолепную природу страны, насладитесь великолепной кухней узбекского народа, побываете в местах паломничества к уникальным памятникам истории и святым местам.
        </p>
      </div>
    </div>

    <div nz-row class="contract block-contract-table">
      <p class="title-span contract__text mt25">Договора</p>

      <nz-spin [nzSpinning]="isDataLoading">
        <nz-table
          #contracts
          [nzShowPagination]="false"
          [nzData]="contractsList">
          <thead>
          <tr>
            <th><span class="table-title">Номер</span></th>
            <th><span class="table-title">Срок договора</span></th>
            <th><span class="table-title">Действителен до</span></th>
            <th><span class="table-title">Статус</span></th>
            <th><span class="table-title">Действия</span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contract of contracts.data">
            <td>№ {{ contract.number }}</td>
            <td>{{ contract.start }}</td>
            <td>{{ contract.end }}</td>
            <td>
            <span
              *ngIf="contract.status === 'accepted'"
              class="small-alert success">
              Активен
            </span>
              <span
                *ngIf="contract.status === 'await'"
                class="small-alert danger">
              Ожидает подтверждения
            </span>
              <span
                *ngIf="contract.status === 'closed'"
                class="small-alert none">
              Нет договора
            </span>
            </td>

            <td class="actions">
              <button
                *ngIf="contract.status === 'accepted' || contract.status === 'await'"
                nz-button
                class="actions__status"
                nzType="default">
              <span [ngSwitch]="contract.status">
                <span *ngSwitchCase="'accepted'">
                  Расторгнуть
                </span>
                <span  *ngSwitchCase="'await'">
                  Отменить
                </span>
              </span>
              </button>
              <button
                class="actions__download"
                nz-button
                nzType="default">
                Скачать
              </button>
              <button
                [routerLink]="getViewContractRoute(contract)"
                style="margin-left: 25px;"
                nz-button
                nzType="primary"
                nzShape="circle">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-spin>
    </div>
  </app-view-inner-content>
</app-view-container>
