<nz-spin [nzSpinning]="isLoading">
  <h3 class="card-title">{{'HOTEL_FORM.ROOM_TYPES'| translate}}</h3>

  <nz-alert
    nzType="info"
    [nzDescription]="'HOTEL_FORM.ROOM_TYPES_DESC'| translate"
    nzShowIcon>
  </nz-alert>

  <div class="cards-container">
    <nz-card>
      <nz-table
        [nzShowPagination]="false"
        [nzData]="roomsTypeList"
        #rooms
        [nzNoResult]="emptyTable">
        <thead>
        <tr>
          <th>{{'ROOM_TYPE.NAME'| translate}}</th>
          <th>{{'ROOM_TYPE.CAPACITY'| translate}}</th>
          <th>{{'COUNT'| translate}}</th>
          <th>{{'ROOM_TYPE.ACTIONS'| translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms.data">
          <td>
            <nz-avatar nzIcon="camera" *ngIf="room.image else noPreview" nzShape="square"
                       nzSize="64" [nzSrc]="room.image.thumb">
            </nz-avatar>
            {{room.name}}
          </td>
          <td>{{room.max_persons}}</td>
          <td>{{room.quantity}}</td>
          <td class="text-right">

            <button class="mr25" nz-button nzType="primary" nzShape="circle" (click)="openRoomTypeForm(room.id)">
              <i nz-icon nzType="edit"></i>
            </button>

            <button
              style="margin-right: 10px;" nz-button nzType="danger" nzShape="circle"
              (click)="deleteItemFromTableHandler(room)">
              <i nz-icon nzType="delete"></i>
            </button>

          </td>
        </tr>
        </tbody>
      </nz-table>

      <button nz-button nzType="dashed" nzBlock style="margin-top: 25px" (click)="openRoomTypeForm()">
        <i nz-icon nzType="key" nzTheme="outline"></i>{{'ROOM_TYPE.ADD_ROOM'| translate}}
      </button>
    </nz-card>

  </div>

  <div nz-col [nzSpan]="12" class="button-container">
    <button
      nz-button
      nzBlock
      class="login-form-button"
      (click)="onBack()"
      [nzType]="'default'">
      {{'BACK'| translate}}
    </button>
  </div>

  <div nz-col [nzSpan]="12" class="button-container">
    <button
      nz-button
      nzBlock
      class="login-form-button"
      (click)="submit()"
      [nzType]="'primary'">
      {{'NEXT'| translate}}
    </button>
  </div>
</nz-spin>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="roomTypeModalTitle| translate"
  [nzFooter]="null"
  [nzWidth]="1200"
  [nzContent]="modalBody"
  (nzOnCancel)="onCloseModalEvent()"
  (nzOnOk)="onCloseModalEvent()"
  (nzAfterClose)="onCloseModalEvent()">

  <ng-template #modalBody>
    <app-room-type-form [roomTypeId]="roomTypeIdForEdit" [hotelId]="hotelFormService.getPropertyId()" (onClose)="onCloseModalEvent()"></app-room-type-form>
  </ng-template>

</nz-modal>

<ng-template #emptyTable>
  <app-empty-rooms-placeholder></app-empty-rooms-placeholder>
</ng-template>

<ng-template #noPreview>
  <nz-avatar nzIcon="camera" nzShape="square" nzSize="64"></nz-avatar>
</ng-template>
