<section class="tab-container">
  <div class="main-container">
    <div class="text-wrapper">
      <p class="text">Общие условия предоставления услуг</p>
      <p class="text">
        Хотите получить копию общих условий предоставления услуг на электронную почту
        <a class="mail-link" href="mailto:orqanchi@mail.ru">orqanchi@mail.ru</a>
        ?
      </p>
    </div>
    <div class="button-wrapper">
      <button class="request-btn" nz-button nzType="primary" (click)="requestContracts()">
        Запросить копию
      </button>
    </div>

    <div class="request-message-wrapper" *ngIf="isSuccessMessageShown">
      <nz-alert class="request-message" nzType="info" [nzMessage]="message" nzShowIcon></nz-alert>
    </div>
  </div>
</section>