p {
  margin: 0;
}

.tab-container {
  padding: 18px 92px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1500px) {
    padding: 18px 50px;
  }

  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .text-wrapper {
      width: 100%;
      margin-bottom: 43px;

      .text {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;

        .mail-link {
          color: #1890FF;
        }
      }
    }

    .button-wrapper {
      width: 100%;
      margin-bottom: 54px;

      .request-btn {
        width: 209px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    .request-message-wrapper {
      width: 100%;

      .request-message {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
}