<div class="toolbar">
  <h2>{{'DASHBOARD.FORECAST.FORECAST_TITLE'| translate}}</h2>
</div>

<div nz-row nzGutter="16" nzType="flex" nzJustify="left">
  <div class="parent-container">
    <nz-tabset>
      <nz-tab [nzTitle]="'DASHBOARD.FORECAST.BLOCKED'| translate">
        <ng-template nz-tab>
          <app-forecast-book></app-forecast-book>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'DASHBOARD.FORECAST.AVAILABILITY'| translate">
        <ng-template nz-tab>
          <app-forecast-available></app-forecast-available>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
