.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 0;
  }
}

.parent-container {
  width: 100%;
  max-height: 777px;
  min-height: 547px;
  height: auto;
  border-radius: 4px;
  padding: 25px 0;
  background: white;
  margin-bottom: 16px;

  ::ng-deep .ant-tabs .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-nav-wrap .ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
  }
  ::ng-deep .ant-tabs .ant-tabs-bar {
    padding: 0 25px;
  }
}
