.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;

  .toolbar-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }
  
  .toolbar-action-panel {
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 32px;

    .toolbar-action {
      background: transparent;
      width: 246px;
      height: 32px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #1890FF;
      border: 1px solid #1890FF;
    }
  }
}

:host ::ng-deep .ant-card-body {
  padding: 23px 21px 52px;
}