<app-view-container>
  <div class="toolbar">
    <div class="toolbar-title">
      Гости
    </div>

    <div class="toolbar-action-panel">
      <ng-container *ngIf="isGuestDetailsPage">
        <button nz-button nzType="default" (click)="createNewReservation()" class="toolbar-action">
          Создать новое бронирование
        </button>
      </ng-container>
    </div>
  </div>

  <div>
    <div nz-row nzGutter="16" nzType="flex" nzJustify="left">
      <nz-card style="width: 100%;">
        <router-outlet></router-outlet>
      </nz-card>
    </div>
  </div>
</app-view-container>
