<div nz-row class="form-container">
  <div nz-col nzSpan="16" nzOffset="4">

    <p class="form-title">{{'SIGN_PAGE.SIGN_TO_ACCOUNT'| translate}}</p>

    <nz-spin [nzSpinning]="isLoading">
      <form
        nz-form
        [formGroup]="loginForm"
        class="login-form"
        (ngSubmit)="submitForm()">

        <nz-form-item>
          <nz-form-control nzValidateStatus={{status}}>
            <nz-input-group
              [nzPrefix]="prefixUser">
              <input
                type="text"
                nz-input
                formControlName="username"
                placeholder="{{'SIGN_PAGE.PHONE_OR_EMAIL'| translate}}"/>
            </nz-input-group>
            <nz-form-explain
              *ngIf="loginForm.get('userLogin')?.dirty && loginForm.get('userLogin')?.errors">
              {{'SIGN_PAGE.ENTER_PHONE_OR_EMAIL'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzValidateStatus={{status}}>
            <nz-input-group
              [nzPrefix]="prefixLock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="{{'SIGN_PAGE.PASS'| translate}}"/>
            </nz-input-group>
            <nz-form-explain
              *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.errors">
              {{'SIGN_PAGE.ENTER_PASS'| translate}}
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div>
              <label nz-checkbox formControlName="remember">
                <span>{{'SIGN_PAGE.REMEMBER_PASS'| translate}}</span>
              </label>
              <a class="login-form-forgot float-right" [routerLink]="getRestoreRoute()">{{'SIGN_PAGE.FORGOT_PASS'| translate}}</a>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div nz-row>
              <div nz-col nzSpan="11">
                <a
                  nz-button
                  nzBlock
                  class="login-form-button"
                  [routerLink]="getRegistrationRoute()"
                  nzType="default">
                  {{'SIGN_PAGE.REGISTRATION'| translate}}
                </a>
              </div>
              <div nz-col nzSpan="11" nzOffset="2">
                <button
                  nz-button
                  nzBlock
                  [disabled]="loginForm.invalid || loginForm.disabled"
                  class="login-form-button"
                  [nzType]="'primary'">
                  {{'SIGN_PAGE.LOGIN'| translate}}
                </button>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-spin>
    <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
  </div>
</div>

