// Подключение booking.com steps
.connect-api-page {
    display: flex;
    background: #fff;
    width: 100%;
    min-height: 724px;

.left-sidebar-steps {
    width: 20%;
    border-right: solid 1px rgba(0, 0, 0, 0.09);
    margin-top: 24px;

    .steps {
        padding-left: 24px;

    }
}
.arrows{
    padding-top: 7px;
}
.main-content {
    width: 80%;
    text-align: center;
    .id-hotel {
        height: auto;
        width: 320px;
        margin: 32px auto;
        .search-area {
            margin-top: 24px;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .id-hotel--input {
            width: 320px;
            margin-bottom: 5px;
        }
        .text-header {
            padding-bottom: 14px;
        }
        .btn-back{
            width: 50%;
            color: rgba(0, 0, 0, 0.65);
        }
    }
    .warrning-message {
      padding-top: 56px;
      margin: 0 auto;
      width: 616px;
      text-align: left;
    }
    .authy-code {
        width: 100%;
        height: auto;
        display: flex;
        margin: 32px auto;
        flex-direction: column;
        justify-content: center;

        .info-block {
            width: 45%;
            margin: 0 auto;
            padding: 24px 0;
        }
        .error-block {
            width: 80%;
            margin: 20px auto;
             //padding-bottom: 24px;
            text-align: left;
        }
        .search-area {
            width: 320px;
            margin: 20px auto;
            display: flex;
        }
        .text-header {
            padding-bottom: 14px;
            width: 320px;
            margin: 0 auto;
        }
        .btn-back{
            width: 50%;
            color: rgba(0, 0, 0, 0.65);
            margin-right: 10px;
        }
        .id-hotel--input {
            width: 320px;
            margin-bottom: 24px;
            margin: 0 auto;
        }
    }
    .mapping-rooms {
        width: 100%;
        height: auto;
        margin: 32px auto;
        padding: 24px;

        .refresh-data {
            display: flex;
            justify-content: flex-end;
            padding: 24px 0;
            align-items: center;
            button {
                margin-left: 20px;
            }
        }


        .mapping-room {
            border: 1px solid rgba(0, 0, 0, 0.09);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            padding: 16px 28px;
            .name-room {
                flex-basis: 45%;
                .room {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.65);
                    text-align: left;

                }
                .tariff {
                    text-align: left;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.65);
                    padding: 10px 0px 15px 17px;

                    ul {
                        list-style: none;
                        padding: 0;
                        padding-left: 5px;
                    }

                    ul li:before {
                        content:  "-";
                        position: relative;
                        left: -5px;
                    }
                }

            }
            .arrows {
                flex-basis: 15%;
            }
            .select-room {
                flex-basis: 40%;
            }

        }
        .first{
          border-radius: 4px 4px 0 0;
        }
        .mapping-room:last-child{
          border-radius: 0 0 4px 4px;
        }
        .search-area {
            justify-content: center;
            margin: 24px;
            .btn-back {
                width: 155px;
                color: rgba(0, 0, 0, 0.65);
                margin-right: 10px;
            }
            .btn-next    {
                width: 155px;
            }
        }
    }
    .activate {
        width: 100%;
        img{
          margin-top: 45px;
        }

        .wait-activate {

            .header-text {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                color: #000000;
                padding: 13px 0;
            }
            .descr {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                color: rgba(0, 0, 0, 0.45);
            }
        }
        .activated {
            .header-text {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                color: #000000;
                padding: 13px 0;
            }
            .descr {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                color: rgba(0, 0, 0, 0.45);
                padding-bottom: 35px;
            }
        }
        .search-area {

            .btn-next {
                margin-left: 10px;
            }
        }
    }
}
.logos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo {
    margin-right: 19%;
  }
}

}
::ng-deep li.ant-select-dropdown-menu-item.ng-star-inserted{
  height: 32px!important
}
.heeadText{
  display: flex;
    h2{
      margin-left: 20px;
    }
    img{
      margin-bottom: .5em;
      cursor: pointer;
    }

}


