<app-view-container>
  <div class="heeadText">
    <img (click)="backChannels()" width="21px" src="../../../../assets/img/left-arrow.svg" alt="back">
    <h2 *ngIf="channelWarningMessage && channelWarningMessage.name ">Подключение {{channelWarningMessage.name}}</h2>
    <h2 *ngIf="channelWarningMessage && channelWarningMessage.channel">
      Подключение {{channelWarningMessage.channel.name}}</h2>
  </div>
  <div class="connect-api-page">
    <div class="left-sidebar-steps">
      <div class="steps">
        <nz-steps
          [nzCurrent]="getCurrentStep()"
          nzDirection="vertical" nzSize="small">
          <nz-step nzTitle="Аутентификация"></nz-step>
          <nz-step nzTitle="Авторизация"></nz-step>
          <nz-step nzTitle="Сопостовление номеров"></nz-step>
          <nz-step nzTitle="Активация"></nz-step>
        </nz-steps>
      </div>
    </div>
    <div class="main-content">
      <!-- Step one -->
      <div *ngIf="showStep.authentification">
        <div class="id-hotel">
          <div class="text-header" *ngIf="channelWarningMessage">Укажите ID вашего отеля
            на {{channelWarningMessage.name}}
          </div>
          <input class="id-hotel--input" nz-input placeholder="ID отеля" [(ngModel)]="hotelId" required/>
          <nz-alert *ngIf="validIdErrorMessage" nzType="error" class="error-block" nzMessage='{{validIdErrorMessage}}' nzShowIcon>
          </nz-alert>
          <div nz-col [nzSpan]="24" class="search-area">
            <button class="btn-back" nz-button (click)="backChannels()">Назад</button>
            <button class="btn-next" nz-button (click)="authyModel()" [disabled]="!hotelId" [nzType]="'primary'">
              Следующий
              этап
            </button>
          </div>
        </div>
        <div *ngIf="channelWarningMessage && channelWarningMessage.before_info" class="warrning-message">
          <nz-alert nzType="warning" nzMessage="Внимание!" nzDescription={{channelWarningMessage.before_info}}
                    nzShowIcon>
          </nz-alert>
        </div>
      </div>
      <!-- Step two -->
      <div *ngIf="showStep.auth">
        <div class="authy-code">
          <div class="text-header">Ожидается получение доступа</div>
          <input class="id-hotel--input" [disabled]="true" nz-input placeholder="{{channel_property_id}}"/>
          <div [innerHTML]="channel_auth_info"></div>
          <nz-alert nzType="info" class="info-block"
                    nzMessage="Требуется предоставить доступ к управлению каналом Booking.com Воспользуйтесь данной инструкцией для выполнения дальнейших действий"
                    nzShowIcon>
          </nz-alert>
          <nz-alert *ngIf="errorMessage" nzType="error" class="error-block" nzMessage='{{errorMessage}}' nzShowIcon>
          </nz-alert>
          <nz-alert *ngIf="errorSyncMessage" nzType="error" class="error-block" [nzMessage]='errorSyncMessage'
                    nzShowIcon>
          </nz-alert>

          <div nz-col [nzSpan]="24" class="search-area">
            <button class="btn-back" nz-button (click)="backStep('authentification')">Назад</button>
            <button *ngIf="loadBtn" class="btn-next" nz-button (click)="checkAuthy()" [nzType]="'primary'" nzLoading><i
              nz-icon nzType="poweroff"></i>Следующий этап
            </button>
            <button *ngIf="!loadBtn" class="btn-next" nz-button (click)="checkAuthy()" [nzType]="'primary'">Следующий
              этап
            </button>
          </div>
        </div>
      </div>
      <!-- Step three -->
      <div *ngIf="showStep.room_types_mapping">
        <div class="mapping-rooms">
          <div class="refresh-data">
            <div class="last-refresh-data">
              Дата последнего обновления: {{syncedAt | date: 'd.M.yyyy H:mm:s'}}
            </div>
            <button *ngIf="loadBtn" nz-button nzType="primary" (click)="checkAuthyCode()" nzLoading><i
              nz-icon nzType="poweroff"></i>Обновить данные канала
            </button>
            <button *ngIf="!loadBtn" nz-button nzType="primary" (click)="checkAuthyCode()"><i nz-icon
                                                                                              nzType="sync"
                                                                                              nzTheme="outline"></i>Обновить
              данные канала
            </button>
          </div>
          <div class="mapping">
            <div class="mapping-room first">
              <div class="logos">
                <img height="100px" src="{{roomsInfoArray ? roomsInfoArray.channel.logo : ''}}"/>
                <img class="logo" src="assets/img/smart-booking-logo.svg"/>
              </div>
            </div>
            <div *ngIf="roomsInfoArray">
              <div *ngFor="let room of roomsInfoArray.rooms; index as i" class="mapping-room">
                <div class="name-room">
                  <div class="room">{{i + 1}}. {{room.channel_room_type_name}} (id {{room.channel_room_type_id}})</div>
                  <div class="tariff">
                    <span>Тарифы:<br></span>
                    <ul>
                      <li *ngFor="let rate of room.rates">{{rate.name}} (id {{rate.channel_rate_id}})</li>
                    </ul>
                  </div>
                </div>
                <div class="arrows">
                  <img src="assets/img/arrows.svg"/>
                </div>
                <div class="select-room">
                  <nz-select style="width: 320px;" [id]="i"
                             [nzPlaceHolder]="'CHOOSE_ROOM_TYPE'| translate"
                             [(ngModel)]="updateArrayNumbers[i].id"
                             (ngModelChange)="provinceChange($event, i)">
                    <nz-option *ngFor="let p of roomsArray" class="channelsDropDown" [nzDisabled]="p.visible"
                               [nzValue]="p" [nzLabel]="p.name">
                    </nz-option>
                  </nz-select>
                </div>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="search-area" *ngIf="!createIsProcess">
            <button class="btn-back" nz-button (click)="backStep('authentification')">Назад</button>
            <button class="btn-next" (click)="stepConnectChannel()" nz-button [nzType]="'primary'">Следующий этап
            </button>
          </div>

          <nz-spin nzSimple [nzSize]="'large'" *ngIf="createIsProcess" style="margin-left: 45px; margin-top: 20px;"></nz-spin>
        </div>
      </div>
      <!-- Step four -->
      <div *ngIf="showStep.connected">
        <div class="activate">
          <div class="activate-img"></div>
          <div class="activate-text">
            <div *ngIf="affermativeMessage!=='connected'" class="wait-activate">
              <video width="418" height="276" controls>
                <source src="../../../../assets/SmartBooking_connection_new.gif.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <div class="header-text">Ваш запрос на соеденение принят</div>
              <div class="descr">Пожалуйста подождите пока мы активируем соеденение</div>
            </div>
            <div *ngIf="affermativeMessage==='connected'" class="activated">
              <img width="418px" height="276px" src="../../../../assets/img/laptop.png"/>
              <div class="header-text">Подключение успешно завершено</div>
              <div class="descr" *ngIf="channelWarningMessage">Теперь вы можете настроить цены для канала
                {{channelWarningMessage.name}} в разделе Шахматка
              </div>
              <div nz-col [nzSpan]="24" class="search-area">
                <button class="btn-back" nz-button (click)="backChannels()">Вернуться к списку каналов</button>
                <button class="btn-next" nz-button (click)="tunePrice()" [nzType]="'primary'">Настроить цены</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-view-container>

<!--<nz-modal-->
<!--  [(nzVisible)]="isVisible"-->
<!--  [nzTitle]="modalTitle"-->
<!--  [nzContent]="modalContent"-->
<!--  [nzFooter]="modalFooter"-->
<!--  (nzOnCancel)="handleCancel()"-->
<!--  class="confirm-delete-message-modal">-->
<!--  <ng-template #modalTitle>-->
<!--    <p class="title">Произошла ошибка, пересоздать канал?</p>-->
<!--  </ng-template>-->
<!--  <ng-template #modalContent>-->
<!--  </ng-template>-->
<!--  <ng-template #modalFooter>-->
<!--    <div class="confirm-buttons">-->
<!--      <button-->
<!--        nz-button-->
<!--        nzType="default"-->
<!--        (click)="handleCancel()">-->
<!--        {{'NO'| translate}}-->
<!--      </button>-->
<!--      <button-->
<!--        nz-button-->
<!--        nzType="primary"-->
<!--        (click)="handleOk()">-->
<!--        {{'YES'| translate}}-->
<!--      </button>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</nz-modal>-->
