<nz-spin [nzSpinning]="isLoading">
  <h3 class="card-title">{{'HOTEL_FORM.REGULATIONS'| translate}}</h3>

  <nz-alert
    nzType="info"
    [nzDescription]="'REGULATIONS.DESCRIPTION'| translate"
    nzShowIcon>
  </nz-alert>

  <div class="cards-container" #cardContainer>

    <nz-card>

      <div nz-row>
        <div nz-col [nzSpan]="11">
          <p class="inner-title">
            {{'REGULATIONS.REG_IN'| translate}}
          </p>
          <nz-divider></nz-divider>
          <div nz-row>
            <div nz-col [nzSpan]="11">
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="time.checkInStartError"
                                 [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                  <nz-form-label>{{'FROM'| translate}}</nz-form-label>
                  <nz-time-picker [(ngModel)]="time.checkInStart" (ngModelChange)="time.invalidCheckInStart()"
                                  class="time-input" nzFormat="HH:mm"
                                  [nzPlaceHolder]="'REGULATIONS.TIME'| translate"></nz-time-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="11" [nzOffset]="1">
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="time.checkInEndError" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                  <nz-form-label>{{'UNTIL'| translate}}</nz-form-label>
                  <nz-time-picker [(ngModel)]="time.checkInEnd" (ngModelChange)="time.invalidCheckInEnd()"
                                  class="time-input" nzFormat="HH:mm"
                                  [nzPlaceHolder]="'REGULATIONS.TIME'| translate"></nz-time-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="11" [nzOffset]="1">
          <p class="inner-title">
            {{'REGULATIONS.REG_OUT'| translate}}
          </p>
          <nz-divider></nz-divider>
          <div nz-row>
            <div nz-col [nzSpan]="11">
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="time.checkOutStartError"
                                 [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                  <nz-form-label>{{'FROM'| translate}}</nz-form-label>
                  <nz-time-picker [(ngModel)]="time.checkOutStart" (ngModelChange)="time.invalidCheckOutStart()"
                                  class="time-input" nzFormat="HH:mm"
                                  [nzPlaceHolder]="'REGULATIONS.TIME'| translate"></nz-time-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="11" [nzOffset]="1">
              <nz-form-item>
                <nz-form-control [nzValidateStatus]="time.checkOutEndError" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                  <nz-form-label>{{'UNTIL'| translate}}</nz-form-label>
                  <nz-time-picker [(ngModel)]="time.checkOutEnd" (ngModelChange)="time.invalidCheckOutEnd()"
                                  class="time-input" nzFormat="HH:mm"
                                  [nzPlaceHolder]="'REGULATIONS.TIME'| translate"></nz-time-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

      </div>

    </nz-card>

    <div nz-col [nzSpan]="12" class="button-container">
      <button
        nz-button
        nzBlock
        class="login-form-button"
        (click)="onBack()"
        [nzType]="'default'">
        {{'BACK'| translate}}
      </button>
    </div>

    <div nz-col [nzSpan]="12" class="button-container">
      <button
        nz-button
        nzBlock
        class="login-form-button"
        (click)="submit()"
        [nzType]="'primary'">
        {{'SAVE'| translate}}
      </button>
    </div>

  </div>

</nz-spin>
