.chart-container {
  width: 100%;
  height: 500px;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}
.sub-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.chart-label-container {
  div{
    &:last-child {
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
