<div>
  <div nz-row class="chart-label-container">
    <div nz-col [nzSpan]="12">
      <p class="sub-title"
         *ngIf="!(statisticService.loader$| async)">
        {{'STATISTIC.SOLD_NIGHTS_COUNT'| translate}}</p>
    </div>
    <div nz-col [nzSpan]="12">
      <p class="sub-title"
         *ngIf="!(statisticService.loader$| async)">
        {{'STATISTIC.PROFIT'| translate}}</p>
    </div>
  </div>
  <div>
    <div nz-row class="chart-container">
      <fusioncharts
        [width]="'100%'"
        [height]="'500'"
        [type]="'mscombidy2d'"
        [dataSource]="data">
      </fusioncharts>
    </div>
    <div nz-row class="pagination-container" *ngIf="totalRows > rowsInOnePage">
      <nz-pagination [nzPageIndex]="currentPageInx"
                     [nzTotal]="totalRows"
                     [nzPageSize]="rowsInOnePage"
                     [nzShowTotal]="rangeTemplate"
                     (nzPageIndexChange)="onSwitchPage($event)"
                     [nzSize]="'small'"></nz-pagination>
      <ng-template #rangeTemplate let-range="showedRows" let-total="totalRows">
        {{showedRows[0]}}
        - {{showedRows[1]}} {{'STATISTIC.OF'| translate}} {{ totalRows }} {{'STATISTIC.COLUMNS'| translate}}
      </ng-template>
    </div>
  </div>
</div>
