.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: white;
  position: fixed;
  z-index: 11;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 10px #dedede;
}

.nav-bar-placeholder {
  height: 62px;
  width: 100%;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: inline-flex;

  li {
    margin: 0 10px;

    a {
      color: black;
    }
  }
}

.nav-bar-list {
  * {
    color: black;
    font-size: 14px;
  }
}

.active-link {
  color: red !important;
}

.icons-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.icons-menu__item {
  font-size: 18px;
}

.bell-list {
  background-color: white;
}

.bell-list__text {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.dropdown-card {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 300px;
}

.navigation-menu-items {
  height: 63px;
}

:host ::ng-deep .ant-menu-horizontal {
  border-bottom: none;
}

.custom-horizontal-menu-styles {
  height: 63px;

  .horizontal-menu-main-items {
    height: inherit;

    .horizontal-menu-main-link {
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: black;
    }

    .custom-dropdown-title {
      height: 63px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: black;
    }
  }
}

.custom-dropdown-submenu {
  margin: unset;
  padding: unset;
  list-style-type: unset;
  padding-right: unset;
  min-width: unset;
}

.ant-dropdown-menu {
  box-shadow: none;
}
