<nav class="nav-bar">

  <a [routerLink]="getDashboardRoute()" class="flex-vertical-centered ml25" *ngIf="isCurrentHotelNonNullable">
    <img src="./../../../../assets/img/main-logo.svg"/>
  </a>

  <a class="flex-vertical-centered ml25" *ngIf="!isCurrentHotelNonNullable">
    <img src="./../../../../assets/img/main-logo.svg"/>
  </a>

  <div *ngIf="isCurrentHotelNonNullable">
    <ul nz-menu nzMode="horizontal" class="custom-horizontal-menu-styles">
      <ng-container *ngFor="let item of menuItems">
        <!-- just an item without sub-menu popup -->
        <ng-container *ngIf="item?.subMenu == null || item?.subMenu?.length === 0">
          <li nz-menu-item nzMatchRouter
              [ngClass]="{'ant-menu-item-selected': isNavbarItemSelected(item.path)}"
              class="horizontal-menu-main-items">

            <ng-container *ngIf="item.navigable">
              <a (click)="openRoute(item.path)" class="horizontal-menu-main-link">{{item.title| translate}}</a>
            </ng-container>

            <ng-container *ngIf="!item.navigable">
              <div class="horizontal-menu-main-link">{{item.title| translate}}</div>
            </ng-container>

          </li>
        </ng-container>

        <!-- item with Sub-menu -->
        <ng-container *ngIf="item?.subMenu != null && item?.subMenu?.length > 0">
          <li nz-menu-item
              class="horizontal-menu-main-items"
              [ngClass]="{'ant-menu-item-selected': item.active}">
            <nz-dropdown class="custom-dropdown" nzOverlayClassName="custom-overlay-for-navbar-menu-dropdown">
              <div nz-dropdown class="custom-dropdown-title">{{item.title| translate}}</div>
              <ul class="custom-dropdown-submenu" nz-menu>
                <li
                  *ngFor="let sub of item?.subMenu"
                  nz-menu-item
                  nzMatchRouter
                  [nzDisabled]="sub.disabled"
                  class="custom-dropdown-submenu-item">
                  <a class="custom-dropdown-submenu-link" (click)="openRoute(sub.path)">{{sub.title| translate}}</a>
                </li>
              </ul>
            </nz-dropdown>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>

  <div class="icons-menu" style="margin-right: 15px">

    <div class="mr25" *ngIf="isCurrentHotelNonNullable">
      <span nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <i class="icons-menu__item" nz-icon nzType="home" nzTheme="outline"></i>
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu style="max-height: 60vh; overflow-y: auto">
          <li nz-menu-item
              *ngFor="let hotel of hotelsData"
              [nzDisabled]="isDisabledHotelSetting(hotel)"
              (click)="setNewHotelHandler(hotel)">{{hotel.name}}
            <span class="small-alert primary ng-star-inserted"
                  *ngIf="hotel.status === 'registration' ">
              {{'NAV_BAR.REGISTRATION_STEP'| translate}}{{hotel.step}}
            </span>
          </li>

          <li nz-menu-divider></li>

          <li nz-menu-item>
            <a [routerLink]="getListRoute()">{{'NAV_BAR.HOTEL_MANAGE'| translate}}</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <!--    <div class="mr25" *ngIf="isCurrentHotelNonNullable">-->
    <!--      <nz-dropdown nzTrigger="click">-->
    <!--        <span nz-dropdown>-->
    <!--          <nz-badge [nzCount]="5">-->
    <!--            <i class="icons-menu__item" nz-icon nzType="bell" nzTheme="outline"></i>-->
    <!--          </nz-badge>-->
    <!--        </span>-->

    <!--        <nz-card class="dropdown-card" [nzActions]="[cleanAll, allMessages]">-->
    <!--          <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">-->
    <!--            <ng-template #item let-item>-->
    <!--              <nz-list-item>-->
    <!--                <app-message-item [item]="item"></app-message-item>-->
    <!--              </nz-list-item>-->
    <!--            </ng-template>-->
    <!--          </nz-list>-->

    <!--          <ng-template #cleanAll>-->
    <!--            Очистить-->
    <!--          </ng-template>-->
    <!--          <ng-template #allMessages>-->
    <!--            Все уведомления-->
    <!--          </ng-template>-->
    <!--        </nz-card>-->
    <!--      </nz-dropdown>-->
    <!--    </div>-->

    <div>
      <nz-dropdown nzTrigger="click">

        <a nz-dropdown>
          <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
        </a>

        <ul nz-menu nzSelectable>

          <li nz-menu-item *ngIf="isCurrentHotelNonNullable">
            <a [routerLink]="getProfileRoute()">{{'NAV_BAR.PROFILE_SETTINGS'| translate}}</a>
          </li>

          <li nz-menu-item *ngIf="isCurrentHotelNonNullable">
            <a [routerLink]="getAccManagerRoute()">{{'NAV_BAR.ACCOUNT_MANAGE'| translate}}</a>
          </li>

          <li nz-menu-item>
            <a (click)="logOut()">{{'NAV_BAR.LOGOUT'| translate}}</a>
          </li>

        </ul>
      </nz-dropdown>
    </div>

  </div>

</nav>

<div class="nav-bar-placeholder"></div>
