<div class="toolbar">
  <h2>{{'DASHBOARD.BOOKING.BOOKING_OVERVIEW'| translate}}</h2>
  <div class="toolbar-actions">
    <nz-select [(ngModel)]="dayFilterState" (ngModelChange)="onDateFilterChanged()"
               [nzPlaceHolder]="'DASHBOARD.CHOOSE_DATE'| translate" class="selectDate">
      <nz-option *ngFor="let item of datesForFilter" [nzValue]="item.date"
                 [nzLabel]="item.label | translate"></nz-option>
    </nz-select>
    <button class="transparent-btn" nz-button nzGhost nzType="primary" [routerLink]="getReservationListRoute()">
      {{'DASHBOARD.BOOKING.VIEW_ALL_BOOKING'| translate}}
    </button>
  </div>
</div>

<div nz-row nzGutter="16" nzType="flex" nzJustify="left">
  <div class="parent-container">
    <nz-tabset>
      <nz-tab [nzTitle]="'DASHBOARD.CHECK_IN.TITLE'| translate">
        <ng-template nz-tab>
          <app-check-in-books [fromDate]="fromDate"
                              [byDate]="byDate" (openNotesEmit)="openNotes($event)"></app-check-in-books>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'DASHBOARD.CHECK_OUT.TITLE'| translate">
        <ng-template nz-tab>
          <app-check-out-books [fromDate]="fromDate"
                               [byDate]="byDate" (openNotesEmit)="openNotes($event)"></app-check-out-books>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'DASHBOARD.LIVE.TITLE'| translate">
        <ng-template nz-tab>
          <app-live-books [fromDate]="fromDate" [byDate]="byDate" (openNotesEmit)="openNotes($event)"></app-live-books>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'DASHBOARD.SALE.TITLE'| translate">
        <ng-template nz-tab>
          <app-sale-books [fromDate]="fromDate" [byDate]="byDate" (openNotesEmit)="openNotes($event)"></app-sale-books>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'DASHBOARD.CANCELLATION.TITLE'| translate">
        <ng-template nz-tab>
          <app-cancellation-books [fromDate]="fromDate" [byDate]="byDate" (openNotesEmit)="openNotes($event)"></app-cancellation-books>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="'DASHBOARD.REBOOKING.TITLE'| translate">
        <ng-template nz-tab>
          <app-rebooking-books [fromDate]="fromDate" [byDate]="byDate" (openNotesEmit)="openNotes($event)"></app-rebooking-books>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<nz-drawer
  [nzVisible]="isVisible"
  nzTitle="Комментарии"
  (nzOnClose)="handleCancel()"
  [nzWidth]="500"
  [nzBodyStyle]="{ overflow: 'auto' }">
  <div class="d-flex flex-column notes-body" >
    <div class="d-flex flex-column new-note" *ngIf="modelForNotes">
      <span class="full-name">{{ modelForNotes.firstName }} {{ modelForNotes.lastName }}</span>
      <span class="id-number">{{ modelForNotes.id }}</span>
      <textarea rows="4" nz-input [formControl]="note"></textarea>
      <button class="transparent-btn"
              nz-button
              nzType="primary"
              (click)="addNote()"
      >
        Добавить
      </button>
    </div>
    <hr/>
    <div class="d-flex flex-column notes">
      <span class="title">Комментарии</span>
      <div class="d-flex flex-column note" *ngFor="let note of notes;">
        <span class="d-flex">
          <span class="note-name">{{ note.hotelier.name }}</span>
          <span class="note-date">{{ note.created_at | date:'medium' }}</span>
        </span>
        <span class="note-text">{{ note.text }}</span>
      </div>
      <div *ngIf="notes.length === 0" class="empty-notes" nz-row nzGutter="16" nzType="flex" nzJustify="left">
        <div class="parent-container">
          <app-empty [msg]="'No notes available'"></app-empty>
        </div>
      </div>
    </div>
  </div>
</nz-drawer>
