.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 0;
    font-family: SF Pro Display !important;
  }

  .toolbar-actions {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .selectDate{
      width: 207px;
      font-family: SF Pro Display !important;
    }

    .transparent-btn{
      font-family: SF Pro Display !important;
    }
  }
}

.parent-container {
  width: 100%;
  //min-height: 353px;
  height: auto;
  border-radius: 4px;
  padding: 25px 0 0 0;
  background: white;
  margin-bottom: 16px;

  ::ng-deep .ant-tabs .ant-tabs-bar {
    padding: 0 25px;
  }
}

.notes-body {

  hr {
    display: none;
  }

  .new-note {
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
  }

  textarea {
    margin: 15px 0;
  }

  button {
    width: fit-content;
  }

  .full-name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 7px;
    font-family: SF Pro Display !important;
  }

  .id-number {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1890FF;
    font-family: SF Pro Display !important;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    margin: 20px 0 10px 0;
    font-family: SF Pro Display !important;
  }

  .empty-notes {
    padding-bottom: 15px;
  }

  .parent-container {
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 15px;
    background: white;
  }

  .note {
    margin: 15px 0 10px 0;

    .note-name {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #1890FF;
      margin-right: 10px;
      font-family: SF Pro Display !important;
    }
  }

  .note-date {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: #BFBFBF;
    font-family: SF Pro Display !important;
  }

  .note-text {
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    font-family: SF Pro Display !important;
  }
}
