<app-view-container>
  <div class="toolbar" id="reservationListHeader">
    <div class="title-steper">
      {{'RESERVATION.TITLE'| translate}}
    </div>

    <div class="reservations">
      <button nz-button nzType="default" (click)="handleDownload()" class="reservations-action">
        <i nz-icon nzType="download" nzTheme="outline"></i>
        {{'DOWNLOAD'| translate}}
      </button>
      <button nz-button nzType="default" (click)="handlePrint()" class="reservations-action">
        <i nz-icon nzType="printer" nzTheme="outline"></i>
        {{'PRINT'| translate}}
      </button>
    </div>
  </div>

  <div id="reservationListContent">
    <div nz-row>
      <div nz-col>
        <nz-card>
          <div class="select-toolbar">
            <div class="custom-select">
              <label>{{'DATE.TITLE'| translate}}</label>
              <nz-select [formControl]="dateTypeFilterByControl">
                <nz-option
                  *ngFor="let dateType of dateTypeSelection"
                  [nzValue]="dateType?.value"
                  [nzLabel]="dateType?.label| translate"
                  class="custom-select"></nz-option>
              </nz-select>
            </div>
            <div class="custom-select">
              <label>{{'FROM_UP'| translate}}</label>
              <nz-date-picker
                [nzDropdownClassName]="'datepicker-without-arrows'"
                [nzPlaceHolder]="'SELECT_DATE'| translate"
                nzFormat="dd.MM.yyyy"
                [nzDisabledDate]="disabledCheckinDate"
                [formControl]="startDateControl"></nz-date-picker>
            </div>
            <div class="custom-select">
              <label>{{'UNTIL_UP'| translate}}</label>
              <nz-date-picker
                [nzDropdownClassName]="'datepicker-without-arrows'"
                [nzPlaceHolder]="'SELECT_DATE'| translate"
                nzFormat="dd.MM.yyyy"
                [nzDisabledDate]="disabledCheckoutDate"
                [formControl]="endDateControl"></nz-date-picker>
            </div>
            <div class="custom-select">
              <button nz-button nzType="default" (click)="isExtendedSearch = !isExtendedSearch"
                      class="reservations-action other-filters">
                <span>{{'RESERVATION.OTHER_FILTERS'| translate}}</span>
                <span class="dropdown-icon">
              <i *ngIf="!isExtendedSearch" nz-icon nzType="down" nzTheme="outline"></i>
              <i *ngIf="isExtendedSearch" nz-icon nzType="up" nzTheme="outline"></i>
            </span>
              </button>
            </div>
            <div class="custom-select">
              <button
                nz-button
                nzType="primary"
                (click)="showResults()"
                class="show-filters-btn">
                {{'APPLY'| translate}}
              </button>
            </div>
          </div>

          <article *ngIf="isExtendedSearch" class="extended-search-panel">
            <div class="custom-select">
              <p class="filter-title">{{'RESERVATION.STATUS'| translate}}</p>
              <nz-checkbox-group [(ngModel)]="reservationStatus"></nz-checkbox-group>
            </div>
            <!-- <div class="custom-select">
              <p class="filter-title">Общение с гостями</p>
              <nz-checkbox-group [(ngModel)]="communicationWithGuests"></nz-checkbox-group>
            </div> -->
            <div class="custom-select">
              <p class="filter-title">{{'RESERVATION.KEY_WORDS'| translate}}</p>
              <input nz-input [placeholder]="'RESERVATION.ENTER_KEY_WORDS'| translate"
                     [formControl]="keywordInputControl"/>
            </div>
          </article>

          <nz-table
            #basicTable
            [nzData]="reservations"
            [nzLoading]="isDataLoading"
            [nzLoadingIndicator]="largeSpinnerForTable"
            [nzFrontPagination]="false"
            [(nzPageIndex)]="pageIndex"
            [(nzPageSize)]="pageSize"
            [nzTotal]="totalElementsQty"
            (nzPageIndexChange)="searchDataByIndex()">
            <thead>
            <tr>
              <th>{{'RESERVATION.GUEST'| translate}}</th>
              <th>{{'CHECK_IN_DATE'| translate}}</th>
              <th>{{'CHECK_OUT_DATE'| translate}}</th>
              <th>{{'RESERVATION.ROOM_COUNT'| translate}}</th>
              <th>{{'RESERVATION.DATE'| translate}}</th>
              <th>{{'STATUS.TITLE'| translate}}</th>
              <th>{{'RESERVATION.TOTAL'| translate}}</th>
              <th>{{'RESERVATION.SOURCE'| translate}}</th>
              <th>{{'RESERVATION.NUM'| translate}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of basicTable.data; let i = index">
              <tr>
                <td>
                  <p class="guests-wrapper" (click)="seeReservationDetails(data)">
                    <span class="guests">{{ getGuestName(data) }} </span>
                    <span class="guests-number" innerHtml="({{getGuestPluralTitle(data)}})"></span>
                  </p>
                </td>
                <td>{{getFormattedDate(data?.checkin)}}</td>
                <td>{{getFormattedDate(data?.checkout)}}</td>
                <td>{{getRoomsCount(data.roomNames)}}
                </td>
                <td>{{data?.created_at| date: 'dd-MM-yyyy'}}</td>
                <td>
                  <p [className]="'status-label' + ' ' + data?.status">
                    <span>{{getStatusTheme(data?.status)| translate}}</span></p>
                </td>
                <td>{{ data?.total_sum | formatPrice : data.currency }}</td>
                <td>{{getSource(data)}}</td>
                <td class="booking-number">
                  <p class="booking-number-text" (click)="seeReservationDetails(data)">{{ getReservationId(data) }}</p>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </nz-table>

          <ng-template #largeSpinnerForTable>
            <nz-spin nzSimple></nz-spin>
          </ng-template>
        </nz-card>
      </div>
    </div>
  </div>
</app-view-container>
