.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;

  .title-steper {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  .reservations {
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .reservations-action {
      background: transparent;
      width: 158px;
      height: 32px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.select-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 15px 0px 33px;

  .custom-select {
    width: 206px;
    margin-right: 22px;

    nz-select, nz-date-picker, nz-date-picker ::ng-deep nz-picker, nz-date-picker ::ng-deep .ant-calendar-picker {
      width: 100%;
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}

.dropdown-icon {
  padding-left: 10px;
  color: inherit;
  font-size: 12px;
}

.show-filters-btn {
  width: 100%;
}

.reservations-action.ant-btn {
  width: 100%;

  & ::ng-deep > span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.guests-wrapper {
  max-width: 200px;
  cursor: pointer;

  .guests {
    color: #1890FF;
  }

  .guests-number {

  }
}

.booking-number-text {
  cursor: pointer;
}

.status {
  width: 93px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number {
  max-width: 210px;
}

p {
  margin: 0;
}

.extended-search-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 34px;

  .custom-select {
    display: flex;
    flex-direction: column;
    width: 206px;
    margin-right: 22px;

    input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #d9d9d9;
      outline: none;
    }

    .filter-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      padding-bottom: 10px;
    }

    nz-checkbox-group {
      display: flex;
      flex-direction: column;

      & ::ng-deep .ant-checkbox-wrapper {
        margin-left: 10px !important;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .ant-checkbox {
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.booking-number {
  color: #1890FF;
}

.custom-select > label, .ant-table-wrapper ::ng-deep .ant-table-header-column, .filter-title {
  font-weight: 600;
  color: #000000 !important;
}

.custom-select {
  & input {
    outline: none !important;
    box-shadow: none;

    &:focus {
      outline: none !important;
      box-shadow: none;
    }
  }
}

.custom-select {
  width: 15%;

  & ::ng-deep .ant-select-selection__placeholder, & ::ng-deep .ant-select-selection-selected-value {
    color: #000 !important;

    &:hover {
      color: #40a9ff !important;
    }
  }

  nz-select:hover & ::ng-deep .ant-select-selection__placeholder {
    color: #40a9ff !important;
  }

  & ::ng-deep .ant-calendar-picker-input, & ::ng-deep .ant-calendar-picker-input::placeholder {
    color: #000 !important;

    &:hover {
      color: #40a9ff !important;
    }
  }

  & ::ng-deep .ant-calendar-picker-input:hover {
    color: #40a9ff !important;

    &::placeholder  {
      color: #40a9ff !important;
    }
  }

  .reservations-action {
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      color: #40a9ff;
    }
  }
}

.content {
  nz-card ::ng-deep .card-rate {
    .date {
      padding: 10px 0;
    }
  }
}

:host ::ng-deep .ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  top: 70%;
}

.status-label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 1px 3px;
  border-radius: 4px;
}

.confirmed {
  color: #329DFF;
  border: 1px solid #91D5FF;
  background: #E6F7FF;
}

.canceled {
  color: #FA541C;
  border: 1px solid #FFADA9;
  background: #FFF1F0;
}

.no_show {
  color: #F62F39;
  border: 1px solid #FFADA9;
  background: #FFF1F0;
}

.in_house {
  color: #52C41A;
  border: 1px solid #B7EB8F;
  background: #F6FFED;
}

.check_out {
  color: #595959;
  border: 1px solid #D9D9D9;
  background: #F5F5F5;
}
