<nz-spin [nzSpinning]="isLoading">

  <h3 class="card-title">{{'GALLERY.OBJECT_PHOTOS'| translate}}</h3>
  <nz-alert
    nzType="info"
    [nzDescription]="'GALLERY.DESCRIPTION'| translate"
    nzShowIcon>
  </nz-alert>

  <div class="cards-container">
    <nz-card>

      <app-photo-manager
        [inputSelected]="hotel?.images"
        (selected)="onGallerySubmit($event)">
      </app-photo-manager>

    </nz-card>

    <div nz-col [nzSpan]="12" class="button-container">
      <button
        nz-button
        nzBlock
        class="login-form-button"
        (click)="onBack()"
        [nzType]="'default'">
        {{'BACK'| translate}}
      </button>
    </div>

    <div nz-col [nzSpan]="12" class="button-container">
      <button
        nz-button
        nzBlock
        class="login-form-button"
        (click)="submit()"
        [nzType]="'primary'">
        {{'NEXT'| translate}}
      </button>
    </div>


  </div>

</nz-spin>
