.pre-test{
  background: #4abfd257;
  margin: 50px;
  padding: 50px;
}
.hotel-title{
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}
.empty-image{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #E0E0E0;

  i{
    text-align: center;
  }
}

.new-hotel{

  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  i{
    text-align: center;
    font-size: 25px;
  }
  span{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  p{
    margin-left: 5px;
    display: flex;
    font-size: 18px;
    justify-content: center;
  }
}
nz-card:hover{
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.6);
}

.hotels-item-img {
  height: 216px;
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 );
  transition: all .1s linear;
}
