<app-view-container>
  <h2>Мои отели</h2>
  <div>
    <nz-spin [nzSpinning]="mainLoading">
      <div *ngIf="hotelsList.length > 0; else noHotels" nz-row nzGutter="16" nzType="flex" nzJustify="left">
        <div
          *ngFor="let hotel of hotelsList"
          nz-col
          (click)="openHotelDashboard(hotel)"
          class="gutter-row pointer"
          style="margin: 8px 0;"
          nzSpan="6">

          <nz-card
            [nzBodyStyle]="{'padding': '4px 14px 11px 14px'}"
            [nzCover]="coverTemplate">

            <nz-skeleton
              [nzLoading]="loading"
              [nzActive]="true"
              [nzParagraph]="{ rows: 1 }"
              class="skeleton-custom"
            >
              <p class="hotel-title ellipsis" title="{{hotel.name}}">
                {{hotel.name}}
              </p>

              <span
                *ngIf="hotel.status === 'published'"
                class="small-alert success">Опубликован</span>

              <!-- Status-->
              <span *ngIf="hotel.status === 'registration'"
                    class="small-alert primary"
              >Регистрация: шаг {{hotel.step}}</span>

              <span *ngIf="hotel.status === 'moderation'"
                    class="small-alert danger"
              >На модерации</span>

              <span *ngIf="hotel.status === 'blocked'"
                    class="small-alert error"
              >
          Заблокирован</span>
              <!-- Status end-->

            </nz-skeleton>

            <ng-template
              #coverTemplate>
              <div
                class="empty-image"
                [style.height.px]="216"
                *ngIf="hotel.image === null">
                <i
                  nz-icon
                  [style.fontSize.px]="iconHeight/2"
                  style="color: rgba(193,193,193,0.6);"
                  nzType="camera"
                  nzTheme="outline">
                </i>

              </div>
              <img
                class="hotels-item-img"
                #imageBlock
                *ngIf="hotel.image"
                alt="example"
                src="{{hotel.image.small}}"/>
            </ng-template>
          </nz-card>

        </div>
        <div
          nz-col
          class="gutter-row pointer"
          (click)="openHotelDashboard(null)"
          style="margin: 8px 0;"
          nzSpan="6">
          <nz-card
            [nzBodyStyle]="{'padding': '0'}">
            <div
              [style.height.px]="iconHeight + 63"
              class="new-hotel">
              <p>
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                <span style="font-size: 16px;">Добавить гостиницу</span>
              </p>
            </div>
          </nz-card>
        </div>
      </div>
    </nz-spin>
  </div>
</app-view-container>

<ng-template #noHotels>
  <div nz-row nzGutter="16" nzType="flex" nzJustify="center" style="padding-top: 25vh">
    <div nz-col nzSpan="6">
      <nz-empty [nzNotFoundContent]="'EMPTY_LIST'| translate"></nz-empty>
      <button
        nz-button
        nzBlock
        (click)="openHotelDashboard(null)"
        class="login-form-button"
        [nzType]="'primary'">
        {{'ADD_FIRST_HOTEL'| translate}}
      </button>
    </div>
  </div>
</ng-template>

