<div class="quick-edit">
  <header class="quick-edit__header header">
    <div class="header__top">
      <a (click)="close()">
        <i nz-icon nzType="double-left" nzTheme="outline"></i>
      </a>
    </div>
    <div class="header__info">
      <h2 class="header__title">{{ data.booking.guest?.first_name }} {{ data.booking.guest?.last_name }}</h2>
      <p class="header__subtitle">{{ data.booking.id }}</p>
      <p class="header__room-type">{{ data.roomType.short_name }}</p>
    </div>
  </header>
  <div class="quick-edit__controls controls">
    <h2 class="controls__title">Быстрое редактирование</h2>
    <div class="controls__actions">
      <div class="controls__action">
        <button nz-button nzType="primary">Добавить разрыв</button>
      </div>
      <div class="controls__pagination">
        <button class="controls__button" nz-button nzType="primary" nzGhost>
          <i nz-icon nzType="left"></i>
          Предыдущий
        </button>
        <button class="controls__button" nz-button nzType="primary" nzGhost>
          Следующий
          <i nz-icon nzType="right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="quick-edit__splits">
    <app-reservation-split
      *ngFor="let period of reservationData.periods"
      [roomTypes]="roomTypes"
      [period]="period"
    ></app-reservation-split>
  </div>
  <div class="quick-edit__pricebar">
    <p class="quick-edit__pricebar-label">Новая цена:</p>
    <p class="quick-edit__pricebar-price">
      <strong>{{ totalCost }}</strong>
    </p>
  </div>
  <div class="quick-edit__actions">
    <button class="quick-edit__action" nz-button (click)="close()">
      Отмена
    </button>
    <button class="quick-edit__action" nz-button nzType="primary">
      Сохранить
    </button>
  </div>
</div>
