<div class="days-bar" [ngClass]="position === 'top' ? 'days-bar--top': 'days-bar--bottom'">
  <div class="days-bar__months" *ngIf="position === 'top' && dates" #monthBar>
      <div class="days-bar__month month">
      <div class="month__container" *ngFor="let month of months; let i = index;" [style.width.px]="month.width">
        <span [style.marginLeft.px]="month.margin" class="month__name capitalize">
          {{ month.name }} {{ month.year }}
        </span>
      </div>
    </div>
  </div>
  <div class="days-bar__days">
    <cdk-virtual-scroll-viewport itemSize="90" [minBufferPx]="(daysCount + 5)*cellWidth" [maxBufferPx]="(daysCount + 5)*cellWidth" orientation="horizontal" class="gkz-horizontal-viewport date-viewport scroll-datebar" #topBar>
      <div *cdkVirtualFor="let day of dates; index as i; templateCacheSize: 20;" (click)="selectDay(day)"
        [ngClass]="compareDates(calendarService.todayString, day) ? 'today' : ''" class="days-bar__day day cell">
        <p class="day__cell" [ngClass]="compareDates((store.state$ | async).selectedDate, day) ? 'selected-cell' : ''">
          <span class="day__name capitalize">
            {{ formatDay(day)[0]}}
            <span class="day__number">
              {{ formatDay(day)[1] }}
            </span>
          </span>
        </p>
        <div [ngClass]="compareDates((store.state$ | async).selectedDate, day) ? 'selected-cell' : ''"
          class="days-bar__info info bottom-bordered">
          <div class="info__unassigned">
            <p (click)="openSidebarDrawer($event, day, notAssigned[i])" class="info__value"
              [ngClass]="notAssigned[i] > 0 ? 'info__value--red' : ''">
              {{ notAssigned[i] }}
            </p>
          </div>
          <p class="info__percents">{{ roomsBooked[i] ? roomsBooked[i] : 0 }}</p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
