.days-bar {
  &--top {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 63px; // room for navbar
    z-index: 100;
  }

  &--bottom {
    position: fixed;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    z-index: 100;
  }

  &__months {
    position: relative;
    overflow: hidden;
  }

  &__days {
    display: -webkit-box;
    height: 78px;
    width: 100%;

  }
  .date-viewport {
    height: 100%;
    width: 100%;
    overflow: hidden;

  }
}

.month {
  box-shadow: inset -1px 0px 0px 1px #D9D9D9;
  display: inline-flex;
  background: #f0f2f5;
  &__container {
    display: block;
    padding: 3px 0 3px 10px;
    border-right: 1px solid #d9d9d9;
    min-width: 150px;
  }

  &__name {
    color: #1890FF;
    position: sticky;
    left: 10px;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 18px;
    font-weight: 600;
  }
}

.day {
  //box-shadow: -1px -1px 0px 0px #D9D9D9;
  color: black;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  margin: 0;
  line-height: 1.6;

  &__cell {
    margin-bottom: 0;

  }


  &__name {
    opacity: 1;
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #1890ff;
    padding: 4px 0;
    font-weight: 600;

    &--custom {
      opacity: 0.6;
    }
  }

  &__number {
    color: #fff;
    font-weight: bold;
  }
}

.day:first-child:hover {
  border-left: 1px solid #757575;
}

.day:hover,
.day:hover+.day {
  box-shadow: -1px -0px 0px 0px #757575;
}

.day:hover>.bottom-bordered {
  box-shadow: inset 0px -1px 0px 0px #757575;
}

.info {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6px 0;

  &__value {
    margin: 0;
    display: inline;
    background-color: #d9d9d9;
    padding: 2px 14px;
    border-radius: 6px;
    color: #9c9c9c;
    font-weight: bold;

    &--red {
      background-color: #f86f76;
      color: #fff;
      cursor: pointer;
    }
  }

  &__percents {
    margin: 0;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.45);
  }
}

.today .info {
  background-color: #E6F7FF;
}
