<app-view-container>
  <app-view-inner-content name="{{name}}">

    <div class="block-stepper">
      <nz-steps [nzCurrent]="currentStep" nzSize="">
        <nz-step></nz-step>
        <nz-step></nz-step>
        <nz-step></nz-step>
      </nz-steps>
    </div>

    <div style="padding: 50px" *ngIf="agencyInfo">
      <div class="agency-info">
        <div nz-row>
          <div nz-col nzSpan="2" class="agency-info__image">
            <div class="flex-horizontal-centered block-image">
              <img style="max-width: 100%"
                   src="../../../../assets/img/dolores-travel-services.png" alt="dolores">
            </div>
          </div>
          <div nz-col nzSpan="22" class="agency-info__info">
            <p class="title-span">{{ agencyInfo.name }}</p>

            <div class="flex-between block-contract-form">
              <nz-form-item>
                <nz-form-label class="title-14 bolded" nzFor="created_date">Срок договора</nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <!--                    <nz-range-picker [ngModelOptions]="{standalone: true}"-->
                    <!--                                     [(ngModel)]="selectedDates"-->
                    <!--                                     [nzShowTime]="false"-->
                    <!--                                     [nzMode]="'year'"-->
                    <!--                                     [nzShowToday]="false"></nz-range-picker>-->

                    <nz-date-picker
                      nzFormat="yyyy-MM-dd"
                      [(ngModel)]="startValue"
                      nzPlaceHolder="Start"
                      [nzMode]="'month'"
                      (nzOnOpenChange)="handleStartOpenChange($event); getSelectedDays()"
                    ></nz-date-picker>
                    <nz-date-picker
                      #endDatePicker
                      nzFormat="yyyy-MM-dd"
                      [(ngModel)]="endValue"
                      nzPlaceHolder="End"
                      [nzMode]="'month'"
                      (nzOnOpenChange)="getSelectedDays()"
                    ></nz-date-picker>
                  </nz-input-group>
                  <nz-form-explain
                    *ngIf="validateForm.get('created_date')?.dirty && validateForm.get('created_date')?.errors">
                    Пожалуйста, введите дату заключения!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>

              <form nz-form [formGroup]="validateForm">
                <nz-form-item>
                  <nz-form-label class="title-14 bolded" nzFor="contract_number">Номер договора</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="contract_number" nz-input/>
                    </nz-input-group>
                    <nz-form-explain
                      *ngIf="validateForm.get('contract_number')?.dirty && validateForm.get('contract_number').errors">
                      Пожалуйста, введите номер договора!
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </form>

              <!--              <nz-form-item class="top-form__item&#45;&#45;last-item">-->
              <!--                <nz-form-label class="title-14 bolded" nzFor="contract_number">Реквизиты</nz-form-label>-->
              <!--                <nz-form-control>-->
              <!--                  <span>{{ agencyInfo.company_legal_information.bank_account }}</span>-->
              <!--                </nz-form-control>-->
              <!--              </nz-form-item>-->
            </div>
          </div>
        </div>
      </div>

      <div class="selected-days">
        <div><span class="count-selected-days">Количество выбранных дней</span></div>
        <span class="icon-block"><i nz-icon nzType="question" style="color: white; cursor:pointer;" nzTheme="outline"
                                    [nz-tooltip]="tooltipMessage"></i></span>
        <span class="days" [class]="selectedDays < countDaysInYear ? 'red' : ''">{{selectedDays}}</span>
        <span class="days">/{{countDaysInYear}}</span>
      </div>

      <nz-spin [nzSpinning]="isLoading">
        <div [ngSwitch]="currentStep">
          <app-agency-contract-first-step
            *ngSwitchCase="0" (tableDataEmitter)="setTableData($event)" (foodDataEmitter)="setFoodData($event)">
          </app-agency-contract-first-step>

          <app-agency-contract-second-step
            *ngSwitchCase="1" (cancellationsEmitter)="setCancellations($event)" [cancellationsData]="cancellations"
            [taxes]="taxes" (taxesEmitter)="setTaxes($event)">
          </app-agency-contract-second-step>

          <app-agency-contract-third-step
            *ngSwitchCase="2" [cancellationsData]="cancellations" [taxes]="taxes" [tableData]="tableData"
            [foodData]="foodData">
          </app-agency-contract-third-step>
        </div>
      </nz-spin>
    </div>


    <div class="controls w100 flex-horizontal-centered">
      <button
        nz-button
        (click)="leftBtn()"
        class="controls__left mr25"
        nzType="default">
        <span [ngSwitch]="currentStep">
          <span *ngSwitchCase="0">
            Отменить
          </span>
          <span *ngSwitchCase="1">
            Назад
          </span>
          <span *ngSwitchCase="2">
            Назад
          </span>
        </span>
      </button>
      <button
        class="controls__right "
        [disabled]="currentStep === 0 && selectedDays < countDaysInYear"
        nz-button
        (click)="rightBtn()"
        nzType="primary">
        <span [ngSwitch]="currentStep">
          <span *ngSwitchCase="0">
            Следующий этап
          </span>
          <span *ngSwitchCase="1">
            Следующий этап
          </span>
          <span *ngSwitchCase="2">
            Сохранить
          </span>
        </span>
      </button>
    </div>
  </app-view-inner-content>
</app-view-container>

