.agency-info__info{
  padding-left: 45px;
}
.agency-info{
  margin-bottom: 50px;
}
.block-image{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
}
.block-contract-form{
  width: 87%;
}
.block-stepper{
  width: 70%;
  margin: 0 auto;
}
.button-download{
  border: 1px solid #1890FF;
  border-radius: 4px;
  color: #1890FF;
}
.selected-days{
  text-align: center;
  margin-bottom: 20px;
}

.count-selected-days{
  line-height: 40px;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.days{
  color: rgba(0,0,0,.65);
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}

.icon-block{
  background: #1890ff;
  border-radius: 50%;
  font-size: 16px;
  padding: 3px;
  margin-right: 10px;
}

.red{
  color: red;
}
