<nz-spin [nzSpinning]="isLoading">

  <h3 class="card-title">{{title| translate}}</h3>

  <nz-alert
    nzType="info"
    [nzDescription]="'HOTEL_FORM.MAIN_DESC'| translate"
    nzShowIcon>
  </nz-alert>

  <div class="cards-container" #cardContainer>
    <nz-card>

      <div nz-row>
        <p class="inner-title">
          {{'HOTEL_FORM.COMMON_INFO_ABOUT_HOTEL'| translate}}
        </p>
        <nz-divider></nz-divider>
        <div nz-col [nzSpan]="11">
          <nz-form-item>
            <nz-form-control [nzValidateStatus]="validateState.name" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'HOTEL_FORM.YOUR_OBJECT_NAME'| translate}}</nz-form-label>
              <nz-input-group>
                <input nz-input [(ngModel)]="hotel.name" (ngModelChange)="validateState.invalidName(hotel.name)"
                       [placeholder]="'HOTEL_FORM.OBJECT_NAME'| translate" required/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-explain>
            {{'HOTEL_FORM.OBJECT_NAME_DESC'| translate}}
          </nz-form-explain>
        </div>

        <div nz-col [nzSpan]="11" [nzOffset]="1">
          <nz-form-item>
            <nz-form-control [nzValidateStatus]="validateState.propertyType"
                             [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'HOTEL_FORM.OBJECT_TYPE'| translate}}</nz-form-label>
              <nz-input-group>
                <nz-select [(ngModel)]="hotel.property_type_id"
                           (ngModelChange)="validateState.invalidPropertyType(hotel.property_type_id)"
                           [nzPlaceHolder]="'HOTEL_FORM.SELECT_OBJECT_TYPE'| translate">
                  <nz-option
                    *ngFor="let property_type of propertyTypes" [nzValue]="property_type.id"
                    [nzLabel]="property_type.name">
                  </nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzValidateStatus]="validateState.stars" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'HOTEL_FORM.STARTS_COUNT'| translate}}</nz-form-label>
              <nz-input-group>
                <nz-select [(ngModel)]="hotel.stars" (ngModelChange)="validateState.invalidStars(hotel.stars)"
                           [nzPlaceHolder]="'HOTEL_FORM.SELECT_STARTS_COUNT'| translate">
                  <nz-option *ngFor="let star of stars"
                             [nzValue]="star" [nzLabel]="star"></nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

        </div>
      </div>

    </nz-card>

    <nz-card>

      <div nz-row>
        <p class="inner-title">
          {{'HOTEL_FORM.OBJECT_CONTACT_DATA'| translate}}
        </p>
        <nz-divider></nz-divider>
        <div nz-col [nzSpan]="11">
          <nz-form-item>
            <nz-form-control [nzValidateStatus]="validateState.contactPerson"
                             [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'HOTEL_FORM.CONTACT_PERSON'| translate}}</nz-form-label>
              <nz-input-group>
                <input nz-input [(ngModel)]="contactPerson"
                       (ngModelChange)="validateState.invalidContactPerson(contactPerson)"
                       [placeholder]="'HOTEL_FORM.CONTACT_PERSON'| translate" required/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="11" [nzOffset]="1">
          <nz-form-item>
            <nz-form-control [nzValidateStatus]="validateState.phone" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'PHONE_NUMBER'| translate}}</nz-form-label>
              <nz-input-group>
                <input nz-input [(ngModel)]="phone" (ngModelChange)="validateState.invalidPhone(phone)" [placeholder]="'PHONE_NUMBER'| translate"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'ADDITIONAL_PHONE_NUMBER'| translate}}</nz-form-label>
              <nz-input-group>
                <input nz-input [(ngModel)]="hotel.phone2" [placeholder]="'ADDITIONAL_PHONE_NUMBER'| translate"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </nz-card>

    <nz-card>

      <div nz-row>
        <p class="inner-title">
          {{'HOTEL_FORM.OBJECT_ADDRESS'| translate}}
        </p>
        <nz-divider></nz-divider>
        <div nz-col [nzSpan]="11">
          <nz-form-item>
            <nz-form-control [nzValidateStatus]="validateState.address" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'ADDRESS'| translate}}</nz-form-label>
              <nz-input-group>
                <input nz-input [(ngModel)]="hotel.address" (ngModelChange)="validateState.invalidAddress(hotel.address)" [placeholder]="'ADDRESS'| translate" required/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="11" [nzOffset]="1">
          <nz-form-item *ngIf="hotel.city">
            <nz-form-control [nzValidateStatus]="validateState.city" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'CITY'| translate}}</nz-form-label>
              <nz-input-group>
                <input nz-input [(ngModel)]="hotel.city.name" (ngModelChange)="cityFilter()"
                       [placeholder]="'CITY'| translate"
                       [nzAutocomplete]="citiesComplete"/>
                <nz-autocomplete #citiesComplete>
                  <nz-auto-option
                    *ngFor="let city of filteredCities" [nzValue]="city.name">
                    {{city.name}}
                  </nz-auto-option>
                </nz-autocomplete>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'FIELD_MUST_FILL'| translate">
              <nz-form-label>{{'POSTCODE'| translate}}</nz-form-label>
              <nz-input-group>
                <input nz-input [(ngModel)]="hotel.zip_code" [placeholder]="'POSTCODE'| translate"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </nz-card>

    <div nz-col nzSpan="24" class="button-container">
      <button
        nz-button
        nzBlock
        class="login-form-button"
        (click)="submit()"
        [nzType]="'primary'">
        {{'NEXT'| translate}}
      </button>
    </div>
  </div>


</nz-spin>

