<app-view-container>
  <div class="toolbar" id="reservationDetailsHeader">
    <div class="title-steper">
      {{'RESERVATION.DETAILS'| translate}}
    </div>
    <div class="reservations">
      <button nz-button nzType="default" (click)="handleDownload()" class="reservations-action">
        <i nz-icon nzType="download" nzTheme="outline"></i>
        {{'DOWNLOAD'| translate}}
      </button>
      <button nz-button nzType="default" (click)="handlePrint()" class="reservations-action">
        <i nz-icon nzType="printer" nzTheme="outline"></i>
        {{'PRINT'| translate}}
      </button>
    </div>
  </div>

  <div class="outer-container" id="reservationDetailsContent">
    <nz-spin [nzSpinning]="isLoading">
      <section class="page-container">
        <section class="top-panel">
          <app-reservation-details-top-panel (switchLoader)="isLoading = $event" [reservation]="reservation"></app-reservation-details-top-panel>
        </section>
        <section class="tabs-panel">
          <app-reservation-details-tabs-panel [reservation]="reservation"></app-reservation-details-tabs-panel>
        </section>
      </section>
    </nz-spin>
  </div>
</app-view-container>
