<div class="parent-shell">
  <div nz-row class="header-shell">
    <div nz-col nzSpan="6">
      <nz-button-group class="filter-shell">
        <button class="filter-btn" [nzLoading]="forecastService.isPrevLoading" nz-button nzType="default" nzSize="small"
                (click)="onDateChange(false)">
          <i nz-icon nzType="left" nzTheme="outline"></i>
        </button>
        <button class="filter-btn" nz-button nzType="default"
                nzSize="small">{{FILTER_DAYS_COUNT}} {{'DAYS.TITLE'| translate}}</button>
        <button class="filter-btn" [nzLoading]="forecastService.isNextLoading" nz-button nzType="default" nzSize="small"
                (click)="onDateChange(true)">
          <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
      </nz-button-group>
    </div>
    <div nz-col nzSpan="4">
      <p class="header-title">{{'PROFIT'| translate}}</p>
      <p class="header-value">{{(forecastService.$headerValues| async).loaded}}%</p>
    </div>
    <div nz-col nzSpan="6">
      <p class="header-title">{{'LOADING'| translate}}</p>
      <p
        class="header-value">{{(forecastService.$headerValues| async).profit}} {{(forecastService.$headerValues| async).currency}}</p>
    </div>
    <div nz-col nzSpan="4">
      <label class="dot-red dot"></label>
      <label class="header-title">{{'NOT_AVAILABLE'| translate}}</label>
    </div>
    <div nz-col nzSpan="4">
      <label class="dot-green dot"></label>
      <label class="header-title">{{'AVAILABLE'| translate}}</label>
    </div>
  </div>
  <div class="chart-shell"
       [ngClass]="{'opacity-shell': forecastService.isLoading}">
    <div nz-row id="row">
      <div nz-col nzSpan="4" class="main-col">
        <div nz-row class="date-row">
        </div>
        <div nz-row class="overall-row overall-label">
          <p>{{'DASHBOARD.AVAILABLE_ROOMS'| translate}}</p>
        </div>
        <div class="value-row value-row-label" *ngFor="let item of (forecastService.$forecastAvailable| async).rooms">
          <nz-divider [nzText]="item.label" nzOrientation="left"></nz-divider>
        </div>
      </div>
      <div nz-col nzSpan="20" class="main-col">
        <div nz-row class="date-row" id="date-row">
          <div nz-col
               nzSpan="1"
               class="date-cell"
               *ngFor="let item of (forecastService.$forecastAvailable| async).dates"
               [style.width]="dateCellWidth">
            <p class="date-label">{{item.label| translate}}</p>
            <p class="date-value">{{item.date| date: 'dd.MM'}}</p>
          </div>
        </div>
        <div nz-row class="overall-row">
          <div nz-col
               nzSpan="1"
               class="date-cell"
               *ngFor="let item of (forecastService.$forecastAvailable| async).dates"
               [style.width]="dateCellWidth">
            <div [className]="'value-cell' + ' ' + getOverAllTheme(item.value)">
              <p>{{item.value}}</p>
            </div>
          </div>
        </div>
        <div nz-row class="value-row cells-row"
             *ngFor="let item of (forecastService.$forecastAvailable| async).rooms">
          <div nz-col
               nzSpan="1"
               class="value"
               *ngFor="let child of item.values"
               [style.width]="dateCellWidth">
            <app-cell-item [value]="child.value"></app-cell-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

