.parent-shell {
  height: 100%;
  padding: 10px 29px 29px 29px;

  .header-shell {
    height: 100px;

    .filter-shell {
      margin-top: 40px;

      .filter-btn {
        height: 32px;
        width: 65px;
        border-radius: 4px !important;

        &:first-child {
          width: 32px;
          margin-right: 5px;
        }

        &:last-child {
          width: 32px;
          margin-left: 5px;
        }
      }
    }

    .header-title {
      margin-top: 30px;
      margin-bottom: 0;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #8C8C8C;
    }

    .header-value {
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #262626;
    }

    .dot {
      height: 6px;
      width: 6px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      margin-top: 50px;
    }

    .dot-red {
      background-color: #F5222D;
    }

    .dot-green {
      background-color: #52C41A;
    }
  }

  .chart-shell {
    height: fit-content;
    padding: 25px 15px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;

    #row {
      height: 100%;

      .main-col {
        height: 100%;

        .date-row {
          height: 50px;

          .date-cell {
            height: 100%;

            .date-label {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              text-align: center;
              margin-bottom: 0;
              color: #262626;
            }

            .date-value {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              text-align: center;
              color: #8C8C8C;
            }
          }
        }

        .overall-row {
          height: 30px;
          margin: 0 0 10px 0;

          .overall-label {
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              color: #8C8C8C;
              margin-top: 3px;
              margin-bottom: 0;
            }
          }
        }

        .value-row {
          max-height: 30px !important;
          min-height: 30px;
          margin: 10px 0;
        }

        .value-row-label {
          padding-top: 1px;

          .ant-divider-horizontal.ant-divider-with-text-left::before {
            width: 0;
          }

          ::ng-deep.ant-divider-horizontal.ant-divider-with-text-left .ant-divider-inner-text {
            padding-left: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #262626;

            p {
              margin-bottom: 0;
            }
          }

          ::ng-deep.ant-divider-horizontal.ant-divider-with-text-left {
            margin: 0;
          }
        }

        .cells-row {
          margin: 0 0 10px 0;

          ::ng-deep.ant-divider-horizontal.ant-divider-with-text-center {
            margin: 0;
          }

          ::ng-deep.ant-divider-horizontal.ant-divider-with-text-center .ant-divider-inner-text {
            padding: 0;
          }

          .value {
            &:last-child {
              ::ng-deep.ant-divider-horizontal.ant-divider-with-text-center::after
              {
                border-color: transparent;
              }
            }
          }
        }

        .value-cell {
          width: 22px;
          height: 22px;
          border-radius: 4px;
          margin: 4px auto 0 auto;
          border: 1px solid;

          p {
            text-align: center;
            vertical-align: middle;
            margin-bottom: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
          }
        }

        .fill-non-cell {
          background: #F5222D;
          border-color: #F5222D;
          color: #ffffff;
        }

        .fill-free-cell {
          background: #52C41A;
          border-color: #52C41A;
          color: #ffffff;
        }
      }
    }
  }

  .opacity-shell {
    opacity: 0.4;
  }
}
