.calendar-table {
  padding-top: 106px;
  overflow: hidden !important;
  height: 100%;

  &__scroll-container {
    height: 100%;

    &::ng-deep>.scroll-container {
      height: 100%;

      .gkz-horizontal-viewport {
        height: 100vh;
        width: 100%;
        overflow: hidden;

        .cdk-virtual-scroll-content-wrapper {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

.nav-box {
  height: 100%;
  width: 180px;
  background-color: red;
  opacity: 0.4;
}

.nav-box {
  position: absolute;
}

.left-nav {
  left: 0;
  top: 0;
}

.right-nav {
  right: 0;
  top: 0;
}
::ng-deep {

  .scrolling {
    .calendar-table  {
      .scroll-container{position: fixed;
        width: 100%;
      }
    }
  }

}
