<nz-spin [nzSize]="'large'" [nzSpinning]="isLoading" nzTip="Loading calendar data..."
         style="min-height: 100vh; max-height: 100%">
  <div class="calendar-table disable-text-selection">
    <app-scroll-container class="calendar-table__scroll-container">
      <app-days-bar
        [data]="data"
        [dates]="datesForShow"
      ></app-days-bar>
      <cdk-virtual-scroll-viewport itemSize="90" [minBufferPx]="(daysCount + 5)*cellWidth" [maxBufferPx]="(daysCount + 5)*cellWidth" [style.height]="getTableHeight(data)" orientation="horizontal" class="gkz-horizontal-viewport scroll-table"
                                   #table>
        <div class="calendar-table__rows"
             *cdkVirtualFor="let day of datesForShow;  templateCacheSize: 60; let i = index;">
          <app-room-row
            *ngFor="let roomType of data.room_types; trackBy: trackByIdForRoomTypes"
            [roomTypeInput]="roomType"
            [isEmpty]="i+1 < daysCount || i+1 > (daysCount * 2)"
            [day]="day"
            [data]="data"
            (onDragStart)="dragStart($event)"
            (onDragEnd)="dragEnd($event)"
          ></app-room-row>
        </div>
      </cdk-virtual-scroll-viewport>
      <app-days-bar
        [data]="data"
        [dates]="datesForShow"
        position="bottom">
      </app-days-bar>
    </app-scroll-container>
  </div>
</nz-spin>
