<section class="page-container">
  <section class="chat-wrapper" *ngIf="false else noAny">
    <div class="chat-header" *ngIf="messageList?.length > 0">
      <p class="chat-date">27.01.2020</p>
    </div>

    <div class="chat-main-container">
      <ng-container *ngIf="messageList?.length === 0">
        <div class="no-message-msg-container">
          <div class="no-message-msg">
            <img class="no-message-icon" src="../../../../../assets/img/chat-icon.svg" alt="no image" />
            <p class="no-message-text">
              У Вас еще нет переписки с этим гостем
            </p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="messageList?.length > 0">
        <section id="messageListWrapper" class="message-list-wrapper">
          <article class="message-container" *ngFor="let message of messageList; let i = index" [class.mine-message]="isMineMessage(i)">
            <div class="message-wrapper">
              <p class="message-title">
                <span class="user-name">{{message?.userName}}</span>
                <span class="user-date">{{message?.time}}</span>
              </p>
              <p class="message-content">{{message?.text}}</p>
              <div class="files-wrapper" *ngIf="message?.files?.length > 0">
                <article class="file-info" *ngFor="let file of message?.files">
                  <span class="file-icon">
                    <i nz-icon nzType="file" nzTheme="outline">
                    </i>
                  </span>
                  <p class="file-name">{{file?.name}}</p>
                </article>
              </div>
            </div>
          </article>
        </section>
      </ng-container>

      <div class="action-panel">
        <div class="input-wrapper">
          <input nz-input type="text" class="message-input" [formControl]="messageControl" (keyup.enter)="sendMessage()">
        </div>
        <div class="buttons-wrapper">
          <nz-upload
            [nzAction]="imageUrl"
            [nzCustomRequest]="imageUploadingRequestHandler"
            nzMultiple
            [nzLimit]="maxFileUpload"
          >
            <div class="add-file-button" [class.disable]="uploadedFiles?.length >= maxFileUpload">
              <img class="paper-clip" src="../../../../../assets/img/add-file.svg" alt="File">
              <nz-badge [nzCount]="uploadedFilesCount" class="file-count-badge">
                <a class="head-example"></a>
              </nz-badge>
            </div>
          </nz-upload>
          <button
            class="send-btn"
            nz-button nzType="primary"
            (click)="sendMessage()">
            Отправить
          </button>
        </div>
      </div>
    </div>
  </section>
</section>

<ng-template #noAny>
  <app-empty></app-empty>
</ng-template>
