p {
  margin: 0;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
  
  .chat-wrapper {
    width: 85%;
    max-width: 1116px;
    height: 359px;
    padding: 33px 15px 9px;
    background: #FAFAFA;
    border-radius: 4px;
    
    .chat-header {
      width: 100%;
      height: 58px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.09);
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      .chat-date {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .chat-main-container {
      width: 100%;
      height: calc(100% - 32px);
      
      .no-message-msg-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .no-message-msg {
          width: 248px;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .no-message-icon {
            width: 43px;
            height: 43px;
          }
          
          .no-message-text {
            margin-top: 20px;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            /* or 157% */
            
            text-align: center;
            
            color: #ADAFB0;
          }
          
        }
        
      }
      
      .message-list-wrapper {
        width: 100%;
        overflow-y: scroll;
        height: 224px;
        padding-bottom: 5px;

        .message-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          &.mine-message {
            justify-content: flex-end;

            .message-wrapper {
              background: #FAFAFA;
            }
          }

          .message-wrapper {
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            width: 80%;
            padding: 4px 9px 15px;
            margin: 4px 0;
          
            .message-title {
              
              .user-name {
                font-size: 14px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.45);
                padding-right: 14px;
                font-weight: 600;
              }
              
              .user-date {
                font-size: 14px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.45);
              }
              
            }
            
            .message-content {
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #000000;
              word-break: break-all;
            }
  
            .files-wrapper {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              padding-top: 8px;
              
              .file-info {
                max-width: 200px;
                color: #1890ff;
                font-weight: 500;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 2px 3px;
                
                .file-icon {
                  margin-right: 5px;
  
                  i  {
                    width: 100%;
                    height: 100%;
  
                    & ::ng-deep svg {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
                
                .file-name {
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }

      .action-panel {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
        .input-wrapper {
          width: 85%;
          height: 32px;
          margin-right: 32px;
          
          .message-input {
            width: 100%;
            height: inherit;
          }
          
        }
        
        .buttons-wrapper {
          width: 15%;
          height: 32px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          
          .add-file-button {
            height: inherit;
            color: #1890FF;
            width: 21px;
            height: 21px;
            cursor: pointer;

            &.disable {
              cursor: not-allowed;
            }
            
            .paper-clip {
              width: 100%;
              height: 100%;
            }
          }
          
          .send-btn {
            margin-left: 30px;
            width: 115px;
            height: inherit;
            border-radius: 4px;
            padding: 0;
            text-align: center;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

// @FIXME: temporarily hide files
:host ::ng-deep nz-upload-list {
  display: none;
}