
::ng-deep li.ant-select-dropdown-menu-item.ng-star-inserted{
  height: 32px!important
}

.watch-channel {
    display: flex;
    background: #fff;
    width: 100%;
    min-height: 650px;
    height: calc(100% - 42px);


    .left-sidebar-steps {
        width: 20%;
        border-right: solid 1px rgba(0, 0, 0, 0.09);
        margin-top: 24px;

        .steps {
            padding-left: 24px;

        }
    }
    .main-content {
        width: 80%;
        text-align: center;
        padding: 0 24px;
        .channel-error {

            .error-block {
                text-align: left;
                padding-top: 24px;
            }
        }

        .channel-info {
            display: flex;
            padding: 25px 0;
            text-align: left;

            .booking-card {
                border: 1px solid #D5D5D5;
                border-radius: 4px;
                margin: 0;
                width: 320px;
                height: 227px;
                cursor: pointer;

                .status-card {
                    display: flex;
                    justify-content: flex-end;
                    height: 5%;
                    padding: 10px;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.65);
                }
                .name-salechannel {
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    height: 80%;

                    img {
                        width: 239px;
                    }
                }
                .status-card--text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 47px;
                    background: #FAFAFA;

                    .status {
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
            .valute {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.65);
                flex-basis: 25%;
                padding-left: 24px;

                .bold {
                    color: #000000;
                    padding-top: 19px;
                }
            }
            .hotel-id {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.65);
                .bold {
                    color: #000000;
                    padding-top: 19px;
                }
            }
        }
        .channel-descr {
            width: 100%;

            .channel-name {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                text-align: left;
                padding-bottom: 18px;
            }
            .descr-text {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                color: rgba(0, 0, 0, 0.65);
            }
            .search-area {
                display: flex;
                justify-content: flex-start;
                padding-top: 18px;

                .turn-off {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    color: #F5222D;
                    background: rgba(0, 0, 0, 0.04);
                }
            }
        }

    }

}
.mapping-room {
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: 16px 28px;


    .name-room {
        flex-basis: 45%;
        .room {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.65);
            text-align: left;

        }

        .tariff {
            text-align: left;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.65);
            padding: 10px 0px 15px 17px;

            ul {
                list-style: none;
                padding: 0;
                padding-left: 5px;
            }

            ul li:before {
                content:  "-";
                position: relative;
                left: -5px;
            }
        }

    }
    .arrows {
        margin-top: 7px;
        flex-basis: 15%;
    }
    .select-room {
        flex-basis: 40%;
    }

}
.mapping-room:last-child{
  border-radius: 0 0 4px 4px;
}
.search-area {
    justify-content: center;
    margin-top: 24px;
    .btn-back {
        width: 155px;
        color: rgba(0, 0, 0, 0.65);
        margin-right: 10px;
    }
    .btn-next    {
        width: 155px;
    }
}
.refresh-data {
    display: flex;
    justify-content: flex-end;
    padding: 24px 0;
    align-items: center;
    button {
        margin-left: 20px;
    }
}
.logos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo {
    margin-right: 19%;
  }
}
.heeadText{
  display: flex;
    h2{
      margin-left: 20px;
    }
    img{
      margin-bottom: .5em;
      cursor: pointer;
    }

}
.first{
  border-radius: 4px 4px 0 0;
}
