<!-- Просмотр канала -->
<app-view-container>
  <div class="heeadText">
    <img (click)="backChannels()" width="21px" src="../../../../assets/img/left-arrow.svg" alt="back">
    <h2 *ngIf="channelStatus" >{{channelStatus.channel.name}}</h2>
  </div>

  <div class="watch-channel">
    <div class="left-sidebar-steps">
      <div class="steps">
        <ul nz-menu nzMode="inline">
          <li (click)="showAboutFunction(true)" nz-menu-item nzSelected>О канале</li>
          <li (click)="showAboutFunction(false)" nz-menu-item>Сопоставление номеров</li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <!-- О канале -->
      <div *ngIf="showAbout">
        <div *ngIf='errorStatus' class="channel-error">
          <nz-alert nzType="error" class="error-block" nzMessage="{{errorMessage}}" nzShowIcon></nz-alert>
        </div>
        <div class="channel-info">
          <div class="booking-card">
            <div class="name-api">
              <div *ngIf="this.status === 'connected'" class="status-card">
                <img src="assets/img/connected.svg"/>
              </div>
              <div *ngIf="this.status === 'in_progress'" class="status-card">
                <img src="assets/img/in_progress.svg"/>
              </div>
              <div *ngIf="this.status ===  'progress_error'" class="status-card">
                <img src="assets/img/progress_error.svg"/>
              </div>
              <div *ngIf="this.status ===  'error'" class="status-card">
                <img src="assets/img/progress_error.svg"/>
              </div>
              <div class="name-salechannel">
                <img src="{{channelInfo ? channelInfo.logo : ''}}" />
              </div>
            </div>
            <div class="status-card--text">
              <div *ngIf="channelStatus" class="status status--connect">
                {{channelStatus.status_name}}
              </div>
            </div>
          </div>
          <div class="valute">
            <div>Валюта</div>
            <div class="bold">$ {{channelInfo ? channelInfo.currency : ''}}</div>
          </div>
          <div class="hotel-id">
            <div>Hotel ID</div>
            <div class="bold">{{channelStatus ? channelStatus.channel_property_id : ''}} </div>
          </div>
        </div>
        <div class="channel-descr">
          <div class="channel-name">{{channelInfo ? channelInfo.name : ''}}</div>
          <div class="descr-text" [innerHTML]="channelInfo ? channelInfo.description : ''"></div>
          <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button nzType="default" class="turn-off" (click)="showModal()">Отключить</button>
          </div>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="Вы действительно хотите отключить канала Booking.com?"
                    nzOkText="Подтвердить" nzCancelText="Отмена" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <p>После отключения канала вы больше не сможете получать данные о новых бронированиях и управлять ценами и
              размещением этого канала.</p>
          </nz-modal>
        </div>
      </div>
      <!-- Сопоставление номеров -->
      <div *ngIf="!showAbout">
        <div class="mapping-rooms">
          <div class="refresh-data">
            <div class="last-refresh-data">
              Дата последнего обновления: {{syncedAt | date: 'd.M.yyyy H:mm:s'}}
            </div>
            <button *ngIf="loadBtn" nz-button nzType="primary" (click)="checkAuthyCode()" nzLoading><i
              nz-icon nzType="poweroff"></i>Обновить данные канала</button>
            <button *ngIf="!loadBtn" nz-button nzType="primary" (click)="checkAuthyCode()" ><i nz-icon
                                                                                               nzType="sync" nzTheme="outline"></i>Обновить данные канала</button>
          </div>
          <div class="mapping">
            <div class="mapping-room first">
              <div class="logos">
                <img *ngIf="channelStatus" height="100px" src="{{channelStatus.channel.logo}}" />
                <img class="logo" src="assets/img/smart-booking-logo.svg"/>
              </div>
            </div>
            <div *ngFor='let room of channelStatus.rooms; index as i' class="mapping-room">
              <div class="name-room">
                <div class="room">{{i + 1}}. Single Room (id {{room.channel_room_type_id}})</div>
                <div class="tariff">
                  <span>Тарифы:<br></span>
                  <ul>
                    <li *ngFor="let rate of room.rates">{{rate.name}} (id {{rate.channel_rate_id}})</li>
                  </ul>
                </div>
              </div>
              <div class="arrows">
                <img src="assets/img/arrows.svg"/>
              </div>
              <div class="select-room">
                <nz-select style="width: 320px;" id="{{i}}" [(ngModel)]="updateArrayNumbers[i].room_type_id"
                           (ngModelChange)="provinceChange($event, i)">
                  <nz-option *ngFor="let p of roomsArray" [nzDisabled]="p.visible" [nzValue]="p.id" [nzLabel]="p.name">
                  </nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="search-area">
            <button class="btn-next" (click)="stepConnectChannel()" nz-button [nzType]="'primary'">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-view-container>

