.shell-container {
  height: auto;
  //max-height: 555px;
  //overflow-y: auto;
}

.pagination-container {
  height: 134px;
  display: flex;
  justify-content: center;
  padding-top: 58px;
  margin-bottom: 25px;
}
