<nz-spin [nzSpinning]="checkInBooksService.isLoading">
  <div class="shell-container">
    <div *ngIf="(checkInBooksService.arrived$| async).length > 0 else noAny">
      <app-book-item *ngFor="let item of checkInBooksService.arrived$| async"
                     [model]="item"
                     (notesEvent)="openNotes($event)"
                     (actionEvent)="onActionClicked($event)"
                     [actionBtnTitle]="'DASHBOARD.BOOK_ITEM.ACTION_CHECK_IN'"></app-book-item>
    </div>
  </div>
  <div class="pagination-container"
       *ngIf="(checkInBooksService.arrived$| async).length < (checkInBooksService.total$| async) && (checkInBooksService.arrived$| async).length != 0">
    <button *ngIf="(checkInBooksService.arrived$| async).length < (checkInBooksService.total$| async)"
            class="transparent-btn"
            nz-button
            nzType="default"
            (click)="getItems(true)">{{'DASHBOARD.DOWNLOAD_MORE'| translate}}</button>
  </div>
  <app-count-container
    *ngIf="(checkInBooksService.total$| async) > minItems && (checkInBooksService.arrived$| async).length != 0"
    [showed]="(checkInBooksService.arrived$| async).length"
    [total]="(checkInBooksService.total$| async)"></app-count-container>
</nz-spin>
<ng-template #noAny>
  <app-empty [msg]="'DASHBOARD.CHECK_IN.NO_ANY'| translate"></app-empty>
</ng-template>
