<app-view-container>
  <app-view-inner-content name="Договора">

    <div style="margin: 16px">
      <div class="travel-agencies-header">
        <div>
          <nz-form-item nzFlex class="w100">
            <nz-form-control class="w100">
              <nz-input-group
                nzSearch
                [nzAddOnAfter]="suffixIconButton">
                <input
                  style="width: 100%;"
                  type="text"
                  nz-input
                  placeholder="Поиск по названию"/>
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  nz-button
                  nzType="primary"
                  nzSearch>
                  <i
                    nz-icon
                    type="search">
                  </i>
                </button>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="travel-agencies-checkbox">
          <label nz-checkbox [nzChecked]="true">
            <span>Турфирмы</span>
          </label>
        </div>

        <div class="travel-agencies-checkbox">
          <label nz-checkbox [nzChecked]="true">
            <span>Компании</span>
          </label>
        </div>

        <div>
          <nz-form-item nzFlex style="display: flex; justify-content: flex-end; margin-top: -5px;">
            <nz-form-label [nzFor]="'field'">Статус</nz-form-label>
            <nz-form-control>
              <nz-radio-group>
                <label nz-radio-button nzValue="all">Все</label>
                <label nz-radio-button nzValue="enclosed">Заключен</label>
                <label nz-radio-button nzValue="not-enclosed">Не заключен</label>
                <label nz-radio-button nzValue="new-application">Новая заявка</label>
                <label nz-radio-button nzValue="on-confirmation">На подтверждении</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-table
        [nzShowPagination]="false"
        #contracts
        [nzData]="contractsData">
        <thead>
        <tr>
          <th><span class="table-title">Контрагент</span></th>
          <th><span class="table-title">Номер</span></th>
          <th><span class="table-title">Срок договора</span></th>
          <th><span class="table-title">Действителен до</span></th>
          <th><span class="table-title">Статус</span></th>
          <th><span class="table-title">Действия</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contracts.data">
          <td>{{ contract.name }}</td>
          <td>№ {{ contract.number }}</td>
          <td>{{ contract.conclusion_date }}</td>
          <td>{{ contract.valid_until }}</td>

          <td>
        <span
          *ngIf="contract.status === 'active'"
          class="small-alert success">
            Активен
          </span>
            <span
              *ngIf="contract.status === 'await'"
              class="small-alert danger">
            Ожидает подтверждения
          </span>
            <span
              *ngIf="contract.status === 'closed'"
              class="small-alert none">
            Нет договора
          </span>
          </td>
          <td>
            <button
              class="mr25"
              nz-button
              nzType="primary"
              nzShape="circle">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
            <button
              nz-button
              nzType="danger"
              nzShape="circle">
              <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>

  </app-view-inner-content>
</app-view-container>
