<nz-spin [nzSpinning]="tableData.length === 0">
  <nz-table
    #tariffs
    [nzData]="tableData"
    [nzPageSize]="tableData.length"
    [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzShowExpand></th>
      <th><span class="title-span">Типы тарифов</span></th>
      <th><span class="title-span">Даты</span></th>
      <th><span class="title-span">Минимальное кол-во ночей</span></th>
      <th><span class="title-span">Выбор тарифов</span></th>
      <th *ngIf="actions"><span class="title-span">Действия</span></th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="tariffs.data">
      <tr class="pointer">
        <td (click)="data.expand = !data.expand">
          <i
            nz-icon
            class="icon-expand"
            [ngClass]="data.expand ? 'expand-icon' : ''"
            style="color: #1890FF;"
            [nzType]="'down'"
            nzTheme="outline"></i>
        </td>
        <td class="pointer" (click)="data.expand = !data.expand">
          <span>{{data.name}}</span>
        </td>
        <td class="pointer" (click)="data.expand = !data.expand">{{data.date}}</td>
        <td class="pointer" (click)="data.expand = !data.expand">{{data.min}}</td>
        <td class="pointer"><label nz-checkbox [(ngModel)]="data.selected" (ngModelChange)="addRate()"></label></td>
        <td class="pointer" *ngIf="actions">
          <button
            class="mr25"
            nz-button
            nzType="primary"
            nzShape="circle">
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            nz-button
            (click)="prepareDataToDelete(data)"
            nzType="danger"
            nzShape="circle">
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
      <tr [nzExpand]="data.expand" style="background-color: white">
        <td colspan="12" style="padding: 10px 0">
          <div *ngFor="let type of data.types; let i = index">
            <p class="title-span">{{ type.name }}</p>
            <app-week-price-table [viewOnly]="viewOnly" [roomType]="type" (changedData)="setChangedData($event, i, data)"></app-week-price-table>
          </div>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>

  <nz-modal
    [(nzVisible)]="isVisibleDelete"
    [nzTitle]="null"
    [nzFooter]="null"
    (nzOnCancel)="cancelDelete()">

    <div class="modal-message">
      <p class="modal-message__text rate-title" style="font-size: 14px">Вы уверены что хотите удалить?</p>

      <div>
        <button
          class="mr25 modal-message__button"
          nz-button
          (click)="cancelDelete()"
          nzType="default">
          Отменить
        </button>
        <button
          class="modal-message__button"
          nz-button
          [nzLoading]="deleteLoading"
          nzType="primary"
          (click)="deleteElm()">
          Да
        </button>
      </div>
    </div>
  </nz-modal>
</nz-spin>
