.filter {
  padding: 21px;
  padding-top: 10px;
  padding-bottom: 13px;
}
.sidebar {
  float: left;
  max-width: 224px;
  margin-right: 10px;
}
.sidebar .title-min {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin: 0;
  margin-bottom: 6px;
  height: 22px;
}
.sidebar .select {
  width: 224px;
  height: 32px;
  color: #000;
}
.sidebar .btn {
  height: 32px;
}
.sidebar label{
  line-height: 32px;
}
