<div nz-row class="filter">
  <div class="sidebar">
    <p class="title-min">{{'CHESS.SALES_CHANNEL'| translate}}</p>
    <nz-select class="select" [(ngModel)]="selectedChannel" (ngModelChange)="filterData()">
      <nz-option *ngFor="let channel of channels" [nzValue]="channel.key"
                 [nzLabel]="channel.name| translate"></nz-option>
    </nz-select>
  </div>
  <div class="sidebar">
    <p class="title-min">{{'CHESS.ROOM_TYPES'| translate}}</p>
    <nz-select class="select" [(ngModel)]="selectedRoomType">
      <nz-option *ngFor="let room of rooms" [nzValue]="room.id" [nzLabel]="room.name| translate"></nz-option>
    </nz-select>
  </div>
  <div class="sidebar">
    <p class="title-min">{{'CHESS.DATES'| translate}}</p>
    <nz-range-picker [nzFormat]="DEFAULT_DATE_FORMAT" [nzAllowClear]="false" [(ngModel)]="dates"></nz-range-picker>
  </div>
  <div class="sidebar">
    <p class="title-min"></p>
    <button class="btn" (click)="filterData()" nz-button nzType="primary">{{'APPLY'| translate}}</button>
  </div>
  <div class="sidebar">
    <p class="title-min"></p>
    <label nz-checkbox [(ngModel)]="pricesGuests" (ngModelChange)="changePricesGuests()">{{'CHESS.TARIFFS_BY_GUEST'| translate}}</label>
  </div>
  <div class="sidebar">
    <p class="title-min"></p>
    <label nz-checkbox [(ngModel)]="restrictions" (ngModelChange)="changeRestrictions()">{{'CHESS.TARIFFS_BY_RESTRICTION'| translate}}</label>
  </div>
</div>
