<nz-content>
  <div class="inner-content">
    <div class="select-toolbar">
      <h2 class="page-subtitle">{{'NEW_BOOKING.BOOKING_SUMMARY'| translate}}</h2>
    </div>
    <div class="content">
      <nz-card class="rooms" [nzTitle]="'NEW_BOOKING.ROOMS'| translate">
        <div class="rooms-content">
          <ng-container *ngIf="items?.length > 0; else noRooms">
            <div class="card-rate" *ngFor="let item of items; let i = index">
              <div class="rate-wrapper">
                <p class="rate">{{item?.name}}</p>
              </div>
              <p class="price">{{item?.price[0]?.price | formatPrice:'UZS'}}</p>
              <p class="dates">
                {{getProcessedDate(item?.checkinDate, 'no-template') + ' — ' + getProcessedDate(item?.checkoutDate, 'no-template')}}
              </p>
              <p class="details">
                {{'NEW_BOOKING.ADULTS_COUNT'| translate}} <span>({{item.selectedPerson}})</span>,
                {{'NEW_BOOKING.CHILDREN_COUNT'| translate}} <span>({{item.selectedChildren}})</span>,
                {{'NEW_BOOKING.NIGHTS_COUNT'| translate}} <span>({{item.nightsCount}})</span>
              </p>
            </div>
          </ng-container>
        </div>
      </nz-card>
      <nz-card class="body no-background">
        <div class="select-toolbar">
          <ng-container *ngIf="!isDataLoaded">
            <div class="spinner-container">
              <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
            </div>
          </ng-container>

          <ng-container *ngIf="isDataLoaded">
            <div class="custom-select">
              <p class="param-title">Заезд</p>
              <ng-container *ngIf="arrivalDate != null && arrivalDate !== ''; else fallbackParam">
                <p class="param-value">{{ arrivalDate }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Выезд</p>
              <ng-container *ngIf="dateOfDeparture != null && dateOfDeparture !== ''; else fallbackParam">
                <p class="param-value">{{ dateOfDeparture }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Ночи</p>
              <ng-container *ngIf="nightsCount != null && nightsCount !== ''; else fallbackParam">
                <p class="param-value">{{ nightsCount }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Дата бронирования</p>
              <ng-container *ngIf="bookingDate != null && bookingDate !== ''; else fallbackParam">
                <p class="param-value">{{ bookingDate }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Источник</p>
              <ng-container *ngIf="source != null && source !== ''; else fallbackParam">
                <p class="param-value">{{ source }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Гость</p>
              <ng-container *ngIf="guestName != null && guestName !== ''; else fallbackParam">
                <p class="param-value">{{ guestName }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">E-mail</p>
              <ng-container *ngIf="gestEmail != null && gestEmail !== ''; else fallbackParam">
                <p class="param-value">{{ gestEmail }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Телефон</p>
              <ng-container *ngIf="phone != null && phone !== ''; else fallbackParam">
                <p class="param-value">{{ phone }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Страна</p>
              <ng-container *ngIf="country != null && country !== ''; else fallbackParam">
                <p class="param-value">{{ country }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Город</p>
              <ng-container *ngIf="city != null && city !== ''; else fallbackParam">
                <p class="param-value">{{ city }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Государство / Регион</p>
              <ng-container *ngIf="region != null && region !== ''; else fallbackParam">
                <p class="param-value">{{ region }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Адрес 1</p>
              <ng-container *ngIf="firstAddress != null && firstAddress !== ''; else fallbackParam">
                <p class="param-value">{{ firstAddress }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Адрес 2</p>
              <ng-container *ngIf="secondAddress != null && secondAddress !== ''; else fallbackParam">
                <p class="param-value">{{ secondAddress }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Почтовый индекс</p>
              <ng-container *ngIf="zipIndex != null && zipIndex !== ''; else fallbackParam">
                <p class="param-value">{{ zipIndex }}</p>
              </ng-container>
            </div>
            <div class="custom-select">
              <p class="param-title">Ожидаемое время прибытия</p>
              <ng-container *ngIf="expectedArrivalTime != null && expectedArrivalTime !== ''; else fallbackParam">
                <p class="param-value">{{ expectedArrivalTime }}</p>
              </ng-container>
            </div>

            <ng-template #fallbackParam>
              <p class="param-value">---</p>
            </ng-template>
          </ng-container>
        </div>
      </nz-card>
    </div>
    <div class="body-booking-footer">
<!--      <app-total-counter [totalValue]="totalValue"></app-total-counter>-->
      <div class="step-control">
<!--        <button-->
<!--          nz-button-->
<!--          nzType="secondary"-->
<!--          class="next-step"-->
<!--          [disabled]="!isDataLoaded"-->
<!--          (click)="prevStep()">-->
<!--          {{'BACK'| translate}}-->
<!--        </button>-->
<!--        <button-->
<!--          nz-button-->
<!--          nzType="primary"-->
<!--          class="next-step"-->
<!--          [disabled]="!isDataLoaded"-->
<!--          (click)="confirm()">-->
<!--          {{'CONFIRM'| translate}}-->
<!--        </button>-->

        <nz-modal
          class="apply-booking"
          [(nzVisible)]="isModalVisible"
          [nzTitle]="'FORM.SEND_MAIL_BOOKING'| translate"
          (nzOnCancel)="handleCancel()">
          <div>
            <p>
              Вы хотите отправить подтверждение о бронировании по e-mail
              {{guestName != null && guestName !== '' ? guestName : 'unknown'}}
              после бронирования?
            </p>
            <div class="custom-buttons-panel">
              <button nz-button nzType="primary" [nzLoading]="sendWithEmail" (click)="handleSendAndContinue()">
                <i nz-icon nzType="save" nzTheme="outline"></i>
                Отправить и продолжить
              </button>
              <button nz-button nzType="primary" [nzLoading]="sendWithoutEmail"  (click)="handleJustSend()" class="middle-button">
                <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                Продолжить без отправки
              </button>
              <button nz-button nzType="default" (click)="handleCancel()">Отмена</button>
            </div>
          </div>
        </nz-modal>
      </div>
    </div>
  </div>
</nz-content>

<ng-template #noRooms>
  <div class="start-wrapper-rate">
    <div class="icon-wrapper">
      <img src="../../../../../../assets/img/group.svg" alt="">
    </div>
    <p>{{'NEW_BOOKING.ADD_ROOM_FOR_BOOKING'| translate}}</p>
  </div>
</ng-template>
