:host > nz-content {
  padding: 0;

  & ::ng-deep .inner-content {
    padding: 0;
  }

  & ::ng-deep .select-toolbar {
    padding: 0 0 21px;

    .spinner-container {
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.page-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 27px;
}

nz-footer {
  text-align: center;
}

nz-input-number {
  ::ng-deeep .ant-input-number-input-wrap {
    color: rgba(0, 0, 0, 0.45);

    input::placeholder {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 186px);
}

.header {
  background-color: #fff;
  display: flex;
}

.toolbar {
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
}

.steper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.title-steper {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.select-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.custom-select {
  width: 206px;
}

.content {
  display: flex;
  justify-content: space-between;

  &.extra-info {
    flex-direction: column;
  }


  & nz-card ::ng-deep .ant-card-body {
    padding: 0;
  }

  & nz-card ::ng-deep .ant-card-head {
    background: #fafafa;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .ant-card-head-title {
      padding: 0;
    }
  }
}

.rooms {
  width: 15%;
}

.body {
  width: 83%;

  &.no-background {
    background: transparent !important;
    border-color: transparent !important;
  }
}

.info {
  text-align: center;
  padding: 15px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.info .icon, .rooms .icon {
  font-size: 40px;
  margin-bottom: 12px;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0px 24px;
}

.total {
  .total-info {
    width: 83%;

    &.full-width {
      width: 100% !important;
    }
  }
}

.total-item {
  display: flex;
  flex-direction: column;
}

.total-item.last {
  color: #1890ff;
}

.total-info-body {
  display: flex;
  justify-content: space-around;
  height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total-value {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding-top: 9px;
}

.total-title {
  font-size: 14px;
}

.menu-icon {
  margin-left: 20px;
  line-height: 40px;
}

.menu-icons {
  margin-left: auto;
}

.step-control {
  display: flex;
}

.next-step {
  margin-left: auto;
  margin-right: auto;
}

.rooms .ant-card-head-wrapper {
  text-align: center;
}

.rooms .ant-card-head {
  background: #fafafa;
  height: 47px;
}

.body {
  background: #fafafa;
}

.rooms {
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  border-radius: 4px;

  .rooms-content {
    max-height: 45vh;
    overflow: auto;
  }
}

.ant-card-head .ant-card-head-wrapper {
  font-size: 14px;
  font-weight: 600;
  height: inherit;
}

.ant-steps-item-wait {
  .ant-steps-item-icon {
    background: transparent;
  }
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #1890FF;
}

.ant-menu {
  margin-left: 60px;
}

.ant-calendar-picker-input {
  padding-left: 32px;
}

.ant-calendar-picker-clear, .ant-calendar-picker-icon {
  right: unset;
  left: 12px;
}

.next-step span {
  margin: 0 5px;
}

.ant-layout {
  min-height: 100vh;
}

.ant-calendar-picker {
  width: stretch;
}

.icon-wrapper {
  text-align: center;
  margin-bottom: 0 auto;
}

p {
  margin-bottom: 0em;
}

.total-info {
  background: #fafafa;
  border: none;
}

.toolbar {
  margin-top: 15px;
}

.ant-avatar, .menu-icons .icon {
  margin-left: 20px;
  font-size: 16px;
}

.user-icon {
  background: #E8E8E8;
  border-radius: 100px;
  padding: 11px;
}

.ant-scroll-number {
  margin-top: -2px;
}

.custom-select .ant-select, .custom-select .ant-btn {
  width: stretch;
}

.custom-select {
  width: 20%;
  max-width: 200px;
  padding: 16px 0;

  .param-title {
    display: block;
    margin-bottom: 10px;
    color: black;
  }

  .param-value {
    color: rgba(0, 0, 0, 0.65);
    word-break: break-word;
  }
}


.anticon {

  color: white
}

.card-rate {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 15px 12px;

  .rate-wrapper {

    justify-content: space-between;
  }

  .dates, .details {
    font-weight: normal;
  }

  nz-select {
    width: 100%;
    margin-top: 9px;
    color: #000;

    & ::ng-deep .ant-select-selection__placeholder, & ::ng-deep .ant-select-selection {
      color: #000;
      font-weight: 300;
    }
  }

  .rate-wrapper {

    display: flex;

    .rate {

      padding-right: 7px;

      color: #1890FF;

    }
  }

  .price {

    color: #1890FF;

  }

  .dates {

    color: rgba(0, 0, 0, 0.65);
    padding: 10px 0;
  }

  .details {

    color: rgba(0, 0, 0, 0.65);

    span {

      color: #000;

    }
  }
}

.step-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prev-step, .next-step {
  margin: 0;
  width: 158px;
}

.next-step {
  margin-left: 10px;
}

.custom-buttons-panel {
  position: absolute;
  bottom: 11px;
  width: calc(100% - 49px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .ant-btn {
    padding: 0 14px;
  }

  .middle-button {
    margin: 0 10px;
  }
}

.body-booking-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 24px;
}
