<app-base-modal [title]="'Предупреждение!'" [subtitle]="'Вы пытаетесь изменить бронирование на следующие даты:'"
  [type]="'warning'">
  <div class="reserv-warning">
    <nz-table class="reserv-warning__table" #basicTable [nzData]="[res]" nzSize="small">
      <thead>
        <tr>
          <th></th>
          <th>Тип размещения</th>
          <th>№</th>
          <th>Даты</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2" class="border-right">
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.90605 1.59764C3.86799 2.62906 3.29815 3.99949 3.29815 5.45647L3.29815 11.5008L1.24018 9.45595C0.957074 9.17465 0.497932 9.17465 0.213011 9.45595C-0.0719106 9.73725 -0.0700958 10.1935 0.213011 10.4766L3.54859 13.789C3.6847 13.9243 3.86981 14 4.06217 14C4.25454 14 4.43965 13.9243 4.57576 13.789L7.81515 10.5703C7.95671 10.4297 8.02748 10.2458 8.02748 10.06C8.02748 9.87429 7.95671 9.69037 7.81515 9.54972C7.53205 9.26842 7.07291 9.26842 6.78798 9.54972L4.74998 11.5765L4.74998 5.45647C4.74998 4.38357 5.17101 3.37558 5.93322 2.61824C6.69724 1.8591 7.71171 1.44256 8.78969 1.44256L12.2741 1.44256C12.6752 1.44256 13 1.11979 13 0.721282C13 0.322777 12.6752 5.168e-06 12.2741 5.18553e-06L8.78969 5.33784e-06C7.32335 -0.001798 5.94411 0.566209 4.90605 1.59764Z"
                fill="#979797" />
            </svg>
          </td>
          <td>TRPL</td>
          <td>{{res.old?.room_id}}</td>
          <td>{{res.old?.checkin}} - {{res.old?.checkout}}</td>
          <td>$ {{res.old_price}}
          </td>
        </tr>
        <tr>
          <td>TRPL</td>
          <td>{{res.new?.room_id}}</td>
          <td>{{res.new?.checkin}} - {{res.new?.checkout}}</td>
          <td><span>+ </span>$ {{res.new_price}}
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="reserv-warning__content">
      <div nz-row [nzGutter]="36">
        <div nz-col class="gutter-row" nzSpan="18">
          Новая сумма:
        </div>
        <div nz-col class="gutter-row text-right" nzSpan="6">
          <strong>$ {{res.new_price}}</strong>
        </div>
      </div>
      <div class="reserv-warning__actions">
        <button class="reserv-warning__action" nz-button nzType="primary" (click)="submit('accept_new_price')">Подтвердить новую
          цену</button>
        <button class="reserv-warning__action" nz-button nzType="primary" (click)="submit('keep_old_price')">Сохранить без
          изменений</button>
        <button class="reserv-warning__action" nz-button (click)="close()">Отмена</button>
      </div>
    </div>
  </div>
</app-base-modal>
