.reserv-warning {
  &__content {
    padding: 23px 20px 15px;
  }

  &__table,
  .ant-table-wrapper {
    width: 100%;

    tr {
      th {
        font-weight: bold;
        background: #FAFAFA;
      }

      td {
        font-weight: 600;

        &.border-right {
          border-right: 1px solid #e8e8e8;
          padding: 0;
        }
      }

      &:hover:not(.ant-table-expanded-row)>td {
        background-color: transparent;
      }

      &:nth-of-type(even) {
        background-color: #FAFAFA;
      }
    }
    ::ng-deep .ant-table-body {
      margin: 0;
    }
    .ant-table-footer {
      background: #000
    }
  }

  &__actions {
    padding: 10px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
}


