<nz-spin [nzSpinning]="isLoading">
  <div class="mb25" #scrollFrame>
    <h2 class="room-title">{{'CREATE_ROOM_TYPE.COMMON_INFO'| translate}}</h2>
    <div nz-row>
      <div nz-col nzSpan="11">
        <nz-form-item>
          <nz-form-control [nzValidateStatus]="validateState.roomTypeError" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
            <nz-form-label>{{'CREATE_ROOM_TYPE.ROOM_TYPE'| translate}}</nz-form-label>
            <nz-input-group>
              <nz-select class="big-select" [(ngModel)]="selectedRoomTypeId"
                         (ngModelChange)="onRoomTypeChange()"
                         [nzPlaceHolder]="'CREATE_ROOM_TYPE.CHOOSE_ROOM_TYPE'| translate">
                <nz-option
                  *ngFor="let property_type of roomGroupName; let i = index"
                  [nzValue]="property_type.id"
                  [nzLabel]="property_type.name">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="11" nzOffset="2">
        <nz-form-item>
          <nz-form-control [nzValidateStatus]="validateState.roomNameError" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
            <nz-form-label>
              {{'CREATE_ROOM_TYPE.ROOM_NAME'| translate}}
            </nz-form-label>
            <nz-input-group>
              <nz-select [(ngModel)]="roomType.room_name_id"
                         (ngModelChange)="onRoomTypeNameChange()"
                         [disabled]="selectedRoomTypeId === null"
                         [nzPlaceHolder]="'CREATE_ROOM_TYPE.CHOOSE_ROOM_NAME'| translate">
                <nz-option
                  *ngFor="let room of roomNames"
                  [nzValue]="room.id"
                  [nzLabel]="room.name">
                </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="11">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>
              {{'CREATE_ROOM_TYPE.FOR_SMOKING'| translate}}
            </nz-form-label>
            <nz-input-group>
              <nz-radio-group [(ngModel)]="roomType.smoking">
                <label
                  class="radio-label-custom"
                  nz-radio-button
                  [nzValue]="0">{{'CREATE_ROOM_TYPE.NO_SMOKING'| translate}}
                </label>
                <label
                  class="radio-label-custom"
                  nz-radio-button
                  [nzValue]="1">
                  {{'CREATE_ROOM_TYPE.SMOKING'| translate}}
                </label>
                <label
                  class="radio-label-custom"
                  nz-radio-button
                  [nzValue]="2">
                  {{'CREATE_ROOM_TYPE.BOTH_SMOKING'| translate}}
                </label>
              </nz-radio-group>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="11" nzOffset="2">
        <nz-form-item>
          <nz-form-control [nzValidateStatus]="validateState.roomArea" [nzErrorTip]="'FIELD_MUST_FILL'| translate">
            <nz-form-label>
              {{'CREATE_ROOM_TYPE.ROOM_AREA'| translate}}
            </nz-form-label>
            <nz-input-group>
              <nz-input-number [(ngModel)]="roomType.area"
                               (ngModelChange)="validateState.invalidRoomArea(roomType.area)"
                               [nzPlaceHolder]="'CREATE_ROOM_TYPE.AREA'| translate"
                               [nzMin]="1"
                               [nzStep]="1">
              </nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div nz-row>
      <div nz-col nzSpan="6">
        <h4>
          {{'CREATE_ROOM_TYPE.DEFAULT_PRICE'| translate}}
        </h4>
        <div nz-row>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>
                {{'CREATE_ROOM_TYPE.NIGHT_PRICE'| translate}}
              </nz-form-label>
              <nz-input-group>
                <input nz-input
                       appOnlyNumber="true"
                       [(ngModel)]="roomType.standard_price"
                       [placeholder]="'PRICE'| translate"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col nzSpan="16" nzOffset="2">
        <h4>
          {{'CREATE_ROOM_TYPE.GUEST_COUNT_QUESTION'| translate}}
        </h4>
        <div nz-row>
          <div nz-col nzSpan="11">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="validateState.adultsCount"
                               [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                <nz-form-label>
                  {{'CREATE_ROOM_TYPE.ADULTS'| translate}}
                </nz-form-label>
                <nz-input-group>
<!--                  временно max_adults было max_persons-->
                  <nz-input-number
                    [nzPlaceHolder]="'COUNT'| translate"
                    [(ngModel)]="roomType.max_adults"
                    (ngModelChange)="validateState.invalidAdultsCount(roomType.max_adults)"
                    [nzMin]="1"
                    [nzStep]="1"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="11" nzOffset="2">
            <nz-form-item>
              <nz-form-control [nzValidateStatus]="validateState.childrenCount"
                               [nzErrorTip]="'FIELD_MUST_FILL'| translate">
                <nz-form-label>
                  {{'CREATE_ROOM_TYPE.CHILDREN'| translate}}
                </nz-form-label>
                <nz-input-group>
                  <nz-input-number
                    [nzPlaceHolder]="'COUNT'| translate"
                    [(ngModel)]="roomType.max_children"
                    (ngModelChange)="validateState.invalidChildrenCount(roomType.max_children)"
                    [nzMin]="1"
                    [nzStep]="1"></nz-input-number>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <nz-alert
          nzType="info"
          [nzDescription]="'CREATE_ROOM_TYPE.PRICE_DESC'| translate"
          nzShowIcon>
        </nz-alert>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="20">
        <nz-form-item>
          <nz-form-control [nzValidateStatus]="validateState.quantity" [nzErrorTip]="'AT_LEAST_ONE'| translate">
            <nz-form-label>
              {{'CREATE_ROOM_TYPE.THIS_ROOM_COUNT'| translate}}
            </nz-form-label>
            <nz-input-group>
              <nz-input-number
                [disabled]="roomType.room_name_id == null"
                [nzPlaceHolder]="'COUNT'| translate"
                [(ngModel)]="roomType.quantity"
                (ngModelChange)="onQuantityChange()"
                [nzMin]="1"
                [nzStep]="1">
              </nz-input-number>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row *ngIf="enteredRoomNames.length > 0; else emptyTable">
          <div nz-col nzSpan="24">
            <h4>
              {{'CREATE_ROOM_TYPE.ABOUT_ROOMS_TITLE'| translate}}
            </h4>
          </div>
          <div nz-col nzSpan="24">
            <nz-table
              [nzScroll]="{ y: '240px' }"
              [nzTemplateMode]="true"
              [nzShowPagination]="false">
              <thead>
              <tr>
                <th nzWidth="5%">№</th>
                <th nzWidth="15%">{{'PREFIX'| translate}}</th>
                <th nzWidth="30%">{{'CREATE_ROOM_TYPE.ROOM_NUMBER'| translate}}</th>
                <th nzWidth="30%">{{'CREATE_ROOM_TYPE.ROOM_NAME'| translate}}</th>
                <th>{{'CREATE_ROOM_TYPE.ACTIONS'| translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let room of enteredRoomNames; let i = index">
                <td>{{i + 1}}</td>
                <td>{{room.prefix}}</td>
                <td>
                  <input type="number"
                         [id]="i"
                         nz-input
                         [ngClass]="{'error-input': room.error}"
                         [(ngModel)]="room.num"
                         (ngModelChange)="onRoomNameChange(i)"
                         [min]="1"
                         [placeholder]="'CREATE_ROOM_TYPE.ROOM_NUMBER'| translate"/>
                </td>
                <td>
                  {{room.name}}
                </td>
                <td>
                  <button
                    nz-button
                    nzType="danger"
                    nzShape="circle"
                    (click)="removeEnteredName(i)">
                    <i nz-icon nzType="delete"></i>
                  </button>
                </td>
              </tr>
              </tbody>

            </nz-table>
          </div>
        </div>
      </div>
    </div>

    <hr class="horizontal-spacer">

    <div nz-row>
      <div nz-col nzSpan="24">
        <button nz-button nzBlock class="login-form-button"
                [nzType]="'primary'"
                (click)="submit()">
          {{'NEXT'| translate}}
        </button>
      </div>
    </div>
  </div>
</nz-spin>

<ng-template #emptyTable>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-alert
        nzType="info"
        [nzDescription]="'CREATE_ROOM_TYPE.ROOM_NAME_REQUIRED'| translate"
        nzShowIcon>
      </nz-alert>
    </div>
  </div>
</ng-template>
