<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  class="confirm-delete-message-modal">
  <ng-template #modalTitle>
    <p class="title">{{'NEW_BOOKING.DELETE_ROOMS_QUESTION'| translate}}</p>
  </ng-template>
  <ng-template #modalContent>
  </ng-template>
  <ng-template #modalFooter>
    <div class="confirm-buttons">
      <button
        nz-button
        nzType="default"
        (click)="handleCancel()">
        {{'NO'| translate}}
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="handleOk()">
        {{'YES'| translate}}
      </button>
    </div>
  </ng-template>
</nz-modal>
