::ng-deep .ant-modal-footer {
  padding-top: 0 !important;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}


.confirm-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    width: 140px;
    height: 32px;
  }
}
