<nz-spin [nzSpinning]="liveBooksService.isLoading">
  <div class="shell-container">
    <div *ngIf="(liveBooksService.living$| async).length > 0 else noAny">
      <app-book-item *ngFor="let item of liveBooksService.living$| async"
                     [model]="item"
                     (notesEvent)="openNotes($event)"
                     (actionEvent)="onActionClicked($event)"
                     [actionBtnTitle]="'DASHBOARD.BOOK_ITEM.ACTION_CHECK_OUT'"></app-book-item>
    </div>
  </div>
  <div class="pagination-container"
       *ngIf="(liveBooksService.living$| async).length < (liveBooksService.total$| async) && (liveBooksService.living$| async).length != 0">
    <button
      *ngIf="(liveBooksService.living$| async).length < (liveBooksService.total$| async)"
      class="transparent-btn"
      nz-button
      nzType="default"
      (click)="getItems(true)">{{'DASHBOARD.DOWNLOAD_MORE'| translate}}</button>
  </div>
  <app-count-container
    *ngIf="(liveBooksService.total$| async) > minItems && (liveBooksService.living$| async).length != 0"
    [showed]="(liveBooksService.living$| async).length"
    [total]="(liveBooksService.total$| async)"></app-count-container>
</nz-spin>
<ng-template #noAny>
  <app-empty [msg]="'DASHBOARD.LIVE.NO_ANY'| translate"></app-empty>
</ng-template>
