<app-view-container>
  <app-view-inner-content name="Контрагенты">
    <div class="travel-agencies-header">
      <div>
        <nz-form-item nzFlex class="w100">
          <nz-form-control class="w100">
            <nz-input-group
              nzSearch
              [nzAddOnAfter]="suffixIconButton">
              <input
                style="width: 100%;"
                type="text"
                nz-input
                placeholder="Поиск по названию"/>
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button
                nz-button
                nzType="primary"
                nzSearch>
                <i
                  nz-icon
                  type="search">
                </i>
              </button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="travel-agencies-checkbox">
        <label nz-checkbox [nzChecked]="true">
          <span>Турфирмы</span>
        </label>
      </div>

      <div class="travel-agencies-checkbox">
        <label nz-checkbox [nzChecked]="true">
          <span>Компании</span>
        </label>
      </div>

      <div>
        <button nz-button nzType="primary" class="travel-agencies-button" (click)="showModal()">
          Добавить
        </button>
      </div>

      <div>
        <nz-form-item nzFlex style="display: flex; justify-content: flex-end; margin-top: -5px;">
          <nz-form-label [nzFor]="'field'">Статус</nz-form-label>
          <nz-form-control>
            <nz-radio-group>
              <label nz-radio-button nzValue="all">Все</label>
              <label nz-radio-button nzValue="enclosed">Заключен</label>
              <label nz-radio-button nzValue="not-enclosed">Не заключен</label>
              <label nz-radio-button nzValue="new-application">Новая заявка</label>
              <label nz-radio-button nzValue="on-confirmation">На подтверждении</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>



    <nz-table
      [nzShowPagination]="true"
      [nzPaginationPosition]="'bottom'"
      #agencies
      [nzPageSize]="10"
      [nzData]="agencyList">
      <thead>
      <tr>
        <th style="width: 35%"><span class="table-title">Название</span></th>
        <th style="width: 30%"><span class="table-title">Тип контрагента</span></th>
<!--        <th style="width: 30%"><span class="table-title">Статус</span></th>-->
        <th><span class="table-title">Действия</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agency of agencies.data">
        <td>{{ agency.name }}</td>
        <td>{{ agency.contr_agent === 1 ? 'Компания' : 'Турфирма' }}</td>
<!--        <td>-->
<!--        <span-->
<!--          *ngIf="agency.status === 'published'"-->
<!--          class="small-alert success">-->
<!--          Договор заключен-->
<!--        </span>-->
<!--          <span-->
<!--            *ngIf="agency.status === 'moderation'"-->
<!--            class="small-alert danger">-->
<!--          Ожидает подтверждения-->
<!--        </span>-->
<!--          <span-->
<!--            *ngIf="agency.status === 'blocked'"-->
<!--            class="small-alert none">-->
<!--          Нет договора-->
<!--        </span>-->
<!--          <span-->
<!--            *ngIf="agency.status === 'registration'"-->
<!--            class="small-alert primary">-->
<!--          Новая заявка-->
<!--        </span>-->
<!--        </td>-->
        <td style="display: flex; justify-content: space-between;">
          <div>
            <button
              *ngIf="!agency.contract_accepted"
              [routerLink]="getAgencyRoute(agency.id)"
              nz-button
              nzType="primary">
              Заключить договор
            </button>
            <button
              *ngIf="agency.contract_accepted"
              [routerLink]="getAgencyRoute(agency.id)"
              class="mr25"
              nz-button
              nzType="primary"
              nzShape="circle">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
          </div>
          <div>
            <button
              nz-button
              (click)="deleteAgency(agency.id)"
              nzType="danger"
              nzShape="circle">
              <i nz-icon nzType="delete"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </app-view-inner-content>
</app-view-container>

<nz-modal
  [(nzVisible)]="isVisibleDelete"
  [nzTitle]="null"
  [nzFooter]="null"
  (nzOnCancel)="cancelDelete()">

  <div class="modal-message">
    <p class="modal-message__text rate-title" style="font-size: 14px">Вы уверены что хотите удалить контрагента?</p>

    <div>
      <button
        class="mr25 modal-message__button"
        nz-button
        (click)="cancelDelete()"
        nzType="default">
        Отменить
      </button>
      <button
        class="modal-message__button"
        nz-button
        nzType="primary"
        (click)="deleteElm()">
        Да
      </button>
    </div>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [nzWidth]="900"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>
    Добавить источник
  </ng-template>

  <ng-template #modalContent>

    <nz-radio-group [(ngModel)]="radioValue" style="margin-bottom: 10px;">
      <label nz-radio-button [nzValue]="0">Компания</label>
      <label nz-radio-button [nzValue]="1">Тур Фирма</label>
    </nz-radio-group>

    <form [formGroup]="validateForm">
      <div class="form-line mb15">
        <div class="block-form start-value-form">
          <div class="block-form-text">
            <span class="input-title" [ngClass]="validateForm.controls.name?.invalid &&
                                            (validateForm.controls.name.dirty ||
                                              validateForm.controls.name.touched) ? 'error-form-label' : ''">
              Название
            </span>
          </div>
          <div>
                <input nz-input class="main-input" formControlName="name"
                       [ngClass]="validateForm.controls.name?.invalid &&
                                            (validateForm.controls.name.dirty ||
                                              validateForm.controls.name.touched) ? 'error-form-input' : ''" />
            <div *ngIf="validateForm.controls.name?.invalid &&
                                            (validateForm.controls.name.dirty ||
                                              validateForm.controls.name.touched)">
              <div *ngIf="validateForm.controls.name?.errors.required">
                <span class="error-form-validation">Пожалуйста введите Название</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-line block-items-form">
          <div class="block-items-info-item">
            <div class="block-form-text">
              <span class="input-title" [ngClass]="validateForm.controls.city?.invalid &&
                                            (validateForm.controls.city.dirty ||
                                              validateForm.controls.city.touched) ? 'error-form-label' : ''">
                Город
              </span>
            </div>
            <div>
              <input nz-input class="main-input-info" formControlName="city"
                     [ngClass]="validateForm.controls.city?.invalid &&
                                            (validateForm.controls.city.dirty ||
                                              validateForm.controls.city.touched) ? 'error-form-input' : ''"/>
              <div *ngIf="validateForm.controls.city?.invalid &&
                                            (validateForm.controls.city.dirty ||
                                              validateForm.controls.city.touched)">
                <div *ngIf="validateForm.controls.city?.errors.required">
                  <span class="error-form-validation">Пожалуйста введите Город</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="block-form-text">
              <span class="input-title" [ngClass]="validateForm.controls.address?.invalid &&
                                            (validateForm.controls.address.dirty ||
                                              validateForm.controls.address.touched) ? 'error-form-label' : ''">Адрес</span>
            </div>
            <div>
              <input nz-input class="main-input" formControlName="address"
                     [ngClass]="validateForm.controls.address?.invalid &&
                                            (validateForm.controls.address.dirty ||
                                              validateForm.controls.address.touched) ? 'error-form-input' : ''"/>
              <div *ngIf="validateForm.controls.address?.invalid &&
                                            (validateForm.controls.address.dirty ||
                                              validateForm.controls.address.touched)">
                <div *ngIf="validateForm.controls.address?.errors.required">
                  <span class="error-form-validation">Пожалуйста введите Адрес</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-line mb15">
        <div class="block-form start-value-form">
          <div class="block-form-text">
            <span class="input-title" [ngClass]="validateForm.controls.company_name?.invalid &&
                                            (validateForm.controls.company_name.dirty ||
                                              validateForm.controls.company_name.touched) ? 'error-form-label' : ''">
              Наименование фирмы
            </span>
          </div>
          <div>
            <input nz-input class="main-input" formControlName="company_name"
                   [ngClass]="validateForm.controls.company_name?.invalid &&
                                            (validateForm.controls.company_name.dirty ||
                                              validateForm.controls.company_name.touched) ? 'error-form-input' : ''"/>
            <div *ngIf="validateForm.controls.company_name?.invalid &&
                                            (validateForm.controls.company_name.dirty ||
                                              validateForm.controls.company_name.touched)">
              <div *ngIf="validateForm.controls.company_name?.errors.required">
                <span class="error-form-validation">Пожалуйста введите Наименование фирмы</span>
              </div>
            </div>
          </div>
        </div>
        <div class="block-form">
          <div class="block-form-text">
            <span class="input-title" [ngClass]="validateForm.controls.bank_account?.invalid &&
                                            (validateForm.controls.bank_account.dirty ||
                                              validateForm.controls.bank_account.touched) ? 'error-form-label' : ''">
              Расчетный счет
            </span>
          </div>
          <div>
            <input nz-input class="main-input" formControlName="bank_account" maxlength="20" minlength="20"
                   [ngClass]="validateForm.controls.bank_account?.invalid &&
                                            (validateForm.controls.bank_account.dirty ||
                                              validateForm.controls.bank_account.touched) ? 'error-form-input' : ''"/>
            <div *ngIf="validateForm.get('bank_account').invalid &&
                                            (validateForm.controls.bank_account.dirty ||
                                              validateForm.controls.bank_account.touched)">
              <div *ngIf="validateForm.controls.bank_account?.errors.pattern">
                <span class="error-form-validation">Поле должно содержать только цифры</span>
              </div>
              <div *ngIf="validateForm.controls.bank_account?.errors.minlength">
                <span class="error-form-validation">Поле должно содержать не менее 20 символов</span>
              </div>
              <div *ngIf="validateForm.controls.bank_account?.errors.required">
                <span class="error-form-validation">Пожалуйста введите Расчетный счет</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-line mb15">
        <div class="block-form start-value-form">
          <div class="block-form-text">
            <span class="input-title">
              Наименование банка
            </span>
          </div>
          <div>
            <input nz-input class="main-input" formControlName="bank"/>
          </div>
        </div>
        <div class="block-form">
          <div class="block-form-text">
            <span class="input-title">
              Валютный счет (USD BLOCK)
            </span>
          </div>
          <div>
            <input nz-input class="main-input" formControlName="bank_account_usd" maxlength="20" minlength="20"/>
            <div *ngIf="validateForm.get('bank_account_usd').invalid &&
                                            (validateForm.controls.bank_account_usd.dirty ||
                                              validateForm.controls.bank_account_usd.touched)">
              <div *ngIf="validateForm.controls.bank_account_usd?.errors.pattern">
                <span class="error-form-validation">Поле должно содержать только цифры</span>
              </div>
              <div *ngIf="validateForm.controls.bank_account_usd?.errors.minlength">
                <span class="error-form-validation">Поле должно содержать не менее 20 символов</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-line mb15">
        <div class="form-line block-items-form start-value-form">
          <div class="block-items-item">
            <div class="block-form-text">
              <span class="input-title">
                МФО
              </span>
            </div>
            <div>
              <input nz-input class="main-input-info" formControlName="mfo">
            </div>
          </div>
          <div class="block-items-item">
            <div class="block-form-text">
              <span class="input-title">
                ИНН
              </span>
            </div>
            <div>
              <input nz-input class="main-input-info"/>
            </div>
          </div>
          <div class="block-items-item">
            <div class="block-form-text"><span class="input-title">ОКЭД</span></div>
            <div><input nz-input class="main-input-info" formControlName="oked"/></div>
          </div>
        </div>
        <div class="block-form">
          <div class="block-form-text"><span class="input-title">SWIFT CODE</span></div>
          <div><input nz-input class="main-input" formControlName="swift_code"/></div>
        </div>
      </div>

      <div class="form-line mb15">
        <div class="block-form start-value-form">
          <div class="block-form-text">
            <span class="input-title"[ngClass]="validateForm.controls.director_name?.invalid &&
                                            (validateForm.controls.director_name.dirty ||
                                              validateForm.controls.director_name.touched) ? 'error-form-label' : ''">
              ФИО Директора
            </span>
          </div>
          <div>
            <input nz-input class="main-input" formControlName="director_name"
                   [ngClass]="validateForm.controls.director_name?.invalid &&
                                            (validateForm.controls.director_name.dirty ||
                                              validateForm.controls.director_name.touched) ? 'error-form-input' : ''"/>
            <div *ngIf="validateForm.controls.director_name?.invalid &&
                                            (validateForm.controls.director_name.dirty ||
                                              validateForm.controls.director_name.touched)">
              <div *ngIf="validateForm.controls.director_name?.errors.required">
                <span class="error-form-validation">Пожалуйста введите ФИО Директора</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-line block-items-form">
          <div class="block-items-info-item">
            <div class="block-form-text"><span class="input-title">Телефон</span></div>
            <div><input nz-input class="main-input-info" formControlName="phone"/></div>
          </div>
          <div>
            <div class="block-form-text">
              <span class="input-title">
                Электронная почта
              </span>
            </div>
            <div>
              <input nz-input class="main-input-info" type="email" formControlName="email"/>

              <div *ngIf="validateForm.get('email').invalid &&
                                            (validateForm.controls.email.dirty ||
                                              validateForm.controls.email.touched)">
                <div *ngIf="validateForm.controls.email?.errors.pattern">
                  <span class="error-form-validation">Неверный формат email.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </ng-template>


  <ng-template #modalFooter>
    <div class="modal-footer">
      <nz-alert
      class="warning-alert"
      nzType="warning"
      nzMessage="Наименование компании можно редактировать после создания"
      nzShowIcon>
      </nz-alert>
      <div>
        <button nz-button nzType="primary" (click)="handleOk()" [disabled]="!validateForm.valid">Сохранить</button>
      </div>
    </div>
  </ng-template>
</nz-modal>
