.travel-agencies-checkbox{
  margin: 0 0 30px;
}

.travel-agencies-button{
  height: 40px;
  width: 120px;
  margin: 0 0 30px;
}

.travel-agencies-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning-alert{
  width: 490px;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-line{
  display: flex;
}

.main-input{
  width: 100%;
}

.main-input-info{
  width: 100%;
}

.block-items-form{
  width: 50%;
  display: flex;
  justify-content: space-between;

  .block-items-item {
    width: 30%;
  }

  .block-items-info-item {
    width: 48%;
  }
}

.block-form{
  width: 50%;
}

.start-value-form{
  margin-right: 50px;
}

.block-form-text{
  margin-bottom: 5px;
}

.input-title{
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.error-form-label{
  color: red;
}

.error-form-input{
  border: 1px solid red!important;
}

.error-form-validation{
  font-size: 12px;
  color: red;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.25px;
}
