p {
  margin: 0;
}

.tab-container {
  padding: 18px 92px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1500px) {
    padding: 18px 50px;
  }

  & ::ng-deep .ant-upload-list-item {
    display: none;
  }

  .image-container {
    width: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      margin-bottom: 9px;
      width: 206px;
      height: 206px;

      .profile-image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .main-container {
    width: 75%;
    margin-left: 43px;
    display: flex;
    flex-wrap: wrap;

    .user-param {
      display: block;
      width: 206px;
      margin-bottom: 36px;
      margin-right: 21px;

      .user-param-title {
        margin-bottom: 9px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);
      }

      .user-param-value {
        font-family: Open Sans;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        font-weight: 600;
      }
    }
  }
}