<section class="tab-container">
  <div class="image-container">
    <div class="image-wrapper">
      <ng-container *ngIf="userData != null">
        <ng-container *ngIf="userData.avatar != null && userData.avatar !== ''">
          <img class="profile-image" src="{{userData.avatar}}" alt="logo"/>
        </ng-container>
        <ng-container *ngIf="userData.avatar == null || userData.avatar === ''">
          <img class="profile-image" src="../../../../../assets/img/no-image-cover.svg" alt="logo"/>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="main-container" *ngIf="userData != null">
    <div class="user-param">
      <p class="user-param-title">Имя</p>
      <p class="user-param-value">
        {{userData?.first_name != null && userData?.first_name !== '' ? userData?.first_name : 'No information'}}
      </p>
    </div>
    <div class="user-param">
      <p class="user-param-title">Фамииля</p>
      <p class="user-param-value">
        {{userData?.last_name != null && userData?.last_name !== '' ? userData?.last_name : 'No information'}}
      </p>
    </div>
    <div class="user-param">
      <p class="user-param-title">Телефон</p>
      <p class="user-param-value">
        +988 {{userData?.phone != null && userData?.phone !== '' ? userData?.phone : 'No information'}}
      </p>
    </div>
    <div class="user-param">
      <p class="user-param-title">E-mail</p>
      <p class="user-param-value">
        {{userData?.email != null && userData?.email !== '' ? userData?.email : 'No information'}}
      </p>
    </div>
    <div class="user-param">
      <p class="user-param-title">Последний визит</p>
      <p class="user-param-value">
        {{lastSeenDateProcessed != null ? lastSeenDateProcessed : 'No information'}}
      </p>
    </div>
  </div>
</section>
