<section class="panel-wrapper">
  <article class="left-panel">
    <div class="param-container">
      <p class="param-title">{{'RESERVATION.CHECKIN'| translate}}</p>
      <p class="param-value">{{getProcessedDate(reservation?.checkin)}}</p>
    </div>
    <div class="param-container">
      <p class="param-title">{{'RESERVATION.CHECKOUT'| translate}}</p>
      <p class="param-value">{{getProcessedDate(reservation?.checkout)}}</p>
    </div>
    <div class="param-container">
      <p class="param-title">{{'RESERVATION.LIVE'| translate}}</p>
      <p class="param-value">{{getNightPluralWithSuffix(reservation?.nights)}}</p>
    </div>
    <div class="param-container">
      <p class="param-title">{{'RESERVATION.GUEST_COUNT'| translate}}</p>
      <p class="param-value">{{reservation?.total_guests}}</p>
    </div>
    <div class="param-container small-bottom-margin">
      <p class="param-title">{{'RESERVATION.ROOM_COUNT'| translate}}</p>
      <p class="param-value">{{reservation?.total_rooms}}</p>
    </div>
    <div class="param-container small-bottom-margin total-price">
      <p class="param-title">{{'RESERVATION.TOTAL_PRICE'| translate}}
        <!--        <i nz-icon-->
        <!--           nzType="info-circle"-->
        <!--           nzTheme="outline"-->
        <!--           class="info-badge"-->
        <!--           nz-popover-->
        <!--           nzTitle="Title"-->
        <!--           [(nzVisible)]="isPopupVisible"-->
        <!--           [nzContent]="contentTemplate"-->
        <!--           nzPlacement="right"></i>-->
      </p>
      <p class="param-value">{{reservation?.total_sum | formatPrice: reservation?.currency}}</p>
    </div>
  </article>
  <article class="right-panel">
    <div class="guests-container">
      <div class="guests-wrapper">
        <p class="guests-name-title">{{getGuestsPluralTitle()}}</p>
        <p class="guests-name-value">{{getGuestsFormatted()}}</p>
      </div>
      <div class="custom-select">
        <nz-select [nzPlaceHolder]="'STATUS.TITLE'| translate"
                   [(ngModel)]="selectedStatus"
                   (ngModelChange)="openModal()">
          <nz-option *ngFor="let status of statuses"
                     nzCustomContent
                     [nzValue]="status.value"
                     [nzLabel]="status.label| translate">
            <nz-badge [nzColor]="status.color"></nz-badge>
            <label [ngStyle]="{color: status.color}">{{status.label| translate}}</label>
          </nz-option>
        </nz-select>
      </div>
    </div>

    <div class="short-booking-info">
      <div class="info-param-wrapper">
        <p class="info-param-title">{{'FORM.COUNTRY'| translate}}</p>
        <p class="info-param-value">{{reservation?.guest?.country?.name}}</p>
      </div>
      <div class="info-param-wrapper">
        <p class="info-param-title">{{'RESERVATION.SOURCE'| translate}}</p>
        <p class="info-param-value">{{getSource(reservation)}}</p>
      </div>
      <div class="info-param-wrapper">
        <p class="info-param-title">{{'RESERVATION.NUM'| translate}}</p>
        <p class="info-param-value">{{reservation?.id}}</p>
      </div>
      <!--      <div class="info-param-wrapper">-->
      <!--        <p class="info-param-title">{{'RESERVATION.WAITED_TIME'| translate}}</p>-->
      <!--        <p class="info-param-value" [class.empty-arrival]="reservation?.arrival_time == null">-->
      <!--          {{reservation?.arrival_time != null ? reservation?.arrival_time : '-&#45;&#45;'}}-->
      <!--        </p>-->
      <!--      </div>-->
    </div>

    <!--    <div class="note-param">-->
    <!--      <p class="note-title">-->
    <!--        Примечание <span class="note-brackets">(только для внутреннего пользования)</span>-->
    <!--      </p>-->
    <!--      <nz-input-group class="note-input-wrapper">-->
    <!--        <input class="note-input" type="text" nz-input placeholder="" [formControl]="noteControl"/>-->
    <!--      </nz-input-group>-->
    <!--    </div>-->

  </article>
</section>

<nz-modal
  [(nzVisible)]="isStatusesPopupVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  class="confirm-status-change-modal">
  <ng-template #modalTitle>
    <div class="confirm-status-change-modal-header-wrapper">
      <p class="confirm-status-change-modal-main-title">{{'STATUS.WANT_CHANGE'| translate}}</p>
    </div>
  </ng-template>
  <ng-template #modalContent>
  </ng-template>
  <ng-template #modalFooter>
    <div class="confirm-status-change-modal-buttons-wrapper">
      <button
        class="cancel-btn"
        nz-button nzType="default"
        (click)="handleCancel()">
        {{'CANCEL'| translate}}
      </button>
      <button
        class="update-btn"
        nz-button nzType="primary"
        (click)="handleOk()">
        {{'YES'| translate}}
      </button>
    </div>
  </ng-template>
</nz-modal>

<ng-template #contentTemplate>
  <div class="custom-reservation-details-popup">
    <div class="custom-popup-row">
      <div class="main-info-wrapper">
        <div class="custom-popup-left">
          <span class="poput-text">Предлагаемый депозит</span>
        </div>
        <div class="custom-popup-right">
          <span class="poput-text">{{mockedTotalPriceList?.suggestedDeposit}}</span>
        </div>
      </div>
      <nz-divider class="reservation-details-divider"></nz-divider>
    </div>
    <div class="custom-popup-row">
      <div class="main-info-wrapper">
        <div class="custom-popup-left">
          <span class="poput-text">Промежуточный тог</span>
        </div>
        <div class="custom-popup-right">
          <span class="poput-text">{{mockedTotalPriceList?.subtotal}}</span>
        </div>
      </div>
      <nz-divider class="reservation-details-divider"></nz-divider>
    </div>
    <div class="custom-popup-row">
      <div class="main-info-wrapper">
        <div class="custom-popup-left">
          <span class="poput-text">Дополнительные пункты</span>
        </div>
        <div class="custom-popup-right">
          <span class="poput-text">{{mockedTotalPriceList?.extraOptions}}</span>
        </div>
      </div>
      <nz-divider class="reservation-details-divider"></nz-divider>
    </div>
    <div class="custom-popup-row">
      <div class="main-info-wrapper">
        <div class="custom-popup-left">
          <span class="poput-text">Общая сумма</span>
        </div>
        <div class="custom-popup-right">
          <span class="poput-text">{{mockedTotalPriceList?.totalPrice}}</span>
        </div>
      </div>
      <nz-divider class="reservation-details-divider"></nz-divider>
    </div>
    <div class="custom-popup-row">
      <div class="main-info-wrapper">
        <div class="custom-popup-left">
          <span class="poput-text">Оплаченная сумма</span>
        </div>
        <div class="custom-popup-right">
          <span class="poput-text">{{mockedTotalPriceList?.paid}}</span>
        </div>
      </div>
      <nz-divider class="reservation-details-divider"></nz-divider>
    </div>
    <div class="custom-popup-row">
      <div class="main-info-wrapper">
        <div class="custom-popup-left">
          <span class="poput-text">Задолженность</span>
        </div>
        <div class="custom-popup-right">
          <span class="poput-text debt">{{mockedTotalPriceList?.debt}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
