p {
  margin: 0;
}

.panel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  .left-panel {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    padding-top: 11px;

    .param-container {
      width: 102px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 28px;
      margin-right: 11px;

      &.small-bottom-margin {
        margin-bottom: 20px;
      }

      &.total-price {
        .param-title {
          position: relative;
        }

        .info-badge {
          color: #1890FF;
          width: 18px;
          height: 18px;
          cursor: pointer;
          position: absolute;
          right: 0;

          & ::ng-deep svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .param-title {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 2px;
      }

      .param-value {
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        color: #000000;
      }
    }
  }

  .right-panel {
    width: 80%;
    padding-left: 67px;
    padding-top: 11px;

    .guests-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .guests-wrapper {
        margin-right: 20px;

        .guests-name-title {
          font-size: 14px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.65);
          margin-bottom: 9px;
        }

        .guests-name-value {
          font-size: 14px;
          line-height: 22px;
          font-weight: 600;
          color: #000000;
        }
      }

      .custom-select {
        width: 206px;
        & ::ng-deep .ant-select, & ::ng-deep .ant-btn {
          width: stretch;
        }
      }
    }

    .short-booking-info {
      margin-top: 40px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .info-param-wrapper {
        width: 206px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-right: 30px;

        .info-param-title {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.65);
          margin-bottom: 10px;
        }

        .info-param-value {
          font-size: 14px;
          line-height: 22px;
          color: #000000;
          font-weight: 600;

          &.empty-arrival {
            text-align: center;
          }
        }
      }
    }

    .note-param {
      display: flex;
      flex-direction: column;
      margin-top: 14px;

      .note-title {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 9px;

        .note-brackets {
          color: #939393;
        }

      }

      .note-input-wrapper {

        .note-input {
          width: 434px;
          height: 32px;
          border-radius: 4px;
        }
      }
    }
  }
}

.confirm-status-change-modal {

  .confirm-status-change-modal-header-wrapper {

    .confirm-status-change-modal-main-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  }

  .confirm-status-change-modal-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .cancel-btn, .update-btn {
      width: 140px;
      height: 32px;
    }
  }
}
