.legend-drawer__types{
  padding: 25px 0px 0 25px;
}
.legend-drawer__types__item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  p{
    margin-bottom: 0;
    margin-left: 5px;
  }
}
.color-block{
  height: 18px;
  width: 18px;
  border-radius: 4px;
}
.marker-block{
  height: 18px;
  width: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.months__day{
  color: white;
  text-align: center;
  font-size: 14px;
  background-color: #1890FF;
  margin: 0;
  height: 25px;
}
.months__day--name{
  opacity: 0.6;
}

.months__info{
  height: 50px;
  background-color: white;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  p{
    margin: 0;
    text-align: center;
  }
}
.months__info__number{
  background: #106DFD;
  color: white;
  font-size: 14px;
  margin-top: 5px;
  padding: 0 10px;
  border-radius: 6px;
}
.legend-drawer__calendar--day{
  display: flex;
  padding: 45px 20px 1px 20px;
}
.legend-drawer__calendar__info{
  margin-left: 10px;
  p{
    margin-bottom: 5px;
  }
}

.room-type__header {
  height: 50px;
  background: #F4F4F4;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.15);

  p {
    margin: 0;
  }
}
