<div class="legend-drawer">
  <div class="legend-drawer__header bottom-bordered">
    <p class="title-16">
      Легенда
    </p>
  </div>

  <div class="legend-drawer__types">
    <div class="legend-drawer__types__item" *ngFor="let colorType of colorsType">
      <div class="color-block block--{{colorType.type}}"></div>
      <p>{{colorType.name}}</p>
    </div>
  </div>

  <div class="legend-drawer__types bottom-bordered">
    <div class="legend-drawer__types__item" *ngFor="let marker of marks">
      <div class="marker-block block--{{marker.type}}"></div>
      <p>{{marker.name}}</p>
    </div>
  </div>

  <div class="legend-drawer__calendar">
    <div class="legend-drawer__calendar--day">
      <div>
        <div style="width: 90px" class="months__days--day cell">
          <p class="months__day bordered">
          <span class="months__day--name">
            Сб
          </span>
            <span>
            29
          </span>
          </p>
          <div class="months__info bordered">
            <p>
              <span class="months__info__number">4</span>
            </p>
            <p> 100% </p>
          </div>
        </div>
      </div>
      <div class="legend-drawer__calendar__info">
        <p>День недели</p>
        <p>Назначенное жилье</p>
        <p>Заполняемость</p>
      </div>
    </div>
    <div class="legend-drawer__calendar--day" style="    padding-top: 20px;">
      <div>
        <div style="width: 90px; height: 55px;" class="room-type__header cell">
          <p class="room-type__header__number" style="    margin-top: 5px;">
            1
          </p>
          <p class="room-type__header__price">
            $ 50.2
          </p>
        </div>
      </div>
      <div class="legend-drawer__calendar__info">
        <p>Доступность</p>
        <p>Цена</p>
      </div>
    </div>
  </div>
</div>
