<app-view-container>
  <section class="page-container">
    <div class="main-container">
      <div class="top-panel">
        <nz-input-group class="search-input-wrapper" nzSearch [nzAddOnAfter]="suffixIconButton">
          <input class="search-input" type="text" nz-input placeholder="Поиск по Имени или E-mail"/>
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch class="search-button">
            <img class="search-input-button" src="../../../assets/img/search-input-button.svg" alt="Search"/>
          </button>
        </ng-template>
        <button class="invite-btn" nz-button nzType="primary" (click)="inviteUser()">
          Пригласить
        </button>
        <nz-modal
          [(nzVisible)]="isInviteUserVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleInviteUserCancel()"
          class="invite-user-modal"
        >
          <ng-template #modalTitle>
            <div class="invite-user-header-wrapper">
              <p class="invite-user-main-title">Пригласить нового пользователя</p>
              <p class="invite-user-second-title">Введите детали о пользователе, которого вы хотите пригласить</p>
            </div>
          </ng-template>

          <ng-template #modalContent>
            <form nz-form [formGroup]="inviteUserForm" class="invite-user-form">
              <nz-form-item class="custom-form-item">
                <nz-form-label class="custom-form-label" [nzSpan]="5">Имя</nz-form-label>
                <nz-form-control class="invite-user-control">
                  <nz-input-group>
                    <input class="invite-user-input" type="text" nz-input formControlName="name"/>
                  </nz-input-group>
                  <nz-form-explain
                    *ngIf="inviteUserForm.get('name')?.dirty && inviteUserForm.get('name')?.hasError('required')">
                    Введите имя пользователя!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label class="custom-form-label" [nzSpan]="5">E-mail</nz-form-label>
                <nz-form-control class="invite-user-control">
                  <nz-input-group>
                    <input class="invite-user-input" type="email" nz-input formControlName="email"/>
                  </nz-input-group>
                  <nz-form-explain
                    *ngIf="inviteUserForm.get('email')?.dirty && inviteUserForm.get('email')?.hasError('required')">
                    Введите E-mail!
                  </nz-form-explain>
                  <nz-form-explain
                    *ngIf="inviteUserForm.get('email')?.dirty && inviteUserForm.get('email')?.hasError('pattern')">
                    Неправильный формат E-mail!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </form>
          </ng-template>

          <ng-template #modalFooter>
            <div class="buttons-wrapper">
              <button class="cancel-btn" nz-button nzType="default" (click)="handleInviteUserCancel()">Отмена</button>
              <button class="confirm-btn" nz-button nzType="primary" (click)="handleInviteUserOk()"
                      [nzLoading]="isInviteUserConfirmLoading">Продолжить
              </button>
            </div>
          </ng-template>
        </nz-modal>
      </div>

      <div class="table-wrapper">
        <nz-table #basicTable [nzData]="mockedUserList" class="user-data-table">
          <thead>
          <tr>
            <th class="table-header user">Пользователь</th>
            <th class="table-header access">Право доступа</th>
            <th class="table-header login-date">Последний вход</th>
            <th class="table-header management"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let userData of basicTable.data; let i = index">
            <td class="table-cell user">
              <div class="user-info-wrapper">
                <p class="user-name">{{userData?.user?.name}}</p>
                <p class="user-phone">{{userData?.user?.phone}}</p>
                <p class="user-email">{{userData?.user?.email}}</p>
              </div>
            </td>
            <td class="table-cell access">
              <p class="access-right">{{userData.accessRight}}</p>
            </td>
            <td class="table-cell login-date">
              <p class="last-login-date">{{userData.lastLoginData}}</p>
            </td>
            <td class="table-cell management">
              <button
                nz-button
                nzType="primary"
                nzGhost
                class="management-btn"
                nz-dropdown
                nzTrigger="click"
                [nzDropdownMenu]="menu"
                [nzPlacement]="'bottomCenter'">
                Управлять
              </button>

              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu style="left: -78px;">
                  <li nz-menu-item class="edit" (click)="edit(i)">Редактировать</li>
                  <li nz-menu-item class="grand-rights" (click)="grantRights(i)" *ngIf="!userData.administrator">Предоставить права администратора</li>
                  <li nz-menu-item class="grand-rights" (click)="grantRights(i)" *ngIf="userData.administrator">Откючить права администратора</li>
                  <li nz-menu-item class="delete" (click)="deleteUser(i)">Удалить пользователя</li>
                </ul>
              </nz-dropdown-menu>

              <nz-modal
                [nzVisible]="isEditModalVisible(i)"
                [nzTitle]="modalTitle"
                [nzContent]="modalContent"
                [nzFooter]="modalFooter"
                (nzOnCancel)="closeEditModal(i)"
                class="edit-user-management-modal"
              >
                <ng-template #modalTitle>
                  <div class="edit-modal-header-wrapper">
                    <p class="edit-modal-main-title">В какие разделы сможет входить {{mockedUserList[i].user.name}}</p>
                    <p class="edit-modal-second-title">Обратите внимание, что пользователь будет иметь одинаковые права доступа ко всем объектам, к которым он приписан.</p>
                  </div>
                </ng-template>
                <ng-template #modalContent>
                  <div class="edit-modal-param-container" *ngFor="let param of getMockedDataForEditModel(i)">
                    <div class="param-top-container">
                      <p class="param-name">{{param.title}}</p>
                      <nz-switch class="param-switch" [(ngModel)]="param.enabled"></nz-switch>
                    </div>
                  </div>
                </ng-template>
                <ng-template #modalFooter>
                  <div class="edit-modal-buttons-wrapper">
                    <button class="cancel-btn" nz-button nzType="default" (click)="handleEditModelCancel(i)">Отмена
                    </button>
                    <button class="update-btn" nz-button nzType="primary" (click)="handleEditModelOk(i)">Обновить
                    </button>
                  </div>
                </ng-template>
              </nz-modal>


              <nz-modal
                [nzVisible]="newUserModal"
                [nzTitle]="newUserModalTitle"
                [nzContent]="newUserModalContent"
                [nzFooter]="newUserModalFooter"
                (nzOnCancel)="closeEditModalNewUser()"
                class="edit-user-management-modal"
              >
                <ng-template #newUserModalTitle>
                  <div class="edit-modal-header-wrapper">
                    <p class="edit-modal-main-title">В какие разделы сможет входить Пользователь</p>
                    <p class="edit-modal-second-title">Обратите внимание, что пользователь будет иметь одинаковые права доступа ко всем объектам, к которым он приписан.</p>
                  </div>
                </ng-template>
                <ng-template #newUserModalContent>
                  <div class="edit-modal-param-container" *ngFor="let param of mockedParamsForEditModel">
                    <div class="param-top-container">
                      <p class="param-name">{{param.title}}</p>
                      <nz-switch class="param-switch" [(ngModel)]="param.enabled"></nz-switch>
                    </div>
                  </div>
                </ng-template>
                <ng-template #newUserModalFooter>
                  <div class="edit-modal-buttons-wrapper">
                    <button class="cancel-btn" nz-button nzType="default" (click)="closeEditModalNewUser()">Отмена
                    </button>
                    <button class="update-btn" nz-button nzType="primary" (click)="handleEditModelOkNewUser()">
                      Отправить приглашение
                    </button>
                  </div>
                </ng-template>
              </nz-modal>

            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </section>
</app-view-container>

