p {
  margin: 0;
}

// hide automatically-added semicolon
nz-form-label {
  & ::ng-deep label {
    &::after {
      display: none;
    }
  }
}

.page-container {
  padding: 19px 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;

  .main-container {
    width: 100%;

    .top-panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;

      .search-input-wrapper {
        width: 434px;

        .search-button {
          padding: 0;
          width: 38px;
        }

        & ::ng-deep .ant-btn.ant-btn-primary.ant-btn-icon-only {
          width: 38px;

          & > i {
            font-size: 22px;
          }
        }

        .search-input {
          width: 396px;
        }
      }

      .invite-btn {
        width: 209px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .table-wrapper {
      .user-data-table {
        border-radius: 4px 4px 0px 0px;

        .table-header {
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #000000;
        }

        .table-cell {
          padding: 29px 16px 30px;
        }

        .table-cell, .table-header {

          &.user {
            width: 23%;
          }

          &.access {
            width: 50%;

            @media (max-width: 1300px) {
              width: 43%;
            }
          }

          &.login-date {
            width: 160px;
          }

          &.management {
            width: 114px;
            padding-right: 0;
            position: relative;
          }
        }

        .user-info-wrapper {

          .user-name {
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            font-weight: 600;
            margin-bottom: 10px;
          }

          .user-phone, .user-email {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.45);
          }
        }

        .access-right {
          font-size: 14px;
          line-height: 22px;
          color: #000000;
          width: 80%;
        }

        .last-login-date {
          font-size: 14px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.45);
        }

        .management-btn {
          width: 114px;
          height: 32px;
          position: absolute;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.invite-user-header-wrapper {

  .invite-user-main-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 9px;
  }

  .invite-user-second-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
  }
}

.invite-user-form {
  margin-top: 0;

  .custom-form-label {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 5px;
  }

  .custom-form-item {
    margin-bottom: 36px;
  }

  .invite-user-control {

    .invite-user-input {
      width: 431px;
      height: 32px;
      background: #FFFFFF;
      box-sizing: border-box;
      border-radius: 4px;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
    }
  }

}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cancel-btn, .confirm-btn {
    width: 140px;
    height: 32px;
  }
}

.edit, .grand-rights, .delete {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.edit, .grand-rights {
  color: rgba(0, 0, 0, 0.65);
}

.delete {
  color: #f5222d;
}

.edit-modal-header-wrapper {

  .edit-modal-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }

  .edit-modal-second-title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
  }
}

.edit-modal-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cancel-btn, .update-btn {
    min-width: 140px;
    height: 32px;
  }
}

.edit-modal-param-container {
  padding: 16px 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);

  .param-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .param-name {
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      font-weight: 600;
    }

    .param-switch {
      width: 44px;
      height: 22px;
    }
  }

  .param-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.65);
  }
}
