.select-toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0px 23px;

  & ::ng-deep .ant-divider {
    margin: 7px 0 0 0;
  }

  .dropdown-icon {
    color: #1890FF;
    cursor: pointer;

    i {
      color: #1890FF;

      & ::ng-deep svg {
        fill: #1890FF;
      }
    }
  }
}

p {
  margin: 0;
}

.dropdown-icon {
  padding-left: 10px;
  color: inherit;
  font-size: 12px;
}

.show-filters-btn {
  width: 100%;
}

.reservations-action {

  &.other-filters {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
  }

  &.ant-btn {
    width: 100%;

    & ::ng-deep > span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.guests-wrapper {
  max-width: 200px;

  .guests {
    color: #1890FF;
  }
  .guests-number {

  }
}

.status {
  width: 93px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number {
  max-width: 210px;
}

p {
  margin: 0;
}

.extended-search-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 45px;

  .custom-select {
    display: flex;
    flex-direction: column;
    width: 206px;
    margin-right: 1.5%;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #d9d9d9;
      outline: none;
    }

    .filter-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      padding-bottom: 10px;
    }

    nz-checkbox-group {
      display: flex;
      flex-direction: column;

      & ::ng-deep .ant-checkbox-wrapper {
        margin-left: 10px !important;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .ant-checkbox {
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.booking-number {
  color: #1890FF;
}

.custom-select {

  &.no-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  & > label {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 14px;
  }

  & input {
    outline: none !important;
    box-shadow: none;

    &:focus {
      outline: none !important;
      box-shadow: none;
    }
  }

  .change-status-block {
    width: 206px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 13px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .status-text {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
  }
}

.custom-select {
  & ::ng-deep .ant-select-selection__placeholder, & ::ng-deep .ant-select-selection-selected-value {
    color: #000 !important;

    &:hover {
      color: #40a9ff !important;
    }
  }

  nz-select:hover & ::ng-deep .ant-select-selection__placeholder {
    color: #40a9ff !important;
  }

  & ::ng-deep .ant-calendar-picker-input, & ::ng-deep .ant-calendar-picker-input::placeholder {
    color: #000 !important;

    &:hover {
      color: #40a9ff !important;
    }
  }

  & ::ng-deep .ant-calendar-picker-input:hover {
    color: #40a9ff !important;

    &::placeholder  {
      color: #40a9ff !important;
    }
  }

  .reservations-action {
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      color: #40a9ff;
    }
  }
}

.content {
  nz-card ::ng-deep .card-rate {
    .date {
      padding: 10px 0;
    }
  }
}

.search-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 21px;

  .search-input-group {
    width: 434px;

    & ::ng-deep .ant-btn.ant-btn-primary.ant-btn-icon-only {
      width: 38px;

      & > i {
        font-size: 22px;
      }
    }

    .search-input {
      width: 396px;
    }
  }

  .search-button {
    padding: 0;
    width: 38px;
  }
}

.guest-info-table {

  .cell-wrapper {
    width: 16.5%;

    & > p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.65);

      &.first-name {
        color: #1890FF;
        cursor: pointer;
      }
    }
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}

// custom dashed placeholder for data picker input
.custom-datepicker ::ng-deep .ant-calendar-picker-input {
  background-image: url('../../../../../assets/img/datepicker-input-dahed-placeholder.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: 20px;
}

nz-select, nz-date-picker, nz-date-picker ::ng-deep nz-picker, nz-date-picker ::ng-deep .ant-calendar-picker {
  width: 100%;
}

.statuses-wrapper-status{
  width: 206px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 21px 0 24px 11px;
  max-height: 300px;
  overflow-y: auto;

  .checkbox-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    & ::ng-deep .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0;
    }
  }
}

.statuses-wrapper {
  width: 300px;
  background: #FFFFFF;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;

  .checkbox-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    & ::ng-deep .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0;
    }
  }
}

.custom-checkbox-label {
  margin-left: 0;
}
