<div class="select-toolbar">
  <p (click)="toggleOtherFilters()" class="reservations-action other-filters">
    <span>Фильтр</span>
    <span class="dropdown-icon">
      <i *ngIf="!isExtendedSearch" nz-icon nzType="down" nzTheme="outline"></i>
      <i *ngIf="isExtendedSearch" nz-icon nzType="up" nzTheme="outline"></i>
    </span>
  </p>
  <nz-divider></nz-divider>
</div>

<article *ngIf="isExtendedSearch" class="extended-search-panel">
  <div class="custom-select">
    <label>Новый или повторяющийся</label>
    <p
      class="change-status-block"
      nz-popover
      [(nzVisible)]="isGuestStatusVisible"
      [nzContent]="guestStatusesTemplate"
      nzPlacement="bottom"
      nzTrigger="click">
      <span class="status-text">{{getGuestTitle('status')}}</span>
      <span class="dropdown-icon">
        <i *ngIf="!isGuestStatusVisible" nz-icon nzType="down" nzTheme="outline"></i>
        <i *ngIf="isGuestStatusVisible" nz-icon nzType="up" nzTheme="outline"></i>
      </span>
    </p>
    <ng-template #guestStatusesTemplate>
      <div class="statuses-wrapper-status">
        <ng-container *ngFor="let chb of guestStatusCheckOptions; let chIndex = index">
          <label
            class="custom-checkbox-label"
            nz-checkbox
            [ngModel]="chb.checked"
            (ngModelChange)="changeStatusCheckboxes($event, chIndex)">
            {{ chb.label }}
          </label>
        </ng-container>
      </div>
    </ng-template>
  </div>
  <div class="custom-select">
    <label>Страна</label>
    <p
      class="change-status-block"
      nz-popover
      [(nzVisible)]="isGuestCountryVisible"
      [nzContent]="guestCountriesTemplate"
      nzPlacement="bottom"
      nzTrigger="click"
    >
      <span class="status-text">{{getGuestTitle('country')}}</span>
      <span class="dropdown-icon">
        <i *ngIf="!isGuestCountryVisible" nz-icon nzType="down" nzTheme="outline"></i>
        <i *ngIf="isGuestCountryVisible" nz-icon nzType="up" nzTheme="outline"></i>
      </span>
    </p>
    <ng-template #guestCountriesTemplate>
      <div class="statuses-wrapper">
        <ng-container *ngIf="guestCountryCheckOptions != null && guestCountryCheckOptions?.length > 0; else default">
          <nz-checkbox-group
            class="checkbox-group"
            [ngModel]="guestCountryCheckOptions"
            (ngModelChange)="setCountriesCheckboxes($event)"
          ></nz-checkbox-group>
        </ng-container>
        <ng-template #default>
          <span>---</span>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <div class="custom-select">
    <label>Дата заезда</label>
    <nz-date-picker
      #checkin
      class="custom-datepicker"
      nzPlaceHolder=""
      nzFormat="dd.MM.yyyy"
      [formControl]="checkinControl"
      [nzDisabledDate]="disabledCheckinDate"
    ></nz-date-picker>
  </div>
  <div class="custom-select">
    <label>Дата выезда</label>
    <nz-date-picker
      #checkout
      class="custom-datepicker"
      nzPlaceHolder=""
      nzFormat="dd.MM.yyyy"
      [formControl]="checkoutControl"
      [nzDisabledDate]="disabledCheckoutDate"
    ></nz-date-picker>
  </div>
  <div class="custom-select no-label">
    <button nz-button nzType="primary" (click)="retrieveData()" class="show-filters-btn">
      Применить
    </button>
  </div>
  <div class="custom-select no-label">
    <button nz-button nzType="default" (click)="clearAll()" class="show-filters-btn">
      Очистить
    </button>
  </div>
</article>

<div class="search-input-wrapper">
  <nz-input-group class="search-input-group" nzSearch [nzAddOnAfter]="suffixIconButton">
    <input
      class="search-input"
      type="text"
      nz-input
      placeholder="Поиск"
      [formControl]="searchInputControl"
      (input)="searchData()"
      (keyup.enter)="retrieveData()"
    />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch class="search-button" (click)="retrieveData()">
      <img class="search-input-button" src="../../../assets/img/search-input-button.svg" alt="Search"/>
    </button>
  </ng-template>
</div>

<nz-table
  #basicTable
  [nzData]="guestList"
  [nzLoading]="isDataLoading"
  [nzLoadingIndicator]="largeSpinnerForTable"
  [nzFrontPagination]="false"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalElementsQty"
  (nzPageIndexChange)="searchDataByIndex()"
  class="guest-info-table"
>
  <thead>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>E-mail</th>
    <th>Телефон</th>
    <th>Страна</th>
    <th>Повторяющийся гость</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of basicTable.data; let i = index">
    <tr>
      <td class="cell-wrapper">
        <p class="first-name" (click)="seeGuestDetails(i)">{{data?.first_name}}</p>
      </td>
      <td class="cell-wrapper">
        <p class="second-name">{{data?.last_name}}</p>
      </td>
      <td class="cell-wrapper">
        <p class="email">{{data?.email}}</p>
      </td>
      <td class="cell-wrapper">
        <p class="phone">{{data?.phone}}</p>
      </td>
      <td class="cell-wrapper">
        <p class="country">{{data?.country?.name}}</p>
      </td>
      <td class="cell-wrapper">
        <p class="recurring-status">{{ data?.is_repeating }}</p>
      </td>
    </tr>
  </ng-container>
  </tbody>
</nz-table>

<ng-template #largeSpinnerForTable>
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</ng-template>
