<nz-content>
  <div class="inner-content">
    <div class="select-toolbar">
      <h2 class="page-subtitle">Гости (по желанию)</h2>
    </div>
    <div class="content">
      <nz-card class="rooms" nzTitle="Номера">
        <div class="rooms-content">
          <ng-container *ngIf="addedItems?.length > 0; else noRooms">
            <form [formGroup]="roomNumberForm" class="card-rate-form">
              <div class="form-array-ctrl-wrapper" formArrayName="rooms">
                <div
                  class="card-rate"
                  *ngFor="let room of addedItems; let i = index; let first = first"
                  [class.room-selected]="i === selectedRoomIndex"
                  [class.first]="first"
                  (click)="selectRoom(i)">
                  <div class="rate-wrapper">
                    <p class="rate">{{room?.name}}</p>
                    <a class="button" (click)="deleteItem(i)">
                      <img src="../../../../../../assets/img/Small.svg" alt="">
                    </a>
                  </div>
                  <p class="price">{{room?.price[0]?.price | formatPrice:'UZS'}}</p>
                  <p class="dates">
                    {{getProcessedDate(room?.checkinDate, false, 'no-template') + ' — ' + getProcessedDate(room?.checkoutDate, false, 'no-template')}}
                  </p>
                  <p class="details">
                    Взрослых <span>({{room?.selectedPerson}})</span>,
                    Детей <span>({{room?.selectedChildren}})</span>,
                    Ночей <span>({{room?.nightsCount}})</span>
                  </p>
                  <nz-select
                    [nzDisabled]="room?.availableForBooking == null"
                    nzPlaceHolder="Номер комнаты"
                    [formControl]="roomNumberForm?.get('rooms')?.controls[i]?.get('count')"
                  >
                    <nz-option
                      *ngFor="let avalRoom of room?.availableForBooking"
                      [nzValue]="avalRoom?.id"
                      [nzLabel]="avalRoom?.name"
                    ></nz-option>
                  </nz-select>
                </div>
              </div>
            </form>
          </ng-container>
        </div>
      </nz-card>
      <nz-tabset class="body" (nzOnNextClick)="selectTab($event)" (nzSelectChange)="selectTab($event)">
        <ng-container *ngFor="let guestNumber of getGuestCount(); let i = index">
          <nz-tab [nzTitle]="getTitleForGuestTab(guestNumber)" (nzClick)="saveForm(i)">
            <ng-container *ngTemplateOutlet="tab"></ng-container>
          </nz-tab>
        </ng-container>
      </nz-tabset>
    </div>
    <ng-container *ngTemplateOutlet="totalPricePanel"></ng-container>
  </div>
</nz-content>

<ng-template #totalPricePanel>
<!--  <app-total-counter [totalValue]="totalValue"></app-total-counter>-->
  <div class="step-control">
    <button nz-button nzType="secondary" class="prev-step" (click)="prevStep()">Назад</button>
    <button nz-button nzType="primary" class="next-step" (click)="nextStep()" [disabled]="guestForm?.invalid">Следующий
      этап
    </button>
  </div>
</ng-template>

<ng-template #tab>
  <nz-card class="body-tab">
    <form class="guest-tab-form" [formGroup]="guestForm">
      <div class="select-toolbar form-field-section">
        <div class="custom-select">
          <label>Имя</label>
          <input
            nz-input
            placeholder=""
            formControlName="first_name"
            [nzAutocomplete]="guestFirstNameAutocomplete"
            [class.input-invalid]="guestForm.get('first_name')?.dirty
                                            && guestForm.get('first_name')?.hasError('required')"/>

          <div
            class="validation-message-container"
            *ngIf="guestForm.get('first_name')?.dirty
                            && guestForm.get('first_name')?.hasError('required')"
          >
            <p class="validation-message">Введите имя пользователя!</p>
          </div>
          <nz-autocomplete #guestFirstNameAutocomplete>
            <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
              <nz-auto-option
                *ngFor="let option of guestSuggestions"
                [nzValue]="option?.first_name"
                (selectionChange)="handleOptionClicking(option)"
              >
                {{ option?.first_name }}
              </nz-auto-option>
            </ng-container>
          </nz-autocomplete>
        </div>
        <div class="custom-select">
          <label>Фамилия</label>
          <input
            nz-input
            placeholder=""
            formControlName="last_name"
            [nzAutocomplete]="guestLastNameAutocomplete"
            [class.input-invalid]="guestForm.get('last_name')?.dirty
                                            && guestForm.get('last_name')?.hasError('required')"/>
          <div
            class="validation-message-container"
            *ngIf="guestForm.get('last_name')?.dirty
                            && guestForm.get('last_name')?.hasError('required')"
          >
            <p class="validation-message">Введите фамилию пользователя!</p>
          </div>

          <nz-autocomplete #guestLastNameAutocomplete>
            <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
              <nz-auto-option
                *ngFor="let option of guestSuggestions"
                [nzValue]="option?.last_name"
                (selectionChange)="handleOptionClicking(option)"
              >
                {{ option?.last_name }}
              </nz-auto-option>
            </ng-container>
          </nz-autocomplete>
        </div>
        <div class="custom-select">
          <label>E-mail</label>
          <input
            nz-input
            placeholder=""
            formControlName="email"
            [nzAutocomplete]="guestEmailAutocomplete"
            [class.input-invalid]="guestForm.get('email')?.dirty &&
                                            (guestForm.get('email')?.hasError('required') ||
                                                guestForm.get('email')?.hasError('pattern'))"/>
          <div
            class="validation-message-container"
            *ngIf="guestForm.get('email')?.dirty && guestForm.get('email')?.hasError('required')"
          >
            <p class="validation-message">Введите E-mail!</p>
          </div>
          <div
            class="validation-message-container"
            *ngIf="guestForm.get('email')?.dirty && guestForm.get('email')?.hasError('pattern')"
          >
            <p class="validation-message">Неправильный формат E-mail!</p>
          </div>

          <nz-autocomplete #guestEmailAutocomplete>
            <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
              <nz-auto-option
                *ngFor="let option of guestSuggestions"
                [nzValue]="option?.email"
                (selectionChange)="handleOptionClicking(option)"
              >
                {{ option?.email }}
              </nz-auto-option>
            </ng-container>
          </nz-autocomplete>
        </div>
        <div class="custom-select">
          <label>Номер телефона</label>
          <input
            nz-input
            placeholder=""
            formControlName="phone"
            [nzAutocomplete]="guestPhoneAutocomplete"
            [class.input-invalid]="guestForm.get('phone')?.dirty
                                            && guestForm.get('phone')?.hasError('required')"/>
          <div
            class="validation-message-container"
            *ngIf="guestForm.get('phone')?.dirty && guestForm.get('phone')?.hasError('required')"
          >
            <p class="validation-message">Введите телефон!</p>
          </div>
          <nz-autocomplete #guestPhoneAutocomplete>
            <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
              <nz-auto-option
                *ngFor="let option of guestSuggestions"
                [nzValue]="option?.phone"
                (selectionChange)="handleOptionClicking(option)"
              >
                {{ option?.phone }}
              </nz-auto-option>
            </ng-container>
          </nz-autocomplete>
        </div>
        <div class="custom-select">
          <label>Страна</label>
          <nz-select
            nzPlaceHolder=""
            formControlName="country_id"
            [nzDisabled]="countriesList == null || countriesList?.length === 0"
            [class.select-invalid]="guestForm.get('country_id')?.dirty && guestForm.get('country_id')?.value == null"
          >
            <nz-option
              *ngFor="let country of countriesList"
              [nzValue]="country?.id"
              [nzLabel]="country?.name"
              class="custom-select"
            ></nz-option>
          </nz-select>
          <div
            class="validation-message-container"
            *ngIf="guestForm.get('country_id')?.dirty && guestForm.get('country_id')?.value == null"
          >
            <p class="validation-message">Укажите страну!</p>
          </div>
        </div>
      </div>
      <div class="content extra-info">
        <p class="extra-info-header" (click)="toggleExtraInfoPanel()">
          <span>Дополнительная информация</span>
          <span class="dropdown-icon">
                        <i *ngIf="!isExtraInfoPanelShown" nz-icon nzType="down" nzTheme="outline"></i>
                        <i *ngIf="isExtraInfoPanelShown" nz-icon nzType="up" nzTheme="outline"></i>
                    </span>
        </p>
        <nz-divider></nz-divider>
        <article *ngIf="isExtraInfoPanelShown" class="extra-info-panel">
          <div class="select-toolbar form-field-section">
            <div class="custom-select">
              <label>Дата рождения</label>
              <nz-date-picker nzFormat="dd.MM.yyyy" nzPlaceHolder="" formControlName="birthday"></nz-date-picker>
            </div>
            <div class="custom-select">
              <label>Пол</label>
              <nz-select nzPlaceHolder="" formControlName="gender">
                <nz-option
                  *ngFor="let gender of genderSelection"
                  [nzValue]="gender?.value"
                  [nzLabel]="gender?.label"
                  class="custom-select"
                ></nz-option>
              </nz-select>
            </div>
            <div class="custom-select">
              <label>Номер налогоплательщика</label>
              <input nz-input placeholder="" formControlName="inn"/>
            </div>
            <div class="custom-select">
              <label>Название компании</label>
              <input nz-input placeholder="" formControlName="company_name"/>
            </div>
            <div class="custom-select">
              <label>Идент-ный номер компании</label>
              <input nz-input placeholder="" formControlName="company_number"/>
            </div>
          </div>

          <nz-divider></nz-divider>

          <div class="select-toolbar form-field-section">
            <div class="custom-select">
              <label>Город</label>
              <input nz-input placeholder="" formControlName="city_id"/>
            </div>
            <div class="custom-select">
              <label>Государство/Регион</label>
              <input nz-input placeholder="" formControlName="region"/>
            </div>
            <div class="custom-select">
              <label>Адрес 1</label>
              <input nz-input placeholder="" formControlName="address"/>
            </div>
            <div class="custom-select">
              <label>Адрес 2</label>
              <input nz-input placeholder="" formControlName="address2"/>
            </div>
            <div class="custom-select">
              <label>Почтовый индекс</label>
              <input nz-input placeholder="" formControlName="zip_code" pattern="[0-9]*" digitOnly/>
            </div>
          </div>

          <nz-divider></nz-divider>

          <div class="select-toolbar form-field-section">
            <div class="custom-select">
              <label>Вид документа</label>
              <nz-select
                [nzDisable]="docTypes == null || docTypes?.length === 0"
                nzPlaceHolder=""
                formControlName="document_type_id"
              >
                <nz-option
                  *ngFor="let doc of docTypes"
                  [nzValue]="doc?.id"
                  [nzLabel]="doc?.name"
                  class="custom-select"
                ></nz-option>
              </nz-select>
            </div>
            <div class="custom-select">
              <label>Номер документа</label>
              <input nz-input placeholder="" formControlName="document_number"/>
            </div>
            <div class="custom-select">
              <label>Дата выдачи документа</label>
              <nz-date-picker nzFormat="dd.MM.yyyy" nzPlaceHolder=""
                              formControlName="document_issued_at"></nz-date-picker>
            </div>
            <div class="custom-select">
              <label>Страна выдачи документа</label>
              <nz-select
                nzPlaceHolder=""
                formControlName="document_country_id"
                [nzDisabled]="countriesList == null || countriesList?.length === 0"
              >
                <nz-option
                  *ngFor="let country of countriesList"
                  [nzValue]="country?.id"
                  [nzLabel]="country?.name"
                  class="custom-select"
                ></nz-option>
              </nz-select>
            </div>
            <div class="custom-select">
              <label>Срок действия документа</label>
              <nz-date-picker nzFormat="dd.MM.yyyy" nzPlaceHolder=""
                              formControlName="document_expired_at"></nz-date-picker>
            </div>
          </div>
        </article>
      </div>
    </form>
  </nz-card>
</ng-template>

<ng-template #noRooms>
  <div class="start-wrapper-rate">
    <div class="icon-wrapper">
      <img src="../../../../../../assets/img/group.svg" alt="">
    </div>
    <p>{{'NEW_BOOKING.ADD_ROOM_FOR_BOOKING'| translate}}</p>
  </div>
</ng-template>

<app-delete-modal [isVisible]="isDeleteRoomModalVisible" (onCancel)="handleCancel()" (onOk)="handleOk()"></app-delete-modal>
