:host > nz-content {
  padding: 0;

  & ::ng-deep .inner-content {
    padding: 0;
  }

  & ::ng-deep .select-toolbar {
    padding: 0 0 21px;
  }
}

.page-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 27px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  //min-height: calc(100vh - 186px);
}

.header {
  background-color: #fff;
  display: flex;
}

.toolbar {
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
}

.steper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.title-steper {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.select-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;

  &.form-field-section {

    @media (max-width: 1500px) {
      flex-wrap: wrap;
    }

    .custom-select {

      @media (max-width: 1500px) {
        margin-right: 1%;
        margin-bottom: 18px;
      }
    }
  }
}

.custom-select {
  width: 206px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.select-toolbar{

  .custom-select {
    width: 206px;


    .ant-calendar-picker {

      & ::ng-deep .ant-calendar-picker {
        width: 100%;
      }
    }
  }

}

.content {
  display: flex;
  justify-content: space-between;

  &.extra-info {
    flex-direction: column;

    .ant-divider-horizontal {
      margin: 10px 0;
    }
  }

  & nz-card ::ng-deep .ant-card-body {
    padding: 0;
  }

  & nz-card ::ng-deep .ant-card-head {
    background: #fafafa;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .ant-card-head-title {
      padding: 0;
    }
  }
}

.rooms {
  width: 15%;
  border-radius: 4px;
  height: auto;

  .rooms-content {
    max-height: 45vh;
    overflow: auto;
  }
}

.body {
  width: 83%;
}

.body-tab {
    width: 100%
}

.info {
  text-align: center;
  padding: 15px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.info .icon, .rooms .icon {
  font-size: 40px;
  margin-bottom: 12px;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 41px 0px 24px;
}

.total .total-info {
  width: 100%;

  & ::ng-deep .ant-card-body {
    padding: 24px;
  }
}

.total-item {
  display: flex;
  flex-direction: column;
}

.total-item.last {

  .total-title, .total-value {
    color: #1890ff;
  }

}

.total-info-body {
  display: flex;
  justify-content: space-around;
}

.total-value {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding-top: 9px;
}

.total-title {
  font-size: 14px;
}

.menu-icon {
    margin-left: 20px;
    line-height: 40px;
}

.menu-icons {
    margin-left: auto;
}

.step-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prev-step, .next-step {
    margin: 0;
    width: 158px;
}
.next-step {
    margin-left: 10px;
  }

.rooms .ant-card-head-wrapper{
  text-align: center;
}

.rooms .ant-card-head{
  background: #fafafa;
}

:host {
  & ::ng-deep .ant-tabs-bar {
    background: #fafafa;
    margin-bottom: 26px;
  }

  & ::ng-deep .ant-tabs-tab {
    font-weight: 600;
  }
}

.rooms{
    color: rgba(0, 0, 0, 0.45);
    text-align: center;
}

.ant-card-head .ant-card-head-wrapper{
    font-size: 14px;
    font-weight: 600;
    height: inherit;
}

.ant-steps-item-wait{
  .ant-steps-item-icon{
    background: transparent;
  }
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title::after{
    background-color: #1890FF;
}

.ant-menu{
    margin-left: 60px;
}

.ant-calendar-picker-input{
    padding-left: 32px;
}

.ant-calendar-picker-clear, .ant-calendar-picker-icon{
    right: unset;
    left: 12px;
}

.next-step span{
    margin: 0 5px;
}

.ant-layout{
    min-height: 100vh;
}

.ant-calendar-picker{
    width: stretch;
}

.icon-wrapper{
    text-align: center;
    margin-bottom: 0 auto;
}

p{
    margin-bottom: 0em;
}

.total-info{
    background: #fafafa;
    border: none;
}

.toolbar{
    margin-top: 15px;
}

.ant-avatar, .menu-icons .icon{
    margin-left: 20px;
    font-size: 16px;
}

.user-icon{
    background: #E8E8E8;
    border-radius: 100px;
    padding: 11px;
}

.ant-scroll-number{
    margin-top: -2px;
}

.custom-select .ant-select, .custom-select .ant-btn{
    width: stretch;
}

.custom-select label{
    display: block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.65);
}

.body-tab {
  border-color: transparent;

  & ::ng-deep .ant-card-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.extra-info-header {
  margin-top: 15px;
  cursor: pointer;

  color: #000000;

  .dropdown-icon {
    padding-left: 10px;
    color: #1890FF;
    font-size: 12px;
  }
}


.card-rate{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 15px 12px;
  cursor: pointer;

  &.first {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }

  &.room-selected {
    background: #E6F7FF;
  }

  .dates, .details {
    font-weight: normal;
  }

  nz-select {
    width: 100%;
    margin-top: 9px;
    color: #000;

    & ::ng-deep .ant-select-selection__placeholder, & ::ng-deep .ant-select-selection {
      color: #000;
      font-weight: 300;
    }
  }

  .rate-wrapper{

    display: flex;
    justify-content: space-between;

    .rate{

      padding-right: 7px;

      color: #1890FF;

    }
  }
  .price{

    color: #1890FF;

  }
  .dates{

    color: rgba(0, 0, 0, 0.65);
    padding: 10px 0;
  }
  .details{

    color: rgba(0, 0, 0, 0.65);

    span{

      color: #000;

    }
  }
}


.validation-message-container {
  position: absolute;
  width: 206px;
  text-align: center;
  top: 68px;

  .validation-message {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: #f5222d;
  }

}

.input-invalid {
  border-color: #f5222d;

  &:focus {
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }
}

.select-invalid {

  & ::ng-deep .ant-select-selection  {
    border-color: #f5222d;
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }

  & ::ng-deep .ant-select-arrow {
    color: #f5222d;
  }
}

.confirm-delete-message-header-wrapper {

  .confirm-delete-message-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

.confirm-delete-message-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cancel-btn, .update-btn {
    width: 140px;
    height: 32px;
  }
}
