.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;

  .title-steper {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

  .steper {
    width: 68%;

    & nz-steps ::ng-deep .ant-steps {
      width: 75%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .reservations {
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .reservations-action {
      background: transparent;
      width: 158px;
      height: 32px;

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.next-step-modal {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  background: #C5C5C5;
  padding: 0 40px;

  .step-control {
    display: flex;
    justify-content: flex-end;
    width: 84%;
    margin-left: 8%;
  }
}

.info-modal {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: #FAFAFA;
  padding: 0 40px;

  div {
    display: flex;
    justify-content: flex-end;
    width: 84%;
    margin-left: 9%;
  }
}

.bottom-modals {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
