<app-view-container>
  <div class="toolbar">

    <div class="title-steper">
      <!-- Заголовок Создание новой брони-->
      {{ 'RESERVATION.CREATE' | translate }}
    </div>

    <div class="steper" *ngIf="isStepsHeader">
      <nz-steps [nzCurrent]="stepIndex" nzSize='default'>
        <nz-step
          *ngFor="let step of stepItems; let i = index"
          nzType="navigation"
          class="ant-steps-item"
          [nzStatus]="stepIndex == i ? 'process' : stepIndex < i ? 'wait' : 'finish' "
        ></nz-step>
      </nz-steps>
    </div>
  </div>
  <div>
    <div nz-row nzGutter="16" nzType="flex" nzJustify="left">
      <nz-card style="width: 100%;">
        <app-new-booking *ngIf="isNewBookingVisible()" (stepMark)="handleStep($event)" (changedAddedItems)="setAddedItems($event)"></app-new-booking>
        <app-booking-details *ngIf="isBookingDetailsVisible()" (stepMark)="handleStep($event)" (changedValidForm)="setValidForm($event)"></app-booking-details>
<!--        <app-add-guests *ngIf="isAddGuestsVisible()" (stepMark)="handleStep($event)"></app-add-guests>-->
        <app-apply-booking *ngIf="isApplyBookingVisible()" (stepMark)="handleStep($event)"></app-apply-booking>
      </nz-card>
    </div>
  </div>
  <div class="bottom-modals">
    <div class="info-modal">
      <div>
        <app-total-counter [totalValue]="totalValue"></app-total-counter>
      </div>
    </div>
    <div class="next-step-modal" *ngIf="stepIndex > 0 || addedItems.length !== 0">
      <div class="step-control">
        <button *ngIf="stepIndex > 0" nz-button nzType="secondary" class="prev-step" style="margin-right: 15px" (click)="prevStepFromModal()">
          {{'BACK'| translate}}
        </button>
        <button nz-button nzType="primary"
                *ngIf="stepIndex < 2"
                [disabled]="(stepIndex === 0 && addedItems.length === 0)"
                class="next-step" (click)="nextStepFromModal()">
          {{'NEXT_STEP'| translate}}
        </button>
        <button nz-button nzType="primary" *ngIf="stepIndex === 2" class="next-step" (click)="confirm()">
          {{'CONFIRM'| translate}}
        </button>
      </div>
    </div>
  </div>
</app-view-container>
