<nz-spin [nzSpinning]="isLoading">
  <div class="mb25">
    <h2 class="room-title">{{'CREATE_ROOM_TYPE.FACILITIES_IN_ROOM'| translate}}</h2>

    <div nz-row nzType="flex" nzJustify="space-between">

      <nz-card *ngFor="let facilityGroup of facilityGroups">
        <div nz-row>
          <p class="inner-title">{{facilityGroup.name}}</p>
          <nz-divider></nz-divider>
          <div nz-row nzType="flex" nzJustify="space-between">
            <div *ngFor="let item of facilityGroup.facilities; let i = index"
                 nz-col
                 nzSpan="11"
                 class="check-box-label">
              <span class="check-box-label-title">{{item.name}}</span>
              <nz-switch [(ngModel)]="item.checked"></nz-switch>
            </div>
          </div>
        </div>
      </nz-card>

    </div>

    <div nz-row>
      <div nz-col [nzSpan]="12" class="button-container">
        <button
          nz-button
          nzBlock
          class="login-form-button"
          (click)="back()"
          [nzType]="'default'">
          {{'BACK'| translate}}
        </button>
      </div>

      <div nz-col [nzSpan]="12" class="button-container">
        <button
          nz-button
          nzBlock
          class="login-form-button"
          (click)="submit()"
          [nzType]="'primary'">
          {{'NEXT'| translate}}
        </button>
      </div>
    </div>
  </div>
</nz-spin>
