<nz-spin [nzSpinning]="checkOutBooksService.isLoading">
  <div class="shell-container">
    <div *ngIf="(checkOutBooksService.left$| async).length > 0 else noAny">
      <app-book-item *ngFor="let item of checkOutBooksService.left$| async"
                     [model]="item"
                     (notesEvent)="openNotes($event)"
                     (actionEvent)="onActionClicked($event)"
                     [actionBtnTitle]="item.buttonTitle"></app-book-item>
    </div>
  </div>
  <div class="pagination-container"
       *ngIf="(checkOutBooksService.left$| async).length < (checkOutBooksService.total$| async) && (checkOutBooksService.left$| async).length != 0">
    <button
      *ngIf="(checkOutBooksService.left$| async).length < (checkOutBooksService.total$| async)"
      class="transparent-btn"
      nz-button
      nzType="default"
      (click)="getItems(true)">{{'DASHBOARD.DOWNLOAD_MORE'| translate}}
    </button>
  </div>
  <app-count-container
    *ngIf="(checkOutBooksService.total$| async) > minItems && (checkOutBooksService.left$| async).length != 0"
    [showed]="(checkOutBooksService.left$| async).length"
    [total]="(checkOutBooksService.total$| async)"></app-count-container>
</nz-spin>
<ng-template #noAny>
  <app-empty [msg]="'DASHBOARD.CHECK_OUT.NO_ANY'| translate"></app-empty>
</ng-template>
