.row {
  height: 111px;
  border-bottom: 1px solid #D9D9D9;
  padding-left: 30px;
  padding-right: 30px;

  .col {
    height: max-content;
    padding-top: 20px;

    &:first-child {
      padding-top: 18px;

      .full-name {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #262626;
        margin-bottom: 7px;
      }

      .channel {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #262626;
        margin-bottom: 5px;
      }

      .id-number {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #1890FF;
      }
    }

    &:last-child {
      padding-top: 18px;
      margin-top: 15px;
    }

    .sub-title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #8C8C8C;
      margin-bottom: 0;
    }

    .sub-value {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #262626;
      margin-top: 3px;
      display: inline;
      padding-left: 1.2px;

      &:last-child {
        font-size: 18px;
        text-transform: uppercase;
      }
    }

    .status-label {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      margin: 5px 0;
      padding: 1px 3px;
      border-radius: 4px;
    }

    .confirmed {
      color: #329DFF;
      border: 1px solid #91D5FF;
      background: #E6F7FF;
    }

    .canceled {
      color: #F62F39;
      border: 1px solid #FFADA9;
      background: #FFF1F0;
    }

    .in_house {
      color: #52C41A;
      border: 1px solid #B7EB8F;
      background: #F6FFED;
    }

    .check_out {
      color: #595959;
      border: 1px solid #D9D9D9;
      background: #F5F5F5;
    }

    button {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 5px;
    }
  }
  .overall-col {
    padding-left: 15px;
  }
}

.icon-room-count{
  font-size: 16px;
  color: #1890FF;
  margin-left: 15px;
}

.popoverTitle{
  font-weight: bold;
}

.badge{
  position: absolute;
  top: 8px;
  right: -8px;
  background: #1890FF;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.addPadding{
  padding: 0 8px;
}
.transparent-btn{
  width: 100%;
}
