<div>
  <h2>{{modal.title| translate}}</h2>
  <p *ngIf="modal.title2">{{modal.title2}}</p>
  <p class="dates">
    <span *ngIf="modal.fromDate">{{modal.fromDate| localizeDate| async}}</span> -
    <span *ngIf="modal.toDate">{{modal.toDate| localizeDate| async}}</span>
  </p>
  <div class="radio">
    <nz-radio-group [(ngModel)]="modal.selectParams">
      <label *ngIf="modal.isPriceOrNumb()" nz-radio [nzValue]="1">{{'OPEN'| translate}}</label>
      <label *ngIf="modal.isPriceOrNumb()" nz-radio [nzValue]="0">{{'CLOSE'| translate}}</label>
      <label *ngIf="!modal.isPriceOrNumb()" nz-radio [nzValue]="0">{{'ACTIVATE'| translate}}</label>
      <label *ngIf="!modal.isPriceOrNumb()" nz-radio [nzValue]="1">{{'DELETE'| translate}}</label>
    </nz-radio-group>
  </div>
  <nz-divider></nz-divider>
  <div class="price" *ngIf="modal.isPrice()">
    <span>{{'PRICE'| translate}}</span>
    <input nz-input
           appOnlyNumber="true"
           [(ngModel)]="modal.price"
           [placeholder]="'PRICE'| translate"/>
  </div>
  <div class="numbs" *ngIf="modal.isNumb()">
    <span>{{'CHESS.ROOM_FOR_SALE'| translate}}</span>
    <nz-input-number appOnlyNumber="true" [(ngModel)]="modal.numb" [nzMin]="0" [nzStep]="1"></nz-input-number>
  </div>
  <div class="reservation" *ngIf="modal.isReservation()">
    <span>{{'CHESS.MIN_RESERVATION_PERIOD'| translate}}</span>
    <nz-input-number appOnlyNumber="true" [(ngModel)]="modal.reservation" [nzDisabled]="modal.selectParams == 1" [nzMin]="1"
                     [nzStep]="1"></nz-input-number>
  </div>
  <div class="live" *ngIf="modal.isLive()">
    <span>{{'CHESS.MIN_LIVE_PERIOD'| translate}}</span>
    <nz-input-number appOnlyNumber="true" [(ngModel)]="modal.live" [nzDisabled]="modal.selectParams == 1" [nzMin]="1" [nzStep]="1">
    </nz-input-number>
  </div>
  <div class="buttons">
    <button nz-button nzType="primary" (click)="save()">{{'SAVE'| translate}}</button>
    <button nz-button nzType="default" (click)="cancel()">{{'CANCEL'| translate}}</button>
  </div>
</div>
