.dates {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 5px;
  color: #000;
  margin-bottom: 11px;
}

h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 8px 0;
}

p {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

nz-divider {
  margin: 15px 0;
}

.radio {
  margin-bottom: 26px;
}

.price,
.numbs,
.reservation,
.live {
  display: inline-block;
  margin-bottom: 14px;
}

.numbs nz-input-number {
  width: 100px;
  margin-left: 8px;
  float: right;
}

.numbs span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  float: left;
}

.live span,
.reservation span {
  margin-bottom: 10px;
  display: inline-block;
}

button {
  margin-right: 9px;
}
