<div class="third-step">

  <div nz-row class=" ">
    <p class="title-16 bolded mb15">
      Цена
    </p>
  </div>

  <div nz-row class="mt15">
<!--    <app-rate-table-->
<!--      [viewOnly]="true"-->
<!--      [actions]="false">-->
<!--    </app-rate-table>-->
    <nz-table
      #tariffs
      [nzData]="tableData"
      [nzShowPagination]="false">
      <thead>
      <tr>
        <th nzShowExpand></th>
        <th><span class="title-span">Типы тарифов</span></th>
        <th><span class="title-span">Даты</span></th>
        <th><span class="title-span">Минимальное кол-во ночей</span></th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="tariffs.data">
        <tr class="pointer">
          <td (click)="data.expand = !data.expand">
            <i
              nz-icon
              class="icon-expand"
              [ngClass]="data.expand ? 'expand-icon' : ''"
              style="color: #1890FF;"
              [nzType]="'down'"
              nzTheme="outline"></i>
          </td>
          <td class="pointer" (click)="data.expand = !data.expand">
            <span>{{data.name}}</span>
          </td>
          <td class="pointer" (click)="data.expand = !data.expand">{{data.date}}</td>
          <td class="pointer" (click)="data.expand = !data.expand">{{data.min}}</td>
        </tr>
        <tr [nzExpand]="data.expand" style="background-color: white">
          <td colspan="12" style="padding: 10px 0">
            <div *ngFor="let type of data.types; let i = index">
              <p class="title-span">{{ type.name }}</p>
              <app-week-price-table [viewOnly]="true" [roomType]="type"></app-week-price-table>
            </div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>

  </div>


  <div nz-row class="first-step__row-2">
    <nz-form-item>
      <nz-form-label class="title-14 bolded" nzFor="include_food">Вы хотите включить питание?</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <span>
            <span *ngIf="foodData.include_food">Да</span>
            <span *ngIf="!foodData.include_food">Нет</span>
          </span>
          <div *ngIf="foodData.include_food" class="flex-column column-select mt15">
            <b>Включены:</b>
            <span *ngIf="foodData.breakfast">
              Завтрак
            </span>
            <span *ngIf="foodData.lunch">
              Обед
            </span>
            <span *ngIf="foodData.dinner">
              Ужин
            </span>
          </div>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>


  <div nz-row class="third-step__row">
    <p class="title-16 bolded">
      Условия аннуляции
    </p>

    <nz-table
      [nzShowPagination]="false"
      #cancellations
      [nzData]="cancellationsData">
      <thead>
      <tr>
        <th style="width: 35%;"><span class="table-title">Кол-во дней для бесплатной отмены бронирования</span></th>
        <th><span class="table-title">Комиссия за отмену бронирования</span></th>
        <th><span class="table-title">Комиссия за незаезд</span></th>
        <th><span class="table-title">Предоплата</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of cancellations.data">
        <td class="td-content">{{ data.body.days }}</td>
        <td class="td-content">{{ data.body.cancel_commission }}%</td>
        <td class="td-content">{{ data.body.commission }}%</td>
        <td class="td-content">{{ data.body.prepayment ? 'Да' : 'Нет' }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>


  <div nz-row class="third-step__row">
    <p class="title-16 bolded" style="max-width: 0;">
      Налоги
    </p>

    <div class="ml15">
      <div nz-col nzSpan="12">
        <p class="title-14 bolded">
          НДС
        </p>
        <p *ngIf="taxes.nds">НДС включен в стоимость</p>
        <p *ngIf="!taxes.nds">НДС не включен в стоимость</p>

        <p class="title-14 bolded tax-title">
          Городской налог
        </p>
        <p *ngIf="!taxes.city_tax">Городской налог не взымается </p>
        <p *ngIf="taxes.city_tax">Городской налог взымается </p>

        <p class="title-14 bolded tax-title" *ngIf="taxes.city_tax">
          Городской налог
        </p>
        <p *ngIf="taxes.city_tax">{{taxes.city_tax}}</p>
      </div>
<!--      <div nz-col nzSpan="12">-->
<!--        <p class="title-14 bolded">-->
<!--          Тип городского налога-->
<!--        </p>-->
<!--        <p>2 %</p>-->

<!--        <p class="title-14 bolded tax-title">-->
<!--          Включен ли городской налог в стоимость?-->
<!--        </p>-->
<!--        <p>Включен</p>-->

<!--      </div>-->
    </div>
  </div>


</div>
