<nz-spin [nzSpinning]="isLoading">
  <div class="mb25">
    <h2 class="room-title">{{'CREATE_ROOM_TYPE.GALLERY'| translate}}</h2>

    <app-photo-manager
      [inputSelected]="roomType.images"
      (selected)="selectedImages = $event">
    </app-photo-manager>

    <div nz-row>
      <div nz-col [nzSpan]="12" class="button-container">
        <button
          nz-button
          nzBlock
          class="login-form-button"
          (click)="back()"
          [nzType]="'default'">
          {{'BACK'| translate}}
        </button>
      </div>

      <div nz-col [nzSpan]="12" class="button-container">
        <button
          nz-button
          nzBlock
          class="login-form-button"
          (click)="submit()"
          [nzType]="'primary'">
          {{'SAVE'| translate}}
        </button>
      </div>
    </div>
  </div>
</nz-spin>
