p {
  margin: 0;
}

// hide automatically-added semicolon
nz-form-label {
  & ::ng-deep label {
    &::after {
      display: none;
    }
  }
}

.tab-container {
  padding: 18px 92px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1500px) {
    padding: 18px 50px;
  }

  & ::ng-deep .ant-upload-list-item {
    display: none;
  }

  .image-container {
    width: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      margin-bottom: 9px;
      width: 206px;
      height: 206px;

      .load-photo-btn {
        width: 158px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .profile-image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .main-container {
    width: 75%;
    margin-left: 43px;
    display: flex;
    flex-direction: column;

    .custom-form-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 32px;

      &.margin-bottom {
        margin-bottom: 96px;
      }
      
      .submit-button-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .update-profile-data-btn {
          width: 209px;
          height: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }

      .custom-form-label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        line-height: 14px;
        margin-bottom: 8px;

        &::ng-deep label {
          line-height: 14px;
          color: rgba(0, 0, 0, 0.65);
        }
      }

      .custom-form-control {

        .custom-form-input {
          width: 319px;
          color: #000000;
          border-radius: 4px;

          &.phone-input {
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }
  }
}