<section class="tab-container">
  <div class="image-container">
    <div class="image-wrapper">
      <ng-container *ngIf="userData != null">
        <ng-container *ngIf="userData.avatar != null && userData.avatar !== ''">
          <img class="profile-image" src="{{userData.avatar}}" alt="logo"/>
        </ng-container>
        <ng-container *ngIf="userData.avatar == null || userData.avatar === ''">
          <img class="profile-image" src="../../../../../assets/img/no-image-cover.svg" alt="logo"/>
        </ng-container>
      </ng-container>
    </div>

    <nz-upload
      [nzAction]="imageUrl"
      [nzCustomRequest]="imageUploadingRequestHandler"
      [nzLimit]="1"
    >
      <button class="load-photo-btn" nz-button nzType="primary">
        {{ userData.avatar == null || userData.avatar === '' ? 'Загрузить фото' : 'Поменять фото' }}
      </button>
    </nz-upload>
  </div>

  <div class="main-container">
    <form class="user-data-form" nz-form [formGroup]="userMainDataForm" (ngSubmit)="submitForm()">
      <nz-form-item class="custom-form-item">
        <nz-form-label class="custom-form-label" [nzSpan]="5">Имя</nz-form-label>
        <nz-form-control>
          <nz-input-group
            class="custom-form-control">
            <input
              type="text"
              class="custom-form-input"
              nz-input
              formControlName="first_name"
              placeholder="Имя"
            />
          </nz-input-group>
          <nz-form-explain
            *ngIf="userMainDataForm.get('first_name')?.dirty && userMainDataForm.get('first_name')?.hasError('required')">
            Введите, пожалуйста, Ваше имя!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="userMainDataForm.get('first_name')?.dirty && userMainDataForm.get('first_name')?.hasError('serverError')">
            {{userMainDataForm.get('first_name')?.errors.serverError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="custom-form-item">
        <nz-form-label class="custom-form-label" [nzSpan]="5">Фамилия</nz-form-label>
        <nz-form-control>
          <nz-input-group
            class="custom-form-control">
            <input
              type="text"
              class="custom-form-input"
              nz-input
              formControlName="last_name"
              placeholder="Фамилия"
            />
          </nz-input-group>
          <nz-form-explain
            *ngIf="userMainDataForm.get('last_name')?.dirty && userMainDataForm.get('last_name')?.hasError('required')">
            Введите, пожалуйста, Вашу фамилию!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="userMainDataForm.get('last_name')?.dirty && userMainDataForm.get('last_name')?.hasError('serverError')">
            {{userMainDataForm.get('last_name')?.errors.serverError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="custom-form-item">
        <nz-form-label class="custom-form-label" [nzSpan]="5">Телефон</nz-form-label>
        <nz-form-control>
          <nz-input-group
            class="custom-form-control" nzAddOnBefore="+998">
            <input
              type="text"
              class="custom-form-input phone-input"
              nz-input
              formControlName="phone"
              placeholder="Телефон"
            />
          </nz-input-group>
          <nz-form-explain
            *ngIf="userMainDataForm.get('phone')?.dirty && userMainDataForm.get('phone')?.hasError('required')">
            Введите, пожалуйста, телефон!
          </nz-form-explain>
          <nz-form-explain
            *ngIf="userMainDataForm.get('phone')?.dirty && userMainDataForm.get('phone')?.hasError('serverError')">
            {{userMainDataForm.get('phone')?.errors.serverError}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="custom-form-item">
        <nz-form-control class="submit-button-wrapper">
          <div nz-row>
            <div nz-col nzSpan="11">
              <button class="update-profile-data-btn" nz-button nzType="primary" [disabled]="onSubmited()"
                      type="submit">
                Сохранить
              </button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>
</section>
