<div class="panel">
  <span></span>
  <span class="add-reservation-btn">Импортировано: {{data.length}}</span>
</div>

<nz-table class="table reservation-table edit-resrvation-table" [nzScroll]="{ x: '1950px', y: '45vh'}">
  <thead>
  <tr>
    <th nzWidth="160px">Имя*</th>
    <th nzWidth="160px">Фамилия</th>
    <th nzWidth="170px">E-mail</th>
    <th nzWidth="150px">Дата заезда*</th>
    <th nzWidth="150px">Дата выезда*</th>
    <th nzWidth="100px">Тип номера*</th>
    <th nzWidth="100px">Взроcлых*</th>
    <th nzWidth="70px">Детей</th>
    <th nzWidth="120px">Сумма брони*</th>
    <th nzWidth="160px"> Источник*</th>
    <th nzWidth="160px">Статус*</th>
    <th nzWidth="160px">Страна</th>
    <th nzWidth="150px">Номер группы</th>
    <th nzWidth="110px"></th>
  </tr>
  </thead>

  <tbody *ngFor="let reservation of data; let i = index">
  <tr>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else nameInputTpl">
        <div class="right_name">
          {{ reservation.first_name }}
        </div>
      </ng-container>
      <ng-template #nameInputTpl>
        <input nz-input type="text"
               [(ngModel)]="editCache[reservation.id].data.first_name" placeholder="Имя"
               (blur)="validator.validateName(reservation)"
               [ngClass]="{'invalid': reservation.validationState.isNameEmpty}"
        />
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else first_nameInputTpl">
        <div class="last_name right_last_name">
          {{ reservation.last_name }}
        </div>
      </ng-container>
      <ng-template #first_nameInputTpl>
        <input nz-input type="text" class="last_name"
               [(ngModel)]="editCache[reservation.id].data.last_name" placeholder="Фамилия"
        />
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else email">
        <div class="email right_email">
          {{ reservation.email }}
        </div>
      </ng-container>
      <ng-template #email>
        <input nz-input type="email" class="email"
               [(ngModel)]="editCache[reservation.id].data.email" placeholder="E-mail"
        />
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else checkinInput">
        <div class="checkin right_in">
          {{ reservation.rooms[0].checkin  | date:'yyyy-MM-dd' }}
        </div>
      </ng-container>

      <ng-template #checkinInput>
        <nz-date-picker class="checkin"
                        [(ngModel)]="editCache[reservation.id].data.rooms[0].checkin"
                        (nzOnOpenChange)="validator.validateCheckIn(reservation.rooms[0])"
                        (ngModelChange)="setCheckout(reservation.rooms[0])"
                        [ngClass]="{'invalid': reservation.rooms[0].validationState.isCheckInInvalid}"
                        [nzDisabledDate]="disableStartDate"
        ></nz-date-picker>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else checkoutInput">
        <div class="checkout right_out">
          {{ reservation.rooms[0].checkout | date:'yyyy-MM-dd' }}
        </div>
      </ng-container>

      <ng-template #checkoutInput>
        <nz-date-picker class="checkout"
                        [(ngModel)]="editCache[reservation.id].data.rooms[0].checkout"
                        (nzOnOpenChange)="validator.validateCheckOut(reservation.rooms[0])"
                        [ngClass]="{'invalid': reservation.rooms[0].validationState.isCheckOutInvalid}"
                        [nzDisabledDate]="disableEndDate"
        ></nz-date-picker>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else roomType">
        <div class="room_type right_room" *ngIf="reservation.rooms[0].room_type">
          {{ reservation.rooms[0].room_type.short_name }}
        </div>
      </ng-container>
      <ng-template #roomType>
        <nz-select class="room_type"
                   (nzOpenChange)="validator.validateRoomType(reservation.rooms[0])"
                   [ngClass]="{'invalid': reservation.rooms[0].validationState.isRoomTypeEmpty}"
                   [(ngModel)]="editCache[reservation.id].data.rooms[0].room_type_id"
                   (ngModelChange)="setCounts(reservation.rooms[0])">
          <nz-option *ngFor="let roomType of roomTypes; let i = index"
                     [nzValue]="roomType.id" [nzLabel]="roomType.short_name"></nz-option>
        </nz-select>
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else adultsInput">
        <div class="adults right_adults">
          {{ reservation.rooms[0].adults }}
        </div>
      </ng-container>
      <ng-template #adultsInput>

        <nz-select class="adults"
                   [(ngModel)]="editCache[reservation.id].data.rooms[0].adults"
                   [ngClass]="{'invalid': reservation.rooms[0].validationState.isAdultsEmpty}"
                   (nzOpenChange)="validator.validateAdults(reservation.rooms[0])">
          <nz-option *ngFor="let number of reservation.rooms[0].max_adults; let i = index"
                     [nzValue]="i+1" [nzLabel]="i+1"></nz-option>
        </nz-select>
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else childrenInput">
        <div class="children right_children">
          {{ reservation.rooms[0].children }}
        </div>
      </ng-container>
      <ng-template #childrenInput>

        <nz-select class="children"
                   [(ngModel)]="editCache[reservation.id].data.rooms[0].children"
                   [ngClass]="{'invalid': reservation.rooms[0].validationState.isChildsEmpty}"
                   (nzOpenChange)="validator.validateChilds(reservation.rooms[0])">
          <nz-option *ngFor="let number of reservation.rooms[0].max_children; let i = index"
                     [nzValue]="i" [nzLabel]="i"></nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else sumInput">
        <div class="right_sum">
          {{ reservation.rooms[0].sum | thousandFormatPrice }}
        </div>
      </ng-container>
      <ng-template #sumInput>
        <nz-input-number
          class="reservation-sum"
          [nzFormatter]="nzFormatter"
          [nzParser]="nzParser"
          [nzMin]="0"
          [(ngModel)]="editCache[reservation.id].data.rooms[0].sum"
          (ngModelChange)="validator.validateSum(reservation.rooms[0])"
          [ngClass]="{'invalid': reservation.rooms[0].validationState.isSumEmpty}"
        ></nz-input-number>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else sourceIdSelect">
        <div class="source right_source">
          {{ reservation.source_name}}
        </div>
      </ng-container>
      <ng-template #sourceIdSelect>
        <!--        <nz-select class="source"-->
        <!--                   [ngClass]="{'invalid': reservation.validationState.isSourceIdEmpty}"-->
        <!--                   (nzOpenChange)="validator.validateSource(reservation)"-->
        <!--                   [(ngModel)]="editCache[reservation.id].data.source_id">-->
        <!--          <nz-option *ngFor="let source of sources; let i = index"-->
        <!--                     [nzValue]="source.id" [nzLabel]="source.name"></nz-option>-->
        <!--        </nz-select>-->

        <nz-tree-select
          class="source"
          [ngClass]="{'invalid': reservation.validationState.isSourceIdEmpty}"
          [nzDefaultExpandAll]="true"
          [nzNodes]="nodes"
          nzShowSearch
          [(ngModel)]="editCache[reservation.id].data.source_id"
        >
        </nz-tree-select>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else statusSelect">
        <div class="status right_status">
          {{ reservation.status_name}}
        </div>
      </ng-container>
      <ng-template #statusSelect>
        <nz-select class="status"
                   [ngClass]="{'invalid': reservation.validationState.isStatusEmpty}"
                   (nzOpenChange)="validator.validateStatus(reservation)"
                   [(ngModel)]="editCache[reservation.id].data.status">
          <nz-option nzValue="confirmed" nzLabel="Подтверждено"></nz-option>
          <nz-option nzValue="canceled" nzLabel="Отменено"></nz-option>
          <nz-option nzValue="no_show" nzLabel="Незаезд"></nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else countryIdSelect">
        <div class="country right_country">
          {{ reservation.country_name}}
        </div>
      </ng-container>
      <ng-template #countryIdSelect>
        <nz-select class="country"
                   nzShowSearch
                   [(ngModel)]="editCache[reservation.id].data.country_id">
          <nz-option *ngFor="let country of countries; let i = index"
                     [nzValue]="country.id" [nzLabel]="country.name"></nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[reservation.id].edit; else statusInput">
        <div class="right_number">
          {{ reservation.number}}
        </div>
      </ng-container>
      <ng-template #statusInput>
        <input nz-input type="text"
               [(ngModel)]="editCache[reservation.id].data.number"
               placeholder="Номер группы"/>
      </ng-template>
    </td>
    <td nzRight="0px">
      <div class="buttons">
        <ng-container *ngIf="!editCache[reservation.id].edit; else saveTpl">
          <button nz-button
                  class="edit_btn"
                  nzSize="small"
                  nzType="primary"
                  nzGhost
                  (click)="startEdit(reservation.id)"
          >Править
          </button>

        </ng-container>
        <ng-template #saveTpl>
          <button nz-button
                  class="edit_btn"
                  nzSize="small"
                  nzType="primary"
                  (click)="saveEdit(reservation.id, reservation.rooms[0])"
          >Сохранить
          </button>
        </ng-template>
      </div>
    </td>
  </tr>

  <tr *ngFor="let room of reservation.rooms | slice:1; let y = index ">
    <td></td>
    <td></td>
    <td></td>
    <td>
      <ng-container *ngIf="!room.isEdit; else checkinInputRoom">
        <div class="right_in">
          {{ room.checkin  | date:'yyyy-MM-dd'}}
        </div>
      </ng-container>
      <ng-template #checkinInputRoom>
        <nz-date-picker
          [(ngModel)]="room.checkin"
          (nzOnOpenChange)="validator.validateCheckIn(room)"
          (ngModelChange)="setCheckout(room)"
          [ngClass]="{'invalid': room.validationState.isCheckInInvalid}"
          [nzDisabledDate]="room.disabledCheckIn"
        ></nz-date-picker>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!room.isEdit; else checkOutRoom">
        <div class="right_out">
          {{ room.checkout  | date:'yyyy-MM-dd'}}
        </div>
      </ng-container>
      <ng-template #checkOutRoom>
        <nz-date-picker
          [(ngModel)]="room.checkout"
          (nzOnOpenChange)="validator.validateCheckOut(room)"
          [ngClass]="{'invalid': room.validationState.isCheckOutInvalid}"
          [nzDisabledDate]="room.disabledCheckOut"
        ></nz-date-picker>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!room.isEdit; else typeRoom">
        <div class="room_type right_room">
          {{ room.room_type.short_name }}
        </div>
      </ng-container>
      <ng-template #typeRoom>
        <nz-select
          (nzOpenChange)="validator.validateRoomType(room)"
          [ngClass]="{'invalid': room.validationState.isRoomTypeEmpty}"
          [(ngModel)]="room.room_type_id"
          (ngModelChange)="setCounts(room)">
          <nz-option *ngFor="let roomType of roomTypes; let i = index"
                     [nzValue]="roomType.id" [nzLabel]="roomType.short_name"></nz-option>
        </nz-select>
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="!room.isEdit; else adultsRoom">
        <div class="adults right_adults">
          {{ room.adults }}
        </div>
      </ng-container>
      <ng-template #adultsRoom>

        <nz-select class="adults"
                   [(ngModel)]="room.adults"
                   [ngClass]="{'invalid': room.validationState.isAdultsEmpty}"
                   (nzOpenChange)="validator.validateAdults(room)">
          <nz-option *ngFor="let number of room.max_adults; let i = index"
                     [nzValue]="i+1" [nzLabel]="i+1"></nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!room.isEdit; else childrenRoom">
        <div class="children right_children">
          {{ room.children }}
        </div>
      </ng-container>
      <ng-template #childrenRoom>

        <nz-select class="children"
                   [(ngModel)]="room.children"
                   [ngClass]="{'invalid':room.validationState.isChildsEmpty}"
                   (nzOpenChange)="validator.validateChilds(room)">
          <nz-option *ngFor="let number of room.max_children; let i = index"
                     [nzValue]="i" [nzLabel]="i"></nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!room.isEdit; else sumRoom">
        <div class="sum right_sum">
          {{ room.sum | thousandFormatPrice }}
        </div>
      </ng-container>
      <ng-template #sumRoom>
        <nz-input-number class="sum reservation-sum"
                         [nzFormatter]="nzFormatter"
                         [nzParser]="nzParser"
                         [(ngModel)]="room.sum"
                         [nzMin]="0"
                         (ngModelChange)="validator.validateSum(room)"
                         [ngClass]="{'invalid': room.validationState.isSumEmpty}"
        ></nz-input-number>
      </ng-template>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td nzRight="0px">
      <div>
        <ng-container *ngIf="!room.isEdit; else saveRoom">
          <button nz-button
                  class="edit_btn"
                  nzSize="small"
                  nzType="primary"
                  nzGhost
                  (click)="startEditRoom(room)"
          >Править
          </button>
        </ng-container>
        <ng-template #saveRoom>
          <button nz-button
                  class="edit_btn"
                  nzSize="small"
                  nzType="primary"
                  (click)="saveEditRoom(reservation.id,room)"
          >Сохранить
          </button>
        </ng-template>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
<button class="save-btn" nz-button [nzType]="'primary'" (click)="sendData()" [disabled]="isRoomEdit ? true : false">
  <span>Сохранить</span></button>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzClosable]="true"
  [nzKeyboard]="false"
  [nzMaskClosable]="true"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <nz-form-item>
    <h4>Подтвердите чтобы продолжить</h4>
  </nz-form-item>
</nz-modal>
