.table {
    margin: 2% 1% 1%;
  }
.add-btn{
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}
.save-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.add-reservation-btn{
    margin-top: 3%;
}

.icon {
    font-size: 24px;
    font-weight: normal;
 }
.green{
    color: green;
    margin-left: 20%;
 }
.red{
    color: red;
   margin-left: 15%;
  }
.right{
    margin-left: 56px;
    display: inline-block;
  }
.invalid{
    border: 1px solid red;
    border-radius: 5px;
  }
.edit_btn {
    margin: 0 auto;
    display: block;
}
.conten {
  width: 150px;
  padding-left: 7px;
}

.icon:active {
  transform: translateY(1px);
}

.room_type{
  width: 89px;
}
.adults{
  width: 89px;
}

.children{
  width: 59px;
}

.checkin{
  width: 140px;
}
.checkout{
  width: 140px;
}
.last_name{
  width: 149px;
}
.status {
  width: 149px;
}
.source {
  width: 149px
}
.country {
  width: 149px;
}

.right_name {
  padding-left: 7px;
}
.right_last_name {
  padding-left: 0px;
}
.right_email {
  padding-left: 0px;
}
.right_in {
  padding-left: 0px;
}
.right_out {
  padding-left: 0px;
}
.right_room {
  padding-left: 0px;
}
.right_adults {
  padding-left: 0px;
}
.right_children {
  padding-left: 0px;
}
.right_sum {
  padding-left: 0px;
}
.right_source {
  padding-left: 0px;
}
.right_status {
  padding-left: 0px;
}
.right_country {
  padding-left: 0px;
}
.right_number {
  padding-left: 0px;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  span {
    margin-right: 2%;
    font-size: 18px;
  }
}


.reservation-sum {
  width: 120px;
}
