.dates-box {
  width: 100%;
  background: #fff;
  padding-left: 220px;
  height: 65px;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}

.dates {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  border-left: 1px solid #d9d9d9;
}

.month {
  height: 65px;
  display: inline-block;
  border-right: 1px solid #d9d9d9;
}

.month-line {
  height: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
  padding: 5px;
  box-sizing: border-box;
}

.date {
  display: inline-block;
  width: 60px;
  height: 35px;
  border-right: 1px solid #d9d9d9;
}

.date.last {
  border: none;
}

.date p {
  margin: 0;
  padding: 0 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
}

.date.black p {
  color: #000;
}

.week-name,
.date .day {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  display: block;
  text-align: right;
}

.count {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #1890ff;
  cursor: pointer;
}

.count.black {
  color: #000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.65);
}

.count:before {
  content: "";
  background: url(../assets/cell/user-b.png);
  width: 14px;
  height: 14px;
  position: relative;
  display: inline-block;
  background-size: 100% 100%;
  top: 2px;
}

.count.black:before {
  content: "";
  background: url(../assets/cell/user.png);
  width: 14px;
  height: 14px;
  position: relative;
  display: inline-block;
  background-size: 100% 100%;
}

.room {
  width: 100%;
  display: inline-block;
}

.room-title-block {
  width: 100%;
  height: 49px;
  background: #fff;
  padding: 13px 15px;
  border-bottom: 0.5px solid #d9d9d9;
}

.room-title-block button {
  float: right;
}

.room-title {
  float: left;
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.rows-names {
  width: 221px;
  float: left;
}

.rows-names ul {
  padding: 0;
  margin: 0;
}

.rows-names li {
  list-style: none;
  width: 100%;
}

.rows-names li p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 5px 10px;
  background: #fff;
  box-sizing: border-box;
  height: 34px;
}

.rate {
  padding-right: 0;
}

.rate > ul {
  padding-left: 12px;
  width: 100%;
}

.rate > p {
  height: 51px !important;
}

.rate li > p {
  background: #f7f7f7 !important;
  border-left: 1px solid #d9d9d9;
  margin-left: 12px;
}

td {
  width: 60px;
  height: 34px;
}

.table td {
  width: 60px;
  height: 34px;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  background: #fff;
  display: inline-block;
  position: relative;
  text-align: center;
}

.table td.restrictions:before {
  content: "";
  background: url(../assets/restiction.svg);
  background-size: 100% 100%;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
}

.table td .color {
  width: calc(100% + 2px);
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 0;
  cursor: pointer;
}

.table .color.first {
  border-radius: 20px 0 0 20px;
  left: 3px !important;
}

.table .color.last {
  border-radius: 0 20px 20px 0;
  right: 3px !important;
  left: auto !important;
}

.table .color.last.first {
  border-radius: 20px;
  right: 2px !important;
  width: calc(100% - 6px);
}

.table td .green {
  background: #67b36f;
}

.table td .yellow {
  background: #f8d98b;
}

.table td .red {
  background: #d65c5c;
}

.table {
  float: left;
  width: 90%;
  width: calc(100% - 221px);
  white-space: nowrap;
  overflow-x: scroll;
  position: relative;
}

.table tr {
  position: relative;
  display: block;
}

.table td .val {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  text-align: center;
  margin: 4px 0;
  display: inline-block;
  border: none;
  outline: none;
  background: transparent;
}

.table td .booked {
  width: 47px;
  height: 20px;
  margin: 7px;
  border-radius: 40px;
  background: #979797;
  padding: 0 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  display: inline-block;

  color: #ffffff;
}

.table .value {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
  z-index: 1;
}

.rate-row td {
  height: 51px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  padding: 14px 5px;
  color: rgba(0, 0, 0, 0.65);
  text-align: right;
  position: relative;
}

.rate-row > td > span {
  background: url(../assets/restiction.svg);
  background-size: 100% 100%;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
}

td input {
  width: 100%;
  background: #fff;
  border: none;
  text-align: right;
  z-index: 10;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.65);

  outline: none;

  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  display: inline-block;
  z-index: 0;
  padding: 0 10px;

}

td input.hidden {
  display: none;
}

.rate-row input::-webkit-outer-spin-button,
.rate-row input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.rate-row input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.rate-row-min {
  max-height: 34px !important;
}

.rate-row-min td {
  max-height: 34px !important;
  background: #f7f7f7;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  padding: 6px;

  color: rgba(0, 0, 0, 0.4);
}

.rate-row-min.active td {
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
}

.rooms {
  width: 100%;
  height: calc(100vh - 210px);
  overflow-x: hidden;
  overflow-y: auto;
}

.table td.closed {
  background: linear-gradient(0deg, #febbbc, #febbbc), #ffffff !important;
}

.table td.selected {
  background: rgba(24, 144, 255, 0.3) !important;
  z-index: 10;
  border-top: 2px solid #1890ff !important;
  border-bottom: 2px solid #1890ff !important;
}

.selected.first {
  border-left: 2px solid #1890ff !important;
}

.selected.last {
  border-right: 2px solid #1890ff !important;
}

.selected.first:before {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../assets/selecter.svg);
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  left: -7.5px;
  z-index: 10;
  cursor: col-resize;
}

.selected.last:after {
  content: "";
  width: 15px;
  height: 15px;
  background: url(../assets/selecter.svg);
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  right: -7.5px;
  z-index: 10;
  cursor: col-resize;
}

table {
  position: relative;
  z-index: 10;
}

#modalChangePrices {
  position: absolute;
  z-index: 100;
  width: 300px;
  top: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 17px 23px;
}

.loader {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.74);
  display: none;
}

.loader.active {
  display: inline-block;
}

.loader nz-spin {
  position: relative;
  top: 50%;
  margin-top: -12.5px;
}

.loaderData {
  text-align: center;
}

.loaderData nz-spin {
  display: inline-block;
}

.loaderData.hidden {
  display: none;
}

.modal-container {
  position: relative;
}
