<div nz-row class="dates-box">
  <div class="dates" #scrollOne (scroll)="updateScroll($event)" (mouseenter)="changeScrollBlock(1)">
    <div class="month" *ngFor="let month of months">
      <div class="month-line">
        {{month.name| translate}} {{month.year}}
      </div>
      <div class="date" *ngFor="let d of month.days; let last = last"
           [ngClass]="{'last': last, 'black': d.isDayOff}">
        <p class="week-name">{{d.name| translate}}</p>
        <p class="day">{{d.day}}</p>
      </div>
    </div>
  </div>
</div>
<div class="rooms" (scroll)="loadData($event)" #roomsView>
  <div class="modal-container">
    <div [hidden]="!displayModal" #modalChangePrices id="modalChangePrices">
      <app-set-price-modal *ngIf="modal" [modal]="modal" (onSave)="saveData($event)"
                           (onCancel)="closeModal()"></app-set-price-modal>
    </div>
  </div>
  <div class="loader" #loader>
    <nz-spin nzSimple></nz-spin>
  </div>

  <div *ngIf="rooms.length > 0; else noRooms">
    <div class="room" nz-row *ngFor="let r of rooms; let room_index = index;">
      <div *ngIf="r.rates.length > 0">
        <div class="room-title-block widget-name" nz-row>
          <h2 class="room-title">
            {{r.room_type.name}} (ID = {{r.room_type.id}})
          </h2>
          <button (click)="displayListEdit(r, room_index)" nz-button
                  nzType="primary">{{'CHESS.EDIT_AS_LIST'| translate}}</button>
        </div>
        <div class="table-block">
          <div class="rows-names">
            <ul>
              <li><p>{{'CHESS.ROOM_STATUS'| translate}}</p></li>
              <li><p>{{'CHESS.ROOM_FOR_SALE'| translate}}</p></li>
              <li><p>{{'CHESS.ACTIVE_RESERVATIONS'| translate}}</p></li>
              <li class="rate" *ngFor="let rate of r.rates">
                <p>{{rate.name}}<br/>
                  <span class="count"
                        (click)="showModalPrices(rate, r.room_type.id, room_index)"> x {{r.room_type.max_adults}} {{'CHANGE'| translate}}</span>
                </p>
                <div *ngIf="displayOccupancy">
                  <ul>
                    <li *ngFor="let o of rate.occupancy"><p class="count black"> x {{o.guests}}</p></li>
                  </ul>
                  <ul>
                    <li *ngFor="let o of rate.occupancyLocal"><p class="count black"> x {{o.guests}}
                      - {{'CHESS.RESIDENT'| translate}}</p>
                    </li>
                  </ul>
                </div>

                <div *ngIf="displayRestrictions">
                  <ul>
                    <li>
                      <p>{{'CHESS.MIN_LIVE_PERIOD'| translate}}</p>
                    </li>
                    <li>
                      <p>{{'CHESS.MIN_BOOKING_PERIOD'| translate}}</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="table" (scroll)="updateScroll($event)" (mouseenter)="changeScrollBlock(2)">
            <table>
              <tr class="not-select">
                <td *ngFor="let s of r.displayStatuses; let i = index;"
                    [ngClass]="{'restrictions': r.restrictions[i] == 1, 'closed': s.val == 0}">
              <span [className]="getStatusClass(s)">
              </span>
                </td>
              </tr>
              <tr>
                <td *ngFor="let room_numb of r.rooms; let first = first; let last = last; let numb_index = index;"
                    class="can-select"
                    [ngClass]="{'closed': r.displayStatuses[numb_index].val == 0}">
                  {{room_numb}}
                </td>
              </tr>
              <tr>
                <td *ngFor="let booked of r.booked; let b_index = index;"
                    [ngClass]="{'closed': r.displayStatuses[b_index].val == 0}">
                  <span *ngIf="booked !== 0" class="booked">{{booked}}</span>
                </td>
              </tr>
              <div *ngFor="let rate of r.rates; let rate_index = index">
                <tr class="rate-row">
                  <td *ngFor="let p of rate.prices; let price_index = index" class="can-select"
                      [ngClass]="{'closed': r.displayStatuses[price_index].val == 0 || rate.statuses[price_index] == 'closed'}"
                      (mouseenter)="onPriceRowMouseEnter($event)"
                      (mousedown)="onPriceRowMouseDown($event, r, rate)"
                      (mouseup)="mouseUp($event)">
                    {{p | number:'':'fr-FR'}}
                    <input appOnlyNumber="true" min="0"
                           (keyup.enter)="saveChangesPricePricesRow($event, p, price_index, r , room_index, rate)"
                           (blur)="saveChangesPricePricesRow($event, p, price_index, r , room_index, rate)"
                           class="hidden input"/>
                    <span *ngIf="rate.restrictions[price_index] === 1" class="restrictions"></span>
                  </td>
                </tr>
                <div *ngIf="displayOccupancy">
                  <tr class="rate-row-min" *ngFor="let o of rate.occupancy">
                    <td *ngFor="let p of o.prices; let o_index = index;"
                        [ngClass]="{'closed': r.displayStatuses[o_index].val === 0 || rate.statuses[o_index] === 'closed'}">
                      {{p | number:'':'fr-FR'}}
                    </td>
                  </tr>
                  <tr class="rate-row-min" *ngFor="let o of rate.occupancyLocal;">
                    <td *ngFor="let p of o.prices; let o_index = index;"
                        [ngClass]="{'closed': r.displayStatuses[o_index].val === 0 || rate.statuses[o_index] === 'closed'}">
                      {{p | number:'':'fr-FR'}}
                    </td>
                  </tr>
                </div>

                <div *ngIf="displayRestrictions">
                  <tr class="rate-row-min active">
                    <td *ngFor="let min of rate.min_stay; let min_index = index;"
                        (mouseenter)="onMinLiveRowMouseEnter($event)"
                        (mousedown)="onMinLiveRowMouseDown($event, r, rate)"
                        (mouseup)="mouseUp($event)"
                        class="can-select"
                        [ngClass]="{'closed': r.displayStatuses[min_index].val == 0 || rate.statuses[min_index] == 'closed'}">
                      <input min="0" step="1" required
                             appOnlyNumber="true"
                             (blur)="saveChangesMinStayRow($event, min, min_index, r, room_index, rate)"
                             class="hidden input"/>
                      <span [ngStyle]="{'color': min === 1 ? 'transparent' : '' }">{{min}}</span>
                    </td>
                  </tr>
                  <tr class="rate-row-min active">
                    <td *ngFor="let min of rate.min_advance_res; let min_index = index;"
                        (mouseenter)="onMinAdvanceRowMouseEnter($event)"
                        (mousedown)="onMinAdvanceRowMouseDown($event, r, rate)"
                        (mouseup)="mouseUp($event)"
                        class="can-select"
                        [ngClass]="{'closed': r.displayStatuses[min_index].val === 0 || rate.statuses[min_index] === 'closed'}">
                      <input required
                             appOnlyNumber="true"
                             (blur)="saveChangesMinAdvanceRow($event, min, min_index, r, room_index, rate)"
                             class="hidden input"/>
                      <span [ngStyle]="{'color': min === 0 ? 'transparent' : '' }">{{min}}</span>
                    </td>
                  </tr>
                </div>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loaderData hidden" #loaderData>
    <nz-spin nzSimple></nz-spin>
  </div>
</div>

<app-chess-modal-prices *ngIf="displayPriceModal" [mainModel]="priceModal" (closeEvent)="onPriceModalClose()"></app-chess-modal-prices>

<ng-template #noRooms>
  <nz-empty
    style="margin-top: 50px"
    [nzNotFoundContent]="contentTpl"
    [nzNotFoundFooter]="footerTpl">
    <ng-template #contentTpl>
      <span>{{'CHESS.NO_ROOM_DESC'| translate}}</span>
    </ng-template>
    <ng-template #footerTpl>
      <button nz-button nzType="primary" [routerLink]="getEditHotelRoute()">{{'CHESS.ADD_ROOM_TYPES'| translate}}</button>
    </ng-template>
  </nz-empty>
</ng-template>
