<app-view-container>
  <h2>{{'STATISTIC.TITLE'| translate}}</h2>
  <div nz-row nzGutter="16" nzType="flex" nzJustify="left">
    <div class="parent-container">
      <p class="sub-title">{{'STATISTIC.OCCUPANCY'| translate}}</p>
      <div class="filter-container">
        <div nz-row class="filters-row" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="5">
            <div class="inner-box">
              <div nz-row>
                <label class="filter-label">
                  {{'STATISTIC.PERIOD'| translate}}
                </label>
              </div>
              <hr class="horizontal-spacer">
              <div nz-row>
                <nz-select
                  [(ngModel)]="selectedYear"
                  (ngModelChange)="refreshDataByFilter()">
                  <nz-option *ngFor="let item of years" [nzLabel]="item"
                             [nzValue]="item"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="5">
            <div class="inner-box">
              <div nz-row>
                <label class="filter-label">
                  {{'STATISTIC.ROOM_TYPES'| translate}}
                </label>
              </div>
              <hr class="horizontal-spacer">
              <div nz-row>
                <div nz-col [nzSpan]="24">
                  <nz-select
                    [nzAllowClear]="true"
                    [nzMaxTagCount]="1"
                    [nzMaxTagPlaceholder]="typeSelectPlaceHolder"
                    nzMode="multiple"
                    [nzPlaceHolder]="'STATISTIC.SELECT_TYPE'| translate"
                    [(ngModel)]="selectedRoomTypeIds"
                    (ngModelChange)="refreshDataByFilter()">
                    <nz-option *ngFor="let item of statisticService.roomTypes$| async" [nzLabel]="item.name"
                               [nzValue]="item.id"></nz-option>
                  </nz-select>
                </div>
                <ng-template #typeSelectPlaceHolder
                             let-selectedList>{{'AND_MORE'| translate}} {{ selectedList.length }} {{'SELECTED'| translate}}</ng-template>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="5">
            <div class="inner-box">
              <div nz-row>
                <label class="filter-label">
                  {{'STATISTIC.RESERVATIONS_SOURCES'| translate}}
                </label>
              </div>
              <hr class="horizontal-spacer">
              <div nz-row>
                <div nz-col [nzSpan]="24">
                  <nz-select
                    [nzAllowClear]="true"
                    [nzMaxTagCount]="1"
                    [nzMaxTagPlaceholder]="sourceSelectPlaceHolder"
                    nzMode="multiple"
                    [nzPlaceHolder]="'STATISTIC.SELECT_SOURCE'| translate"
                    [(ngModel)]="selectedSourceIds"
                    (ngModelChange)="refreshDataByFilter()">
                    <nz-option *ngFor="let item of statisticService.reservationSources$| async"
                               [nzLabel]="item.name| translate"
                               [nzValue]="item.id"></nz-option>
                  </nz-select>
                </div>
                <ng-template #sourceSelectPlaceHolder
                             let-selectedList> {{'AND_MORE'| translate}} {{ selectedList.length }} {{'SELECTED'| translate}}</ng-template>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="7">
            <div class="inner-box">
              <div nz-row>
                <label class="filter-label">
                  {{'STATISTIC.DISPLAY_FORMAT'| translate}}
                </label></div>
              <hr class="horizontal-spacer">
              <div nz-row>
                <div nz-col [nzSpan]="16">
                  <nz-radio-group [(ngModel)]="selectedPeriodFormat" nzButtonStyle="solid"
                                  (ngModelChange)="onSwitchShowFormat()">
                    <label nz-radio-button *ngFor="let item of periodFormats"
                           [nzValue]="item.value">{{item.title|translate}}</label>
                  </nz-radio-group>
                </div>
                <div nz-col [nzSpan]="8">
                  <label class="filter-checkbox" nz-checkbox [(ngModel)]="emptyDates"
                         (ngModelChange)="onSwitchShowFormat()">{{'STATISTIC.EMPTY_DATES'| translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nz-spin [nzSpinning]="statisticService.loader$| async">
        <div class="child-container">
          <app-statistic-chart></app-statistic-chart>
        </div>
        <div class="child-container">
          <app-statistic-table></app-statistic-table>
        </div>
      </nz-spin>
    </div>
  </div>
</app-view-container>
