.parent-container {
  width: 100%;
  min-height: 353px;
  height: auto;
  border-radius: 4px;
  padding: 45px 25px;
  background: white;
  margin-bottom: 16px;

  .filter-container {
    margin: 0;

    .filters-row {
      min-height: 105px;
    }
  }
}

::ng-deep .ant-calendar-range-picker-input,
::ng-deep .ant-calendar-picker-input,
::ng-deep .ant-calendar-input,
.read-only {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

nz-select {
  width: 100%;
}

.sub-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-bottom: 0;
}

.gutter-row {
  margin-right: 15px;
}

.inner-box {
  padding: 8px 0;
}

.filter-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  opacity: 0.45;
  margin-bottom: 10px;
}

.filter-checkbox {
  margin-top: 5px;
}

