:host {
  height: 100%;
}

.panel-wrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  height: 100%;

  .panel-tab {

    width: 100%;
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 21px;

    position: relative;
    cursor: pointer;

    &.active {
      background: #E6F7FF;
      color: #1890FF;

      &::after {
        content: '';
        position: absolute;
        right: -1px;
        top: 0;
        bottom: 0;
        background: #1890FF;
        width: 2px;
        height: 40px;
      }
    }
  }
}

.confirm-status-change-modal {
  
  .confirm-status-change-modal-header-wrapper {
    
    .confirm-status-change-modal-main-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  }
  
  .confirm-status-change-modal-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .cancel-btn, .update-btn {
      width: 140px;
      height: 32px;
    }
  }
}