<div class="panel-wrapper">
  <div class="panel-tab" [class.active]="currentTab === 'main'" (click)="activateTab('main')">Профиль</div>
  <div class="panel-tab" [class.active]="currentTab === 'personal-info'" (click)="activateTab('personal-info')">Личные данные</div>
  <div class="panel-tab" [class.active]="currentTab === 'password'" (click)="activateTab('password')">Пароль</div>
  <div class="panel-tab" [class.active]="currentTab === 'e-mail'" (click)="activateTab('e-mail')">E-mail</div>
  <div class="panel-tab" [class.active]="currentTab === 'contracts'" (click)="activateTab('contracts')">Договора</div>
  <div class="panel-tab" [class.active]="currentTab === 'logout'" (click)="activateTab('logout'); logOut()">Выйти</div>

  <nz-modal
    [(nzVisible)]="isLogoutVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="closeLogoutModal()"
    class="profile-logout-modal"
  >
    <ng-template #modalTitle>
      <div class="profile-logout-modal-header-wrapper">
        <p class="profile-logout-modal-main-title">Вы действительно хотите выйти?</p>
      </div>
    </ng-template>
    <ng-template #modalContent>
    </ng-template>
    <ng-template #modalFooter>
      <div class="profile-logout-modal-buttons-wrapper">
        <button
          class="cancel-btn"
          nz-button nzType="default"
          (click)="handleCancel()">
          Отмена
        </button>
        <button
          class="update-btn"
          nz-button nzType="primary"
          (click)="handleOk()">
          ОK
        </button>
      </div>
    </ng-template>
  </nz-modal>
</div>
