.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

:host > nz-content ::ng-deep .select-toolbar {
  padding: 0 0 21px;
}

.page-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.ant-calendar-picker {

  width: 100%;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 27px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  //min-height: calc(100vh - 186px);
}

.header {
  background-color: #fff;
  display: flex;
}

.toolbar {
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
}

.steper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.title-steper {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.custom-select {
  width: 15%;
}

.select-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  flex-wrap: wrap;

  &.top {
    .custom-select {
      width: 206px;
    }
  }

  .large-desktop-only {
    @media (max-width: 1500px) {
      display: none;
    }
  }

  &.main-info {

    @media (max-width: 1400px) {
      justify-content: flex-start;
    }

    .custom-select {
      margin-right: 1%;
    }
  }

  &.extra-info-columns-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media (min-width: 1501px) {
      display: none;
    }

    .custom-select-right-column-wrapper {
      width: calc(79% + 5px);
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      @media (max-width: 1328px) {
        width: 74%;
      }

      .custom-select {
        margin-right: 2.5%;
      }
    }

    .custom-select {
      width: 206px;

      &.title-section {
        width: 170px;
      }
    }
  }
}

:host > nz-content {
  padding: 0;

  & ::ng-deep .inner-content {
    padding: 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  &.extra-info {
    flex-direction: column;
  }

  & nz-card ::ng-deep .ant-card-body {
    padding: 0;
  }

  & nz-card ::ng-deep .ant-card-head {
    background: #fafafa;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .ant-card-head-title {
      padding: 0;
    }
  }
}

.rooms {
  width: 15%;
  border-radius: 4px;

  .rooms-content {
    max-height: 40vh;
    overflow: auto;
    margin-top: 20px;
  }
}

.body {
  width: 83%;
  max-height: 45vh;
  overflow: auto;
}

.info {
  text-align: center;
  padding: 15px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.info .icon, .rooms .icon {
  font-size: 40px;
  margin-bottom: 12px;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0px;
}

.total .total-info {
  width: 83%;
}

.total-item {
  display: flex;
  flex-direction: column;
}

.total-item.last {

  .total-title, .total-value {
    color: #1890ff;
  }

}

.total-info-body {
  display: flex;
  justify-content: space-around;
  padding: 24px;
}

.total-value {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding-top: 9px;
}

.total-title {
  font-size: 14px;
}

.menu-icon {
    margin-left: 20px;
    line-height: 40px;
}

.menu-icons {
    margin-left: auto;
}

.step-control {
    display: flex;
}

.next-step {
    margin-left: auto;
    margin-right: auto;
}

.rooms .ant-card-head-wrapper{
  text-align: center;
}

.rooms .ant-card-head{
  background: #fafafa;
  height: 47px;
}

.body{
    background: #fafafa;
    h2{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      margin-top: 14px;

    }
}

.rooms{
	color: rgba(0, 0, 0, 0.45);
  text-align: center;
  height: auto;
}

.ant-card-head .ant-card-head-wrapper{
	font-size: 14px;
  font-weight: 600;
  height: inherit;
}

.ant-steps-item-wait{
  .ant-steps-item-icon{
    background: transparent;
  }
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title::after{
	background-color: #1890FF;
}

.ant-menu{
	margin-left: 60px;
}

.ant-calendar-picker-input{
	padding-left: 32px;
}

.ant-calendar-picker-clear, .ant-calendar-picker-icon{
	right: unset;
	left: 12px;
}

.next-step span{
	margin: 0 5px;
}

.ant-layout{
	min-height: 100vh;
}
.custom-select{
  nz-date-picker{

    nz-picker{
      width: 100%;
      .ant-calendar-picker{

        width: 100%;
      }


    }

  }
}






.icon-wrapper{
	text-align: center;
	margin-bottom: 20px;
}

p{
	margin-bottom: 0em;
}

.total-info{
	background: #fafafa;
	border: none;
}

.toolbar{
	margin-top: 15px;
}

.ant-avatar, .menu-icons .icon{
	margin-left: 20px;
	font-size: 16px;
}

.user-icon{
	background: #E8E8E8;
	border-radius: 100px;
	padding: 11px;
}

.ant-scroll-number{
	margin-top: -2px;
}

.custom-select .ant-select, .custom-select .ant-btn{
	width: stretch;
}

.custom-select label{
	display: block;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.65);
}

.extra-info-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .select-toolbar {
    width: 100%;

    &.without-title {
      justify-content: flex-end;
    }
  }
}



.custom-select-wrapper {
  display: flex;
  flex-wrap: wrap;

  .custom-select {
    width: 206px;

    margin-bottom: 18px;

    .ant-calendar-picker {

      & ::ng-deep .ant-calendar-picker {
        width: 100%;
      }
    }
  }
}

.arrival-time-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > nz-input-number {
    width: 46%;
  }
}

.step-control {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .prev-step, .next-step, .guests {
    width: 158px;
    margin: 0;
  }

  .guests {
    margin: 0 10px;
  }
}

.extra-info {
  padding-top: 15px;
  padding-bottom: 39px;

  .extra-info-header{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    width: 240px;
  }

}

.extra-info-header {
  cursor: pointer;

  .dropdown-icon {
    padding-left: 10px;
    color: #1890FF;
    font-size: 12px;
  }
}

.body {

  &.without-background {
    background: transparent !important;
    border: none !important;

    & ::ng-deep .ant-card-body {
      padding: 0 !important;
    }
  }
}

.total-info {
  width: 100% !important;
}

.total {
  padding-bottom: 24px;
}

.card-rate{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
 text-align: left;
 border-bottom: 1px solid rgba(0, 0, 0, 0.09);
 padding: 15px 12px;

 .dates, .details {
  font-weight: normal;
 }

 nz-select {
  width: 100%;
  margin-top: 9px;
  color: #000;

  & ::ng-deep .ant-select-selection__placeholder, & ::ng-deep .ant-select-selection {
    color: #000;
    font-weight: 300;
  }
}

.rate-wrapper{

  display: flex;
  justify-content: space-between;

  .rate{

    padding-right: 7px;

    color: #1890FF;

  }
}
.price{

  color: #1890FF;

}
.dates{

  color: rgba(0, 0, 0, 0.65);
  padding: 10px 0;
}
.details{

  color: rgba(0, 0, 0, 0.65);

  span{

    color: #000;

  }
}
}

:host ::ng-deep {
  & .ant-input-number-handler-wrap {
    display: none;
  }
}


.validation-message-container {
  position: absolute;
  width: 206px;
  text-align: center;
  margin-top: 4px;

  .validation-message {
    font-size: 14px;
    line-height: 14px;
    color: #f5222d;
  }

}

.input-invalid {
  border-color: #f5222d;

  &:focus {
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }
}

.select-invalid {

  & ::ng-deep .ant-select-selection  {
    border-color: #f5222d;
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  }

  & ::ng-deep .ant-select-arrow {
    color: #f5222d;
  }
}

.confirm-delete-message-header-wrapper {

  .confirm-delete-message-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

.confirm-delete-message-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cancel-btn, .update-btn {
    width: 140px;
    height: 32px;
  }
}

.body-booking-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 24px;
}
