<nz-content>
  <div class="inner-content">
    <div class="select-toolbar">
      <h2 class="page-subtitle">{{'NEW_BOOKING.RESERVATION_DETAILS'| translate}}</h2>
    </div>
    <div class="content">
      <nz-card class="rooms" [nzTitle]="('NEW_BOOKING.ROOMS'| translate) + '('+addedItems.length+')'">
        <div class="rooms-content">
          <ng-container *ngIf="addedItems?.length > 0; else noRooms">
            <div class="card-rate" *ngFor="let item of addedItems; let i = index">
              <div class="rate-wrapper">
                <p class="rate">{{item?.name}}</p>
                <a class="button" (click)="deleteItem(i)">
                  <img src="../../../../../../assets/img/Small.svg" alt="">
                </a>
              </div>
              <p class="price">{{item?.price[0]?.price | formatPrice:'UZS'}}</p>
              <p class="dates">
                {{getProcessedDate(item?.checkinDate, false, 'no-template') + ' — ' + getProcessedDate(item?.checkoutDate, false, 'no-template')}}
              </p>
              <p class="details">
                {{'NEW_BOOKING.ADULTS_COUNT'| translate}} <span>({{item.selectedPerson}})</span>,
                {{'NEW_BOOKING.CHILDREN_COUNT'| translate}} <span>({{item.selectedChildren}})</span>,
                {{'NEW_BOOKING.NIGHTS_COUNT'| translate}} <span>({{item.nightsCount}})</span>
              </p>
            </div>
          </ng-container>
        </div>
      </nz-card>
      <nz-card class="body without-background" [formGroup]="mainGuestForm">
        <h2>{{'MAIN_INFO'| translate}}</h2>
        <div class="select-toolbar top custom-select-wrapper main-info">
          <div class="custom-select">
            <label>{{'NAME'| translate}}</label>
            <input (ngModelChange)="handleOptionClicking($event)" nz-input [placeholder]="'NAME'| translate"
              formControlName="first_name" [nzAutocomplete]="guestFirstNameAutocomplete"
              [class.input-invalid]="mainGuestForm.get('first_name')?.dirty && mainGuestForm.get('first_name')?.hasError('required')" />
            <div class="validation-message-container"
              *ngIf="mainGuestForm.get('first_name')?.dirty && mainGuestForm.get('first_name')?.hasError('required')">
              <p class="validation-message">{{'FIELD_MUST_FILL'| translate}}</p>
            </div>
            <nz-autocomplete #guestFirstNameAutocomplete>
              <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
                <nz-auto-option
                  *ngFor="let option of guestSuggestions"
                  [nz-tooltip]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email + ' ' + option?.phone"
                  [nzTooltipPlacement]="'right'"
                  [nzValue]="option"
                  [nzLabel]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email">
                  {{ option?.first_name + ' ' + option?.last_name + ' ' + option?.email }}
                </nz-auto-option>
              </ng-container>
            </nz-autocomplete>
          </div>
          <div class="custom-select">
            <label>{{'SECOND_NAME'| translate}}</label>
            <input (ngModelChange)="handleOptionClicking($event)" nz-input [placeholder]="'SECOND_NAME'| translate" formControlName="last_name"
              [nzAutocomplete]="guestLastNameAutocomplete"
              [class.input-invalid]="mainGuestForm.get('last_name')?.dirty && mainGuestForm.get('last_name')?.hasError('required')" />
            <div class="validation-message-container"
              *ngIf="mainGuestForm.get('last_name')?.dirty && mainGuestForm.get('last_name')?.hasError('required')">
              <p class="validation-message">{{'FIELD_MUST_FILL'| translate}}</p>
            </div>

            <nz-autocomplete #guestLastNameAutocomplete>
              <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
                <nz-auto-option
                  *ngFor="let option of guestSuggestions"
                  [nzValue]="option"
                  [nzTooltipPlacement]="'right'"
                  [nz-tooltip]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email + ' ' + option?.phone"
                  [nzLabel]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email">
                  {{ option?.first_name + ' ' + option?.last_name + ' ' + option?.email }}
                </nz-auto-option>
              </ng-container>
            </nz-autocomplete>
          </div>
          <div class="custom-select">
            <label>{{'EMAIL'| translate}}</label>
            <input (ngModelChange)="handleOptionClicking($event)" nz-input [placeholder]="'EMAIL'| translate" autocomplete="off" formControlName="email"
              [nzAutocomplete]="guestEmailAutocomplete" [class.input-invalid]="mainGuestForm.get('email')?.dirty &&
                                      (mainGuestForm.get('email')?.hasError('required') ||
                                        mainGuestForm.get('email')?.hasError('pattern'))" />
            <div class="validation-message-container"
              *ngIf="mainGuestForm.get('email')?.dirty && mainGuestForm.get('email')?.hasError('required')">
              <p class="validation-message">{{'FIELD_MUST_FILL'| translate}}</p>
            </div>
            <div class="validation-message-container"
              *ngIf="mainGuestForm.get('email')?.dirty && mainGuestForm.get('email')?.hasError('pattern')">
              <p class="validation-message">{{'INVALID_EMAIL'| translate}}</p>
            </div>

            <nz-autocomplete #guestEmailAutocomplete>
              <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
                <nz-auto-option
                  *ngFor="let option of guestSuggestions"
                  [nzValue]="option"
                  [nzTooltipPlacement]="'right'"
                  [nz-tooltip]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email + ' ' + option?.phone"
                  [nzLabel]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email">
                  {{ option?.first_name + ' ' + option?.last_name + ' ' + option?.email }}
                </nz-auto-option>
              </ng-container>
            </nz-autocomplete>
          </div>
          <div class="custom-select">
            <label>{{'PHONE_NUMBER'| translate}}</label>
            <input (ngModelChange)="handleOptionClicking($event)" nz-input [placeholder]="'PHONE_NUMBER'| translate" autocomplete="off" formControlName="phone"
              [nzAutocomplete]="guestPhoneAutocomplete"/>
            <nz-autocomplete #guestPhoneAutocomplete>
              <ng-container *ngIf="guestSuggestions?.length != null && guestSuggestions?.length > 0">
                <nz-auto-option
                  *ngFor="let option of guestSuggestions"
                  [nzTooltipPlacement]="'right'"
                  [nz-tooltip]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email + ' ' + option?.phone"
                  [nzValue]="option"
                  [nzLabel]="option?.first_name + ' ' + option?.last_name + ' ' + option?.email">
                  {{ option?.first_name + ' ' + option?.last_name + ' ' + option?.email }}
                </nz-auto-option>
              </ng-container>
            </nz-autocomplete>
          </div>
          <div class="custom-select">
            <label>{{'COUNTRY'| translate}}</label>
            <nz-select [nzPlaceHolder]="'CHOOSE_COUNTRY'| translate" formControlName="country_id"
                       (ngModelChange)="handleOptionClicking($event)"
              [nzDisabled]="countriesList == null || countriesList?.length === 0"
              [class.select-invalid]="mainGuestForm.get('country_id')?.dirty && mainGuestForm.get('country_id')?.value == null">
              <nz-option *ngFor="let country of countriesList" [nzValue]="country.id" [nzLabel]="country?.name"
                class="custom-select"></nz-option>
            </nz-select>
            <div class="validation-message-container"
              *ngIf="mainGuestForm.get('country_id')?.dirty && mainGuestForm.get('country_id')?.value == null">
              <p class="validation-message">{{'FIELD_MUST_FILL'| translate}}</p>
            </div>
          </div>
        </div>
        <div class="content extra-info">
          <p class="extra-info-header" (click)="toggleExtraInfoPanel()">
            <span>{{'ADDITIONAL_INFO'| translate}}</span>
            <span class="dropdown-icon">
              <i *ngIf="!isExtraInfoPanelShown" nz-icon nzType="down" nzTheme="outline"></i>
              <i *ngIf="isExtraInfoPanelShown" nz-icon nzType="up" nzTheme="outline"></i>
            </span>
          </p>
          <nz-divider></nz-divider>
          <article *ngIf="isExtraInfoPanelShown" class="extra-info-panel">
            <div class="select-toolbar without-title custom-select-wrapper ">
              <div class="select-toolbar top extra-info-columns-right">
                <div class="custom-select-right-column-wrapper">
                  <ng-container *ngTemplateOutlet="formPart1"></ng-container>
                  <ng-container *ngTemplateOutlet="formPart2"></ng-container>
                </div>
              </div>
              <div class="select-toolbar top large-desktop-only">
                <div class="custom-select">
                </div>
                <ng-container *ngTemplateOutlet="formPart1"></ng-container>
              </div>
              <div class="select-toolbar top large-desktop-only">
                <div class="custom-select">
                </div>
                <ng-container *ngTemplateOutlet="formPart2"></ng-container>
                <div class="custom-select">
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div class="select-toolbar without-title custom-select-wrapper ">
              <div class="select-toolbar top extra-info-columns-right">
                <div class="custom-select title-section">
                  <label>
                    <div class="toolbar-title">{{'NEW_BOOKING.GUEST_ADDRESS'| translate}}</div>
                  </label>
                </div>
                <div class="custom-select-right-column-wrapper">
                  <ng-container *ngTemplateOutlet="formPart3"></ng-container>
                  <ng-container *ngTemplateOutlet="formPart4"></ng-container>
                </div>
              </div>
              <div class="select-toolbar top large-desktop-only">
                <div class="custom-select">
                  <label>
                    <div class="toolbar-title">{{'NEW_BOOKING.GUEST_ADDRESS'| translate}}</div>
                  </label>
                </div>
                <ng-container *ngTemplateOutlet="formPart3"></ng-container>
              </div>
              <div class="select-toolbar top large-desktop-only">
                <div class="custom-select">
                </div>
                <ng-container *ngTemplateOutlet="formPart4"></ng-container>
                <div class="custom-select">
                </div>
                <div class="custom-select">
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div class="select-toolbar without-title custom-select-wrapper ">
              <div class="select-toolbar top extra-info-columns-right">
                <div class="custom-select title-section">
                  <label>
                    <div class="toolbar-title">{{'NEW_BOOKING.GUEST_DOC'| translate}}</div>
                  </label>
                </div>
                <div class="custom-select-right-column-wrapper">
                  <ng-container *ngTemplateOutlet="formPart5"></ng-container>
                  <ng-container *ngTemplateOutlet="formPart6"></ng-container>
                </div>
              </div>
              <div class="select-toolbar top large-desktop-only">
                <div class="custom-select">
                  <label>
                    <div class="toolbar-title">{{'NEW_BOOKING.GUEST_DOC'| translate}}</div>
                  </label>
                </div>
                <ng-container *ngTemplateOutlet="formPart5"></ng-container>
              </div>
              <div class="select-toolbar top large-desktop-only">
                <div class="custom-select">
                </div>
                <ng-container *ngTemplateOutlet="formPart6"></ng-container>
                <div class="custom-select">
                </div>
                <div class="custom-select">
                </div>
                <div class="custom-select">
                </div>
              </div>
            </div>
          </article>
        </div>

        <ng-template #formPart1>
          <div class="custom-select">
            <label>{{'NEW_BOOKING.WAITED_CHECK_IN'| translate}}</label>
            <div class="arrival-time-wrapper">
              <input type="text" nz-input formControlName="checkin_hours" [placeholder]="'HOUR'| translate" digitOnly
                (keyup.enter)="formatTime('checkin_hours', 'hours')" (blur)="formatTime('checkin_hours', 'hours')" />
              <span>:</span>
              <input type="text" nz-input formControlName="checkin_minutes" digitOnly
                [placeholder]="'MINUTES'| translate" (keyup.enter)="formatTime('checkin_minutes', 'minutes')"
                (blur)="formatTime('checkin_minutes', 'minutes')" />
            </div>
          </div>
          <div class="custom-select">
            <label>{{'NEW_BOOKING.ASSIGMENT'| translate}}</label>
            <nz-select [nzPlaceHolder]="'NEW_BOOKING.ROOM_NUMBER'| translate" formControlName="room_number"
              [nzDisabled]="availableRooms == null || availableRooms?.length === 0">
              <nz-option *ngFor="let avalRoom of availableRooms" [nzValue]="avalRoom?.id" [nzLabel]="avalRoom?.name"
                class="custom-select"></nz-option>
            </nz-select>
          </div>
          <div class="custom-select">
            <label>{{'FORM.BIRTHDAY'| translate}}</label>
            <nz-date-picker nzFormat="dd.MM.yyyy" [nzPlaceHolder]="'FORM.BIRTHDAY'| translate"
              formControlName="birthday"></nz-date-picker>
          </div>
          <div class="custom-select">
            <label>{{'FORM.GENDER'| translate}}</label>
            <nz-select [nzPlaceHolder]="'FORM.GENDER'| translate" formControlName="gender">
              <nz-option *ngFor="let gender of genderSelection" [nzValue]="gender?.value" [nzLabel]="gender?.label"
                class="custom-select"></nz-option>
            </nz-select>
          </div>
        </ng-template>

        <ng-template #formPart2>
          <div class="custom-select">
            <label>{{'FORM.TAXPAYER_NUMBER'| translate}}</label>
            <input nz-input [placeholder]="'FORM.TAXPAYER_NUMBER'| translate" formControlName="inn" />
          </div>
          <div class="custom-select">
            <label>{{'FORM.COMPANY_NAME'| translate}}</label>
            <input nz-input [placeholder]="'FORM.COMPANY_NAME'| translate" formControlName="company_name" />
          </div>
          <div class="custom-select">
            <label>{{'FORM.COMPANY_ID'| translate}}</label>
            <input nz-input [placeholder]="'FORM.COMPANY_ID'| translate" formControlName="company_number" />
          </div>
        </ng-template>

        <ng-template #formPart3>
          <div class="custom-select">
            <label>{{'FORM.FIRST_ADDRESS'| translate}}</label>
            <input nz-input [placeholder]="'FORM.FIRST_ADDRESS'| translate" formControlName="address" />
          </div>
          <div class="custom-select">
            <label>{{'FORM.SECOND_ADDRESS'| translate}}</label>
            <input nz-input [placeholder]="'FORM.SECOND_ADDRESS'| translate" formControlName="address2" />
          </div>
          <div class="custom-select">
            <label>{{'FORM.CITY'| translate}}</label>
            <input nz-input [placeholder]="'FORM.CITY'| translate" formControlName="city_id"
              [nzAutocomplete]="guestCitiesAutocomplete" />
            <nz-autocomplete #guestCitiesAutocomplete>
              <ng-container *ngIf="autocompleteCities?.length > 0">
                <nz-auto-option *ngFor="let option of autocompleteCities" [nzValue]="option?.id">
                  {{ option?.name }}
                </nz-auto-option>
              </ng-container>
            </nz-autocomplete>
          </div>
          <div class="custom-select">
            <label>{{'FORM.COUNTRY'| translate}}</label>
            <nz-select [nzDisabled]="countriesList == null || countriesList?.length === 0"
              [nzPlaceHolder]="'FORM.COUNTRY'| translate" formControlName="guest_country_id">
              <nz-option *ngFor="let country of countriesList" [nzValue]="country?.id" [nzLabel]="country?.name"
                class="custom-select"></nz-option>
            </nz-select>
          </div>
        </ng-template>

        <ng-template #formPart4>
          <div class="custom-select">
            <label>{{'FORM.REGION'| translate}}</label>
            <input nz-input [placeholder]="'FORM.REGION'| translate" formControlName="region" />
          </div>
          <div class="custom-select">
            <label>{{'FORM.POSTCODE'| translate}}</label>
            <input nz-input [placeholder]="'FORM.POSTCODE'| translate" formControlName="zip_code" pattern="[0-9]*"
              digitOnly />
          </div>
        </ng-template>

        <ng-template #formPart5>
          <div class="custom-select">
            <label>{{'FORM.DOC_TYPE'| translate}}</label>
            <nz-select [nzDisabled]="docTypes == null || docTypes?.length === 0"
              [nzPlaceHolder]="'FORM.DOC_TYPE'| translate" formControlName="document_type_id">
              <nz-option *ngFor="let doc of docTypes" [nzValue]="doc?.id" [nzLabel]="doc?.name" class="custom-select">
              </nz-option>
            </nz-select>
          </div>
          <div class="custom-select">
            <label>{{'FORM.DOC_NUMBER'| translate}}</label>
            <input nz-input [placeholder]="'FORM.DOC_NUMBER'| translate" formControlName="document_number" />
          </div>
          <div class="custom-select">
            <label>{{'FORM.DOC_GIVEN_DATE'| translate}}</label>
            <nz-date-picker nzFormat="dd.MM.yyyy" [nzPlaceHolder]="'FORM.DOC_GIVEN_DATE'| translate"
              formControlName="document_issued_at"></nz-date-picker>
          </div>
          <div class="custom-select">
            <label>{{'FORM.DOC_GIVEN_COUNTRY'| translate}}</label>
            <nz-select [nzDisabled]="countriesList == null || countriesList?.length === 0"
              [nzPlaceHolder]="'FORM.COUNTRY'| translate" formControlName="document_country_id">
              <nz-option *ngFor="let country of countriesList" [nzValue]="country?.id" [nzLabel]="country?.name"
                class="custom-select"></nz-option>
            </nz-select>
          </div>
        </ng-template>

        <ng-template #formPart6>
          <div class="custom-select">
            <label>{{'FORM.DOC_VALIDATE_DATE'| translate}}</label>
            <nz-date-picker nzFormat="dd.MM.yyyy" [nzPlaceHolder]="'FORM.DOC_VALIDATE_DATE'| translate"
              formControlName="document_expired_at"></nz-date-picker>
          </div>
        </ng-template>
      </nz-card>
    </div>
    <div class="body-booking-footer">
<!--      <app-total-counter [totalValue]="totalValue"></app-total-counter>-->
<!--      <div class="step-control">-->
<!--        <button nz-button nzType="secondary" class="prev-step" style="margin-right: 15px"-->
<!--          (click)="prevStep()">{{'BACK'| translate}}</button>-->
<!--        &lt;!&ndash;        <button nz-button nzType="primary" class="guests" (click)="addGuests()">+&ndash;&gt;-->
<!--        &lt;!&ndash;          Гости&ndash;&gt;-->
<!--        &lt;!&ndash;        </button>&ndash;&gt;-->
<!--        <button nz-button nzType="primary" class="next-step" (click)="nextStep()" [disabled]="mainGuestForm?.invalid">-->
<!--          {{'NEXT_STEP'| translate}}-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>
</nz-content>

<app-delete-modal [isVisible]="isDeleteRoomModalVisible" (onCancel)="handleCancel()" (onOk)="handleOk()">
</app-delete-modal>

<ng-template #noRooms>
  <div class="start-wrapper-rate">
    <div class="icon-wrapper">
      <img src="../../../../../../assets/img/group.svg" alt="">
    </div>
    <p>{{'NEW_BOOKING.ADD_ROOM_FOR_BOOKING'| translate}}</p>
  </div>
</ng-template>
