<div class="select-toolbar">
  <div class="custom-select">
    <label>{{'NEW_BOOKING.CHOOSE_SOURCE'| translate}}</label>
<!--    <nz-select [nzPlaceHolder]="'NOT_CHOSEN'| translate" [formControl]="sourceControl" >-->
<!--      <nz-option *ngFor="let source of sources"-->
<!--                 nzValue="{{source.id}}"-->
<!--                 nzLabel="{{source.name}}"></nz-option>-->
<!--    </nz-select>-->

    <nz-tree-select
      (ngModelChange)="startDeleteAllRooms()"
      [nzDropdownStyle]="{ 'max-height': '60vh' }"
      [nzDefaultExpandAll]="true"
      [nzNodes]="nodes"
      nzShowSearch
      [nzPlaceHolder]="'NOT_CHOSEN'| translate"
      [formControl]="sourceControl"
      [class]="!sourceControl.value ? 'highlight' : ''"
    >
    </nz-tree-select>

  </div>
  <div class="custom-select">
    <label>{{'CHECK_IN_DATE'| translate}}</label>
    <nz-date-picker
      [nzDropdownClassName]="'datepicker-without-arrows'"
      [nzPlaceHolder]="'CHECK_IN_DATE'| translate"
      nzFormat="dd.MM.yyyy"
      [nzAllowClear]="false"
      [nzDisabledDate]="disabledCheckinDate"
      [formControl]="checkinControl"
      (ngModelChange)="setDayForCheckout()"></nz-date-picker>
  </div>
  <div class="custom-select">
    <label>{{'CHECK_OUT_DATE'| translate}}</label>
    <nz-date-picker
      [nzDropdownClassName]="'datepicker-without-arrows'"
      [nzPlaceHolder]="'CHECK_OUT_DATE'| translate"
      nzFormat="dd.MM.yyyy"
      [nzAllowClear]="false"
      [nzDisabledDate]="disabledCheckoutDate"
      [formControl]="checkoutControl"></nz-date-picker>
  </div>
  <div class="custom-select">
    <label>{{'NEW_BOOKING.TARIFF_PLAN'| translate}}</label>
    <nz-select
      [nzPlaceHolder]="'NEW_BOOKING.ALL_TARIFFS'| translate"
      [formControl]="rateControl"
      [nzDisabled]="rates == null || rates?.length === 0">
      <nz-option [nzLabel]="'NEW_BOOKING.ALL_TARIFFS'| translate"></nz-option>
      <nz-option
        *ngFor="let rate of rates"
        nzValue="{{rate.id}}"
        nzLabel="{{rate.name}}"></nz-option>
    </nz-select>
  </div>
  <div class="custom-select">
    <label>{{'NEW_BOOKING.ROOM_TYPE'| translate}}</label>
    <nz-select
      [nzPlaceHolder]="'NEW_BOOKING.ALL_ROOM_TYPES'| translate"
      [formControl]="roomTypesControl"
      [nzDisabled]="roomTypes == null || roomTypes?.length === 0">
      <nz-option [nzLabel]="'NEW_BOOKING.ALL_ROOM_TYPES'| translate"></nz-option>
      <nz-option
        *ngFor="let roomType of roomTypes"
        nzValue="{{roomType.id}}"
        nzLabel="{{roomType.name}}"></nz-option>
    </nz-select>
  </div>
  <div class="custom-select">
    <label>&nbsp;</label>
    <button nz-button nzType="primary" [disabled]="!isValidDate() || sourceControl.value.children && sourceControl.value.children.length > 0" (click)="search()">{{'SEARCH'| translate}}</button>
  </div>
</div>
