:host > nz-content ::ng-deep .select-toolbar {
  padding: 0 0 21px;
}

.select-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

.custom-select {
  width: 15%;

  & ::ng-deep .ant-select-selection__placeholder, & ::ng-deep .ant-select-selection-selected-value {
    color: #000 !important;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.65);
  }

}

.custom-select .ant-select,
.custom-select .ant-btn {
  width: stretch;
}

nz-select, nz-date-picker, nz-date-picker ::ng-deep nz-picker, nz-date-picker ::ng-deep .ant-calendar-picker {
  width: 100%;
}
.highlight{
  border: 1px solid red;
  border-radius: 4px;
}
