<section class="page-wrapper">
  <div class="tab-panel-wrapper">
    <div class="panel-wrapper">
      <div
        class="panel-tab"
        [class.active]="activeTab === 'active'"
        (click)="selectTab('active')"
      >
        {{activeNotesTitle}} ({{activeNotes?.length}})
      </div>
      <div
        class="panel-tab"
        [class.active]="activeTab === 'archived'"
        (click)="selectTab('archived')"
      >
        {{archivedNotesTitle}} ({{archivedNotes?.length}})
      </div>
    </div>
  </div>

  <section class="tab-main-content">
    <div class="body-tab">
      <form [formGroup]="messageForm" class="guest-form" (ngSubmit)="submitForm()">
        <div class="select-toolbar">
          <div class="custom-select">
            <textarea
              rows="4"
              nz-input
              placeholder="Здесь Вы можете оставить примечание"
              formControlName="message"
            ></textarea>
          </div>
        </div>
        <div class="submit-button-wrapper">
          <button
            class="submit-button"
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="isUpdateButtonDisabled"
          >
            {{ !isMessageEdited ? 'Сохранить' : 'Обновить' }}
          </button>
        </div>
      </form>
    </div>

    <div class="message-container">
      <ng-container *ngIf="selectedNoteList?.length > 0">
        <article class="message" *ngFor="let post of selectedNoteList; let j = index">
          <p class="message-title">
            <span class="user-name">{{post?.hotelier?.name}}</span>
            <span class="user-date">{{post?.created_at}}</span>
          </p>
          <div class="message-content">
            <p>{{post?.text}}</p>

            <div class="action-panel">
              <p class="edit-button" (click)="editItem(post)" *ngIf="activeTab === 'active'">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </p>
              <p class="delete-button" (click)="deleteItem(post)">
                <img src="../../../../../assets/img/delete-user-or-card-btn.svg" alt="x">
              </p>
            </div>
          </div>
        </article>
      </ng-container>
    </div>
  </section>
</section>

<div *ngIf="isDeleteMessageModalVisible">
  <nz-modal
      [(nzVisible)]="isDeleteMessageModalVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
      class="confirm-delete-message-modal"
  >
      <ng-template #modalTitle>
      <div class="confirm-delete-message-header-wrapper">
          <p class="confirm-delete-message-main-title">Вы действительно хотите удалить сообщение?</p>
      </div>
      </ng-template>
      <ng-template #modalContent>
      </ng-template>
      <ng-template #modalFooter>
      <div class="confirm-delete-message-buttons-wrapper">
          <button
          class="cancel-btn"
          nz-button nzType="default"
          (click)="handleCancel()">
          Отмена
          </button>
          <button
          class="update-btn"
          nz-button nzType="primary"
          (click)="handleOk()">
          ОK
          </button>
      </div>
      </ng-template>
  </nz-modal>
</div>