p {
  margin: 0;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  
  .tab-panel-wrapper {
    width: 207px;
    
    .panel-wrapper {
      border-right: 1px solid rgba(0, 0, 0, 0.09);
      height: auto;
      padding-top: 23px;
      height: 100%;
    
      .panel-tab {
    
        width: 100%;
        height: 40px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 21px;
    
        position: relative;
        cursor: pointer;

        &.add-guest {
          color: #1890FF;
        }
    
        &.active {
          background: #E6F7FF;
          color: #1890FF;
    
          &::after {
            content: '';
            position: absolute;
            right: -1px;
            top: 0;
            bottom: 0;
            background: #1890FF;
            width: 2px;
            height: 40px;
          }
        }
      }
    }
  }

  .tab-main-content {
    width: calc(100% - 228px);

    .custom-select .ant-select, .custom-select .ant-btn{
      width: stretch;
    }
    
    .select-toolbar {
      display: flex;
      justify-content: space-between;
      padding: 21px 0px 26px;
    }
    
    .custom-select {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > textarea {
        resize: none;
        height: 80px;
      }
    }

    .submit-button-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      
      .submit-button {
        border-radius: 4px;
        width: 115px;
        height: 32px;
      }
    }

    .message-container {
      display: flex;
      flex-direction: column;
      margin-top: 4px;
      
      .message {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        
        .message-title {
          
          .user-name {
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.45);
            padding-right: 14px;
            font-weight: 600;
          }
          
          .user-date {
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.45);
          }
          
        }
        
        .message-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          position: relative;

          & > p {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            width: 96%;
          }

          .delete-button {
            position: absolute;
            right: 16px;
            width: 24px;
            height: 24px;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

  }
}

.confirm-delete-message-header-wrapper {
    
  .confirm-delete-message-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

.confirm-delete-message-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .cancel-btn, .update-btn {
    width: 140px;
    height: 32px;
  }
}