.table {
  margin: 2% 1% 1%;
}
.add-btn{
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
.save-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
tbody {
  box-shadow: -11px 6px 0px -5px #333;
}

.add-reservation-btn{
  margin-top: 3%;
  margin-left: 2%;
}

.add {
  font-size: 24px;
  display:inline;
  margin-left: 20%;
  color: green;
}
.delete {
  font-size: 24px;
  display:inline;
  margin-left: 15px;
  color: red;
}
.deleteRoom {
  font-size: 24px;
  display:inline;
  margin-left: 60px;
  color: red;
}
.invalid{
  border: 1px solid red;
  border-radius: 5px;
}
.icon:active {
  transform: translateY(1px);
}

.room_type{
  width: 89px;
}
.adults{
  width: 89px;
}

.children{
  width: 59px;
}

.checkin{
  width: 150px;
}
.checkout{
  width: 150px;
}
.last_name{
  width: 149px;
}
.status {
  width: 149px;
}
.source {
  width: 149px
}
.country {
  width: 149px;
}

.reservation-sum {
  width: 120px;
}
