<button
  nz-button
  class="add-reservation-btn"
  [nzType]="'primary'"
  (click)="addReservation()">
  <span>Добавить бронь</span>
</button>
<nz-table class="table reservation-table" [nzScroll]="{x: '1950px'}">
  <thead>
  <tr>
    <th nzWidth="160px">Имя*</th>
    <th nzWidth="160px">Фамилия</th>
    <th nzWidth="170px">E-mail</th>
    <th nzWidth="160px">Дата заезда*</th>
    <th nzWidth="160px">Дата выезда*</th>
    <th nzWidth="100px">Тип номера*</th>
    <th nzWidth="100px">Взроcлых*</th>
    <th nzWidth="70px">Детей</th>
    <th nzWidth="120px">Сумма брони*</th>
    <th nzWidth="160px"> Источник*</th>
    <th nzWidth="160px">Статус*</th>
    <th nzWidth="160px">Страна</th>
    <th nzWidth="150px">Номер группы</th>
    <th nzWidth="110px"></th>
  </tr>
  </thead>

  <tbody *ngFor="let reservation of data; let i = index">
  <tr>
    <td>
      <input nz-input type="text"
             [(ngModel)]="reservation.first_name" placeholder="Имя"
             (blur)="validator.validateName(reservation)"
             [ngClass]="{'invalid': reservation.validationState.isNameEmpty}"
      />
    </td>
    <td>
      <input nz-input type="text" class="last_name"
             [(ngModel)]="reservation.last_name" placeholder="Фамилия"
      />
    </td>
    <td>
      <input nz-input type="email"
             [(ngModel)]="reservation.email" placeholder="E-mail"/>
    </td>
    <td>

      <nz-date-picker
        [(ngModel)]="reservation.rooms[0].checkin"
        (nzOnOpenChange)="validator.validateCheckIn(reservation.rooms[0])"
        (ngModelChange)="setCheckout(reservation.rooms[0])"
        [ngClass]="{'invalid': reservation.rooms[0].validationState.isCheckInInvalid}"
        [nzDisabledDate]="disableStartDate"
      ></nz-date-picker>
    </td>

    <td>
      <nz-date-picker
        [(ngModel)]="reservation.rooms[0].checkout"
        (nzOnOpenChange)="validator.validateCheckOut(reservation.rooms[0])"
        [ngClass]="{'invalid': reservation.rooms[0].validationState.isCheckOutInvalid}"
        [nzDisabledDate]="disableEndDate"
      >
      </nz-date-picker>
    </td>
    <td>
      <nz-select class="room_type"
                 (nzOpenChange)="validator.validateRoomType(reservation.rooms[0])"
                 [ngClass]="{'invalid': reservation.rooms[0].validationState.isRoomTypeEmpty}"
                 [(ngModel)]="reservation.rooms[0].room_type_id"
                 (ngModelChange)="setCounts(reservation.rooms[0])">
        <nz-option *ngFor="let roomType of roomTypes; let i = index"
                   [nzValue]="roomType.id" [nzLabel]="roomType.short_name"></nz-option>
      </nz-select>
    </td>
    <td>
      <nz-select class="adults"
                 [(ngModel)]="reservation.rooms[0].adults"
                 [ngClass]="{'invalid': reservation.rooms[0].validationState.isAdultsEmpty}"
                 (nzOpenChange)="validator.validateAdults(reservation.rooms[0])">
        <nz-option *ngFor="let number of reservation.rooms[0].max_adults; let i = index"
                   [nzValue]="i+1" [nzLabel]="i+1"></nz-option>
      </nz-select>
    </td>
    <td>
      <nz-select class="children"
                 [(ngModel)]="reservation.rooms[0].children"
                 [ngClass]="{'invalid': reservation.rooms[0].validationState.isChildsEmpty}"
                 (nzOpenChange)="validator.validateChilds(reservation.rooms[0])">
        <nz-option *ngFor="let number of reservation.rooms[0].max_children; let i = index"
                   [nzValue]="i" [nzLabel]="i"></nz-option>
      </nz-select>
    </td>
    <td>
      <nz-input-number
        class="reservation-sum"
        [nzFormatter]="nzFormatter"
        [nzParser]="nzParser"
        [(ngModel)]="reservation.rooms[0].sum"
        [nzMin]="0"
        (ngModelChange)="validator.validateSum(reservation.rooms[0])"
        [ngClass]="{'invalid': reservation.rooms[0].validationState.isSumEmpty}"
      ></nz-input-number>
    </td>
    <td>
      <nz-tree-select
        class="source"
        [ngClass]="{'invalid': reservation.validationState.isSourceIdEmpty}"
        [nzDefaultExpandAll]="true"
        [nzNodes]="nodes"
        nzShowSearch
        (nzOpenChange)="validator.validateSource(reservation)"
        [(ngModel)]="reservation.source_id"
      >
      </nz-tree-select>
    </td>
    <td>
      <nz-select class="status"
                 [ngClass]="{'invalid': reservation.validationState.isStatusEmpty}"
                 (nzOpenChange)="validator.validateStatus(reservation)"
                 [(ngModel)]="reservation.status">
        <nz-option nzValue="confirmed" nzLabel="Подтверждено"></nz-option>
        <nz-option nzValue="canceled" nzLabel="Отменено"></nz-option>
        <nz-option nzValue="no_show" nzLabel="Незаезд"></nz-option>
      </nz-select>
    </td>
    <td>
      <nz-select class="country"
                 nzShowSearch
                 [(ngModel)]="reservation.country_id">
        <nz-option *ngFor="let country of countries; let i = index"
                   [nzValue]="country.id" [nzLabel]="country.name"></nz-option>
      </nz-select>
    </td>
    <td>
      <input nz-input type="text"
             [(ngModel)]="reservation.number"
             placeholder="Номер группы"/>
    </td>
    <td nzRight="0px">

      <div class="buttons">
        <div class="add" nz-tooltip nzTitle="Добавить номер">
          <i nz-icon class="green" nzType="plus-circle" (click)="addRoom(i, reservation)"></i>
        </div>

        <div class="delete" nz-tooltip nzTitle="Удалить бронь">
          <i nz-popconfirm nz-icon class="red"
             nzTitle="Удалить бронь?"
             (nzOnConfirm)="confirmDeleteReservation(i)"
             nzPopconfirmPlacement="topRight"
             (nzOnCancel)="cancel()"
             nzType="delete"></i>
        </div>
      </div>
    </td>
  </tr>

  <tr *ngFor="let room of reservation.rooms | slice:1; let y = index ">
    <td></td>
    <td></td>
    <td></td>
    <td>
      <nz-date-picker
        [(ngModel)]="room.checkin"
        (nzOnOpenChange)="validator.validateCheckIn(room)"
        (ngModelChange)="setCheckout(room)"
        [ngClass]="{'invalid': room.validationState.isCheckInInvalid}"
        [nzDisabledDate]="room.disabledCheckIn"
      ></nz-date-picker>
    </td>
    <td>
      <nz-date-picker
        [(ngModel)]="room.checkout"
        (nzOnOpenChange)="validator.validateCheckOut(room)"
        [ngClass]="{'invalid': room.validationState.isCheckOutInvalid}"
        [nzDisabledDate]="room.disabledCheckOut"
      ></nz-date-picker>
    </td>
    <td>
      <nz-select class="room_type"
                 (nzOpenChange)="validator.validateRoomType(room)"
                 [ngClass]="{'invalid': room.validationState.isRoomTypeEmpty}"
                 [(ngModel)]="room.room_type_id"
                 (ngModelChange)="setCounts(room)">
        <nz-option *ngFor="let roomType of roomTypes; let i = index"
                   [nzValue]="roomType.id" [nzLabel]="roomType.short_name"></nz-option>
      </nz-select>
    </td>

    <td>
      <nz-select class="adults"
                 [(ngModel)]="room.adults"
                 [ngClass]="{'invalid': room.validationState.isAdultsEmpty}"
                 (nzOpenChange)="validator.validateAdults(room)">
        <nz-option *ngFor="let number of room.max_adults; let i = index"
                   [nzValue]="i+1" [nzLabel]="i+1"></nz-option>
      </nz-select>
    </td>
    <td>
      <nz-select class="children"
                 [(ngModel)]="room.children"
                 [ngClass]="{'invalid':room.validationState.isChildsEmpty}"
                 (nzOpenChange)="validator.validateChilds(room)">
        <nz-option *ngFor="let number of room.max_children; let i = index"
                   [nzValue]="i" [nzLabel]="i"></nz-option>
      </nz-select>
    </td>
    <td>
      <nz-input-number
        class="reservation-sum"
        [nzFormatter]="nzFormatter"
        [nzParser]="nzParser"
        [(ngModel)]="room.sum"
        [nzMin]="0"
        (ngModelChange)="validator.validateSum(room)"
        [ngClass]="{'invalid': room.validationState.isSumEmpty}"
      ></nz-input-number>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td nzRight="0px">
      <div class="deleteRoom" nz-tooltip nzTitle="Удалить номер">
        <i nz-popconfirm nz-icon
           nzTitle="Удалить номер?"
           (nzOnConfirm)="confirmDeleteRoom(i,y)"
           (nzOnCancel)="cancel()"
           nzType="delete"
           nzPopconfirmPlacement="leftTop"
        ></i>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
<button class="save-btn" nz-button [nzType]="'primary'" [disabled]="data.length === 0" (click)="sendData()"><span>Применить</span>
</button>

