<app-view-container>
  <div class="contract-body" *ngIf="contract">

    <div nz-col nzSpan="22" class="agency-info__info">
      <p class="title-span">{{ contract.company_name }}</p>

      <div class="flex-between block-contract-form">
        <nz-form-item>
          <nz-form-label class="title-14 bolded" nzFor="created_date">Срок договора</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <nz-date-picker
                nzFormat="yyyy-MM-dd"
                [(ngModel)]="startValue"
                nzPlaceHolder="Start"
                [nzMode]="'month'"
                nzDisabled
              ></nz-date-picker>
              <nz-date-picker
                #endDatePicker
                nzFormat="yyyy-MM-dd"
                [(ngModel)]="endValue"
                nzPlaceHolder="End"
                [nzMode]="'month'"
                nzDisabled
              ></nz-date-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <form nz-form>
          <nz-form-item>
            <nz-form-label class="title-14 bolded" nzFor="contract_number">Номер договора</nz-form-label>
            <nz-form-control>
              <span>{{ contract.number }}</span>
            </nz-form-control>
          </nz-form-item>
        </form>

        <nz-form-item class="top-form__item--last-item">
          <nz-form-label class="title-14 bolded" nzFor="contract_number">Реквизиты</nz-form-label>
          <nz-form-control>
            <span>{{ contract.bank_account }}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row class="mt15" style="display: inline-block; width: 100%;">
      <div>
        <p class="title-16 bolded mb15">
          Цена
        </p>
      </div>
      <nz-table
        #tariffs
        [nzData]="tableData"
        [nzShowPagination]="false">
        <thead>
        <tr>
          <th nzShowExpand></th>
          <th><span class="title-span">Типы тарифов</span></th>
          <th><span class="title-span">Даты</span></th>
          <th><span class="title-span">Минимальное кол-во ночей</span></th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-data [ngForOf]="tariffs.data">
          <tr class="pointer">
            <td (click)="data.expand = !data.expand">
              <i
                nz-icon
                class="icon-expand"
                [ngClass]="data.expand ? 'expand-icon' : ''"
                style="color: #1890FF;"
                [nzType]="'down'"
                nzTheme="outline"></i>
            </td>
            <td class="pointer" (click)="data.expand = !data.expand">
              <span>{{data.name}}</span>
            </td>
            <td class="pointer" (click)="data.expand = !data.expand">{{data.date}}</td>
            <td class="pointer" (click)="data.expand = !data.expand">{{data.min}}</td>
          </tr>
          <tr [nzExpand]="data.expand" style="background-color: white">
            <td colspan="12" style="padding: 10px 0">
              <div *ngFor="let type of data.types; let i = index">
                <p class="title-span">{{ type.name }}</p>
                <app-week-price-table [viewOnly]="true" [roomType]="type"></app-week-price-table>
              </div>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>

    </div>

    <div nz-row class="first-step__row-2">
      <nz-form-item>
        <nz-form-label class="title-16 bolded" nzFor="include_food">Вы хотите включить питание?</nz-form-label>
        <nz-form-control>
          <nz-input-group>
          <span>
            <span *ngIf="(contract.breakfast || contract.lunch || contract.dinner)">Да</span>
            <span *ngIf="!(contract.breakfast || contract.lunch || contract.dinner)">Нет</span>
          </span>
            <div *ngIf="contract.include_food" class="flex-column column-select mt15">
              <b>Включены:</b>
              <span *ngIf="contract.breakfast">
              Завтрак
            </span>
              <span *ngIf="contract.lunch">
              Обед
            </span>
              <span *ngIf="contract.dinner">
              Ужин
            </span>
            </div>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-row class="third-step__row">
      <p class="title-16 bolded">
        Условия аннуляции
      </p>

      <nz-table
        [nzShowPagination]="false"
        #cancellations
        [nzData]="cancellationsData">
        <thead>
        <tr>
          <th style="width: 35%;"><span class="table-title">Кол-во дней для бесплатной отмены бронирования</span></th>
          <th><span class="table-title">Комиссия за отмену бронирования</span></th>
          <th><span class="table-title">Комиссия за незаезд</span></th>
          <th><span class="table-title">Предоплата</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of cancellations.data">
          <td class="td-content">{{ data.days }}</td>
          <td class="td-content">{{ data.cancel_commission }}%</td>
          <td class="td-content">{{ data.commission }}%</td>
          <td class="td-content">{{ data.prepayment ? 'Да' : 'Нет' }}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>


    <div nz-row class="third-step__row">
      <p class="title-16 bolded" style="max-width: 0;">
        Налоги
      </p>

      <div class="ml15">
        <div nz-col nzSpan="12">
          <p class="title-14 bolded">
            НДС
          </p>
          <p *ngIf="contract.tax">НДС включен в стоимость</p>
          <p *ngIf="!contract.tax">НДС не включен в стоимость</p>

          <p class="title-14 bolded tax-title">
            Городской налог
          </p>
          <p *ngIf="!contract.city_tax">Городской налог не взымается </p>
          <p *ngIf="contract.city_tax">Городской налог взымается </p>

          <p class="title-14 bolded tax-title" *ngIf="contract.city_tax">
            Городской налог
          </p>
          <p *ngIf="contract.city_tax">{{contract.city_tax}}</p>
        </div>
      </div>
    </div>


  </div>
</app-view-container>
