.third-step__row--title{
  margin-bottom: 15px;
  margin-top: 0!important;
}
.third-step__row{
  margin-top: 40px;
}
.tax-title{
  margin-bottom: 7px;
  margin-top: 35px;
}
.td-content{
  padding-left: 30px;
}

.contract-body {
  padding: 20px;
  background-color: white;
}

.first-step__row-2 {
  margin-top: 20px;
}

.column-select{
  span{
    margin-left: 16px;
    height: 20px;
  }
}

