.content {
    background: #fff;
    width: 100%;
    height: auto;
    display: flex;
}
.booking-cards {
  //  display: flex;
    justify-content: space-evenly;
}
.booking-card {
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    margin: 20px;
    width: 320px;
    height: 227px;
    float: left;
    cursor: pointer;

    .status-card {
        display: flex;
        justify-content: flex-end;
        height: 5%;
        padding: 10px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
    }
    .name-salechannel {
        justify-content: center;
        display: flex;
        align-items: center;
        height: 80%;
        img {
            width: 192px;
        }
    }
    .status-card--text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 47px;
        margin-top: -14px;
        background: #FAFAFA;
        .status {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
}
.name-api {height: 85%;}
.status--plug {
    color: #1890FF;
    padding-left: 10px;
}
.plug-icon {
    display: flex;
}
// Подключение booking.com steps
.connect-api-page {
        display: flex;
        background: #fff;
        width: 100%;

    .left-sidebar-steps {
        width: 20%;
        border-right: solid 1px rgba(0, 0, 0, 0.09);
        margin-top: 24px;

        .steps {
            padding-left: 24px;

        }
    }
    .main-content {
        width: 80%;
        text-align: center;
        .id-hotel {
            height: auto;
            width: 320px;
            margin: 32px auto;
            .search-area {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            .id-hotel--input {
                width: 320px;
                margin-bottom: 24px;
            }
            .text-header {
                padding-bottom: 14px;
            }
            .btn-back{
                width: 50%;
                color: rgba(0, 0, 0, 0.65);
            }
        }
        .warrning-message {
            padding-top: 32px;
            width: 616px;
            margin: 0 auto;
            height: 130px;
            text-align: left;
        }
        .authy-code {
            width: 100%;
            height: auto;
            display: flex;
            margin: 32px auto;
            flex-direction: column;
            justify-content: center;

            .info-block {
                width: 80%;
                margin: 0 auto;
                padding: 24px 0;
            }
            .error-block {
                width: 80%;
                margin: 0 auto;
                padding-bottom: 24px;
                text-align: left;
            }
            .search-area {
                width: 320px;
                margin: 0 auto;
            }
            .text-header {
                padding-bottom: 14px;
                width: 320px;
                margin: 0 auto;
            }
            .btn-back{
                width: 50%;
                color: rgba(0, 0, 0, 0.65);
                margin-right: 10px;
            }
            .id-hotel--input {
                width: 320px;
                margin-bottom: 24px;
                margin: 0 auto;
            }
        }
        .mapping-rooms {
            width: 100%;
            height: auto;
            margin: 32px auto;
            padding: 24px;

            .refresh-data {
                display: flex;
                justify-content: flex-end;
                padding: 24px 0;
                align-items: center;
                button {
                    margin-left: 20px;
                }
            }


            .mapping-room {
                border: 1px solid rgba(0, 0, 0, 0.09);
                box-sizing: border-box;
                border-radius: 4px;
                display: flex;
                justify-content: flex-start;
                padding: 16px 28px;

                .name-room {
                    flex-basis: 45%;
                    .room {
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: rgba(0, 0, 0, 0.65);
                        text-align: left;

                    }
                    .tariff {
                        text-align: left;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: rgba(0, 0, 0, 0.65);
                        padding: 10px 0px 15px 17px;

                        ul {
                            list-style: none;
                            padding: 0;
                            padding-left: 5px;
                        }

                        ul li:before {
                            content:  "-";
                            position: relative;
                            left: -5px;
                        }
                    }

                }
                .arrows {
                    flex-basis: 15%;
                }
                .select-room {
                    flex-basis: 40%;
                }

            }
            .search-area {
                justify-content: center;
                margin: 24px;
                .btn-back {
                    width: 155px;
                    color: rgba(0, 0, 0, 0.65);
                    margin-right: 10px;
                }
                .btn-next    {
                    width: 155px;
                }
            }
        }
        .activate {
            width: 100%;

            .wait-activate {

                .header-text {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    align-items: center;
                    text-align: center;
                    color: #000000;
                    padding: 13px 0;
                }
                .descr {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    align-items: center;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.45);
                }
            }
            .activated {
                .header-text {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    align-items: center;
                    text-align: center;
                    color: #000000;
                    padding: 13px 0;
                }
                .descr {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    align-items: center;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.45);
                    padding-bottom: 35px;
                }
            }
            .search-area {

                .btn-next {
                    margin-left: 10px;
                }
            }
        }
    }

}
.ant-steps-item {
    padding-bottom: 20px;
}
// Просмотр канала
.watch-channel {
    display: flex;
    background: #fff;
    width: 100%;
    height: 650px;


    .left-sidebar-steps {
        width: 20%;
        border-right: solid 1px rgba(0, 0, 0, 0.09);
        margin-top: 24px;

        .steps {
            padding-left: 24px;

        }
    }
    .main-content {
        width: 80%;
        text-align: center;
        padding: 0 24px;
        .channel-error {

            .error-block {
                text-align: left;
                padding-top: 24px;
            }
        }

        .channel-info {
            display: flex;
            padding: 25px 0;
            text-align: left;

            .booking-card {
                border: 1px solid #D5D5D5;
                border-radius: 4px;
                margin: 0;
                width: 320px;
                height: 226px;
                cursor: pointer;

                .status-card {
                    display: flex;
                    justify-content: flex-end;
                    height: 5%;
                    padding: 10px;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.65);
                }
                .name-salechannel {
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    height: 80%;

                    img {
                        height: 64px;
                        width: 192px;
                    }
                }
                .status-card--text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 15%;
                    background: #FAFAFA;

                    .status {
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
            .valute {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.65);
                flex-basis: 25%;
                padding-left: 24px;

                .bold {
                    color: #000000;
                    padding-top: 19px;
                }
            }
            .hotel-id {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.65);
                .bold {
                    color: #000000;
                    padding-top: 19px;
                }
            }
        }
        .channel-descr {
            width: 100%;

            .channel-name {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                text-align: left;
                padding-bottom: 18px;
            }
            .descr-text {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: left;
                color: rgba(0, 0, 0, 0.65);
            }
            .search-area {
                display: flex;
                justify-content: flex-start;
                padding-top: 18px;

                .turn-off {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    color: #F5222D;
                }
            }
        }

    }
}
