<app-view-container>
  <h2>Каналы продаж</h2>
  <div class="content" *ngIf="step==='main'">
    <div class="booking-cards">
      <div *ngFor="let channel of channelArray" class="booking-card">
        <div class="name-api">
          <div *ngIf="channel.status === 'connected'" class="status-card">
            <img width="24" height="24" src="assets/img/connected.svg" alt=""/>
          </div>
          <div *ngIf="channel.status === 'in_progress'" class="status-card">
            <img width="24" height="24" src="assets/img/in_progress.svg" alt=""/>
          </div>
          <div *ngIf="channel.status ===  'progress_error'" class="status-card">
            <img width="24" height="24" src="assets/img/progress_error.svg" alt=""/>
          </div>
          <div *ngIf="channel.status ===  'error'" class="status-card">
            <img width="24" height="24" src="assets/img/progress_error.svg" alt=""/>
          </div>
          <div class="name-salechannel">
            <img src="{{channel.channel.logo}}"/>
          </div>
        </div>
        <div class="status-card--text"
             [routerLink]="getStatusRoute(channel.id, channel.status, channel.step)">
          <div class="status status--connect" *ngIf="channel.status">
            {{messageContainer[channel.status]}}
          </div>
        </div>
      </div>
      <div class="booking-card" *ngFor="let channel of channelArrayAdd">
        <div class="name-api">
          <div class="status-card">
            Бесплатно
          </div>
          <div class="name-salechannel">
            <img [src]="channel.logo"/>
          </div>
        </div>
        <div class="status-card--text"
             [routerLink]="getAuthentificationRoute(channel.key)">
          <div class="plug-icon">
            <img width="17" height="18" src="assets/img/link.svg">
          </div>
          <div class="status status--plug">
            Подключить
          </div>
        </div>
      </div>
    </div>
  </div>
</app-view-container>
