<div nz-row class="form-container">
  <div nz-col nzSpan="16" nzOffset="4">

    <p class="form-title">{{'SIGN_PAGE.CHANGE_PASS'| translate}}</p>

    <form nz-form [formGroup]="changePassForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-alert nzType="info" nzMessage="{{'SIGN_PAGE.MSG_ABOUT_SEND_CODE'| translate}}" nzShowIcon></nz-alert>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group
            [nzPrefix]="prefixLogin">
            <input
              type="text"
              nz-input
              autocomplete="off"
              formControlName="token"
              placeholder="{{'SIGN_PAGE.CONFIRM_CODE'| translate}}"
            />
          </nz-input-group>
          <nz-form-explain
            *ngIf="changePassForm.get('token')?.dirty && changePassForm.get('token')?.errors">
            {{'SIGN_PAGE.ENTER_CONFIRM_CODE'| translate}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div class="timer-container">
            <label *ngIf="timer != 0">{{minuteLabel}}:{{secondLabel}}</label>
            <a
              [ngClass]="{'disabled-link': timer != 0}"
              (click)="resendEmailCode()"
              class="login-form-forgot float-right">
              {{'SIGN_PAGE.RESEND'| translate}}
            </a>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group
            [nzSuffix]="suffixTemplate1"
            [nzPrefix]="prefixLock">
            <input
              [type]="passwordVisible1 ? 'text' : 'password'"
              nz-input
              autocomplete="off"
              formControlName="password"
              placeholder="{{'SIGN_PAGE.NEW_PASS'| translate}}" />
          </nz-input-group>
          <nz-form-explain
            *ngIf="changePassForm.get('password')?.dirty
             && changePassForm.get('password')?.errors"
          >
            {{'SIGN_PAGE.ENTER_PASS'| translate}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group
            [nzSuffix]="suffixTemplate2"
            [nzPrefix]="prefixLock">
            <input
              [type]="passwordVisible2 ? 'text' : 'password'"
              nz-input
              autocomplete="off"
              formControlName="password_confirmation"
              placeholder="{{'SIGN_PAGE.CONFIRM_PASS'| translate}}" />
          </nz-input-group>
          <nz-form-explain
            *ngIf="changePassForm.get('password_confirmation')?.dirty
             && changePassForm.get('password_confirmation')?.errors"
          >
            {{'SIGN_PAGE.ENTER_PASS'| translate}}
          </nz-form-explain>
          <nz-form-explain
            *ngIf="changePassForm.get('password').value
            !== changePassForm.get('password_confirmation').value
             && changePassForm.get('password_confirmation').value > 0
             && changePassForm.get('password_confirmation').touched"
            style="color: #f5222d;"
          >
            {{'SIGN_PAGE.DIFFERENT_PASS'| translate}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div nz-row>
            <div nz-col nzSpan="11">
              <a
                nz-button
                nzBlock
                class="login-form-button"
                [routerLink]="getLoginRoute()"
                [nzType]="'default'">
                {{'BACK'| translate}}
              </a>
            </div>
            <div nz-col nzSpan="11" nzOffset="2">
              <button
                nz-button
                nzBlock
                [disabled]="changePassForm.invalid"
                class="login-form-button"
                [nzType]="'primary'">
                {{'SIGN_PAGE.RESTORE'| translate}}
              </button>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

    </form>

    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
    <ng-template #prefixLogin><i nz-icon nzType="login"></i></ng-template>

    <ng-template #suffixTemplate1>
      <i nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'" (click)="passwordVisible1 = !passwordVisible1"></i>
    </ng-template>
    <ng-template #suffixTemplate2>
      <i nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'" (click)="passwordVisible2 = !passwordVisible2"></i>
    </ng-template>
  </div>
</div>
