<app-view-container>
  <app-view-inner-content [name]="'TARIFF_PLANS.TITLE'| translate">
    <p class="tariff-title">{{'TARIFF_PLANS.DESC'| translate}}
      <a [routerLink]="getChessRoute()">
        {{'TARIFF_PLANS.IN_CHESS'| translate}}.
      </a>
    </p>
    <button
      [routerLink]="getTariffCreateRoute()"
      nz-button
      nzType="primary"
      style="font-size: 16px">
      {{'TARIFF_PLANS.ADD_TARIFF'| translate}}
    </button>

    <nz-divider></nz-divider>
    <nz-spin [nzSpinning]="tariffPlansService.isLoading">
      <nz-table
        *ngIf="(tariffPlansService.$tariffPlans| async) && (tariffPlansService.$tariffPlans| async).length > 0 else noAny"
        [nzTemplateMode]="true">
        <thead>
        <tr>
          <th><span class="table-title">{{'TARIFF_PLANS.NAME'| translate}}</span></th>
          <th><span class="table-title">{{'TARIFF_PLANS.NUTRITION_PLAN'| translate}}</span></th>
          <th><span class="table-title">{{'TARIFF_PLANS.MIN_LIVING_DAYS'| translate}}</span></th>
          <th><span class="table-title">{{'TARIFF_PLANS.DAYS_BEFORE_CHECK_IN'| translate}}</span></th>
          <th><span class="table-title">{{'TARIFF_PLANS.ROOM_TYPES'| translate}}</span></th>
          <th nzWidth="130px"><span class="table-title">{{'TARIFF_PLANS.ACTIONS'| translate}}</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of tariffPlansService.$tariffPlans| async">
          <td>
            <span class="table-title">{{data.name}} </span>
            <br>
            ID {{ data.id }}
          </td>
          <td>
            <ul type="none" style="margin: 0; padding-left: 0px;">
              <li *ngIf="data.breakfast">{{'BREAKFAST'| translate}}</li>
              <li *ngIf="data.lunch">{{'LUNCH'| translate}}</li>
              <li *ngIf="data.dinner">{{'DINNER'| translate}}</li>
            </ul>
          </td>
          <td>
            {{data.min_stay}}
            <span *ngIf="data.min_stay === 1">{{'NIGHT'| translate}}</span>
            <span *ngIf="data.min_stay >= 2">{{'NIGHTS'| translate}}</span>
          </td>
          <td>
            {{data.min_advance_res}}
            <span *ngIf="data.min_advance_res === 1">{{'NIGHT'| translate}}</span>
            <span *ngIf="data.min_advance_res >= 2">{{'NIGHTS'| translate}}</span>
          </td>
          <td>
            <ul type="none" style="margin: 0; padding-left: 0;">
              <li *ngFor="let room_type of data.room_types; let i = index">
                {{room_type.name}}<span *ngIf="i + 1 !== data.room_types.length">,</span>
              </li>
            </ul>
          </td>
          <td>
            <button
              class="mr25"
              nz-button
              (click)="editPlan(data.id)"
              nzType="primary"
              nzShape="circle">
              <i nz-icon nzType="edit"></i>
            </button>
            <button
              nz-button
              nzType="danger"
              (click)="prepareDataToDelete(data)"
              nzShape="circle">
              <i nz-icon nzType="delete"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-spin>
    <nz-modal
      [(nzVisible)]="isVisibleDelete"
      [nzTitle]="null"
      [nzFooter]="null"
      (nzOnCancel)="cancelDelete()">

      <div class="modal-message">
        <p class="modal-message__text table-title"
           style="font-size: 14px">{{'NEW_TARIFF.SURE_TO_DELETE'| translate}} {{getDeletedItemName()}}?</p>
        <div>
          <button
            class="mr25 modal-message__button"
            nz-button
            (click)="cancelDelete()"
            nzType="default">
            {{'CANCEL'| translate}}
          </button>
          <button
            class="modal-message__button"
            nz-button
            [nzLoading]="deleteLoading"
            nzType="primary"
            (click)="deleteElm()">
            {{'YES'| translate}}
          </button>
        </div>
      </div>
    </nz-modal>
  </app-view-inner-content>
</app-view-container>

<ng-template #noAny>
  <app-empty></app-empty>
</ng-template>
