.icon-expand{
  transition: ease-in-out 300ms;
}
.tariff-title{
  font-size: 16px;
  color: black;
  font-weight: 600;
  a{
    color: #1C8EFA;
  }
}

.modal-message{
  text-align: center;
  padding: 50px 0;
}
.modal-message__text{
  margin-bottom: 50px;
}
.modal-message__button{
  width: 104px;
}
