<div nz-row>
  <div nz-col nzSpan="12" class="auth-com auth-section">

    <a [routerLink]="[routesEnum.LOGIN]">
      <img src="../../../assets/img/green-logo.svg" alt="" style="width: 100%;">
    </a>

    <img src="assets/img/bg.png" alt="" style="width: 100%;">

  </div>
  <div nz-col nzSpan="12" class="auth-router auth-section">
    <router-outlet></router-outlet>
  </div>
</div>
