.auth-section{
  height: 100vh;

}
.auth-router{
  display: grid;
  background-color: white;
}
.auth-com{
  background-color: #202330;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
