<section class="tab-wrapper">
  <nz-upload
    [nzAction]="imageUrl"
    [nzCustomRequest]="imageUploadingRequestHandler"
    nzMultiple
    [nzLimit]="maxFileUpload">
    <button class="load-btn" nz-button nzType="primary">
      <i nz-icon nzType="upload" nzTheme="outline"></i>
      Загрузить
    </button>
  </nz-upload>

  <div class="file-list">
    <article class="file-item" *ngFor="let doc of uploadedFiles; let i = index">
      <div class="file-info-wrapper">
        <div class="file-name-wrapper">
          <p class="file-name">{{doc?.name}}</p>
        </div>
        <div class="action-panel">
          <p class="download-file" (click)="downloadFile(i)">
            <i nz-icon nzType="download" nzTheme="outline"></i>
          </p>
          <p class="delete-file" (click)="deleteFile(i)">
            <img src="../../../../../assets/img/delete-user-or-card-btn.svg" alt="x">
          </p>
        </div>
      </div>
      <nz-divider class="custom-divider"></nz-divider>
    </article>
  </div>
</section>

<div *ngIf="isDeleteMessageModalVisible">
  <nz-modal
      [(nzVisible)]="isDeleteMessageModalVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
      class="confirm-delete-message-modal"
  >
      <ng-template #modalTitle>
      <div class="confirm-delete-message-header-wrapper">
          <p class="confirm-delete-message-main-title">Вы действительно хотите удалить сообщение?</p>
      </div>
      </ng-template>
      <ng-template #modalContent>
      </ng-template>
      <ng-template #modalFooter>
      <div class="confirm-delete-message-buttons-wrapper">
          <button
          class="cancel-btn"
          nz-button nzType="default"
          (click)="handleCancel()">
          Отмена
          </button>
          <button
          class="update-btn"
          nz-button nzType="primary"
          (click)="handleOk()">
          ОK
          </button>
      </div>
      </ng-template>
  </nz-modal>
</div>
