p {
  margin: 0;
}

.load-btn {
  width: 131px;
  height: 32px;
  margin-top: 18px;
}

.tab-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .file-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 23px;
    
    .file-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .file-info-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 14px 24px 19px;
        
        .file-name-wrapper {
          width: 126px;
          
          .file-name {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.65);
          }
          
        }
        
        .action-panel {
          display: flex;
          flex-direction: row;
          
          .download-file {
            margin-right: 22px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #1890FF;
            cursor: pointer;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          
          .delete-file {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

:host ::ng-deep nz-upload-list {
  display: none;
}

.custom-divider {
  margin: 0;
}

.confirm-delete-message-header-wrapper {
    
  .confirm-delete-message-main-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

.confirm-delete-message-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .cancel-btn, .update-btn {
    width: 140px;
    height: 32px;
  }
}