<div
  #element
  class="badge badge--{{data.type}} {{data.type ==='booking' ? getClassName(data) : ''}}"
  [style.width.px]=" (width + 15)"
  id="booking-{{data.reservation_room_id}}"
  [ngClass]="data.open ? 'opened-drawer-booking': ''"
>
  <div class="badge__data ellipsis badge--ab--{{data.type}}" style="z-index: 1">
    <p class="ellipsis">
      <span *ngIf="data.is_group">+</span>
      {{data.type === 'booking'|| data.type === 'hold' ? data.guest.first_name + ' ' + data.guest?.last_name : data.reason }}
    </p>
  </div>
  <svg class="notes-icon" *ngIf="data.notes_count > 0" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
    <path d="M4 0H12V8L8 6L4 8V0Z" fill="#FCFF5F"/>
    </g>
    <defs>
    <filter id="filter0_d" x="0" y="0" width="16" height="16" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
    </filter>
    </defs>
    </svg>

</div>
