
.badge{
  display: inline-flex;
  height: 31px;
  position: relative;
  z-index: 10;
  left: 6px;
  cursor: pointer;
  transform: skew(135deg);

  .notes-icon {
    transform: skew(-135deg);
  }
}

.badge-drop-cover{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.badge--booking{
  background-color: rgba(#1890FF, 0.65);

  &.sortable-drag {
    background-color: rgba(#1890FF, 0.54);
    border: 1px dashed #1890FF;
  }

  &.left {
    background-color: rgba(151, 151, 151, 0.65);
  }

  &.resides {
    background-color: rgba(22, 140, 76, 0.65);
  }

  &.awaited {
    background-color: rgba(24, 144, 255, 0.65);
  }

  &.moved_to:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-right: solid 5px #0029FF;
    height: 31px;
  }
  &.moved_from:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: solid 5px #0029FF;
    height: 31px;
  }

}

.badge--hold{
  background-color: rgba(#009fb5, 0.65);

  &.sortable-drag {
    background-color: rgba(#009fb5, 0.54);
    border: 1px dashed #009fb5;
  }
}
.badge--block{
  background-color: rgba(#535353, 0.65);

  &.sortable-drag {
    background-color: rgba(#535353, 0.54);
    border: 1px dashed #535353;
  }
}

.badge--close{
  background: rgba(#eb0000, 0.65);

  &.sortable-drag {
    background-color: rgba(#eb0000, 0.54);
    border: 1px dashed #eb0000;

  }
}
.badge--success{
  background-color: rgba(#168C4C, 0.65);

  &.sortable-drag {
    background-color: rgba(#168C4C, 0.54);
    border: 1px dashed #168C4C;
  }
}

.badge__icon--booking{
  border-bottom: 1px solid #1890FF;
  border-top: 1px solid #1890FF;
}
.badge__icon--cancel{
  border-bottom: 1px solid #AFAFAF;
  border-top: 1px solid #AFAFAF;
}

.badge__icon--success{
  border-bottom: 1px solid #168C4C;
  border-top: 1px solid #168C4C;
}
.badge__icon{
  min-width: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    height: 22px;
  }
}
.badge__data{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 14px;
  line-height: 31px;
  width: 100%;
  transform: skew(-135deg);
  p{
    margin: 0;
    padding: 0 20px;
  }
}
// .badge__data:after {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 100%;
//   border-top: solid 31px ;
//   border-right: solid 29px transparent;
// }
// .badge__data:before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: -29px;
//   border-bottom: solid 31px ;
//   border-left: solid 29px transparent;
// }
.badge--ab--booking:before, .badge--ab--booking:after{
  border-top-color: #1890FF;
  border-bottom-color: #1890FF;
}
.badge--ab--cancel:before, .badge--ab--cancel:after{
  border-top-color: #AFAFAF;
  border-bottom-color: #AFAFAF;
}
.badge--ab--success:before, .badge--ab--success:after{
  border-top-color: #168C4C;
  border-bottom-color: #168C4C;
}

.badge__before-markers, .badge__after-markers{
  display: flex;
}
.badge__before-markers--first{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.badge__after-markers--first{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.badge_marker--blue{
  background-color: #106DFD;
}
.badge_marker--red{
  background-color: #F9535C;
}
.badge_marker--green{
  background-color: green;
}
.badge__marker--orange{
  background-color: #FFBF00;
}
.badge__marker{
  height: 100%;
  width: 6px;
}


.badge-cut{

}
.start-cut{
  -moz-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  -webkit-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  -o-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  -ms-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  height: 11px;
  top: 10px;
  width: 43px;
  left: -17px;
  position: absolute;
}
.end-cut{
  -moz-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  -webkit-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  -o-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  -ms-transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  transform: scale(0.6) rotate(16deg) translate(4px, -9px) skew(-74deg, 31deg);
  height: 11px;
  top: 10px;
  width: 43px;
  left: -17px;
  position: absolute;
}
