/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import '~ngx-toastr/toastr';

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/SFProDisplay-Semibold.woff") format("woff")
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/SFProDisplay-Regular.woff") format("woff")
}

:root {
  --page_title_mb: 8px;
  --page_title_pad_rl: 8px;
  --divider_line: $Gray4; // equals to $Gray4 (double_b)
}

.read-only {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f2f5 !important;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  visibility: hidden;
  //opacity: 0;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  //filter: alpha(opacity=20);
}


.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

*,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif !important;
}

// .ant-drawer{
//   margin-top: 64px!important;
// }
.ant-drawer-content-wrapper {
  box-shadow: 2px 0 0 rgba(0, 0, 0, 0.15) !important;
}

.drag {
  cursor: move !important;
}

.drag:after {
  content: '\ ';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0;
  position: absolute;
  pointer-events: auto;
  z-index: 1000;
}

$Gray1: #333333;
$Gray2: #4F4F4F;
$Gray3: #828282;
$Gray4: #BDBDBD;
$Gray5: #E0E0E0;
$Gray6: #F2F2F2;
$Red: #FA541C;
$Red2: #F5222D;
$Orange: #F2994A;
$Yellow: #FFF2E8;
$Yellow2: #FFF1F0;
$Green1: #219653;
$Green2: #27AE60;
$Green3: #6FCF97;
$Green4: #07B118;
$Green4: #f6ffed;
$Blue1: #2F80ED;
$Blue2: #1890FF;
$Blue3: #E6F7FF;
$Purple1: #9B51E0;
$Purple2: #BB6BD9;

.success {
  background-color: $Green4;
  border: 1px solid $Green3;
  color: $Green3;
}

.primary {
  background-color: $Blue3;
  border: 1px solid $Blue2;
  color: $Blue2;
}

.danger {
  background-color: $Yellow;
  border: 1px solid $Red;
  color: $Red;
}

.error {
  background-color: $Yellow2;
  border: 1px solid $Red2;
  color: $Red2;
}

.none {
  border: 1px solid #D9D9D9;
  background-color: #FAFAFA;
  color: #575757;
}

.transparent-btn {
  background: transparent;
  border-color: #40A9FF;
  color: #40A9FF;
}

.small-alert {
  padding: 1px 4px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.form-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 46px;
  color: rgba(0, 0, 0, 0.85);
}

.ant-form-item {
  margin-bottom: 12px;
}

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.circle-badge-primary {
  background-color: $Blue1;
  color: #ffffff;
  border: none;
}

.circle-badge-danger {
  color: $Red;
}

.error-text {
  color: $Red;
}

.title-span {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

// Rotation
.expand-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

// Margins
.mb25 {
  margin-bottom: 25px;
}

.mt25 {
  margin-top: 25px;
}

.ml25 {
  margin-left: 25px;
}

.mr25 {
  margin-right: 25px;
}

.mb15 {
  margin-bottom: 15px;
}

.mr15 {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.mt15 {
  margin-top: 15px;
}

.capitalize::first-letter {
  text-transform: uppercase;
}

// Flex
.flex-vertical-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-horizontal-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
}

.small-title {
  font-size: 16px;
}

.card-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.inner-title {
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  color: #000000cc;
  margin-bottom: 25px;
}

.custom-border {
  transition: all 0.3s;
  border: 1px dashed #d9d9d9;
  border-top-color: rgb(217, 217, 217);
  border-top-style: dashed;
  border-top-width: 1px;
  border-right-color: rgb(217, 217, 217);
  border-right-style: dashed;
  border-right-width: 1px;
  border-bottom-color: rgb(217, 217, 217);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-left-color: rgb(217, 217, 217);
  border-left-style: dashed;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.custom-border:hover {
  border-color: #40a9ff;
}

.table-title {
  font-size: 14px;
  color: black;
  font-weight: 600;
}

.margin-0 {
  margin: 0 auto;
}


.title-16 {
  font-size: 16px;
  color: black;
}

.title-14 {
  font-size: 14px;
  color: black;
}

.title-18 {
  font-size: 18px;
  color: black;
}

.bolded {
  font-weight: 600;
}

app-new-booking {
  .ant-calendar-picker-input::-webkit-input-placeholder {

    color: black;
  }

  .body-booking .ant-card-body {
    padding: 0 !important;
  }

  .rooms .ant-card-body {

    padding: 0;
  }

  .ant-select-selection {
  }

  .select-toolbar .custom-select {

    .ant-select-selection__rendered {

      color: black;


      &:hover {

        color: $Blue2;

        & ~ span {

          color: $Blue2;
        }

      }

      .ant-select-selection__placeholder {

        color: inherit;

      }
    }
  }

  .ant-calendar-picker {

    color: $Blue2;

    &:hover {

      color: $Blue2;
    }

    .ant-calendar-picker-input {
      cursor: pointer;
      //color: inherit;
      color: #000000;

    }

    .ant-calendar-picker-icon {

      color: inherit;

    }

  }


  .content {

    .body-booking {

      border: none;

    }
  }


}

app-booking-details {
  .select-toolbar {

    .toolbar-title {

      color: black;
    }

  }

  .ant-select-selection__rendered,
  .ant-calendar-picker-input,
  .ant-input {
    color: black;
  }


  .ant-divider-horizontal {

    margin-top: 8px;
    margin-bottom: 35px;
  }

}

app-add-guests {
  .ant-tabs-nav {
    color: #000 !important;
    font-weight: 600 !important;

    &.ant-tabs-tab-active {
      color: $Blue2 !important;
    }
  }
}


// hide nz-modal's footer's automatic-generated button
// to have custom footer with processing logic
.apply-booking {
  .ant-modal-content {
    width: 630px;
    height: 200px;

    .ant-modal-footer {
      height: 52px;

      .ant-btn {
        display: none;
      }
    }
  }
}

.invite-user-modal {
  .ant-modal-close-icon {
    width: 11px;
    height: 10px;
    color: rgba(0, 0, 0, 0.25);

    & > svg {
      width: 100%;
      height: 100%;
    }
  }

  .ant-modal-header {
    padding: 24px 21px;
    border-bottom: none;
  }

  .ant-modal-content {
    width: 483px;
    height: 410px;

    .ant-modal-footer {
      height: unset;

      .ant-btn {
        display: block;
      }
    }
  }

  .ant-modal-footer {
    border-top: none;
  }

  .ant-modal-body {
    padding-bottom: 10px;
  }
}

.account-management-popup {

  .ant-modal-close,
  .ant-modal-header,
  .ant-modal-footer {
    display: none;
  }

  .ant-modal-body {
    padding: 0;
  }
}

.edit-user-management-modal {
  .ant-modal-content {
    width: 703px;
    height: 540px;
  }

  .ant-modal-body {
    margin-bottom: 26px;
  }

  .ant-modal-footer {
    border-top: none;
  }

  .ant-modal-close-icon {
    width: 11px;
    height: 10px;
    color: rgba(0, 0, 0, 0.25);

    & > svg {
      width: 100%;
      height: 100%;
    }
  }
}

.edit-email-modal {
  .ant-modal-body {
    margin-bottom: 16px;
  }

  .ant-modal-footer {
    border-top: none;
  }

  .ant-modal-close-icon {
    width: 11px;
    height: 10px;
    color: rgba(0, 0, 0, 0.25);

    & > svg {
      width: 100%;
      height: 100%;
    }
  }
}

// popup for account-management
.ant-popover-content {
  //.ant-popover-inner-content {
  //  padding: 0;
  //}

  .ant-popover-title {
    display: none;
  }
}

.profile-logout-modal {
  .ant-modal-content {
    height: 135px;
  }

  .ant-modal-header,
  .ant-modal-footer {
    border: none;
  }

  .ant-modal-body {
    display: none;
  }

  .ant-modal-close-icon {
    width: 11px;
    height: 10px;
    color: rgba(0, 0, 0, 0.25);

    & > svg {
      width: 100%;
      height: 100%;
    }
  }
}

.confirm-to-see-card-info-modal {

  .ant-modal-content {
    width: 435px;
    height: 369px;
    padding: 33px 63px 46px 57px;
  }

  .ant-modal-header {
    padding: 0;
  }

  .ant-modal-body,
  .ant-modal-footer {
    padding: 0;
    margin-top: 38px;
  }

  .ant-modal-header,
  .ant-modal-footer {
    border: none;
  }

  .ant-modal-close-icon {
    width: 11px;
    height: 10px;
    color: rgba(0, 0, 0, 0.25);

    & > svg {
      width: 100%;
      height: 100%;
    }
  }

}

.confirm-status-change-modal,
.confirm-delete-message-modal {
  .ant-modal-content {
    height: 135px;
  }

  .ant-modal-header,
  .ant-modal-footer {
    border: none;
  }

  .ant-modal-footer {
    //padding-top: 35px;
  }

  .ant-modal-body {
    display: none;
  }

  .ant-modal-close-icon {
    width: 11px;
    height: 10px;
    color: rgba(0, 0, 0, 0.25);

    & > svg {
      width: 100%;
      height: 100%;
    }
  }
}

.confirm-delete-card-modal,
.confirm-delete-guest-modal {
  .ant-modal-footer {
    border: none;
  }

  .ant-modal-close-icon {
    width: 11px;
    height: 10px;
    color: rgba(0, 0, 0, 0.25);

    & > svg {
      width: 100%;
      height: 100%;
    }
  }
}


#cdk-overlay-1 {
  nz-modal ::ng-deep .ant-modal-title {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
  }

  nz-modal ::ng-deep .ant-modal-close-x svg {
    width: 9px;
    height: 9px;
  }
}


// stylization of pagination buttons
.ant-pagination-item-active {
  background: $Blue2;
  color: white;

  & > a {
    color: white;
  }
}

// hide pagination panel everywhere by default
.ant-pagination {
  display: none;
}

// except some of the pages
app-reservation-list,
app-guests-main, app-travel-agencies {
  .ant-pagination {
    display: initial;
  }
}


// fix responsive styles

app-new-booking {
  .ant-pagination {
    display: none;
  }

  .inner-content {

    .select-toolbar {

      .custom-select {

        label {
          @media (max-width: 1500px) {
            font-size: 12px !important;
          }
        }

        nz-select {

          @media (max-width: 1500px) {
            font-size: 12px !important;
          }

        }

        nz-date-picker {

          nz-picker {

            input {

              @media (max-width: 1500px) {
                font-size: 12px !important;
              }

            }

          }

        }

        .ant-btn {

          &.ant-btn-primary {

            @media (max-width: 1500px) {
              font-size: 12px !important;
            }

          }

        }

      }

    }

  }

  .ant-table-wrapper {

    .ant-table-content {

      th {

        .ant-table-header-column {

          @media (max-width: 1500px) {
            font-size: 12px !important;
          }
        }
      }

      td {
        @media (max-width: 1500px) {
          font-size: 12px !important;
        }

        &.item-price-row-wrapper {
          min-width: 146px;

          @media (max-width: 1500px) {
            min-width: 124px;
          }
        }

        nz-select {
          width: 85px;

          @media (max-width: 1500px) {
            width: 50px;
            font-size: 12px;
          }
        }

        .item-price,
        .first-header {

          @media (max-width: 1500px) {
            font-size: 12px;
            line-height: normal;
          }
        }

        .second-header {

          @media (max-width: 1500px) {
            font-size: 10px;
            line-height: normal;
          }
        }

        .add-item-button {

          @media (max-width: 1500px) {
            min-width: 68px;
            font-size: 12px;
            padding: 0 10px;
          }
        }
      }
    }
  }

  .content {

    .rooms {

      .ant-card-head-title {

        @media (max-width: 1500px) {
          font-size: 12px;
        }

      }

      .rate-wrapper {

        .rate {

          @media (max-width: 1500px) {
            font-size: 12px;
            line-height: 16px;
          }

        }

      }

      .details,
      .price,
      .dates {

        @media (max-width: 1500px) {
          font-size: 12px;
        }

      }

    }

    .start-wrapper-rate {

      div.icon-wrapper ~ p {

        @media (max-width: 1500px) {
          font-size: 12px;
          line-height: normal;
          padding: 0 10px 33px;
        }

      }

    }

  }
}

app-booking-details,
app-add-guests,
app-apply-booking {
  .content {

    .rooms {

      .ant-card-head-title {
        font-weight: 600;

        @media (max-width: 1500px) {
          font-size: 12px;
        }
      }

      .rate-wrapper {

        .rate {

          @media (max-width: 1500px) {
            font-size: 12px;
            line-height: 16px;
          }

        }

      }

      .details,
      .price,
      .dates {

        @media (max-width: 1500px) {
          font-size: 12px;
        }

      }

    }
  }

}

// the main container fix responsive styles
// otherwise brokes pages styles (booking, travel agencies ...)
app-home {

  app-view-container {

    .layout {

      &.ant-layout {

        app-nav-bar ~ div.ant-col-18.ant-col-offset-3 {

          @media (max-width: 1700px) {
            width: 96%;
            margin-left: 2%;
          }
        }
      }
    }
  }
}

.ant-layout {
  height: 100vh;

  app-view-channel {
    height: 100%;
  }
}


.custom-reservation-details-popup {
  padding: 18px 18px 25px 18px;
  width: 357px;
  height: 305px;

  .custom-popup-row {
    display: flex;
    flex-direction: column;

    .main-info-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .custom-popup-left {
        width: 175px;

        .poput-text {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.65);
        }
      }

      .custom-popup-right {
        min-width: 86px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .poput-text {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #000000;

          &.debt {
            font-weight: 600;
          }
        }
      }
    }

    .reservation-details-divider {
      margin: 13px 0;
    }
  }
}


.custom-overlay-for-reservation-statuses-popup {
  .ant-popover-arrow {
    display: none;
  }
}

.custom-overlay-for-navbar-menu-dropdown {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  //padding: 5px 13px 0 13px;
  left: -12px !important;

  & > div {
    //padding-right: 15px;
  }

  .custom-dropdown-submenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-right: 20px;
    min-width: 100px;

    .custom-dropdown-submenu-item {
      height: 40px;
      //margin-top: 4px;
      //margin-bottom: 8px;
      // padding: 0 16px;
      //padding: 0;
      overflow: hidden;
      font-size: 14px;
      line-height: 40px;
      text-overflow: ellipsis;
      padding: 0 15px;

      &:last-child {
        margin-bottom: 4px;
      }

      .custom-dropdown-submenu-link {
      }
    }
  }
}

.ant-modal-close-icon {
  color: #ffffff;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icons-menu__item {
  cursor: pointer;
}

.ant-modal-close {
  svg {
    fill: #fff;
  }
}

.skeleton-custom {
  ul.ant-skeleton-paragraph {
    margin-top: 0 !important;
    margin-bottom: 0;
  }
}

app-regulations,
app-gallery-room {
  width: 100%;
}

.current-step {
  .ant-steps-item-title {
    font-weight: 500 !important;
    color: $Blue2 !important;
  }
}

.ant-select {
  display: block;
}

hr.horizontal-spacer {
  border-color: transparent;
  background: #FFFFFF !important;
  margin: 2px 0;
}

.disabled-link,
.disabled-link:hover,
.disabled-link:active {
  color: #BFBFBF;
  cursor: not-allowed;
}

.invisible {
  visibility: hidden;
}

.nz-spin-global {

  .ant-spin-dot {
    position: fixed!important;
    font-size: 35px!important;
  }
}

.ant-form-item-label>label::after {
  margin: 0 5px 0 0!important;
}

//.ant-form-item-control {
//  line-height: 20px!important;
//}

.reservation-table {
  .ant-table-tbody > tr > td {
    padding: 5px;
  }
  .ant-table-thead > tr > th {
    font-weight: bold;
    padding: 5px 5px;
  }
  .ant-table-placeholder {
    display: none;
  }
  .ant-table-tbody {
    box-shadow: 0 5px 5px -5px #333;
  }

  &.edit-resrvation-table {
    .ant-table-fixed-header .ant-table-scroll .ant-table-header {
      overflow: auto;
      padding-bottom: 0px;
    }
    .ant-popover-content .ant-popover-inner-content {
      padding: 10px;
    }
  }

  &.rooms-tab {
    .ant-table-tbody > tr > td {
      padding: 16px;
    }
    .ant-table-thead > tr > th {
      font-weight: bold;
      padding: 16px;
    }
  }
}

.reservation-sum {
  .ant-input-number-handler-wrap {
    display: none!important;
  }
}

.datepicker-without-arrows{
  .ant-calendar-header .ant-calendar-prev-year-btn, .ant-calendar-next-year-btn {
    display: none!important;
  }
}

.total-info {
  .ant-card-body {
    padding: 6px!important;
  }
}

.child-container{
  *, p, span, h1, h2,
  h3, h4, h5, h6 {
    font-family: SF Pro Display !important;
  }
}

#SvgjsText1073, #SvgjsText1075, #SvgjsText1077 {
  fill: #07B118!important;
}
