<div [ngClass]="tableScrolled > 1 ? 'room-type__wrapper--scroll' : 'room-type__wrapper'">
  <div class="buttons__container">
  </div>
  <div class="date-container">
    <nz-date-picker
      style="position: fixed;"
      [nzOpen]="isDaySelector"
      nzFormat="dd.MM.yyyy"
      *ngIf="isDaySelector"
      [(ngModel)]="navigateToDate"
      [nzDropdownClassName]="'select-date-custom-class'"
      (ngModelChange)="dayNavigatorModalHandler($event)"
    ></nz-date-picker>
  </div>
  <div class="room-type__container">
    <div class="room-type__main flex-column block top-bordered">
      <div class="room-type__main--inner room-type__main--inner--buttons flex-between">
        <div>

          <button class="buttons__button--menu buttons__button--menu--up" (click)="allCollapseHandler()" nz-button
            nzType="primary">
            <i nz-icon style="margin-left: 0" class="icon-expand" [ngClass]="allExpanded ? 'expand-icon' : ''"
              [nzType]="'down'" nzTheme="outline"></i>
          </button>
          <button class="buttons__button--menu buttons__button--menu--burger" (click)="openMenuDrawer()" nz-button
            nzType="primary">
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </button>
          <button class="buttons__button--menu buttons__button--menu--calendar" (click)="dayNavigatorHandler()"
            nz-button nzType="primary">
            <i nz-icon nzType="calendar" nzTheme="outline"></i>
          </button>

          <button class="buttons__button--menu buttons__button--menu--search" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nz-button nzType="primary"
                  (click)="focusInput()">
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="example-input">
              <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixIconButton">
                <input #searchQuery placeholder="Название номера" nz-input [(ngModel)]="inputValue"
                       (ngModelChange)="presearchRooms(inputValue)" [nzAutocomplete]="auto"  />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSize="default" nzSearch>
                  <i nz-icon nzType="search" theme="outline"></i>
                </button>
              </ng-template>
              <nz-autocomplete #auto >
                <ng-container *ngFor="let presearchRoomType of presearchRoomTypes">
                  <ng-container *ngIf="isArray(presearchRoomType)">
                    <nz-auto-option *ngFor="let room of presearchRoomType" [nzValue]="room" [nzLabel]="room.name">
                      <li>{{room.name}}</li>
                    </nz-auto-option>
                  </ng-container>
                </ng-container>
              </nz-autocomplete>
            </div>
          </nz-dropdown-menu>
        </div>

        <button
          nz-popover
          nzOverlayClassName="calendar-sidebar__create-booking-popover"
          [nzContent]="buttonPlus"
          [(nzVisible)]="isPopoverVisible"
          nzTrigger="click"
          nzPlacement="bottomLeft"
          class="buttons__button--plus"
          nz-button nzType="default">
          <i nz-icon nzType="plus" nzTheme="outline"></i>

          <ng-template #buttonPlus>
            <div class="menu-actions menu-actions--custom menu-actions--bordered">
              <ul type="none" class="menu-actions__list">
                <li class="menu-actions__item" [routerLink]="getReservationCreateRoute()">
                  <p class="menu-actions__title">Создать новое бронирование</p>
                </li>
                <li class="menu-actions__item" (click)="openRoomStorageModal()">
                  <p class="menu-actions__title">Временное хранение номера</p>
                </li>
                <li class="menu-actions__item" (click)="openBlockDateModal()">
                  <p class="menu-actions__title">Блокировать даты</p>
                </li>
                <li class="menu-actions__item" (click)="openOutOfServiceModal()">
                  <p class="menu-actions__title">Номер не работает</p>
                </li>
              </ul>
            </div>
          </ng-template>

        </button>
      </div>
    </div>
    <div class="room-type--scrolled" #roomsElm>
      <div class="room-type__rooms flex-column" *ngFor="let roomType of data.room_types; let i = index;">
        <div (click)="roomTypeCollapseHandler(roomType.room_type_id, i)"
          class="room-type__main--inner room-type__rooms__header flex-between block bordered">
          <div>
            <i nz-icon class="icon-expand"
              [ngClass]="roomType.isExpanded ? 'expand-icon' : ''"
              style="color: #1890FF;" [nzType]="'down'" nzTheme="outline"></i>
            <p class="title-14 room-type__rooms__header__text">
              {{roomType.short_name}}
            </p>
          </div>
        </div>

        <div class="flex-column" *ngIf="roomType.isExpanded">
          <div *ngFor="let room of roomType.rooms" (click)="selectRoomHandler(roomType.room_type_id, room.room_id)"
            [ngClass]="room.isSelectedRoom ? 'selected-cell' : ''"
            class="room-type__rooms__room room bordered rscroll{{room.room_id}}">
            <p>
              {{room.name}}
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="room-type__footer bordered">

      <div class="room-type__footer--markers pointer" (click)="openLegendDrawer()">
        <svg width="38" height="29" viewBox="0 0 38 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 14C0 12.3431 1.34315 11 3 11H6V29H3C1.34315 29 0 27.6569 0 26V14Z" fill="#979797" />
          <rect x="7" y="11" width="6" height="18" fill="#1890FF" />
          <rect x="14" y="11" width="6" height="18" fill="#9F67EC" />
          <path d="M21 11H24C25.6569 11 27 12.3431 27 14V26C27 27.6569 25.6569 29 24 29H21V11Z" fill="#168C4C" />
          <circle cx="29" cy="9" r="8.5" fill="#108EE9" stroke="white" />
          <path
            d="M27.9746 11.2451V10.876C27.9746 10.3428 28.0566 9.90527 28.2207 9.56348C28.3848 9.21712 28.6901 8.85254 29.1367 8.46973C29.7565 7.94564 30.1462 7.55143 30.3057 7.28711C30.4697 7.02279 30.5518 6.70378 30.5518 6.33008C30.5518 5.86523 30.4014 5.50749 30.1006 5.25684C29.8044 5.00163 29.376 4.87402 28.8154 4.87402C28.4554 4.87402 28.1045 4.91732 27.7627 5.00391C27.4209 5.08594 27.029 5.23861 26.5869 5.46191L26.1836 4.53906C27.0449 4.08789 27.945 3.8623 28.8838 3.8623C29.7542 3.8623 30.431 4.0765 30.9141 4.50488C31.3971 4.93327 31.6387 5.53711 31.6387 6.31641C31.6387 6.64909 31.5931 6.94303 31.502 7.19824C31.4154 7.44889 31.2855 7.68815 31.1123 7.91602C30.9391 8.13932 30.5654 8.50163 29.9912 9.00293C29.5309 9.39486 29.2256 9.7207 29.0752 9.98047C28.9294 10.2402 28.8564 10.5866 28.8564 11.0195V11.2451H27.9746ZM27.6396 13.2754C27.6396 12.6556 27.9131 12.3457 28.46 12.3457C28.7243 12.3457 28.9271 12.4255 29.0684 12.585C29.2142 12.7445 29.2871 12.9746 29.2871 13.2754C29.2871 13.5671 29.2142 13.7949 29.0684 13.959C28.9225 14.1185 28.7197 14.1982 28.46 14.1982C28.223 14.1982 28.027 14.1276 27.8721 13.9863C27.7171 13.8405 27.6396 13.6035 27.6396 13.2754Z"
            fill="white" />
        </svg>
      </div>

      <div class="room-type__footer--refresh pointer">
        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M24.0064 17.65C25.5916 12.781 23.8918 7.34134 19.6902 4.26014C19.3846 4.03191 18.9453 4.127 18.7734 4.45034C18.6015 4.73564 18.6779 5.07799 18.9453 5.28721C22.6695 8.02605 24.1974 12.819 22.8414 17.1555C22.7077 17.1365 22.574 17.1175 22.4403 17.1175C21.0271 17.1175 19.8811 18.2587 19.8811 19.6661C19.8811 21.0736 21.0271 22.2148 22.4403 22.2148C23.8536 22.2148 24.9996 21.0736 24.9996 19.6661C24.9996 18.8483 24.5985 18.1255 24.0064 17.65Z"
            fill="#62AD8F" />
          <path
            d="M1.10633 13.3138C1.431 13.3138 1.69838 13.0666 1.73658 12.7432C2.25224 8.14045 5.67088 4.4316 10.1208 3.42356C10.4837 4.37454 11.4195 5.05925 12.5082 5.05925C13.9215 5.05925 15.0483 3.91807 15.0483 2.52963C15.0483 1.14119 13.9024 0 12.4891 0C11.2095 0 10.159 0.950988 9.96805 2.16825C4.92604 3.23336 1.04903 7.4177 0.476075 12.6101C0.437878 12.9905 0.724356 13.3138 1.10633 13.3138Z"
            fill="#62AD8F" />
          <path
            d="M17.6089 24.0974C17.4561 23.8121 17.0932 23.698 16.8067 23.8312C12.5668 25.6571 7.63942 24.5729 4.56455 21.2635C4.92743 20.826 5.13751 20.2745 5.13751 19.6658C5.13751 18.2584 3.9916 17.1172 2.5783 17.1172C1.14591 17.1172 0 18.2584 0 19.6658C0 21.0733 1.14591 22.2145 2.55921 22.2145C2.90298 22.2145 3.22765 22.1384 3.51413 22.0243C6.95187 25.8282 12.5095 27.0835 17.3033 24.9914C17.6662 24.8392 17.7998 24.4208 17.6089 24.0974Z"
            fill="#62AD8F" />
        </svg>
      </div>

      <div class="room-type__footer--info pointer">
        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      </div>
    </div>
  </div>
</div>
