::ng-deep .calendar-sidebar__create-booking-popover {
  .ant-popover-arrow {
    display: none;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px 0 20px;
}

.buttons__button--plus {
  padding: 0 9px;
  width: fit-content;
  //margin-right: 14px;
  border-color: #2295ff;

  &::ng-deep > .anticon {
    vertical-align: middle;
    & > svg {
      color: #2295ff;
      width: 22px;
      height: 20px;
    }
  }
}

.buttons__button--menu {
  margin-right: 9px;
  width: fit-content;
}

.buttons__button--menu--up::ng-deep {
  padding-left: 11px !important;
  padding-right: 11px !important;

  & > i > svg {
    width: 17px;
    height: 17px;
  }
}

.buttons__button--menu--burger::ng-deep {
  padding-left: 11px !important;
  padding-right: 11px !important;

  & > i > svg {
    width: 17px;
    height: 17px;
  }
}

.buttons__button--menu--calendar::ng-deep {
  padding-left: 11px !important;
  padding-right: 11px !important;

  & > i > svg {
    width: 17px;
    height: 17px;
  }
}

.buttons__button--menu--search::ng-deep {
  padding-right: 11px !important;
  padding-left: 11px !important;

  & > i > svg {
    width: 17px;
    height: 17px;
  }
}

.buttons__container {
  display: flex;
  height: 1px;
  justify-content: center;
  flex-direction: column;
}
.room-type__container{
  position: relative;
  height: calc(100% - 24px);
  padding-top: 105px;
  padding-bottom: 78px;
}
.room-type__wrapper {
  height: 100%;
}
.room-type__wrapper-scroll{
  -webkit-box-shadow: 6px 0px 7px -7px #000000;
  box-shadow: 6px 0px 7px -7px #000000;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.block {
  height: 50px;
}

.room-type__rooms__header:hover {
  cursor: pointer;
  height: 54px;
}

.room-type__rooms__header {
  background: #f4f4f4;
  height: 54px;
  padding-left: 14px;
}
.room-type__rooms__header__text {
  font-weight: 600;
}
.room {
  height: 38px;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-type__main {
  background-color: white;
  cursor: pointer;
  height: 79px;
  padding: 0 21px 13px;
  justify-content: flex-end;
  width: 280px;
  position: fixed;
  top: 89px;
  z-index: 10;

  &:before {
    content: '';
    width: 100%;
    height: 26px;
    box-shadow: inset -1px 0px 0 0 #D9D9D9;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: #f0f2f5;
  }
}

.room-type__main--inner {
  i.icon-expand {
    margin-left: 10px;
  }

  p {
    margin: 0 0 0 10px;
  }

  div {
    display: flex;
    align-items: center;
  }
}

.room-type__rooms__room {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  // transition: ease-in-out 300ms;
  p {
    margin: 0 0 0 55px;
  }
}

.room-type__footer {
  height: 78px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 11;
  bottom: 0;
  width: 280px;
  padding: 0 25px;
  border-top: 1px solid #d9d9d9;
}


.room-type__footer--info {
  color: #FAAE38;
  font-size: 18px;
}

.date-container{
  position: absolute;
  top: 104px;
  left: 21px;
}

.room-type--scrolled{
  overflow: auto;
  overflow-y: hidden;
}

.dropdown-seacrh-suggestions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  list-style: none;
  padding: 0;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.15)
}

.dropdown-seacrh-suggestions li {
  padding: 5px 15px;
  cursor: pointer;
}

.dropdown-seacrh-suggestions li:hover {
  background-color: #eee;
}
