// theming scrollbar

:host {

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #1890ff;
    background-color: #1890ff;
  }

  ::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #1890ff;
    background-color: #1890ff;
  }

  ::-webkit-scrollbar-track {
    border-width: 0;
  }

  ::-webkit-scrollbar-track:hover {
    border-color: transparent;
    background-color: transparent;
  }

  // _______________________________________________

  // Firefox

  :host {
    scrollbar-width: thin;
    scrollbar-color: #1890ff transparent; // FF 64 experimental
  }

  // _______________________________________________

  // IE

  :host {
    -ms-scrollbar-width: 10px;
    scrollbar-width: 10px;
    scrollbar-face-color: #1890ff;
    scrollbar-track-color: transparent;
    scrollbar-3dlight-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-arrow-color: #1890ff;
    scrollbar-darkshadow-color: #1890ff;
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.page-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 27px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  //min-height: calc(100vh - 186px);
}

.header {
  background-color: #fff;
  display: flex;
}

.toolbar {
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
}

.steper {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.title-steper {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.content {
  display: flex;
  justify-content: space-between;
}

.rooms {
  width: 15%;
  height: auto;

  .rooms-content {
    max-height: 35vh;
    overflow: auto;
  }

  & ::ng-deep .ant-card-head-title {
    color: #000;
  }

  .button-delete-all-rooms{
    margin-top: 5px;
    border-radius: inherit;
    width: 100%;
  }
}

.rooms-active {
  display: flex;
  flex-direction: column;
  flex-basis: content
}

.body-booking {
  width: 83%;
}

.info {
  text-align: center;
  padding: 15px 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
}

.info .icon,
.rooms .icon {
  font-size: 40px;
  margin-bottom: 12px;
}

.menu-icon {
  margin-left: 20px;
  line-height: 40px;
}

.menu-icons {
  margin-left: auto;
}

.step-control {
  display: flex;
}

.next-step {
  margin-left: auto;
  margin-right: auto;
}

.rooms .ant-card-head-wrapper {
  text-align: center;
}

.rooms ::ng-deep .ant-card-head {
  background: #fafafa;
  height: 47px;

  .ant-card-head-wrapper {
    font-size: 14px;
    font-weight: 600;
    height: inherit;
  }
}

:host > nz-content {
  padding: 0;

  & ::ng-deep .inner-content {
    padding: 0;
  }
}


.rooms {
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  border-radius: 4px;
}

.ant-card-head .ant-card-head-wrapper {
  font-size: 14px;
  font-weight: 600;
}

.ant-select-selection__rendered {


  color: black;
}

.ant-steps-item-wait {
  .ant-steps-item-icon {
    background: transparent;
  }
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #1890FF;
}

.ant-menu {
  margin-left: 60px;
}

.ant-calendar-picker-input {
  padding-left: 32px;
}

.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
  right: unset;
  left: 12px;
}

.next-step span {
  margin: 0 5px;
}

.ant-layout {
  min-height: 100vh;
}

.ant-calendar-picker {
  width: stretch;
}

.start-wrapper-rate {
  .icon-wrapper {
    text-align: center;
    margin-bottom: 0 auto;
    padding-top: 14px;
    padding-bottom: 12px;
  }

  p {

    padding-bottom: 33px;
  }
}

p {
  margin-bottom: 0em;
}

.toolbar {
  margin-top: 15px;
}

.ant-avatar,
.menu-icons .icon {
  margin-left: 20px;
  font-size: 16px;
}

.user-icon {
  background: #E8E8E8;
  border-radius: 100px;
  padding: 11px;
}

.ant-scroll-number {
  margin-top: -2px;
}

.item-price {

  display: flex;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  font-size: 14px;
  line-height: 22px;

  span {

    padding: 6px 5px;
  }
}

.item-price-icon {

  background-color: #1890FF;
  width: 25px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;

  &.item-price-icon-active {

    background-color: #fafafa;
    border-left: 1px solid #D9D9D9;

    .anticon {

      color: #D9D9D9;

    }

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: pointer;
  }
}


.anticon {

  color: white
}

.card-rate {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 16px 12px;
  padding: 15px 12px;

  .dates, .details {
    font-weight: normal;
  }

  nz-select {
    width: 100%;
    margin-top: 9px;
    color: #000;

    & ::ng-deep .ant-select-selection__placeholder, & ::ng-deep .ant-select-selection {
      color: #000;
      font-weight: 300;
    }
  }

  .rate-wrapper {
    position: relative;
    display: flex;

    .rate {

      padding-right: 7px;

      color: #1890FF;

    }
  }

  .price {

    color: #1890FF;

  }

  .dates {

    color: rgba(0, 0, 0, 0.65);
    padding: 10px 0;

  }

  .details {

    color: rgba(0, 0, 0, 0.65);

    span {

      color: #000;

    }
  }

}

.ant-table-row {

  th {

    padding: 12px 8px;


  }
}

.ant-table-tbody {

  tr {
    .td-price {
      padding: 0;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 22px;


      .date {
        td:first-child {

          color: #1890FF;
        }
      }


      .price {

        td {
          div {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            padding: 5px 6px;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
          }

        }

        td:last-child {
          padding-right: 0;
          width: 93px;
        }
      }


      .results {
        td:first-child {
          font-weight: 600;
          color: #000000;

        }

        td:nth-child(0n+2) {

          color: #1890FF;
          font-weight: 600;
        }
      }

    }


    td {

      padding: 12px 7px;

    }
  }
}

.body-booking {


  .info {

    img {

      padding-bottom: 15px;
    }
  }
}

.body-booking-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 24px;
}

.ant-table-wrapper {

  background-color: #fafafa;
  border: 1px solid #e8e8e8;
}

.body-booking {
  max-height: 45vh;
  overflow: auto;
  border-radius: 4px;

  & ::ng-deep .ant-table-wrapper {
    background: white;

    & ::ng-deep .ant-table-pagination {
      padding-right: 24px;
    }
  }

  & ::ng-deep .ant-table-thead {
    background: #fafafa;

    .ant-table-header-column {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 600;
    }
  }
}

.section-header {
  font-size: 12px;
  opacity: 0.6;
}

nz-select, nz-date-picker, nz-date-picker ::ng-deep nz-picker, nz-date-picker ::ng-deep .ant-calendar-picker {
  width: 100%;
}

tr.payment-change-table-row, .price-table > .ant-table-tbody > tr {
  & > td {
    background: white;

    &:hover {
      background: white;
    }
  }
}

.price-table {
  & > .ant-table-tbody {
    & > .date.ant-table-row {
      height: 36px;

      & > td {
        background: white;
        border: none;
      }
    }

    & > .results.ant-table-row {
      height: 67px;

      & > td {
        background: #FAFAFA;
        border: none;
      }
    }

    & > .price.ant-table-row {
      height: 67px;

      & > td {
        background: #ffffff;
        border: none;
      }
    }
  }
}

.price {

  .payment-change-selectable-price {
    width: 93px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
    padding: 5px;
    cursor: text;

    @media (max-width: 1350px) {
      width: 80px;
    }

    &.disabled {
      border: 1px solid rgba(0, 0, 0, 0.15);
      color: rgba(0, 0, 0, 0.15);
      cursor: not-allowed;
    }
  }
}

.first-header {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}

.second-header {
  font-size: 12px;
  line-height: normal;
  color: #7f7f7f;
}

td.td-price {
  height: 164px;
}

.payment-panel-row-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  background: white;
  transform: translateY(-50%);
  border-top: 1px solid #e8e8e8;
  height: 164px;

  .scrollable-panel-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .payment-scrollable-panel {
      overflow: auto;
      display: flex;
      flex-direction: row;

      .payment-scrollable-row {
        display: flex;
        flex-direction: column;

        .payment-header-month {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #1890FF;
          padding-right: 20px;
          background: #E6F7FF;
          height: 36px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding-left: 7px;
          width: 140px;
        }

        .payment-header-weekday {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.65);
          width: 93px;
          padding-right: 21px;
          box-sizing: content-box;
          background: #E6F7FF;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          height: 36px;
          margin-bottom: 10px;

          &:last-child {
            padding-right: 0;
          }
        }

        .payment-change-selectable-row-wrapper {
          margin-bottom: 10px;

          &:first-child {

            .payment-change-selectable-price {
              margin-left: 131px;
            }

          }

          .payment-change-selectable-price {
            height: 32px;
            width: 93px;
            padding: 5px 6px;
            margin-right: 21px;

            @media (max-width: 1350px) {
              width: 80px;
            }

            &.disabled {
              border: 1px solid rgba(0, 0, 0, 0.15);
              color: rgba(0, 0, 0, 0.15);
              cursor: not-allowed;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  .payment-total-price-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 11px 17px 12px;
    background: #FAFAFA;
    border-bottom: 1px solid #e8e8e8;

    .payment-total-price-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .payment-total-price-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        width: 93px;
        margin-right: 8px;
      }

      .payment-total-price-value {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #1890FF;
      }
    }

    .payment-button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .btn-cancel {
        //width: 91px;
        padding: 6px 16px 4px 16px;
        border-radius: 4px;
        margin-right: 21px;
      }

      .btn-save {
        width: 88px;
        padding: 6px 0px 4px 0px;
        background: #1890FF;
        border-radius: 4px;
      }
    }
  }
}

.add-item-button {

  @media (max-width: 1500px) {
    min-width: 68px !important;
    font-size: 12px !important;
    padding: 0 10px !important;
  }
}

.payment-header-weekday,
.payment-header-month,
.payment-total-price-title,
.payment-total-price-value,
.payment-change-selectable-price,
.btn-cancel,
.btn-save {

  @media (max-width: 1500px) {
    font-size: 12px !important;
    line-height: normal !important;
  }
}
