<nz-content>
  <div class="inner-content">
    <app-booking-search (onSearchClick)="search($event)" (deleteAllRooms)="deleteAllRooms(true)" [searchQuery]="searchQuery"></app-booking-search>
    <div class="content">
      <nz-card class="rooms" [class.rooms-active]="roomsActive" [nzTitle]="('NEW_BOOKING.ROOMS'| translate) + '('+addedItems.length+')'">
        <div class="rooms-content">
          <ng-container *ngIf="addedItems?.length > 0; else noRooms">
            <div class="card-rate" *ngFor="let item of addedItems; let i = index">
              <div class="rate-wrapper">
                <p class="rate">{{item?.name}}</p>
                <a class="button" (click)="deleteItem(i)">
                  <img src="../../../../../../assets/img/Small.svg" alt="">
                </a>
              </div>
              <p class="price">{{item?.price[0]?.price | formatPrice:'UZS'}}</p>
              <p class="second-header">
                <span *ngIf="item?.resident === 1">{{'RESIDENT'| translate}}</span>
                <span *ngIf="item?.resident === 0">{{'NO_RESIDENT'| translate}}</span>
              </p>
              <p class="dates">
                {{getProcessedDate(item?.checkinDate, 'no-template') + ' — ' + getProcessedDate(item?.checkoutDate, 'no-template')}}
              </p>
              <p class="details">
                {{'NEW_BOOKING.ADULTS_COUNT'| translate}} <span>({{item.selectedPerson}})</span>,
                {{'NEW_BOOKING.CHILDREN_COUNT'| translate}} <span>({{item.selectedChildren}})</span>,
                {{'NEW_BOOKING.NIGHTS_COUNT'| translate}} <span>({{item.nightsCount}})</span>
              </p>
            </div>
          </ng-container>
        </div>
        <div *ngIf="addedItems?.length > 1">
          <button class="button-delete-all-rooms" (click)="deleteAllRooms()" nz-button nzType="primary">
            Удалить все
          </button>
        </div>
      </nz-card>
      <nz-card class="body-booking">
        <ng-container *ngIf="searchResult?.length > 0; else noResult">
          <nz-table
            #basicTable
            [nzData]="searchResult"
            [nzLoading]="isDataLoading"
            [nzLoadingIndicator]="largeSpinnerForTable">
            <thead>
            <tr>
              <th>{{'TYPE'| translate}}</th>
              <th>{{'PRICE'| translate}}</th>
              <th>{{'CHECK_IN_DATE'| translate}}</th>
              <th>{{'CHECK_OUT_DATE'| translate}}</th>
              <th>{{'NEW_BOOKING.IN_STOCK'| translate}}</th>
              <th>{{'NEW_BOOKING.ADULTS_COUNT'| translate}}</th>
              <th>{{'NEW_BOOKING.CHILDREN_COUNT'| translate}}</th>
              <th>{{'NEW_BOOKING.ROOMS_COUNT'| translate}}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of basicTable.data; let i = index">
              <ng-container *ngFor="let room of data.roomsArray; let j = index">
                <tr>
                  <td>
                    <p class="first-header">{{room.name}} - <b>{{ room.rate_name }}</b></p>
                    <p class="second-header" *ngIf="room.resident == 1">{{'RESIDENT'| translate}}</p>
                    <p class="second-header" *ngIf="room.resident == 0">{{'NO_RESIDENT'| translate}}</p>
                  </td>
                  <td class="item-price-row-wrapper">
                    <p class="item-price">
                      <span>{{getTotalPaymentPrice(room?.price) | formatPrice:'UZS'}}</span>
                      <span class="item-price-icon" [class.item-price-icon-active]="room.isExpand"
                            (click)="openPrices(room)">
                              <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </span>
                    </p>
                  </td>
                  <td>{{getProcessedDate(data.checkin)}}</td>
                  <td>{{getProcessedDate(data.checkout)}}</td>
                  <td>
                    <p class="count">
                      <span *ngIf="data.availableSelection > 0">{{data?.availableSelection}}</span>
                      <span *ngIf="data.availableSelection <= 0">
                              <img src="./../../../../../../assets/img/cancel.svg" />
                            </span>
                    </p>
                  </td>
                  <td>
                    <nz-select
                      style="width: 85px;"
                      [ngModel]="room.selectedPerson"
                      (ngModelChange)="changePerson($event, room, data)"
                      [nzPlaceHolder]="'1'">
                      <nz-option
                        *ngFor="let count of genArray(room.max_persons, 'no-zeros');"
                        [nzValue]="count"
                        nzLabel="{{count}}"></nz-option>
                    </nz-select>
                  </td>
                  <td>
                    <nz-select style="width: 83px;" [(ngModel)]="room.selectedChildren"
                               nzPlaceHolder="0">
                      <nz-option *ngFor="let count of genArray(room.max_children);" [nzValue]="count"
                                 nzLabel="{{count}}"></nz-option>
                    </nz-select>
                  </td>
                  <td>
                    <nz-select
                      style="width: 85px;"
                      [ngModel]="room.selected"
                      [nzPlaceHolder]="'0'"
                      (ngModelChange)="changeRoomCount($event, i, room)"
                      [nzDisabled]="data.available <= 0">
                      <nz-option
                        *ngFor="let count of genArrayOnSelection(data.available, data.availableSelection, room.selected)"
                        [nzValue]="count"
                        [nzLabel]="count"></nz-option>
                    </nz-select>
                  </td>
                  <td>
                    <button
                      class="add-item-button"
                      nz-button
                      nzType="primary"
                      (click)="addRoom(room, i)"
                      [disabled]="isDisabled(data, j) || data.availableSelection === 0">
                      {{'ADD'| translate}}
                    </button>
                  </td>
                </tr>
                <tr *ngIf="room && room.isExpand" class="payment-change-table-row">
                  <td class="td-price" colspan="9">
                    <article class="payment-panel-row-wrapper">
                      <div class="scrollable-panel-wrapper">
                        <div class="payment-scrollable-panel">
                          <div class="payment-scrollable-row">
                            <div class="payment-header-month">
                              {{getDate(data.checkin, 1)}} {{getDate(data.checkin, 0)}}
                            </div>
                          </div>
                          <div class="payment-scrollable-row" *ngFor="let price of room.price">
                            <div class="payment-header-weekday">
                              {{getDayName(price.date)}}
                            </div>
                            <div class="payment-change-selectable-row-wrapper">
                              <input
                                type="text"
                                nz-input
                                pattern="[0-9]*"
                                digitOnly
                                class="payment-change-selectable-price"
                                [ngModel]="price.price | formatPrice"
                                (ngModelChange)="updatePriceValue($event, price)"/>
                            </div>
                          </div>
                          <ng-container *ngIf="getEmptyRowsForDaysOfWeek(room)?.length > 0">
                            <div class="payment-scrollable-row"
                                 *ngFor="let disabledRow of getEmptyRowsForDaysOfWeek(room)">
                              <div class="payment-header-weekday">
                                {{disabledRow}}
                              </div>
                              <div class="payment-change-selectable-row-wrapper">
                                <p class="payment-change-selectable-price disabled">
                                  {{110000 | formatPrice}}
                                </p>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="payment-total-price-panel">
                        <div class="payment-total-price-wrapper">
                          <div class="payment-total-price-title">
                            {{'NEW_BOOKING.TOTAL'| translate}}:
                          </div>
                          <div class="payment-total-price-value">
                            {{getTotalPaymentPrice(room?.price) | formatPrice:'UZS'}}
                          </div>
                        </div>
                        <div class="payment-button-container">
                          <button class="btn-cancel" nz-button nzType="default" (click)="closePaymentModalPrices(room)">
                            {{'CANCEL'| translate}}
                          </button>
                          <button class="btn-save" nz-button nzType="primary" (click)="savePaymentModalPrices(room)">
                            {{'SAVE'| translate}}
                          </button>
                        </div>
                      </div>
                    </article>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
            </tbody>
          </nz-table>
        </ng-container>
      </nz-card>
    </div>
    <div class="body-booking-footer">
<!--      <app-total-counter [totalValue]="totalValue"></app-total-counter>-->
<!--      <div class="step-control">-->
<!--        <button nz-button nzType="primary" [disabled]="addedItems?.length === 0" class="next-step"-->
<!--                (click)="nextStep()">{{'NEXT_STEP'| translate}}-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>
</nz-content>

<app-delete-modal [isVisible]="isDeleteRoomModalVisible" (onCancel)="handleCancel()" (onOk)="handleOk()"></app-delete-modal>
<app-delete-rooms-modal [isVisible]="isDeleteRoomsModalVisible" (onCancel)="handleRoomsCancel()" (onOk)="handleRoomsOk()"></app-delete-rooms-modal>

<ng-template #noResult>
  <div class="info">
    <ng-container *ngIf="loadingDataStatus !== 'loading'">
      <img src="../../../../../../assets/img/calendar.svg"/>
      <div [innerHTML]="tableNote"></div>
    </ng-container>
    <ng-container *ngIf="loadingDataStatus === 'loading'">
      <ng-container *ngTemplateOutlet="largeSpinnerForTable"></ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #largeSpinnerForTable>
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</ng-template>

<ng-template #noRooms>
  <div class="start-wrapper-rate">
    <div class="icon-wrapper">
      <img src="../../../../../../assets/img/group.svg" alt="">
    </div>
    <p>{{'NEW_BOOKING.ADD_ROOM_FOR_BOOKING'| translate}}</p>
  </div>
</ng-template>
