<p class="title-14 bolded">
  Условия аннуляции
</p>

<button
  class="mb25"
  nz-button
  (click)="showModal()"
  nzType="primary">
  Добавить
</button>

<nz-table
  [nzShowPagination]="false"
  [nzVirtualForTrackBy]
  #cancellation
  [nzData]="cancellations">
  <thead>
  <tr>
    <th style="width: 35%;"><span class="table-title">Кол-во дней для бесплатной отмены бронирования</span></th>
    <th><span class="table-title">Комиссия за отмену бронирования</span></th>
    <th><span class="table-title">Комиссия за незаезд</span></th>
    <th><span class="table-title">Предоплата</span></th>
    <th style="width: 200px"><span class="table-title">Действия</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of cancellation.data; let i = index;">
    <td class="td-content">{{ data.body.days }}</td>
    <td class="td-content">{{ data.body.cancel_commission }}%</td>
    <td class="td-content">{{ data.body.commission }}%</td>
    <td class="td-content">{{ data.body.prepayment ? 'Да' : 'Нет' }}</td>
    <td>
      <button
        (click)="editCancellation(i)"
        class="mr25"
        nz-button
        nzType="primary"
        nzShape="circle">
        <i nz-icon nzType="edit"></i>
      </button>
      <button
        (click)="deleteCancellation(i)"
        nz-button
        nzType="danger"
        nzShape="circle">
        <i nz-icon nzType="delete"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

<p class="title-14 bolded" style="margin-top: 40px">
  Налоги
</p>

<form nz-form [formGroup]="validateForm">

  <div class="ml15">
    <p style="margin: 0">Пожалуйста, укажите НДС и городской налог </p>

    <nz-form-item>
      <nz-form-label
        class="title-14 bolded"
        nzFor="nds">
        Включить НДС в стоимость?
      </nz-form-label>
      <nz-form-control>
        <nz-input-group>

          <nz-radio-group
            formControlName="nds"
            class="flex-column"
          (ngModelChange)="changeTaxes()">
            <div>
              <label nz-radio [nzValue]="true">
              ДА
            </label>
            </div>
            <div>
              <label nz-radio [nzValue]="false">
                НЕТ
              </label>
            </div>
          </nz-radio-group>

        </nz-input-group>
        <nz-form-explain
          *ngIf="validateForm.get('nds')?.dirty && validateForm.get('nds')?.errors">
          Please input your username!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        class="title-14"
        nzFor="city_tax">
        Городской налог
      </nz-form-label>
      <nz-form-control>
        <nz-input-group>

          <nz-radio-group
            formControlName="city_tax"
            class="flex-column"
            (ngModelChange)="changeTaxes()">
            <div>
              <label nz-radio [nzValue]="false">
                Городской налог не взымается
              </label>
            </div>
            <div>
              <label nz-radio [nzValue]="true">
                Городской налог взымается
              </label>
            </div>
          </nz-radio-group>

        </nz-input-group>
        <nz-form-explain
          *ngIf="validateForm.get('city_tax')?.dirty && validateForm.get('city_tax')?.errors">
          Please input your username!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <div style="display: flex">
      <div class="block-form-item">
        <nz-form-item>
          <nz-form-label class="title-14" nzFor="city_tax_total">Городской налог</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="'%'">
              <input formControlName="city_tax_total" nz-input (ngModelChange)="changeTaxes()" />
            </nz-input-group>
            <nz-form-explain
              *ngIf="validateForm.get('city_tax_total')?.dirty && validateForm.get('city_tax_total')?.errors">
              Пожалуйста введите Городской налог
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

<!--      <div class="block-form-item">-->
<!--        <nz-form-item>-->
<!--          <nz-form-label class="title-14" nzFor="city_tax_percent">Тип городского налога</nz-form-label>-->
<!--          <nz-form-control>-->
<!--            <nz-input-group>-->
<!--              <nz-select-->
<!--                formControlName="city_tax_percent"-->
<!--                style="width: 200px;"-->
<!--                nzAllowClear-->
<!--                nzPlaceHolder="%">-->
<!--                <nz-option nzValue="onePercent" nzLabel="1%"></nz-option>-->
<!--                <nz-option nzValue="twoPercent" nzLabel="2%"></nz-option>-->
<!--                <nz-option nzValue="threePercent" nzLabel="3%"></nz-option>-->
<!--                <nz-option nzValue="fourPercent" nzLabel="4%"></nz-option>-->
<!--                <nz-option nzValue="fivePercent" nzLabel="5%"></nz-option>-->
<!--                <nz-option nzValue="sixPercent" nzLabel="6%"></nz-option>-->
<!--                <nz-option nzValue="sevenPercent" nzLabel="7%"></nz-option>-->
<!--                <nz-option nzValue="eightPercent" nzLabel="8%"></nz-option>-->
<!--                <nz-option nzValue="ninePercent" nzLabel="9%"></nz-option>-->
<!--                <nz-option nzValue="tenPercent" nzLabel="10%"></nz-option>-->
<!--              </nz-select>-->
<!--            </nz-input-group>-->
<!--            <nz-form-explain-->
<!--              *ngIf="validateForm.get('city_tax_percent')?.dirty && validateForm.get('city_tax_percent')?.errors">-->
<!--              Please input your Password!-->
<!--            </nz-form-explain>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--      </div>-->

<!--      <div>-->
<!--        <nz-form-item>-->
<!--          <nz-form-label class="title-14" nzFor="city_tax_include">Включен ли городской налог в стоимость?</nz-form-label>-->
<!--          <nz-form-control>-->
<!--            <nz-input-group>-->
<!--              <nz-select-->
<!--                formControlName="city_tax_include"-->
<!--                style="width: 400px;"-->
<!--                nzAllowClear-->
<!--                ngModel="cityTaxTrue">-->
<!--                <nz-option nzValue="cityTaxTrue" nzLabel="Включен"></nz-option>-->
<!--                <nz-option nzValue="cityTaxFalse" nzLabel="Выключен"></nz-option>-->
<!--              </nz-select>-->
<!--            </nz-input-group>-->
<!--            <nz-form-explain-->
<!--              *ngIf="validateForm.get('city_tax_include')?.dirty && validateForm.get('city_tax_include')?.errors">-->
<!--              Please input your Password!-->
<!--            </nz-form-explain>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--      </div>-->
    </div>
  </div>


</form>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzFooter]="null"
  nzWidth="1100px"
  [nzTitle]="null"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">

  <div style="padding: 26px 76px;">
    <p class="title-18 bolded">
      Условия аннуляции
    </p>

    <form class="ml25" nz-form [formGroup]="validateCancellationsForm">


      <nz-form-item>
        <nz-form-label class="title-14 bolded" nzFor="days" [ngClass]="validateCancellationsForm.controls.days?.invalid &&
                                            (validateCancellationsForm.controls.days.dirty ||
                                              validateCancellationsForm.controls.days.touched) ? 'error-form-label' : ''">
          За какой срок до заезда гость может бесплатно отменить бронирование?
        </nz-form-label>

        <nz-form-control>
          <nz-input-group>
            <input formControlName="days" nz-input type="number" style="width: 410px;"
                   [ngClass]="validateCancellationsForm.controls.days?.invalid &&
                                            (validateCancellationsForm.controls.days.dirty ||
                                              validateCancellationsForm.controls.days.touched) ? 'error-form-input' : ''" />
          </nz-input-group>
          <div *ngIf="validateCancellationsForm.controls.days?.invalid &&
                                            (validateCancellationsForm.controls.days.dirty ||
                                              validateCancellationsForm.controls.days.touched)">
            <div *ngIf="validateCancellationsForm.controls.days?.errors.required">
              <span class="error-form-validation">Пожалуйста, введите необходимую информацию!</span>
            </div>
          </div>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="title-14 bolded" nzFor="cancel_commission" [ngClass]="validateCancellationsForm.controls.cancel_commission?.invalid &&
                                            (validateCancellationsForm.controls.cancel_commission.dirty ||
                                              validateCancellationsForm.controls.cancel_commission.touched) ? 'error-form-label' : ''">
          Сколько процентов взымается с гостя (компании) за отмену бронирования в течении {{ validateCancellationsForm.get('days').value }} дней до заезда?
        </nz-form-label>

        <nz-form-control>
          <nz-input-group>
            <nz-select
              formControlName="cancel_commission"
              style="width: 410px;"
              nzAllowClear [ngClass]="validateCancellationsForm.controls.cancel_commission?.invalid &&
                                            (validateCancellationsForm.controls.cancel_commission.dirty ||
                                              validateCancellationsForm.controls.cancel_commission.touched) ? 'error-form-select' : ''">
              <nz-option *ngFor="let option of percentOptions" [nzValue]="option" [nzLabel]="option + '%'"></nz-option>
            </nz-select>
          </nz-input-group>
          <div *ngIf="validateCancellationsForm.controls.cancel_commission?.invalid &&
                                            (validateCancellationsForm.controls.cancel_commission.dirty ||
                                              validateCancellationsForm.controls.cancel_commission.touched)">
            <div *ngIf="validateCancellationsForm.controls.cancel_commission?.errors.required">
              <span class="error-form-validation">Пожалуйста, введите необходимую информацию!</span>
            </div>
          </div>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="title-14 bolded" nzFor="commission" [ngClass]="validateCancellationsForm.controls.commission?.invalid &&
                                            (validateCancellationsForm.controls.commission.dirty ||
                                              validateCancellationsForm.controls.commission.touched) ? 'error-form-label' : ''">
          Сколько процентов взимается с гостя за не заезд?
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>
            <nz-select
              formControlName="commission"
              style="width: 410px;"
              nzAllowClear [ngClass]="validateCancellationsForm.controls.commission?.invalid &&
                                            (validateCancellationsForm.controls.commission.dirty ||
                                              validateCancellationsForm.controls.commission.touched) ? 'error-form-select' : ''">
              <nz-option *ngFor="let option of percentOptions" [nzValue]="option" [nzLabel]="option + '%'"></nz-option>
            </nz-select>
          </nz-input-group>
          <div *ngIf="validateCancellationsForm.controls.commission?.invalid &&
                                            (validateCancellationsForm.controls.commission.dirty ||
                                              validateCancellationsForm.controls.commission.touched)">
            <div *ngIf="validateCancellationsForm.controls.commission?.errors.required">
              <span class="error-form-validation">Пожалуйста, выберите взимаемый процент!</span>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <p class="title-14 bolded" style="margin: 0">
        Описание правил
      </p>
      <p>
        Гость может бесплатно отменять бронирование вплоть до 18:00 в день заезда. С гостя взимается стоимость первой
        ночи при отмене после 18:00 в день заезда
      </p>

      <nz-form-item>
        <nz-form-label class="title-14 bolded" nzFor="prepayment">
          Вы хотите брать с гостей предоплату до заезда?
        </nz-form-label>
        <nz-form-control>
          <nz-input-group>

            <nz-radio-group
              formControlName="prepayment"
              class="flex-column">
              <label nz-radio [nzValue]="false">
                Нет
              </label>
              <label nz-radio [nzValue]="true">
                Да
              </label>
            </nz-radio-group>

          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div style="margin-top: 40px" class=" w100 flex-horizontal-centered">
        <button
          (click)="saveAnnulate()"
          class="controls__right "
          nz-button
          nzType="primary"
          [disabled]="!validateCancellationsForm.valid">
          Сохранить
        </button>
      </div>
    </form>
  </div>


</nz-modal>
