.block-form-item{
  margin-right: 25px;
}
.td-content{
  padding-left: 30px;
}
.error-form-label{
  color: red;
}

.error-form-input{
  border: 1px solid red!important;
}

.error-form-select{
  border: 1px solid red!important;
  border-radius: 5px;
}

.error-form-validation{
  font-size: 12px;
  color: red;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.25px;
}
