<nz-spin [nzSpinning]="isLoading">
  <nz-content nz-col nzOffset="2" style="padding: 50px">
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzType="flex" nzSpan="4">
        <nz-steps [nzCurrent]="formNavigator.currentStep" nzSize="small" class="pointer" nzDirection="vertical">
          <nz-step
            *ngFor="let item of formNavigator.items; let i = index"
            [nzTitle]="item.title| translate">
          </nz-step>
        </nz-steps>
      </div>

      <div nz-col nzSpan="20">
        <app-room-type-general-info *ngIf="isVisible(0) && !isLoading"
                                    [roomType]="roomType"
                                    (onSubmit)="onGeneralInfoSubmit($event)"></app-room-type-general-info>
        <app-room-type-beds *ngIf="isVisible(1)"
                            [roomType]="roomType"
                            (onSubmit)="onBedsSubmit($event)"
                            (onBackPress)="onBackPress($event)"></app-room-type-beds>
        <app-room-type-facilities *ngIf="isVisible(2)"
                                  [roomType]="roomType"
                                  (onSubmit)="onFacilitiesSubmit($event)"
                                  (onBackPress)="onBackPress($event)"></app-room-type-facilities>
        <app-room-type-gallery *ngIf="isVisible(3)"
                               [roomType]="roomType"
                               (onSubmit)="onGallerySubmit($event)"
                               (onBackPress)="onBackPress($event)"></app-room-type-gallery>
      </div>

    </div>
  </nz-content>
</nz-spin>
