.controls{
  display: flex;
  flex-direction: column;

  &__header {
    padding: 13px 16px 21px 25px;
    background: #fafafa;
  }

  &__header-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  &__header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__title {
    margin-bottom: 0;
    font-weight: 600;
  }

  &__date {
    display: flex;
    align-items: center;
  }

  &__date-title {
    margin-bottom: 0;
    margin-left: 5px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0 32px;
  }

  &__button {
    border-color: #07B118;
    color: #07B118;
  }

  &__button:active {
    border-color: #219653;
    color: #219653;
  }
}

.date-picker {
  position: absolute;
  top: 25px;
  right: -85px;
}

.room-types__type-header{
  display: flex;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
}

.header__info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.room-type__data__id{
  margin: 10px 0px 0 45px;
}

:host ::ng-deep app-sidebar-reservation {
  &:first-child .info--active {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}