<div class="controls">
  <div class="controls__header">
    <div class="controls__header-top">
      <a (click)="close()">
        <i nz-icon nzType="double-left" nzTheme="outline"></i>
      </a>
    </div>
    <div class="controls__header-bottom">
      <p class="controls__title title-14">Назначения</p>
      <a class="controls__date" (click)="toggleDatePicker()">
        <i nz-icon nzType="calendar" nzTheme="outline" style="font-size: 14px"></i>
        <p class="controls__date-title">{{ currentDate | date:'dd.MM.yyyy'}}</p>
      </a>
      <div class="date-picker">
        <nz-date-picker
          [nzOpen]="isDatePickerOpen"
          nzFormat="dd.MM.yyyy"
          *ngIf="isDatePickerOpen"
          [(ngModel)]="currentDate"
          (ngModelChange)="onDateChange($event)"
        >
        </nz-date-picker>
      </div>
    </div>
  </div>
  <div class="controls__bottom">
    <button nz-button nzType="default" class="controls__button">
      Автоназначить все
    </button>
  </div>
</div>

<div class="room-types">
  <div class="room-types__type mb15" *ngFor="let item of filteredData">
    <div class="room-types__type-header" (click)="toggleRoomType(item)">
      <div class="header__icon mr15">
        <i
          nz-icon
          class="icon-expand"
          [ngClass]="expandedId === item.room_type_id ? 'expand-icon' : ''"
          style="color: #1890FF;"
          [nzType]="'down'"
          nzTheme="outline"></i>
      </div>
      <div class="header__info">
        <p class="title-14">{{ item.short_name }}</p>
        <p class="title-14">({{ item.reservations.length }})</p>
      </div>
    </div>
    <div class="room-type__item" *ngIf="expandedId === item.room_type_id">
      <div class="reservation-list">
          <ng-container *ngFor="let reservation of item.reservations">
            <app-sidebar-reservation
              #reserv
              [booking]="reservation"
              [rooms]="item.rooms"
              [room]="reservation"
              [roomTypes]="data.room_types"
              [roomType]="item"
              (toggle)="closeAllReservs($event)"
            ></app-sidebar-reservation>
          </ng-container>
      </div>
    </div>
  </div>
</div>
