<app-view-container>
  <div class="toolbar">
    <h2>
      {{hotelName}} {{'HOTEL' | translate}}
    </h2>
    <div class="toolbar-actions">
      <button nz-button nzType="primary" class="buttonNewReservation" [routerLink]="getNewReservationRoute()">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        {{'DASHBOARD.NEW_BOOKING'| translate}}
      </button>
    </div>
  </div>
  <div>
    <div nz-row class="child-container">
      <app-dash-counters></app-dash-counters>
    </div>
    <div nz-row class="child-container">
      <app-book-review></app-book-review>
    </div>
    <div nz-row class="child-container">
      <app-unanswered-msg></app-unanswered-msg>
    </div>
    <div nz-row class="child-container">
      <app-recent-reviews></app-recent-reviews>
    </div>
    <div nz-row class="child-container">
      <app-forecast></app-forecast>
    </div>
  </div>
</app-view-container>
