.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #262626;
    margin-bottom: 0;
    font-family: SF Pro Display!important;
  }

  .toolbar-actions {
    width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .buttonNewReservation{
      width: 204px;
      height: 40px;
      font-family: SF Pro Display!important;
      font-weight: normal;
      font-style: normal;
    }
  }
}

.child-container {
  margin-bottom: 25px;
}
