<app-view-container>
  <nz-content nz-col nzOffset="2">

    <div nz-row nzType="flex" nzJustify="center">

      <div nz-col nzSpan="4">

        <nz-steps
          [nzCurrent]="getCurrentStepInx()"
          nzSize="small"
          class="pointer"
          nzDirection="vertical">

          <nz-step
            *ngFor="let item of hotelFormService.formNavigator.items; let i = index"
            nzTitle="{{item.title| translate}}"
            (click)="navigateByStep(item.step, true)">
          </nz-step>

        </nz-steps>

      </div>

      <div nz-col nzSpan="20">

        <router-outlet></router-outlet>

      </div>

    </div>
  </nz-content>
</app-view-container>
