<nz-modal [nzVisible]="isVisible"
          [nzClosable]="false"
          [nzKeyboard]="false"
          [nzMaskClosable]="false"
          [nzCancelText]="'CANCEL'| translate"
          [nzOkText]="'YES'| translate"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
  <h2><i class="icon" nz-icon nzType="close-circle" nzTheme="outline"></i><strong>{{'SOURCES.SOURCE_DELETE_TITLE'| translate}}</strong></h2>
  <nz-form-item>
    <span>{{'SOURCES.SURE_TO_DELETE'| translate}}</span>
    <h4 *ngIf="source !== null">{{source.name}}?</h4>
  </nz-form-item>
</nz-modal>
