<app-view-container>
  <nz-spin [nzSpinning]="chessService.$mainLoading| async">
    <div class="chess" nz-col nzSpan="24">
      <div nz-row class="chess-sidebar">
        <app-chess-sidebar></app-chess-sidebar>
      </div>
      <div nz-row>
        <app-chess-table (listEditClick)="onListEditOpen($event)"></app-chess-table>
      </div>
    </div>
    <app-chess-list-edit *ngIf="listEditVisible"
                         [mainValue]="listEditValue"
                         (onClose)="onListEditClose()"></app-chess-list-edit>
  </nz-spin>
</app-view-container>
