<nz-modal [(nzVisible)]="isVisible"
          [nzTitle]="'CHESS.TARIFF_BY_GUEST_COUNT'| translate: {value: mainModel.rateName}"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzCancelText]="'CANCEL'| translate"
          [nzOkText]="'SAVE'| translate">

  <nz-table
    #table
    [nzData]="occupancies"
    [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzWidth="174px">{{'CHESS.GUEST_COUNT'| translate}}</th>
      <th nzWidth="203px">{{'CHESS.DISCOUNT_AMOUNT'| translate}}</th>
      <th nzWidth="151px">{{'STATUS.TITLE'| translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let occupancy of (table.data | filter:false)"
        class="not-select">
      <td>{{occupancy.guests}} {{nameGuests(occupancy.guests)| translate}}</td>
      <td>
        <span *ngIf="occupancy.guests !== maxGuest">
          <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
            <input type="number" [placeholder]="'CHESS.DISCOUNT'| translate" nz-input [(ngModel)]="occupancy.amount" min="0.01" max="99.99" [disabled]="!occupancy.status"/>
          </nz-input-group>
          <ng-template #addOnAfterTemplate>
            <nz-select [(ngModel)]="occupancy.mode">
              <nz-option [nzLabel]="'%'" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'UZS'" [nzValue]="1"></nz-option>
            </nz-select>
          </ng-template>
        </span>
        <span *ngIf="occupancy.guests == maxGuest">{{'CHESS.BASE_PRICE'| translate}}</span>
      </td>
      <td>
        <span *ngIf="occupancy.guests !== maxGuest">
          <nz-switch [(ngModel)]="occupancy.status" (ngModelChange)="changeStatus(occupancy)"></nz-switch>
        </span>
      </td>
    </tr>
    <tr>
      <td [attr.colspan]="3">{{'CHESS.LOCAL_TARIFF'| translate}}</td>
    </tr>
    <tr *ngFor="let occupancy of (table.data | filter)"
        class="not-select">
      <td>{{occupancy.guests}} {{'CHESS.GUESTS'| translate}}</td>
      <td>
        <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
          <input type="number" nz-input [(ngModel)]="occupancy.amount" min="0.01" max="99.99" [disabled]="!occupancy.status"/>
        </nz-input-group>
        <ng-template #addOnAfterTemplate>
          <nz-select [(ngModel)]="occupancy.mode">
            <nz-option [nzLabel]="'%'" [nzValue]="0"></nz-option>
            <nz-option [nzLabel]="'UZS'" [nzValue]="1"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td>
        <nz-switch [(ngModel)]="occupancy.status"></nz-switch>
      </td>
    </tr>
    </tbody>
  </nz-table>

</nz-modal>
